@import "../../../scss/common"; // Talvez você precise alterar este destino

.containerGeral {
  display: flex;
  background-color: #f2f1f3;
  flex-flow: row nowrap;
  width: 100%;
  height: 100vh;
}

#pcExterno {
  .pagina-externo {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

/* Controle do comportamento das regiões quando a tela esta pequena*/
@media all and (max-width: 768px) {
  .containerGeral {
    flex-flow: row wrap;
  }
}
