<div class="containerGeral" id="pcExterno">
  <div
    ng-bind-html="vm.sce.trustAsHtml(vm.html)"
    ng-if="vm.link"
  ></div>
  <div class="padding" ng-if="!vm.link">
    Página não disponível.
  </div>
</div>
