@import "../../../scss/common"; // Talvez você precise alterar este destino

.meusdocumentos-list {

  a.list-group-item {
    display: flex !important;
    align-items: center;
    border: 0 !important;
    flex-flow: row;
    height: 50px;

    i {
      float: none !important;
      margin: 0 15px 0 0 !important;
      height: 32px;
      width: 32px;
    }

    .list-group-item-heading {
      display: block;
      line-height: 1;
      margin: 0;
      max-height: 999px;
      overflow: visible;
    }
  }

}
