@import "../../../scss/common"; // Talvez você precise alterar este destino

.sidebar-active {
  border-left: 4px solid $branco;
  background-color: rgba(153, 153, 153, 0.2);
}

.navbar-custom .navbar-nav > li:first-child {
  height: auto;
}

.span-super {
  width: 18px;
  height: 20px;
  display: inline-block;
  padding: 4px 1px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 13px;
  text-shadow: none;
  line-height: 9px;
  background-color: #e85656;
  position: absolute;
  top: 2px;
  right: 2px;
}

.span-number {
  display: inline-block;
  padding: 4px 1px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  text-shadow: none;
  line-height: 9px;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 11px;
}

ul#navbar li a.hide-badges-full {
  display: none;
}


ul#navbar li a.hide-badges-small {
  display: none;
}

.icone-celular {
  padding: 10px;
  margin: 0 13px 0 0;
  background: none;
  background-image: url('../../../../assets/img/cellphone.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left center;
}

.icone-indique-menu {
  padding: 10px;
  margin: 0 6px 0 0;
  background: none;
  background-image: url('../../../../assets/img/icone-indique-menu.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left center;
}

.icone-office365-menu {
  padding: 10px;
  margin: 0 6px 0 0;
  background: none;
  background-image: url('../../../../assets/img/icone-office365-menu.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left center;
}

.icone-ferramentas-virtuais-menu {
  padding: 10px;
  margin: 0 6px 0 0;
  background: none;
  background-image: url('../../../../assets/img/icone-ferramentas-virtuais-menu.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left center;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

menu-side-bar {
  flex: 1;
}

menu-side-bar-list {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

#li-botoes {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-end;
  margin: 0;
}

#li-botoes > li {
  flex: 1 100%;
  position: unset;
}

.navbar-collapse.collapse {
  height: 100% !important;
}

.navbar-nav {
  margin: 7px 0 0 0;

  li {
    text-indent: 0!important;
  }

  .navbar-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    text-align: center;
    font-size: 24px;
    height: 24px;
    width: 24px;
  }

  .icone-estrela {
    background: url("../../../../assets/img/estrela_transparente.svg") center center/contain no-repeat;
  }

  .icone-indique-menu {
    background: url("../../../../assets/img/icone-indique-menu.svg") center center/90% no-repeat;
  }

  .icone-office365-menu {
    background: url("../../../../assets/img/icone-office365-menu.svg") center center/85% no-repeat;
  }

  // Corrigir tamanho de alguns ícones que são menores
  .icon-icon_aula {
    font-size: 32px !important;
  }

  .icon-icon_nota {
    font-size: 28px !important;
  }

  .icon-icon_disc {
    font-size: 30px !important;
  }

  .icon-price_tags {
    font-size: 16px !important;
  }

  .icon-credit-card {
    font-size: 18px !important;
  }

  .icon-user-book {
    background: url("../../../../assets/img/icons/icon-user-book.png") center center/contain no-repeat;
  }
}
