<ul class="nav navbar-nav" id="navbar">

  <li ng-repeat="menu in vm.menusidebar"
      ng-if="!menu.id_funcionalidadepai">
    <a
      title="{{::menu.st_funcionalidade}}"
      data-toggle="tooltip" data-placement="right"
      data-router=""
      ui-sref-active="sidebar-active"
      ui-sref="{{menu.st_urlcaminho}}(menu.st_urlcaminho === 'app.renovacao' ? vm.abrirRenovacao() : {idMatriculaAtiva: vm.idMatricula})"
      ui-sref-opts="{inherit: false}"
      ng-click="vm.handleOpenMenu($event, menu)"
    >
      <i class="navbar-icon {{::menu.st_urlicone || 'icon-icon_menu'}}"></i>
      <span class="span-super" ng-show="menu.st_urlcaminho == 'app.promocoes' && vm.$scope.countPromocoes > 0">
        <span class="span-number">{{vm.$scope.countPromocoes}}</span>
      </span>
      <span ng-cloak style="position: relative">{{::menu.st_funcionalidade}}</span>
    </a>
  </li>

  <li ng-if="vm.exibirBibliotecaTemporario()">
    <a data-toggle="tooltip" data-placement="right" title="Minha Biblioteca"
       href="https://dliportal.zbra.com.br/Login.aspx?key=unyleya" data-router="" target="_blank">
      <i class="navbar-icon icon-icon_livro"><span ng-show="false" class="span-super"><span class="span-number"></span></span></i>
      <span class="" ng-cloak style="position: relative">Minha Biblioteca</span>
    </a>
  </li>

  <li ng-if='vm.$scope.linha_de_negocio == "Graduação" || vm.$scope.linha_de_negocio == "Concurso" ? false : true' >
    <a ui-sref-active="sidebar-active"
      data-toggle="tooltip"
      data-placement="right"
      class="show-badges-full" ng-class="{'hide-badges-full' : vm.wrappertoggled}">
      <img width="90px" ng-click="vm.openAppleStore()" ng-src="{{vm.appleStore}}">
      <img width="100px" ng-click="vm.openGooglePlay()" ng-src="{{vm.googlePlay}}">
    </a>
    <a width="15px" ui-sref-active="sidebar-active" data-toggle="tooltip" data-placement="right"
       ng-class="{'hide-badges-small' : !vm.wrappertoggled}"
       ng-click="vm.onToggle() ">
        <i class='icone-celular'></i>
        <span class="" ng-cloak style="position: relative">Link para o aplicativo</span>
    </a>
  </li>
</ul>

<ul class="nav navbar-nav" id="li-botoes">
  <li ng-if="vm.showTrocarCurso" class="item-trocar-curso" ng-class="{'item-trocar-curso-toggled' : vm.wrappertoggled}">
    <a ui-sref-active="sidebar-active" ui-sref="login.selecionar-curso({idMatriculaAtiva: vm.idMatricula})"
       data-router="" class="" href="/login/selecionar-curso"
       data-toggle="tooltip" data-placement="right" title="Trocar Curso"
    >
      <i class="icon-icon_menu icon-icon_disc"></i>
      <span class="ng-binding">Trocar Curso</span>
    </a>
  </li>
  <li class="item-logoff" ng-class="{'item-logoff-toggled' : vm.wrappertoggled}">
    <a ui-sref="logout" class="" data-toggle="tooltip" data-placement="right" title="Sair">
      <i class="icon-icon_sair"></i>
      <span>Sair</span>
    </a>
  </li>
</ul>
