<perfect-scrollbar class="scroll-wrapper moodle-recent-activity-container">
<div class=" container-fluid scroll-wrapper no-padding animated slideInRight">
    <div class="row pc-title-class">
      <div class="col-md-12">

        <div class="pull-left pc-title-class-icon">
          <i class="icon-icon_menu icon-icon_disc"></i>
        </div>
        <div class="pc-title-class-title-container">
          <p class="pc-title-class-title">Atividades Recentes</p>
          <p class="pc-title-class-description">Aqui serão exibidas as últimas atualizações em sua sala de aula virtual.
          </p>
        </div>
      </div>
    </div>

    <div class="row row-activity">
      <ul ng-if="pwra.activities.length > 0" class="moodle-recent-activity-ul">
        <li class="list-group-item" ng-repeat="activity in pwra.activities" >

          <i class="glyphicon icon pull-left" ng-class="pwra.getIcon(activity.modname)"></i>
          <!-- Se não tiver url é somente um titulo -->
          <span ng-if="!activity.url">
              <strong>{{activity.name}}</strong>
          </span>
          <!-- Se tiver url é um link de uma atividade  -->
          <a ng-if="activity.url" ui-sref="app.modulo({ idMatriculaAtiva: pwra.idMatricula, idSaladeaula: pwra.idSaladeaula, idCurso: pwra.idCurso, idModulo: activity.id})">
            {{activity.name}}
          </a>
          <a ng-if="activity.url && activity.extratext" ui-sref="app.modulo({ idMatriculaAtiva: pwra.idMatricula, idSaladeaula: pwra.idSaladeaula, idCurso: pwra.idCurso, idModulo: activity.id})">
            <small>{{activity.extratext}}</small>
          </a>

        </li>
      </ul>
        <div ng-if="pwra.activities.length == 0" class="pc-title-class-title-container">
          <div class="row pc-title-class">
            <div class="col-md-12 text-center">
                <p class="pc-title-class-title">Nenhuma atividade recente encontrada</p>
                </p>
            </div>
          </div>
        </div>
    </div>

  </div>
</perfect-scrollbar>
