@import "../../../scss/common";
@import "../../../scss/customize/variables";
.moodle-recent-activity-container{
    background-color: $cinza-2;
      height: 100%;
    .moodle-recent-activity-ul {
      background-color: $cinza-2;
      display: block;
      width: 100%;
      height: 100%;
      min-height: 180px;
      position: relative;

        .list-group-item {
          font-size: $font-size-base;
          height: 60px;
          text-align: left;
          width: 100%;
          line-height: 35px;
          vertical-align: middle;
          display: inline-block;
          padding: 10px 0;
          border: 0px;
          background-color: $cinza-2;
          span {
            @include text-lines($font-size-base, 1);
            max-height: 35px;
            line-height: 35px;
          }

          a {
            @include text-lines($font-size-base, 1);
            margin-left: 46px;
            color: $preto;
            max-height: 35px;
            line-height: 35px;
            vertical-align: middle;
          }
        }

        .icon {
          font-size: 36px;
          height: 60px;
          line-height: 32px;
        }
    }
  }


