<!-- Conteudo do menu fica no collapse. Aqui ficam o itens de menu que serao escondidos quando a tela for pequena -->
<div class="navbar-collapse collapse" id="navbar">
    <menu-side-bar-list wrappertoggled="wrapper.wrappertoggled"></menu-side-bar-list>
    <!-- <div class="arrow-right-1">

    </div>
    <div class="arrow-right-2"></div> -->

</div>
