<div class="container-fluid scroll-wrapper">
  <div class="row scroll-wrapper">
    <div class="col-lg-9 col-md-9 no-padding scroll-wrapper">
      <perfect-scrollbar class="scroll-wrapper">
            <pc-meus-dados-form></pc-meus-dados-form>
      </perfect-scrollbar>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 scroll-wrapper">
      <pw-meus-documentos exibir-titulo="true"></pw-meus-documentos>
    </div>
  </div>
</div>
