@import "../../../scss/common";

#pcPearsonMain {
  font-size: 14px;

  .col-title-full {
    min-width: 100%;
  }

  .personContainer {
    padding-bottom: 60px;
  }

  #infoItens {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 0 1% 0;
    font-weight: 500;
    font-size: 16px;

    #icon-online {
      font-size: 20px;
      margin-right: 0.3%;
    }
    i {
      margin: 0 0.3% 0 2.5%;
    }
  }

  .cardCol {
    padding: 0 0 16px 15px;
  }

  .cardSection {

    .row-bs4{
      margin-right: 15px;
      margin-left: 0;
    }
  }

}
