<perfect-scrollbar id="pcPearsonMain" class="scroll-wrapper font-default default-bg">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1">
      <ui-container>
        <div class="flex-grid flex-wrap">
          <div class="col-title-full">
            <ui-title
              title="{{vm.state.title ? vm.state.title : 'Biblioteca Virtual'}}"
              subtitle="{{vm.isGraduacao ? '' : 'Acesso ao acervo da biblioteca.' }}"
              icon="<i class='icon icon-icon_livro'></i>"
              divider="true"
            ></ui-title>

            <div ng-if="vm.status != 1 && !vm.matriculaAtiva.bl_minhabiblioteca">
              {{vm.status}}
            </div>
            <form action="{{vm.integracao.st_caminho}}" method="post" target="_blank"
                  ng-if="vm.status == 1 && !vm.isGraduacao">
              <input type="hidden" name="login" value="{{vm.integracao.st_usuario}}"/>
              <input type="hidden" name="token" value="{{vm.integracao.st_login}}"/>
              Você será redirecionado automaticamente, caso isso não aconteça, clique
              <button class="btn btn-primary btn-inverse btn-xs" type="submit">
                aqui
              </button>
            </form>

            <div ng-if="vm.isGraduacao && !vm.loading">
              <p ng-bind-html="vm.$sce.trustAsHtml(vm.state.textoInformacoes.st_textosistemabody)"></p>
              <hr>
              <p id="infoItens">
                <span id="icon-online" class="material-icons">computer</span> 100% online
                <i class="glyphicon glyphicon-hourglass"></i> Disponível 24h
              </p>
            </div>
          </div>
          <div class="flex-grid flex-gutter" ng-if="vm.loading">
            <div class="flex-col">
              <img class="mr-2" alt="Carregando..." width="25" ng-src="{{vm.loadingGif}}"/>
              Buscando Bibliotecas Virtuais...
            </div>
          </div>
        </div>
      </ui-container>

      <div class="cardSection" ng-if="vm.isGraduacao && !vm.loading">
        <div class="row-bs4">
          <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4 cardCol" ng-repeat="item in vm.cards">
            <ui-card
              img="item.img"
              text={{item.text}}
              on-click="item.onClick"
              img-style="object-fit: cover;"
            >
            </ui-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>
