@import "../../../scss/common";
@import "../../../scss/customize/variables";
.promocoe-list {
  .row-list {
    height: -webkit-calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    height: calc(100% - 70px);
  }
  .border-top-large {
    border-color: $default5;
  }
  .pc-title-class {
    background-color: $cinza-1;
  }
  .header-promocoes {
    border-bottom: solid 0 !important;
  }
  .list-group {
    .list-group-item {
      height: 120px;
      padding-bottom: 0px;
      background: $branco;
      .list-group-item-info.data-tramite {
        position: absolute;
        bottom: 3px;
        @include text-lines(floor(($font-size-base * 0.7)), 1);
      }
    }
    .list-group-item-text {
      // margin-left: 5px;
      font-size: $font-size-h6;
      color: $default5;
      margin-top: 5px;
      margin-bottom: 5px;
      p {
        margin: 0;
      }
    }
    .list-group-item-info {
      font-weight: 300;
      margin: 10px 5px 0 5px;
      background: $branco;
      color: $cinza-6;
      font-size: floor(($font-size-base * 0.7)); //10px
      @include text-lines(floor(($font-size-base * 0.7)), 2);
    }
    .list-group-item-heading {
      font-size: $font-size-h4;
      font-weight: 500;
      display: inline;
      small {
        float: right;
        font-size: 12px !important;
        color: $cinza-6;
        font-weight: normal;
      }
    }

  .not-read{
    background-color: rgba($default2,0.4);
    // background-color: lighten($default4, %);

    color: $cinza-6;
      .list-group-item-text {
        color: $branco;
        font-weight: bold;
    }

  }
  }
  .situacao {
    font-size: $font-size-default;
    position: absolute;
    bottom: 0;
    right: 16px;
  }
}
