<div class="row-list row">
  <div class="scroll-wrapper col-md-12">
    <p class="text-center" ng-show="!vm.loading && vm.promocoes.length == 0 && vm.campanhaPublicitaria ==0">Você não possui promoções.</p>
    <perfect-scrollbar class="scroll-wrapper ">
      <div class="list-group">

        <div class="lista-campanha list-group-item " ng-repeat="campanha in vm.promocoes"
             ng-click="vm.visualizarCampanha(campanha, true)"
             ng-class="{marked : vm.activeId === campanha.st_tipo + '/' + campanha.id_campanha, 'not-read' : campanha.bl_visualizado === false }" target="_parent">
          <div class="animated slideInRight maxheight no-padding no-margin">
            <p class="list-group-item-heading">
              {{ campanha.st_campanha }}
            </p>
            <p class="list-group-item-text" ng-if="campanha.st_descricao" ng-bind-html="campanha.st_descricao">
            </p>
            <p class="list-group-item-heading">
              <small class="number">{{campanha.dt_inicio.date | asDate : 'MMMM/yy'}}</small>
            </p>
          </div>
        </div>

      </div>
    </perfect-scrollbar>
  </div>
</div>
