<div class="scroll-wrapper">
  <perfect-scrollbar id="pcDocumentosInfo">
    <div class="padding content">

      <div class="pc-title-class no-padding">
        <div class="pc-title-class-title-container">
          <div class="pc-title-class-icon pull-left pl-0">
            <i class="icon-icon_arc"></i>
          </div>
          <p class="pc-title-class-title">
            Informações sobre documentos e declarações
          </p>
          <p class="pc-title-class-description">
            Veja abaixo informações sobre documentos e declarações.
          </p>
        </div>
      </div>

      <hr/>

      <div class="flex-grid flex-gutter" ng-if="vm.loading">
        <div class="flex-col">
          <img class="mr-2" alt="Carregando..." width="25" ng-src="{{vm.loadingGif}}"/>
          Buscando Informações...
        </div>
      </div>

      <div ng-if="!vm.loading" class="content">
        <span ng-if="!vm.informacoes.st_texto">Nenhuma informação adicional.</span>
        <section class="documento-informacoes" ng-if="vm.informacoes.st_texto">
          <span ng-bind-html="vm.$sce.trustAsHtml(vm.informacoes.st_texto)"></span>
        </section>
      </div>
    </div>
  </perfect-scrollbar>
</div>
