@import "../../../scss/common";

.documento-informacoes {
  border: 2px dashed #bbb;
  border-radius: 15px;
  font-size: 90%;
  font-weight: 500;
  padding: 20px 10px;

  li {
    margin: 10px 0;
  }
}
