<div id="pcAbrirChamados">
  <div class="loading-text" ng-if="vm.loading">
    Buscando informações...
  </div>

  <div ng-if="!vm.loading">
    <form ng-submit="vm.save()" class="formulario-style">
      <div>
        <a class="button-voltar" ng-click="vm.close()">Voltar</a>
      </div>
      <div class="div-style">
        <ui-title
          title="Abrir Nova Ocorrência"
        ></ui-title>
      </div>
      <div class="texto-style div-style">
        <p>Abra uma nova ocorrência sempre que se tratar de um novo assunto.<br>
          Caso sua ocorrência seja de um assunto já tratado anteriormente, sugerimos encontrar a ocorrência
          encerrada
          e reabrir.<br>
          Dessa forma, o atendente terá mais informações a respeito da sua questão.</p>
      </div>
      <div class="div-style subtitulos-style">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <span>Título da ocorrência</span><br>
            <input
              class="form-control input-sm input-custom"
              name="st_titulo"
              required="required"
              type="text"
              ng-model="vm.ocorrencia.st_titulo"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="row row-gutter">
          <div class="col-xs-12 col-md-6 mt-4">
            <span class="subtitulos-style">O assunto é sobre uma disciplina específica?</span><br>
            <div class="flex-container">
              <div>
                <input class="radio-style" type="radio" ng-model="vm.escolha" value="nao">
              </div>
              <div style="margin-top: 5px">
                <label class="label-radio-style">Não</label>
              </div>
              <div style="margin-left: 10px">
                <input class="radio-style" type="radio" ng-model="vm.escolha" value="sim">
              </div>
              <div style="margin-top: 5px">
                <label class="label-radio-style">Sim</label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 mt-4" ng-show="vm.escolha === 'sim'">
            <span class="subtitulos-style">Informe a disciplina específica</span><br>
            <select class="form-control input-sm input-custom" ng-model="vm.ocorrencia.id_saladeaula">
              <option value="" selected>Escolha uma disciplina</option>
              <option ng-repeat="disciplina in vm.salasAluno" value="{{disciplina.id_saladeaula}}">
                {{disciplina.st_disciplina | sliceString:true:58:".."}}
            </select>
          </div>
        </div>
        <div class="row row-gutter">
          <div class="col-xs-12 col-md-6 mt-4" ng-show="vm.assuntosOcorrencia.length">
            <span class="subtitulos-style">Assunto</span><br>
            <select
              class="form-control input-sm input-custom"
              ng-change="vm.getSubassunto()"
              required="required"
              name="id_assuntopai"
              ng-model="vm.ocorrencia.id_assuntopai"
            >
              <option value="" selected>Escolha um assunto</option>
              <option ng-repeat="assunto in vm.assuntosOcorrencia" value="{{assunto.id_assuntoco}}">
                {{assunto.st_assuntoco | sliceString:true:58:".."}}
              </option>
            </select>
          </div>
          <div class="col-xs-12 col-md-6 mt-4">
            <span class="subtitulos-style">Subassunto</span><br>
            <select
              class="form-control input-sm input-custom"
              name="id_assuntoco"
              ng-model="vm.ocorrencia.id_assuntoco"
            >
              <option value="" selected>Escolha um subassunto</option>
              <option ng-repeat="subassunto in vm.subAssuntosOcorrencia" value="{{subassunto.id_assuntoco}}">
                {{subassunto.st_assuntoco | sliceString:true:58:".."}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="subtitulos-style">
        <span>Descreva sua necessidade</span><br>
        <textarea
          class="form-control input-sm input-custom"
          ng-model="vm.ocorrencia.st_ocorrencia"
          name="st_ocorrencia"
          rows="6"
          required></textarea>
      </div>
      <div>
        <p class="subtitulos-style">Enviar arquivo</p>
        <p class="texto-style">Você pode enviar uma tela ou um documento para comprovar um ocorrido. <br>
          Arquivos até 5MB, com extensão: JPG, PNG, DOC, XLS ou PDF.</p>
        <div>
          <div class="div-arquivo" ng-if="!vm.ocorrencia.files.name" ngf-drop ngf-select
               ng-model="vm.ocorrencia.files" ng-change="vm.verificacaoArquivo()"
               ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
               accept="'.docx,.doc,.pdf,.xls,.xlsx,.png,.jpg,.jpeg'">
            <span><br>Arraste seu arquivo ou clique para selecionar</span>
          </div>
          <div class="div-remover-arquivo" ng-if="vm.ocorrencia.files.name">
            <span><br>{{vm.ocorrencia.files.name}}</span>
            <button ng-click="vm.removerArquivo()" class="button-remove"><img ng-src="{{vm.removeImg}}"></button>
          </div>
        </div>
      </div>
      <div class="linha-style"></div>
      <div class="div-button">
        <button type="button" class="btn button-cancelar" popover-trigger="close" ng-click="vm.close()">
          Cancelar
        </button>
        <button type="submit" ladda="pwoc.loading" class="btn button-enviar">
          Enviar ocorrência
        </button>
      </div>

    </form>
  </div>
</div>
