@import "../../../scss/common";

#pcAbrirChamados {

  .input-custom {
    border-color: #A73866;
    border-radius: 6px;
  }

  .input-style {
    background: #FFFFFF;
    border: 1px solid #A73866;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    height: 27px;
    width: 350px;
    max-width: 100%;
  }

  .subtitulos-style {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    margin-top: 20px;
    color: #4F4F4F;
  }

  .button-voltar {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    color: #A73866;
  }

  .flex-container {
    display: flex;
  }

  .item-flex {
    flex: 1;
    margin-top: 20px;
    max-width: 380px;
  }

  .div-style {
    margin-top: 15px;
  }

  .texto-style {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;

    color: rgba(81, 81, 81, 0.76);
  }

  .checkbox-style {
    background: #FFFFFF;
    box-sizing: border-box;

    margin-right: 5px;
  }

  .div-button {
    text-align: right;

    button {
      border: 1px solid #A73866;
      border-radius: 8px!important;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .button-enviar {
    background-color: #A73866;
    color: #fff;
  }

  .button-cancelar {
    background-color: #FFFFFF;
    color: #A73866;
  }

  .div-arquivo {
    background: rgba(224, 223, 224, 0.51);
    border: 3px dashed rgba(142, 152, 163, 0.57);
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;

    height: 75px;

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    color: #4F4F4F;
  }

  .div-remover-arquivo {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;

    color: #2D5DA0;
  }

  .linha-style {
    margin: 24px 0;
    border-bottom: 1px solid #8E98A3;
  }

  .button-remove {
    margin-left: 10px;

    background: none;
    border: none !important;
  }

  .radio-style {
    -webkit-appearance: none;
    padding: 5px;
    border: 1px solid #A73767;
    border-radius: 50px;
    align-content: center;
  }

  .radio-style::after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
  }

  .radio-style:checked::after {
    content: "";
    background: #A73767;
    border-radius: 50%;
  }

  .label-radio-style {
    margin-left: 7px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
  }

}
