<div class="container-fluid no-padding scroll-wrapper" id="content-principal-cursos">
  <div class="col-sm-7 col-md-8 col-lg-9 col-xl-10 scroll-wrapper">
    <pw-disciplina-descricao ng-if="vm.sala" disciplina="vm.sala"></pw-disciplina-descricao>
  </div>
  <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2 scroll-wrapper left-divider">
    <perfect-scrollbar class="scroll-wrapper">
      <div class="row">
        <div class="col-md-12 scroll-wrapper">
          <pw-disciplina-andamento
            ng-if="vm.sala"
            sala="vm.sala"
            id-matricula="vm.MatriculaAtiva.id_matricula"
            id-entidade="vm.MatriculaAtiva.id_entidade"
            id-saladeaula="vm.idSalaDeAula"
          ></pw-disciplina-andamento>
        </div>
      </div>
      <div class="row">
        <pw-moodle-course-contents
          ng-if="vm.sala.st_codsistemacurso"
          sala="vm.sala"
          id-curso="vm.sala.st_codsistemacurso"
          id-matricula="vm.MatriculaAtiva.id_matricula"
          id-saladeaula="vm.idSalaDeAula"
          status-sala="vm.sala.id_status"
        ></pw-moodle-course-contents>
      </div>
    </perfect-scrollbar>
  </div>
</div>
