<div class="container-documentos-pessoais-list" id="pwDocumentosPessoaisList">
  <a href="#" class="voltar-lista-btn" ng-show="vm.documentoEntregaHistorico.id_documentos"
     ng-click="vm.voltarListaDocumentos()">Voltar</a>
  <pw-documentos-pessoais-show ng-if="vm.documentoEntregaHistorico.id_documentos"
                               documento-pessoal="vm.documentoEntregaHistorico"></pw-documentos-pessoais-show>
  <!--Gif de carregando-->
  <img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading" alt="Carregando..."/>
  <!--animated slideInRight-->
  <div class="list-group documentos-pessoais-list " ng-show="!vm.documentoEntregaHistorico.id_documentos">

    <perfect-scrollbar class="scroll-wrapper">

      <div class="lista-documentos-pessoais">
        <div
          class="item__box"
          ng-repeat="documento in vm.documentosPessoais"
          ng-class="{'inativo':documento.st_situacaodocumentoportal == 'Deferido' || documento.st_situacaodocumentoportal == 'Enviado para análise'}">
          <div class="header__box flex-wrap">
            <div class="titulo_documento">
              {{documento.st_documentos}}
            </div>
            <div class="status__container flex-wrap">
              <div
                class="titulo_status"
                ng-class="{'indeferido':documento.st_situacaodocumentoportal == 'Indeferido', 'pendente_envio':documento.st_situacaodocumentoportal == 'Pendente de envio'}">
                {{ (!documento.id_situacao || documento.id_situacao === vm.SituacaoDocumentoDiplomacao.PENDENTE) && documento.bl_alternativo ?
                    'DOCUMENTO ALTERNATIVO' : documento.st_situacaodocumentoportal}}
              </div>
              <div class="data__situacao">
                <span
                  ng-if="documento.st_situacaodocumentoportal == 'Indeferido' && documento.dt_ultimasituacao">&nbsp|&nbspData de indeferimento:
                  <span
                    class="data__ultima_msg">{{documento.dt_ultimasituacao | asDateHour}}</span>
                </span>
                <span
                  ng-if="documento.st_situacaodocumentoportal == 'Deferido' && documento.dt_ultimasituacao">&nbsp|&nbspData de aprovação:
                  <span
                    class="data__ultima_msg">{{documento.dt_ultimasituacao | asDateHour}}</span>
                </span>
                <span
                  ng-if="(documento.id_situacao == 248 || documento.id_situacao == 249) && documento.st_situacaodocumentoportal == 'Enviado para análise'">
                  &nbsp|&nbspData de envio: <span
                  class="data__ultima_msg">{{documento.dt_ultimasituacao | asDateHour}}</span>
                </span>
              </div>
            </div>
          </div>

          <div class="body__box">
            <p class="texto_descricao">{{documento.st_descricao}}</p>
          </div>

          <div class="footer__box">

            <div class="flex-grid justify-between flex-wrap">
              <div>
                <button
                  type="button"
                  ng-if="
                  !documento.loading && documento.st_situacaodocumentoportal != 'Deferido' && documento.st_situacaodocumentoportal != 'Enviado para análise'
                  && !documento.exibirUpload"
                  ng-click="documento.exibirUpload = true"
                  class="btn-enviar-documento">Enviar documento
                </button>
                <span
                  class="titulo-arquivo"
                  ng-if="!vm.isGraduacao &&
                  (documento.st_situacaodocumentoportal == 'Deferido'
                  || documento.id_situacao == vm.SituacaoDocumentoCertificacao.ENTREGUE_VIA_PORTAL)
                  && documento.st_nomearquivoenvio">
                  {{documento.st_nomearquivoenvio}}
                </span>
              </div>
              <a href="#" ng-if="documento.st_situacaodocumentoportal != 'Pendente de envio'"
                 class="btn-ver-historico" ng-click="vm.verHistoricoEnvio($index)">
                Ver histórico de envio
              </a>
            </div>

            <div class="mensagem__box" ng-if="documento.st_situacaodocumentoportal == 'Indeferido'">
              <div class="flex-grid justify-between">
                <div class="title_mensagem__box">INDEFERIDO:</div>
                <span class="data__ultima_msg">{{documento.dt_ultimasituacao | asDateHour }}</span>
              </div>
              <div class="text_mensagem__box">Prezado(a) aluno(a), {{documento.st_situacao.substr(11).toLowerCase()}}.
              </div>
            </div>

            <form class="pt-2">
              <div class="text-center">
                <img ng-if="documento.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="text-center"
                     alt="Carregando..."/>
              </div>

              <div class="form-group form-group-upload" ng-show="documento.exibirUpload && !documento.loading">
                <p class="subtitulos-style">Enviar arquivo</p>
                <p class="texto-style">Você pode fazer upload de mais de um arquivo, se precisar. Selecione a frente e o verso do seu documento juntos<br>
                  Arquivos até 5MB, com extensão: JPG, PNG ou PDF.</p>
                <div ngf-drop ngf-select ng-model="documento.files" ng-change="vm.verificacaoArquivo($index)"
                     class="drop-box drop-box-entregadocumentos"
                     ngf-drag-over-class="'dragover'"
                     title="O arquivo deve ser no formato JPEG, PNG ou PDF inferior a 5MB"
                     ngf-multiple="true" ngf-allow-dir="false"
                     ngf-pattern="'.pdf,.png,.jpg,.jpeg'"
                     accept="application/pdf, image/png, image/jpg, image/jpeg"
                >
                  <span ng-if="!documento.tituloArquivosMultiplos">Arraste seu arquivo ou clique para selecionar</span>
                  <span ng-if="documento.tituloArquivosMultiplos">Arquivo(s): {{documento.tituloArquivosMultiplos}}</span>
                </div>
                <div ngf-no-file-drop>Este navegador não suporta arrastar/soltar arquivos</div>
                <div class="pt-4 buttons-envio">
                  <button type="button" class="btn-envio confirmar"
                          ng-disabled="!documento.files.length"
                          ladda="documento.loading" data-style="expand-left"
                          ng-click="vm.confirmarEnvio($index)">Confirmar
                  </button>
                  <button type="button" class="btn-envio cancelar" popover-trigger="close"
                          ng-click="documento.exibirUpload = false">Cancelar
                  </button>
                </div>
              </div>
            </form>

          </div>

        </div>
      </div>
    </perfect-scrollbar>

  </div>
</div>
