@import "../../../scss/common";
@import "../../../scss/customize/variables";

//Utils
@mixin text-style-base($fontWeight, $fontSize, $lineHeight, $color) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

#pwDocumentosPessoaisList {

  .voltar-lista-btn {
    @include text-style-base(400, 16px, 23.3px, $brand-primary);
    cursor: pointer;
  }

  .documentos-pessoais-list {
    margin-top: 10px;

    .subtitulos-style {
      @include text-style-base(300, 16px, 23.3px, #4F4F4F);
    }

    .texto-style {
      @include text-style-base('normal', 14px, 23.3px, rgba(79, 79, 79, 0.7));
    }

    .justify-between {
      justify-content: space-between;
    }

    .item__box {
      background: #FFFFFF;
      border: 1px solid $brand-primary;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 16px 18px;
      margin-bottom: 10px;

      &.inativo {
        border: 1px solid rgba(142, 152, 163, 0.4);
      }

      .data__ultima_msg {
        @include text-style-base(300, 13px, 23.3px, #515151);
      }

      .header__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .status__container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .titulo_status {
            @include text-style-base(500, 13px, 23px, #515151);
            text-transform: uppercase;

            &.indeferido, &.pendente_envio {
              color: $brand-primary;
            }
          }
        }

        .titulo_documento {
          @include text-style-base('normal', 18px, 23px, #444E57);
        }

      }

      .body__box {
        p {
          &.texto_descricao {
            margin: 10px 0;
            @include text-style-base(300, 14px, 20px, #828282);
            text-align: justify
          }
        }
      }

      .footer__box {

        .btn-enviar-documento, .btn-envio {
          background: #FFFFFF;
          box-sizing: border-box;
          padding: 5px 15px;
          border: 1px solid $brand-primary;
          border-radius: 6px;
          margin-bottom: 12px;
          @include text-style-base(400, 14px, 23px, $default5);

          &.cancelar {
            border: 1px solid $cinza-4;
          }

          &.confirmar {
            background: $brand-primary;
            color: #FFF;
          }

          &:hover,
          &:focus, div:not(.buttons-envio) {
            background-color: lighten($brand-primary, 50);
            color: $brand-primary !important;
          }

        }

        .btn-ver-historico {
          @include text-style-base('normal', 12px, 23px, $brand-primary);
          align-self: flex-end;
        }

        .titulo-arquivo {
          @include text-style-base(300, 14px, 23px, #9C9C9C);
        }

        .mensagem__box {
          background: #F2F2F2;
          border: 1px solid rgba(142, 152, 163, 0.4);
          box-sizing: border-box;
          border-radius: 6px;
          padding: 10px 15px;

          .title_mensagem__box {
            @include text-style-base(bold, 14px, 23px, $cor-marca-7);
            margin-bottom: 5px;
          }

          .text_mensagem__box {
            @include text-style-base(500, 14px, 23px, $cor-marca-7);
          }
        }

        .form-group-upload .drop-box-entregadocumentos {
          height: auto;
          line-height: 60px;
        }
      }
    }
  }

}
