@import "../../../scss/common"; // Talvez você precise alterar este destino
.grade-nota {
  .prr {
    position: relative;
    top: -21px;
    right: -8px;
  }

  .prr > :first-child {
    position: absolute
  }

  // Classes para colorir os ítens da coluna de nota final.
  .vermelho {
    td {
      background-color: $vermelho-bg-light;
      color: $vermelho-txt;

      a {
        color: inherit !important;
      }
    }
  }

  .verde {
    td {
      background-color: $verde-bg-light;
      color: $verde-txt;

      a {
        color: inherit !important;
      }
    }
  }

  .azul {
    td {
      background-color: $azul-bg-light;
      color: $azul-txt;

      a {
        color: inherit !important;
      }
    }
  }

  .amarelo {
    td {
      background-color: $amarelo-bg-light;
      color: $amarelo-txt;

      a {
        color: inherit !important;
      }
    }
  }

  .branco_ {
    td {
      background-color: $branco-bg-light;
      color: $branco-txt;

      a {
        color: inherit !important;
      }
    }
  }

  // Classes para colorir a tabela com a legenda das cores.
  .vermelho-legenda {
    background-color: $vermelho-bg-light;
    border-bottom: 1px solid $vermelho-txt;
    color: $vermelho-txt;
  }

  .azul-legenda {
    background-color: $azul-bg-light;
    border-bottom: 1px solid $azul-txt;
    color: $azul-txt;
  }

  .verde-legenda {
    background-color: $verde-bg-light;
    border-bottom: 1px solid $verde-txt;
    color: $verde-txt;
  }

  .amarelo-legenda {
    background-color: $amarelo-bg-light;
    border-bottom: 1px solid $amarelo-txt;
    color: $amarelo-txt;
  }

  .cinza-legenda {
    background-color: $cinza-bg-light;
    border-bottom: 1px solid $cinza-txt;
    color: $cinza-txt;
  }

  .branco-legenda {
    background-color: $branco-bg-light;
    border-bottom: 1px solid $branco-txt;
    color: $branco-txt;
  }

  .prr-tag {
    border: 3px solid red;
    border-radius: 3px;
    font-size: 10px;
    background-color: red;
    color: #FFFFFF;
    margin-top: 3px;
  }

  .divisoria-nota-prr {
    border-top: 1px solid #615f5f;
    width: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-self: center;
  }

  .nota-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nota-prr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .empty-cell {
    width: 25px !important;
  }

  .grade-notas-table {
    border: 1px solid #A1A1A1;
    border-radius: 5px;
    font-size: 14px;

    thead {
      th {
        font-weight: normal;

        .icon-icon_aula,
        .icon-icon_nota,
        .icon-icon_time {
          font-size: 30px;
          padding: 5px;
        }

        .icon-circulo_grafico {
          font-size: 20px;
          padding: 5px;
        }
      }
    }

    tbody {
      color: #615f5f;
      background-color: #f8f8f8;
      @media only screen and (min-width: 800px) {
        tr > td:not(:first-child) {
          // color: red;
        }
        tr > td:first-child {
          text-align: left;
        }
        tr > td {
          vertical-align: middle;
        }
      }
      /* Ajustes para a exibição responsiva da grade de notas.*/
      @media only screen and (max-width: 800px) {
        tr > td {
          font-size: 12px;
          text-align: center;
          vertical-align: center;
        }
      }
      @media only screen and (max-width: 300px) {
        tr > td {
          font-size: 10px;
        }
      }
      // Alinhamento do ícone e descrição da disciplina.
      tr {
        td {
          div:first-child {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center;

            a {
              color: #616161;

              &:after {
                content: 'ⓘ';
              }
            }
          }
        }
      }
    }
  }

  .grade-notas-header {
    margin-top: 25px;

    h1 {
      font-size: 16px;
    }

    p {
      font-size: 11px;
    }

    .icon-icon_nota {
      font-size: 60px;
      font-size: 5vw;
    }
  }

  .grade-notas-legenda {
    table {
      tbody {
        tr {
          td:first-child {
            width: 20px;
          }
        }
      }
    }
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .legenda-prr {
    margin-bottom: 15px;
  }
}
