<img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
<div class="grade-nota">

  <div class="row pc-title-class ">
    <div class="pc-title-class-title-container nopadding col-sm-10 col-xs-12">
        <div class="pull-left pc-title-class-icon"><i class="icon icon-icon_nota"></i></div>
        <p class="pc-title-class-title">Grade de Notas</p>
        <p class="pc-title-class-description">Acompanhe os seus resultados nas disciplinas. </p>
        <p class="pc-title-class-description"> </p>
    </div>

    <div ng-if="vm.stringsLegenda" class="grade-notas-legenda col-sm-2 col-sm-offset-8 col-xs-offset-4 col-xs-4">
      <table class="table table-condensed">
        <tr ng-repeat="(legenda, prop) in vm.stringsLegenda">
          <td ng-class="prop.classeLegenda">
            <small>{{prop.label}}</small>
          </td>
        </tr>
      </table>
    </div>

  </div>

    <div class="flex-col col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" ng-if="vm.stringsLegenda && vm.isEscolaSaude">
      <a class="btn btn-link" ng-href="{{vm.imprimirGradeNota()}}" target="_blank">
        <i class="glyphicon glyphicon-print"></i>
        Imprimir Grade Nota
      </a>
    </div>
  <div class="row">

    <div ng-repeat="(modulo, objDisciplinasModulo) in vm.notas">

      <div class="col-xs-12 col-xs-offset-0 col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1 col-lg-9 col-lg-offset-1">
        <table pw-responsive-table class="table grade-notas-table">
          <thead>
          <!-- IF + de um módulo. -->
          <tr ng-if="modulo !== '' && vm.exibirGrade.graduacao">
            <!--  Ajusta dinamicamente o colspan para que a descrição do módulo
            tenha o exato tamanho da tabela. -->
            <td colspan="{{vm.exibirGrade.graduacao ? 7 : 5}}">
              {{objDisciplinasModulo.st_modulo}}
            </td>
          </tr>
          <tr>
            <th class="no-pad-left">
              <div class="flex-grid flex-middle">
                <div class="flex-col">
                  <i class="icon icon-icon_aula"></i>
                </div>
                <div class="flex-col">
                  Disciplina
                </div>
              </div>
            </th>

            <th class="text-center">
              Situação<br/>
              Disciplina
            </th>

            <th class="text-center">
              Prova
              <div ng-if="!vm.exibirGrade.graduacao && !vm.exibirGrade.pos_graduacao">
                Presencial
              </div>
            </th>

            <th class="text-center" ng-if="vm.exibirGrade.graduacao">
              Outras<br/>Atividades
            </th>

            <!-- Aumenta a celula se tiver prr e não for graduação -->
            <th class="text-center" colspan="{{(objDisciplinasModulo.temNotaPrrEad && !vm.exibirGrade.graduacao) ? 2 : 1}}">
              <div ng-if="vm.exibirGrade.graduacao">
                Atividade<br/>Online
              </div>
              <div ng-if="!vm.exibirGrade.graduacao">
                Atividade<br/>EAD
              </div>
            </th>

            <!-- Aumenta a celula se tiver prr e nãoi for graduação -->
            <th class="text-center"
                colspan="{{(objDisciplinasModulo.temNotaPrrTcc && !vm.exibirGrade.graduacao) ? 2 : 1}}"
                ng-if="!vm.exibirGrade.graduacao && objDisciplinasModulo.temNotaTcc"
            >
              TCC
            </th>

            <th class="text-center" ng-if="vm.exibirGrade.graduacao">
              Prova Final
            </th>

            <th class="text-center">
              <strong>Final</strong>
            </th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="disciplina in objDisciplinasModulo.disciplinas | orderBy: ['id_tipodisciplina', 'dt_abertura.date'] " ng-class="vm.getClasseCor(disciplina)">
            <td data-title="Disciplina">
              <div class="row">
                <div>
                  <a uib-tooltip="Clique para detalhar a nota em {{disciplina.st_tituloexibicaodisciplina}}"
                     ui-sref="app.grade-notas-detalhamento({idMatriculaAtiva: vm.$state.params.idMatriculaAtiva, idDisciplina: disciplina.id_disciplina})"
                  >
                    {{disciplina.st_tituloexibicaodisciplina}}
                  </a>
                </div>
              </div>
            </td>

            <td data-title="Situação Disciplina">
              <div class="nota-container" ng-if="disciplina.st_situacao">
                {{disciplina.st_situacao}}
              </div>
            </td>

            <td data-title="Prova Presencial">
              <div class="nota-container" ng-if="disciplina.st_avaliacaofinal">
                {{vm.formataNota(disciplina.st_notafinal)}}
              </div>
            </td>

            <td data-title="Oficina" ng-if="vm.exibirGrade.graduacao">
              <div class="nota-container" ng-if="disciplina.st_avaliacaoatividade">
                {{vm.formataNota(disciplina.st_notaatividade)}}
              </div>
            </td>
            <td data-title="Atividade EAD">
              <div class="nota-container" ng-if="disciplina.st_avaliacaoead">
                {{vm.formataNota(disciplina.st_notaead)}}
              </div>
            </td>

            <td data-title="Atividade EAD Prr" ng-if="objDisciplinasModulo.temNotaPrrEad && !vm.exibirGrade.graduacao" ng-class="{'amarelo' : disciplina.st_notaead_prr}">
              <div class="nota-container" ng-if="disciplina.st_notaead_prr">
              <span>
              {{vm.formataNota(disciplina.st_notaead_prr)}}
              </span>
                <div class="prr"><span>*</span></div>
              </div>
            </td>

            <td data-title="Atividade TCC" ng-if="!vm.exibirGrade.graduacao && objDisciplinasModulo.temNotaTcc">
              <div class="nota-container" ng-if="disciplina.id_tiponotatcc && disciplina.dt_defesatcc != null">
                {{vm.formataNota(disciplina.st_notatcc)}}&nbsp;&nbsp;
              </div>
            </td>

            <td data-title="Atividade TCC PRR" ng-if="objDisciplinasModulo.temNotaPrrTcc && !vm.exibirGrade.graduacao" ng-class="{'amarelo' : disciplina.st_notatcc_prr}">
              <div class="nota-container" ng-if="disciplina.st_notatcc_prr">
                {{vm.formataNota(disciplina.st_notatcc_prr)}}
                <div class="prr"><span>*</span></div>
              </div>
            </td>

            <td data-title="Prova Final" ng-if="vm.exibirGrade.graduacao">
              <div class="nota-container">
                {{vm.formataNota(disciplina.st_notarecuperacao)}}
              </div>
            </td>

            <td data-title="Final">
              <div class="nota-container" ng-if="vm.formataNota(disciplina.st_notaead) == 0 &&
              vm.formataNota(disciplina.st_notafinal) == 0">
                <span>0</span>
              </div>
              <div class="nota-container" ng-if="(vm.formataNota(disciplina.st_notaead) != 0 ||
              vm.formataNota(disciplina.st_notafinal) != 0)">
                <span>{{vm.exibeNotaFinal(disciplina)}}</span>
              </div>
            </td>

          </tr>
          </tbody>
        </table>

        <!-- Mostrar se tiver prr e não for graduação -->
        <div class="legenda-prr" ng-if="(objDisciplinasModulo.temNotaPrrEad || objDisciplinasModulo.temNotaPrrTcc) && !vm.exibirGrade.graduacao">
          <small>* Nota do Programa de Resgate e Recuperação</small>
        </div>
      </div>

      <div class="col-xs-12">&nbsp;</div>

    </div>
  </div>
</div>
