<div ng-if="!$ctrl.renovacao && !$ctrl.alerta" class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="modalReabrirCtrl.closeModalReabrirChamado()">
      <span aria-hidden="true" ng-click="$ctrl.cancel()">&times;</span>
    </button>
    <h4 class="modal-title">{{$ctrl.title}}</h4>
  </div>
  <div class="modal-body">
    <p>{{$ctrl.question}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$ctrl.close()">{{$ctrl.okText}}</button>
    <button ng-if="$ctrl.showCancelButton" type="button" class="btn btn-default" ng-click="$ctrl.cancel()">{{$ctrl.cancelText}}</button>
  </div>
</div>

<div ng-if="$ctrl.renovacao" class="modal-content renovacaoModal">
  <div class="modal-header; renovacaoModalHeader">
    <h4 class="modal-title">{{$ctrl.title}}</h4>
    <h4 ng-if="$ctrl.title2" class="modal-title">{{$ctrl.title2}}</h4>
  </div>
  <div class="modal-body renovacaoModalBody">
    <p ng-bind-html='$ctrl.question'></p>
  </div>
  <div class="modal-footer renovacaoModalFooter">
    <button ng-if="$ctrl.showCancelButton" type="button" class="btn btn-default" ng-click="$ctrl.cancel()">{{$ctrl.cancelText}}</button>
    <button type="button" class="botao" ng-click="$ctrl.close()">{{$ctrl.okText}}</button>
  </div>
</div>

<div ng-if="$ctrl.alerta" class="modal-content">
  <div class="modal-header ">
    <button type="button" class="close" aria-label="Close" ng-click="modalReabrirCtrl.closeModalReabrirChamado()">
      <span aria-hidden="true" ng-click="$ctrl.cancel()">&times;</span>
    </button>
    <h4 class="modal-title">
      <img ng-src="{{$ctrl.iconAtencao}}" width="40px"/>
      &nbsp;&nbsp;&nbsp;
      {{$ctrl.title}}
    </h4>
  </div>
  <div class="modal-body">
    <p>{{$ctrl.question}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.close()">{{$ctrl.okText}}</button>
    <button ng-if="$ctrl.showCancelButton" type="button" class="btn btn-default" ng-click="$ctrl.cancel()">{{$ctrl.cancelText}}</button>
  </div>
</div>
