<div id="topo" class="container-fluid financeiro-form"
     ng-if="!vm.resumo"
>
  <pc-financeiro-cabecalho></pc-financeiro-cabecalho>
  <div class="flex-grid flex-gutter" ng-if="vm.loading">
    <div class="flex-col">
      <img class="mr-2" alt="Carregando..." width="25" ng-src="{{vm.loadingGif}}"/>
      Buscando Financeiro...
    </div>
  </div>

  <div class="col-xs-12" ng-show="!vm.loading">
    <div class="col-xs-12">
      <button type="button" class="button-resumo-financeiro  flex-grid flex-middle" popover-trigger="close"
              ng-click="vm.abrirResumoFinanceiro()">
        <div class="flex-col flex-col-fill">
          Ver meu resumo financeiro
        </div>
        <div class="flex-col">
          <i class="icon-icon_setaD"></i>
        </div>
      </button>
    </div>
    <div ng-if="vm.lancamentosQueroPago.length > 0" class="aviso-quero-pago">
      <div>
        <h3>Atenção!</h3>
        As parcelas referente(s) ao(s) produto(s): <br>
        <strong>{{vm.st_produtosQueroPago}}</strong> <br><br>
        Devem ser consultadas no portal da Quero Pago.<br>Para visualizar clique na imagem abaixo:
      </div>
      <div>
        <img ng-src="{{vm.logoQueroPago}}" ng-click="vm.abrirPortalQueroPago()"
             alt="Clique aqui para acessar o portal Quero Pago"
             title="Clique aqui para acessar o portal Quero Pago"/>
        <p>Telefone/WhatsApp: <strong><a ng-href="{{vm.whatsAppLink}}">{{vm.phone}}</a></strong><br>
          E-mail: <strong>queropago@queropago.com.br</strong></p>
      </div>
    </div>
    <uib-tabset active="0" justified="true" ng-if="vm.lancamentosQueroPago.length == 0 ">
      <uib-tab index="0" heading="Vencimentos do Mês  ({{vm.lancamentosMes.cursos.length + vm.lancamentosMes.outrosProdutos.length}})">
        <pc-financeiro-list idsituacao="1" parcelas="vm.lancamentosMes" ng-if="vm.lancamentosMes"></pc-financeiro-list>
      </uib-tab>
      <uib-tab index="1" heading="Vencidas ({{vm.lancamentosVencidas.cursos.length}})">
        <pc-financeiro-list idsituacao="2" parcelas="vm.lancamentosVencidas" ng-if="vm.lancamentosVencidas"></pc-financeiro-list>
      </uib-tab>
      <uib-tab index="2" heading="Vencimentos futuros ({{vm.lancamentosFuturos.cursos.length + vm.lancamentosFuturos.outrosProdutos.length}})">
        <pc-financeiro-list idsituacao="3" parcelas="vm.lancamentosFuturos" ng-if="vm.lancamentosFuturos"></pc-financeiro-list>
      </uib-tab>
      <uib-tab index="3" heading="Pagas ({{vm.lancamentosPagos.cursos.length + vm.lancamentosPagos.outrosProdutos.length}})">
        <pc-financeiro-list idsituacao="4" parcelas="vm.lancamentosPagos" ng-if="vm.lancamentosPagos"></pc-financeiro-list>
      </uib-tab>
    </uib-tabset>
  </div>

</div>
<pc-financeiro-resumo ng-if="vm.resumo" lista="vm.lancamentosResumo" resumo="vm.resumo"></pc-financeiro-resumo>
