@import "../../../scss/common";
@import "../../../scss/customize/variables";
.financeiro-form {
  .pc-title-class-title-container {
    .pc-title-class-title {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 23px;
    }
    .pc-title-class-description {
      font-family: Ubuntu;
      font-style: normal;
      font-size: 14px;
      margin-top: 5px;
    }
  }
  .button-resumo-financeiro{
    margin-top: 5px;
    padding: 7px 15px 7px 15px;
    background: #FFFFFF;
    border: 1px solid #A73866;
    box-sizing: border-box;
    border-radius: 8px;
    color: #A73866;
    font-weight: bold;
    width: 100%;
   text-align: left;

    .icon-icon_setaD {
      display: inline-block;
      font-weight: bold;
      margin-top: 4px;
    }
    &:hover,
    &:focus {
      opacity: .6;
    }
  }
  .nav-tabs {
    margin-top: 80px;

    & > .active , & > .active :focus{
      position: relative;
      border: 0;
      border-bottom: 4px solid;
      background-color: white;
      border-radius: 0;

      & > a{
        color: inherit !important;
        font-weight: bold;
        border: 0;
        padding: 0;
      }
    }

    & > li:nth-child(1).active {
      border-color: black;
        color: black;
    }

    & > li:nth-child(2).active {
      border-color: #FA5A55;
        color: #FA5A55;
    }

    & > li:nth-child(3).active  {
      border-color: #4097D6;
        color: #4097D6;
    }

    & > li:nth-child(4).active {
      border-color:  #28C968;
        color:  #28C968;
    }

    & > li {
      border-left: 5px solid white;
      border-right: 5px solid white;
      background: #DCDCDC;
      border-radius: 10px;
      padding: 0 !important;
       a {
         padding: 9px 0;
         border-radius: inherit;
         border: 0 !important;
         display: block;
         font-size: 16px;
         color: #000000;
       }
    }
  }

  .form-contratos{
    margin-top: 30px;
    padding: 7px 15px 7px 15px;
    background: #FFFFFF;
    border: 1px solid #A73866;
    box-sizing: border-box;
    border-radius: 8px;
    color: grey;
    width: 100%;
  }
}


.pc-financeiro-lancamento {
  background-color: $cor-marca-13;
  min-height: 60px;
  padding: 10px;
  text-align: center;
}
