<div id="pcHistoricoDisciplinasMain" class="scroll-wrapper">

  <div class="row scroll-wrapper" >
    <pc-historico-disciplinas-form class="scroll-wrapper col-xs-12 col-md-8">
    </pc-historico-disciplinas-form>
    <pc-historico-disciplinas-menu class="scroll-wrapper col-xs-12 col-md-4" ng-if="vm.showMenu()"></pc-historico-disciplinas-menu>
  </div>

</div>
