<img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
<div class="grade-nota">

  <div class="row row-eq-height grade-notas-header">

    <div class="col-xs-1 col-xs-offset-1">
      <i class="icon icon-icon_nota"></i>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h1>Grade de Notas - Detalhamento</h1>
          <p>Acompanhe aqui o detalhamento de suas atividades nesta disciplina.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div ng-if="vm.erro" class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="alert alert-danger" role="alert">
        {{ vm.erro }}
      </div>
    </div>

    <div ng-if="vm.alerta" class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="alert alert-warning" role="alert">
        {{ vm.alerta }}
      </div>
    </div>

    <div ng-repeat="(modulo, objDisciplinasModulo) in vm.notas">

      <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

        <table pw-responsive-table class="table grade-notas-table">
          <thead>
          <tr>
            <th>
              <div class="flex-grid flex-middle">
                <div class="flex-col">
                  <i class="icon icon-icon_aula"></i>
                </div>
                <div class="flex-col">
                  {{ objDisciplinasModulo.disciplinas[0].st_tituloexibicaodisciplina }}
                </div>
              </div>
            </th>
            <th class="text-center">
              Notas
            </th>
          </tr>
          </thead>

          <tbody>

          <tr ng-if="vm.exibeNotaFinal(objDisciplinasModulo.disciplinas[0]) && vm.exibeNotaFinal(objDisciplinasModulo.disciplinas[0]) != '-'">
            <td>
              <div><strong>Nota Final</strong></div>
            </td>
            <td>
              <div class="nota-container">
                <strong>{{vm.exibeNotaFinal(objDisciplinasModulo.disciplinas[0])}}</strong>
              </div>
            </td>
          </tr>

          <tr ng-if="objDisciplinasModulo.disciplinas[0].st_notaead_prr && objDisciplinasModulo.disciplinas[0].st_notaead_prr != '-'">
            <td>
              <div ng-if="vm.exibirGrade.graduacao">
                Atividade Online PRR
              </div>
              <div ng-if="!vm.exibirGrade.graduacao">
                Nota EAD PRR
              </div>
            </td>
            <td>
              <div class="nota-container">
                {{vm.formataNota(objDisciplinasModulo.disciplinas[0].st_notaead_prr)}}
              </div>
            </td>
          </tr>
          <tr ng-repeat="notasmoodlePrr in objDisciplinasModulo.disciplinas[0].ar_notasmoodle_prr" ng-if="!$first">
            <td>
              <div ng-if="$first">Total na Disciplina EAD Prr</div>
              <div ng-if="!$first">&nbsp;&nbsp;&nbsp;&nbsp;Atividade:&nbsp;&nbsp;<strong>{{ notasmoodlePrr.name }}</strong></div>
            </td>
            <td>
              <div class="nota-container">
                {{ notasmoodlePrr.grades[0].str_grade }}
              </div>
            </td>
          </tr>


          <tr ng-if="objDisciplinasModulo.disciplinas[0].st_notafinal && objDisciplinasModulo.disciplinas[0].st_notafinal != '-'">
            <td>
              Prova
              <span ng-if="!vm.exibirGrade.graduacao && !vm.exibirGrade.pos_graduacao">Presencial</span>
            </td>
            <td>
              <div class="nota-container">
                {{ objDisciplinasModulo.disciplinas[0].st_notafinal }}
              </div>
            </td>
          </tr>

          <tr ng-if="vm.exibirGrade.graduacao && objDisciplinasModulo.disciplinas[0].st_notaatividade && objDisciplinasModulo.disciplinas[0].st_notaatividade != '-'">
            <td>
              Outras<br/>Atividades
            </td>
            <td>
              <div class="nota-container">
                {{ objDisciplinasModulo.disciplinas[0].st_notaatividade }}
              </div>
            </td>
          </tr>

          <tr ng-if="objDisciplinasModulo.disciplinas[0].st_notaead && objDisciplinasModulo.disciplinas[0].st_notaead != '-'">
            <td>
              <div ng-if="vm.exibirGrade.graduacao">
                Atividade Online
              </div>
              <div ng-if="!vm.exibirGrade.graduacao">
                Nota EAD
              </div>
            </td>
            <td>
              <div class="nota-container">
                {{ objDisciplinasModulo.disciplinas[0].st_notaead }}
              </div>
            </td>
          </tr>

          <tr ng-if="objDisciplinasModulo.disciplinas[0].st_notarecuperacao && objDisciplinasModulo.disciplinas[0].st_notarecuperacao != '-'">
            <td>
              Prova Final
            </td>
            <td>
              <div class="nota-container">
                {{ objDisciplinasModulo.disciplinas[0].st_notarecuperacao }}
              </div>
            </td>
          </tr>

          <tr ng-repeat="notasmoodle in objDisciplinasModulo.disciplinas[0].ar_notasmoodle" ng-if="!$first">
            <td>
              <div ng-if="$first">Total na Disciplina EAD</div>
              <div ng-if="!$first">&nbsp;&nbsp;&nbsp;&nbsp;Atividade:&nbsp;&nbsp;<strong>{{ notasmoodle.name }}</strong></div>
            </td>
            <td>
              <div class="nota-container">
                {{ notasmoodle.grades[0].str_grade }}
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <div class="nota-container">
                &nbsp;
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="col-lg-12">
        <a class="btn btn-primary pull-right"
           uib-tooltip="Voltar para a grade de notas"
           ui-sref="app.grade-notas({idMatriculaAtiva: vm.$state.params.idMatriculaAtiva})"
        >
          Voltar
        </a>
      </div>
    </div>

    <div class="col-xs-12">&nbsp;</div>

  </div>
</div>
