@import "../../scss/common";

.ui-box {

  background-color: $cinza-bg-light;
  border: 1px solid $cinza-bg-light;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: $default-padding;
  padding: $default-padding;

  display: flex;
  flex-wrap: wrap;

  &.ui-box-border {
    border: 1px dashed $brand-primary;
  }

  header {
    width: 100%;

    h1 {
      font-size: 1.15em;
      font-weight: bold;
      line-height: 1.25;
      margin: 0;
    }
  }

  main {
    width: 100%;
  }

  .ui-box-show-more {
    align-self: flex-start;
    color: $brand-primary;
    font-size: 20px;
    margin: -8px -8px -8px 8px;
    height: 30px;
    width: 30px;

    &.ui-box-show-more-align-bottom {
      align-self: flex-end;
    }

    button {
      border: 0;
      background-color: transparent;
      transform: rotate(90deg);
    }
  }

  footer {
    width: 100%;
  }

  article {
    margin-top: $default-padding;
    width: 100%;
  }

  &.ui-bix-has-hidden-content {
    header,
    main {
      width: calc(100% - 30px);
    }
  }

}
