<section class="ui-box font-default" ng-class="{'ui-box-border': ui.border, 'ui-bix-has-hidden-content': ui.hiddenContent}" ng-style="ui.style">
  <header ng-if="ui.title">
    <h1 ng-if="ui.title" ng-bind-html="ui.title"></h1>
  </header>
  <main>
    <ng-transclude/>
  </main>
  <div
    class="ui-box-show-more"
    ng-if="ui.hiddenContent"
    ng-class="{'ui-box-show-more-align-bottom': ui.showMorePosition}"
  >
    <button data-toggle="collapse" data-target=".ui-box-collapse-{{ui.key}}">
      <i class="glyphicon icon-icon_setaD"></i>
    </button>
  </div>
  <footer ng-if="ui.footer">
    <div ng-bind-html="ui.footer"></div>
  </footer>
  <article ng-if="ui.hiddenContent" class="collapse ui-box-collapse-{{ui.key}}">
    <div ng-bind-html="ui.hiddenContent"></div>
  </article>
</section>
