@import "../../../scss/common";
@import "../../../scss/customize/variables";

#pcChamadosShow {

  .linha-style {
    margin: 24px 0;
    border-bottom: 1px solid #8E98A3;
  }

  .flex-container {
    display: flex;
  }

  .item-flex {
    flex: 1;
  }

  .pc-button-style {
    background: #FFFFFF;
    border: 1px solid #A73866;
    box-sizing: border-box;
    border-radius: 8px;
    height: 35px;
    width: 180px;
  }

  .pc-button-texto-style {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #A73866;
  }

  .pc-sub-title-style {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #444E57;
  }

  .pc-info-style {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;

    color: #333333;
  }

  .pc-info-style-tramite {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
  }

  .pc-info-style-tramite-resposta-atendente {
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
  }

  .pc-border-box-user {
    margin-top: 20px;
    margin-left: 104px;
    background: #FFFFFF;
    border: 1px solid #8E98A3;
    box-sizing: border-box;
    border-radius: 6px;
    height: 100%;
  }

  .pc-border-box {
    color: #682A3C;

    margin-top: 20px;
    margin-left: 104px;
    background: #F2F2F2;
    border: 1px solid #8E98A3;
    box-sizing: border-box;
    border-radius: 6px;
    height: 100%;
  }

  .pc-btn-responder {
    background: #A73866;
    border: 1px solid #A73866;
    box-sizing: border-box;
    border-radius: 8px;

    margin-left: 104px;
    height: 30px;
    width: 140px;
  }

  .pc-btn-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
  }

  .img-style {
    margin-bottom: 3px;
    margin-right: 10px;
  }

  .button-fechar-style {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-align: right;
    color: #8E98A3;

    border: none !important;
    background: none !important;
  }

  .div-button {
    text-align: right;

    button {
      border: 1px solid #A73866;
      border-radius: 8px!important;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .button-enviar {
    background-color: #A73866;
    color: #fff;
  }

  .button-cancelar {
    background-color: #FFFFFF;
    color: #A73866;
  }

  .input-custom {
    border-color: #A73866;
    border-radius: 6px;
  }

  .input-style {
    background: #FFFFFF;
    border: 1px solid #A73866;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    height: 27px;
    width: 350px;
  }

  .div-arquivo {
    background: rgba(224, 223, 224, 0.51);
    border: 3px dashed rgba(142, 152, 163, 0.57);
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;

    height: 75px;

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    color: #4F4F4F;
  }

  .div-remover-arquivo {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;

    color: #2D5DA0;
  }

  .texto-style {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;

    color: rgba(81, 81, 81, 0.76);
  }

  .button-remove {
    margin-left: 10px;

    background: none;
    border: none !important;
  }

  .button-close {
    height: 15px;
    width: 15px;
    margin-left: 6px;
  }
}
