<div id="pcChamadosShow">
  <div class="loading-text" ng-if="vm.loading">
    Buscando informações...
  </div>

  <div ng-if="!vm.loading">
    <div>
      <div>
        <a class="button-voltar" ng-click="vm.close()">Voltar</a>
      </div>
      <div class="flex-container">
        <div class="item-flex" style="margin-top: 15px">
          <ui-title
            title="Detalhe da ocorrência N° {{vm.vchamado.id_ocorrencia}}"
          ></ui-title>
        </div>
        <div class="item-flex" style="margin-top: 6px"
             ng-if="vm.vchamado.id_evolucao !== 36 && vm.vchamado.id_evolucao !== 38">
          <button class="pc-button-style pc-button-texto-style pull-right"
                  ng-click="vm.avisoEncerramentoOcorrencia()">Encerrar ocorrência
          </button>
        </div>
        <div class="item-flex" style="margin-top: 6px"
             ng-if="(vm.vchamado.id_evolucao === 36 || vm.vchamado.id_evolucao === 38
                    || vm.vchamado.id_evolucao === 99) && vm.isSameUserSession(vm.vchamado.id_usuariointeressado)">
          <button class="pc-button-style pc-button-texto-style pull-right" ng-click="vm.reabrir = true">Reabrir
            ocorrência
          </button>
        </div>
      </div>
      <div style="margin-top: 15px" class="linha-style"></div>
      <div class="row-bs4">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <span class="pc-info-style">Número da ocorrência: {{vm.vchamado.id_ocorrencia}}</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
              <span
                class="pull-right pc-info-style"><b>{{vm.vchamado.st_situacao.toUpperCase()}}</b> | Data de abertura: {{vm.vchamado.dt_cadastro | asDate: 'dd/MM/yyyy'}}
              </span>
        </div>
      </div>
      <div class="flex-container">
        <div class="item-flex" style="max-width: 800px">
          <span class="pc-sub-title-style" style='word-wrap: break-word'>{{vm.vchamado.st_titulo}}</span>
        </div>
        <div class="item-flex" ng-if="vm.vchamado.st_upload">
          <a class="pull-right pc-info-style-tramite" ng-title="Visualizar Anexo"
             download="{{vm.vchamado.st_diruploadgeral}}"
             ng-click="vm.abrirArquivo(interacao.st_upload,'tramite')">
            <img class="img-style" ng-src="{{vm.anexo}}">{{vm.vchamado.st_upload}}
          </a>
        </div>
      </div>
      <div>
        <span class="pc-info-style">{{vm.vchamado.st_categoriaocorrencia}} | {{vm.vchamado.st_assuntoco}} </span>
      </div>
      <div>
        <span class="pc-info-style" ng-show="!vm.vchamado.st_tituloexibicao">Disciplina: Não especificada.</span>
        <span class="pc-info-style"
              ng-show="vm.vchamado.st_tituloexibicao">Disciplina: {{vm.vchamado.st_tituloexibicao}}.</span>
      </div>
      <div style="margin-top: 15px; max-width: 800px;">
        <p class="pc-info-style" style='word-wrap: break-word' ng-bind-html="vm.vchamado.st_ocorrencia"></p>
      </div>
      <div style="margin-top: 15px" class="linha-style"></div>
    </div>
    <div ng-show="!vm.resposta && !vm.reabrir">
      <div ng-repeat="interacao in vm.vinteracoes">
        <div
          ng-class="interacao.id_usuario == vm.vchamado.id_usuariointeressado ? 'pc-border-box-user' : 'pc-border-box'">
          <div style="margin: 15px">
            <div class="pull-right">
              <span class="pc-info-style">{{interacao.dt_cadastro | asDate: 'dd.MM.yyyy'}}</span>
            </div>
            <div>
              <span ng-show="(interacao.id_usuario === vm.vchamado.id_usuariointeressado)"><b>Você:</b></span>
              <span
                ng-show="(interacao.id_usuario !== vm.vchamado.id_usuariointeressado)"><b>{{interacao.st_nomecompleto}}</b></span>
            </div>
            <div style="margin-top: 10px; max-width: 800px"
                 ng-class="(interacao.id_usuario === vm.vchamado.id_usuariointeressado) ? 'pc-info-style-tramite' : 'pc-info-style-tramite-resposta-atendente'">
              <p style='word-wrap: break-word' ng-bind-html="interacao.st_tramite"></p>
            </div>
            <div ng-if="interacao.st_upload">
              <a ng-title="Visualizar Anexo" class="pc-info-style-tramite"
                 download="{{interacao.st_diruploadgeral}}"
                 ng-click="vm.abrirArquivo(interacao.st_upload,'tramite')">
                <img class="img-style" ng-src="{{vm.anexo}}">{{interacao.st_upload}}
              </a>
            </div>
          </div>
        </div>
        <div style="margin-top: 6px"
             ng-show="(vm.vchamado.id_evolucao !== 36 && vm.vchamado.id_evolucao !== 38) && interacao.bl_button">
          <button class="pc-btn-responder pc-btn-text" ng-click="vm.resposta = true"><img class="img-style"
                                                                                          ng-src="{{vm.topArrow}}">Responder
          </button>
        </div>
      </div>
    </div>
    <div id="div-resposta" ng-show="vm.resposta">
      <form ng-submit="vm.saveInteracao(vm.vchamado)">
        <div class="text-right">
          <button class="button-fechar-style" ng-click="vm.resposta = false">
            Fechar
            <img class="button-close" ng-src="{{vm.iconClose}}">
          </button>
        </div>
        <div>
          <span class="pc-info-style">Resposta</span><br>
          <textarea
            class="form-control input-sm input-custom pc-info-style"
            ng-model="vm.st_tramiteInteracao"
            rows="6"
            required
          ></textarea>
        </div>
        <div style="margin-top: 15px">
          <p class="pc-info-style">Enviar arquivo</p>
          <p class="texto-style">Você pode enviar uma tela ou um documento para comprovar um ocorrido. <br>
            Arquivos até 5MB, com extensão: JPG, PNG, DOC, XLS ou PDF.</p>
          <div>
            <div class="div-arquivo" ng-if="!vm.files" ngf-drop ngf-select ng-model="vm.files"
                 ng-change="vm.verificacaoArquivo()"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                 accept="'.docx,.doc,.pdf,.xls,.xlsx,.png,.jpg,.jpeg'">
              <span><br>Arraste seu arquivo ou clique para selecionar</span>
            </div>
            <div class="div-remover-arquivo" ng-if="vm.files">
              <span><br>{{vm.files.name}}</span>
              <button ng-click="vm.removerArquivo()" class="button-remove"><img ng-src="{{vm.removeImg}}">
              </button>
            </div>
          </div>
        </div>
        <div style="margin-top: 20px" class="linha-style"></div>
        <div class="div-button">
          <button type="button" class="btn button-cancelar" ng-click="vm.resposta = false">Cancelar</button>
          <button type="submit" class="btn button-enviar">Enviar resposta</button>
        </div>
      </form>
    </div>
    <div id="div-reabrir" ng-show="vm.reabrir">
      <div class="text-right">
        <button class="button-fechar-style" ng-click="vm.reabrir = false">
          Fechar
          <img class="button-close" ng-src="{{vm.iconClose}}">
        </button>
      </div>
      <div>
        <span class="pc-info-style">Motivo</span><br>
        <textarea
          class="form-control input-sm input-custom pc-info-style"
          ng-model="vm.st_tramiteInteracao"
          rows="6"
          required
        ></textarea>
      </div>
      <div style="margin-top: 15px">
        <p class="pc-info-style">Enviar arquivo</p>
        <p class="texto-style">Você pode enviar uma tela ou um documento para comprovar um ocorrido. <br>
          Arquivos até 5MB, com extensão: JPG, PNG, DOC, XLS ou PDF.</p>
        <div>
          <div class="div-arquivo" ng-if="!vm.files" ngf-drop ngf-select ng-model="vm.files"
               ng-change="vm.verificacaoArquivo()"
               ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
               accept="'.docx,.doc,.pdf,.xls,.xlsx,.png,.jpg,.jpeg'">
            <span><br>Arraste seu arquivo ou clique para selecionar</span>
          </div>
          <div class="div-remover-arquivo" ng-if="vm.files">
            <span><br>{{vm.files.name}}</span>
            <button ng-click="vm.removerArquivo()" class="button-remove"><img ng-src="{{vm.removeImg}}"></button>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px" class="linha-style"></div>
      <div class="div-button">
        <button type="button" class="btn button-cancelar" ng-click="vm.reabrir = false">Cancelar</button>
        <button type="button" class="btn button-enviar" ng-click="vm.saveReabrirChamado(vm.vchamado)">Reabrir
          ocorrência
        </button>
      </div>
    </div>
  </div>
</div>
