<div id="pcProvasMain" class="container-fluid scroll-wrapper">

  <div class="row scroll-wrapper">
    <perfect-scrollbar id="avaliacoes-scroll" class="col-xs-12 col-md-8">

      <div class="content">
        <div class="pc-title-class no-padding">
          <div class="pc-title-class-title-container">
            <div class="pc-title-class-icon pull-left pl-0">
              <i class="icon-icon_data"></i>
            </div>
            <p class="pc-title-class-title">
              {{vm.submenu === 'atuais' ? 'Provas do período' : ''}}
              {{vm.submenu === 'passadas' ? 'Provas passadas' : ''}}
              {{vm.submenu === 'informacoes' ? 'Informações sobre provas' : ''}}
            </p>
            <p class="pc-title-class-description" ng-if="vm.submenu === 'atuais' && vm.isGraduacao">
              Veja abaixo os agendamentos para as disciplinas do período vigente. Para provas
              realizadas, ausência em provas ou provas de períodos passados, veja no menu
              <span class="visible-md-inline visible-lg-inline visible-xl-inline">ao lado.</span>
              <span class="visible-xs-inline visible-sm-inline">ao final.</span>
            </p>
            <p class="pc-title-class-description" ng-if="vm.submenu === 'passadas' || !vm.isGraduacao">
              Veja abaixo as provas realizadas ou com ausência, e provas de períodos passados.
            </p>
            <p class="pc-title-class-description" ng-if="vm.submenu === 'informacoes'">
              Veja informações sobre suas provas.
            </p>
          </div>
        </div>
      </div>

      <div class="content" ng-if="vm.loading">
        <div class="flex-grid flex-gutter">
          <div class="flex-col">
            <img class="mr-2" alt="Carregando..." width="25" ng-src="{{vm.loadingGif}}"/>
            {{vm.submenu === 'informacoes' ? 'Buscando informações...' : 'Buscando avaliações...'}}
          </div>
        </div>
      </div>

      <div class="content" ng-if="!vm.loading && !vm.grupos.length && vm.submenu !== 'informacoes'">
        <div class="avaliacao-informacoes text-center">
          <span ng-if="vm.submenu === 'atuais'">O período de agendamento de provas começará em breve, fique atento!</span>
          <span ng-if="vm.submenu === 'passadas'">Nenhuma avaliação disponível.</span>
        </div>
      </div>

      <div ng-if="vm.submenu === 'informacoes' && !vm.loading" class="content">
        <span ng-if="!vm.informacoes.st_textoinformacoes">Nenhuma informação adicional.</span>
        <section class="avaliacao-informacoes" ng-if="vm.informacoes.st_textoinformacoes">
          <span ng-bind-html="vm.$sce.trustAsHtml(vm.informacoes.st_textoinformacoes)"></span>
        </section>
      </div>

      <section class="avaliacao-group content" ng-repeat="grupo in vm.grupos | orderBy : vm.gruposOrdem">
        <div class="avaliacao-header">
          {{grupo.st_grupo}}
        </div>
        <div class="avaliacao-collection">
          <div class="avaliacao-empty" ng-if="!grupo.avaliacoes.length">
            Não há provas agendadas.
          </div>
          <article
            id="av{{avaliacao.id_avaliacaoagendamento}}" class="avaliacao-item"
            ng-init="avaliacao.expanded = vm.isExibido(avaliacao); vm.gotoAnchor(avaliacao);"
            ng-class="{'avaliacao-expanded': avaliacao.expanded, 'highlighted': vm.isExibido(avaliacao) && !avaliacao.highlighted}"
            ng-repeat="avaliacao in grupo.avaliacoes | orderBy : ['bl_provarealizada', '-nu_presenca', 'dt_aplicacao']"
          >
            <a
              class="btn avaliacao-arrow"
              ng-if="avaliacao.nu_presenca !== 0"
              ng-click="vm.toggleAvaliacao(avaliacao)"
            >
              <i class="icon icon-icon_setaE" ng-style="avaliacao.expanded && {transform : 'rotate(90deg)'}"></i>
            </a>

            <div class="row">
              <div class="col-xs-12 col-lg-{{vm.submenu === 'passadas' ? '6' : '5'}}">
                <div
                  class="text-uppercase"
                  ng-bind-html="avaliacao.bl_provaglobal ? 'Prova Global' : '<div>' + avaliacao.st_disciplina.split('*').join('</div><div>•') + '</div>'"
                ></div>
                <div class="mt-2 txt-strong">
                  <div ng-if="avaliacao.bl_agendado">
                    <div class="txt-green" ng-if="!avaliacao.bl_provarealizada">
                      Prova agendada
                    </div>
                    <div ng-if="avaliacao.bl_provarealizada">
                      <div ng-if="avaliacao.bl_provaonline">
                        Prova aplicada entre
                        {{avaliacao.dt_aplicacaoinicio | date : 'dd/MM/yyyy'}}
                        e
                        {{avaliacao.dt_aplicacao | date : 'dd/MM/yyyy'}}
                      </div>
                      <div ng-if="!avaliacao.bl_provaonline">
                        Prova aplicada em
                        {{avaliacao.dt_aplicacao | date : 'dd/MM/yyyy'}}
                      </div>
                      <div>
                        <small class="txt-orange" ng-if="avaliacao.nu_presenca === null">Frequência: em análise</small>
                        <div ng-if="avaliacao.bl_provaonline">
                          <small class="txt-red" ng-if="avaliacao.nu_presenca === 0">Frequência: não realizada</small>
                          <small class="txt-green" ng-if="avaliacao.nu_presenca === 1">Frequência: realizada</small>
                        </div>
                        <div ng-if="!avaliacao.bl_provaonline">
                          <small class="txt-red" ng-if="avaliacao.nu_presenca === 0">Frequência: ausente</small>
                          <small class="txt-green" ng-if="avaliacao.nu_presenca === 1">Frequência: presente</small>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="txt-blue" ng-if="!avaliacao.bl_agendado && avaliacao.nu_presenca === null">
                    Agendamento liberado
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-{{vm.submenu === 'passadas' ? '6' : '3'}} text-center">
                Tipo de avaliação
                <div class="mt-2 text-uppercase" ng-class="{'txt-blue' : vm.submenu == 'atuais' && avaliacao.bl_provaonline}">
                  <i class="glyphicon glyphicon-{{avaliacao.bl_provaonline ? 'link' : 'map-marker'}}"></i>
                  <b ng-if="vm.submenu == 'passadas'">{{avaliacao.st_avaliacao}}</b>
                  <b ng-if="vm.submenu != 'passadas'">{{avaliacao.bl_provaonline ? 'Online' : 'Presencial'}}</b>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 text-center" ng-if="avaliacao.bl_agendado && !avaliacao.bl_provarealizada">
                Data disponível para a prova
                <div class="mt-2">
                  <strong ng-if="avaliacao.bl_provaonline">
                    {{avaliacao.dt_aplicacaoinicio | date : 'dd/MM/yyyy'}}
                    a
                    {{avaliacao.dt_aplicacao | date : 'dd/MM/yyyy'}}
                  </strong>
                  <strong ng-if="!avaliacao.bl_provaonline">
                    {{avaliacao.dt_aplicacao | date : 'dd/MM/yyyy'}}
                    às {{avaliacao.hr_inicio}}h
                  </strong>
                </div>
              </div>
            </div>

            <div class="avaliacao-body" ng-if="avaliacao.expanded && avaliacao.nu_presenca !== 0">
              <hr/>
              <div class="avaliacao-buttons">
                <div class="flex-grid flex-wrap flex-gutter">

                  <div class="flex-col" ng-if="!avaliacao.bl_provaonline && avaliacao.bl_podereagendar">
                    <div class="txt-blue">
                      <a class="btn btn-link no-padding" ng-click="vm.mostrarAlteracaoAgendamento(avaliacao)">
                        <i class="glyphicon glyphicon-{{ avaliacao.loadingCalendario ? 'refresh glyphicon-animate-circle' : 'calendar' }}"></i>
                        <span ng-if="avaliacao.loadingCalendario">Buscando datas disponíveis...</span>
                        <span ng-if="!avaliacao.loadingCalendario">
                          <span ng-if="!avaliacao.bl_agendado">Agendar data da prova</span>
                          <span ng-if="avaliacao.bl_agendado">
                            Alterar a data da prova (até {{avaliacao.dt_alteracaolimite.substr(0, 10) | date : 'dd/MM/yyyy'}})
                          </span>
                        </span>
                      </a>
                    </div>
                  </div>

                  <div class="flex-col" ng-if="vm.toggleBotaoProva(avaliacao)" ng-class="{'txt-blue' : !avaliacao.bl_datafinalizada && avaliacao.bl_provaonline}">
                    <a class="btn btn-link no-padding" ng-click="vm.abrirAvaliacaoMaximize(avaliacao)">
                      <i class="glyphicon glyphicon-{{avaliacao.bl_datafinalizada ? 'eye-open' : 'link'}}"></i>
                      {{avaliacao.bl_datafinalizada || !avaliacao.bl_provaonline ? 'Ver prova' : 'Link para acessar a prova'}}
                    </a>
                  </div>

                  <div class="flex-col" ng-if="avaliacao.bl_agendado">
                    <a class="btn btn-link no-padding" ng-href="{{vm.getUrlComprovante(avaliacao)}}" target="_blank">
                      <i class="glyphicon glyphicon-print"></i>
                      Imprimir comprovante
                    </a>
                  </div>

                  <div class="flex-col avaliacao-alterar" ng-if="avaliacao.expandedDate && !avaliacao.bl_provaonline && avaliacao.bl_podereagendar">
                    <p ng-if="avaliacao.dt_aplicacao">
                      Data marcada:
                      <b>
                        {{avaliacao.dt_aplicacao | date : 'dd/MM/yyyy'}}
                        às {{avaliacao.hr_inicio}}h
                      </b>
                    </p>

                    <div class="flex-grid flex-wrap flex-gutter flex-middle">

                      <div id="boxDatepicker" class="flex-col">
                        <label for="dt_datanova">
                          Nova data:
                        </label>
                        <div class="input-group input-group-sm">
                          <input
                            id="dt_datanova" class="form-control" type="text" placeholder="__/__/____"
                            ng-model="vm.calendarDate"
                            ng-change="vm.verificarHorarios(avaliacao, vm.calendarDate)"
                            uib-datepicker-popup="{{'dd/MM/yyyy'}}"
                            is-open="avaliacao.expandedCalendar"
                            datepicker-options="vm.calendarOptions"
                            clear-text="Limpar"
                            close-text="Fechar"
                            current-text="Hoje"
                          />
                          <div class="input-group-addon" ng-click="avaliacao.expandedCalendar = !avaliacao.expandedCalendar">
                            <i class="glyphicon glyphicon-calendar no-margin"></i>
                          </div>
                        </div>
                      </div>

                      <div class="flex-col" ng-if="vm.calendarDate && !avaliacao.horarios.length">
                        Nenhum horário disponível.
                      </div>
                      <div class="flex-col" ng-if="vm.calendarDate && avaliacao.horarios.length">
                        <label for="hr_inicionova">
                          Novo horário:
                        </label>
                        <div class="input-group input-group-sm">
                          <select
                            id="hr_inicionova"
                            class="form-control"
                            name="hr_inicionova"
                            ng-model="avaliacao.hr_inicionova"
                            ng-change="vm.verificarLocais(avaliacao, vm.calendarDate, avaliacao.hr_inicionova)"
                          >
                            <option
                              value="{{horario}}"
                              ng-repeat="horario in avaliacao.horarios | orderBy"
                            >
                              {{horario}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="flex-col" ng-if="avaliacao.hr_inicionova && !avaliacao.locais.length">
                        Nenhum local disponível.
                      </div>
                      <div class="flex-col" ng-if="avaliacao.hr_inicionova && avaliacao.locais.length">
                        <label for="id_avaliacaoaplicacao">
                          Novo local:
                        </label>
                        <div class="input-group input-group-sm">
                          <select
                            id="id_avaliacaoaplicacao"
                            class="form-control"
                            name="id_avaliacaoaplicacao"
                            ng-model="avaliacao.id_avaliacaoaplicacao"
                          >
                            <option
                              value="{{aplicacao.id_avaliacaoaplicacao}}"
                              ng-repeat="aplicacao in avaliacao.locais | orderBy : ['hr_inicio', 'st_aplicadorprova']"
                            >
                              {{aplicacao.st_aplicadorprova}}
                            </option>
                          </select>
                        </div>
                      </div>

                    </div>

                    <hr/>

                    <button
                      id="btnConfirmar" class="btn btn-link text-uppercase txt-blue"
                      ng-if="avaliacao.id_avaliacaoaplicacao"
                      ng-click="vm.salvarAgendamento(avaliacao)"
                    >
                      <i class="glyphicon glyphicon-refresh glyphicon-animate-circle" ng-if="avaliacao.loadingConfirmar"></i>
                      <b ng-if="avaliacao.loadingConfirmar">Concluindo...</b>
                      <b ng-if="!avaliacao.loadingConfirmar">Confirmar</b>
                    </button>
                    <button
                      id="btnCancelar" class="btn btn-link text-uppercase"
                      ng-if="!avaliacao.loadingConfirmar"
                      ng-click="avaliacao.expandedDate = false"
                    >
                      <b>Cancelar</b>
                    </button>
                  </div>

                  <div class="flex-col" ng-if="avaliacao.bl_agendado && !avaliacao.bl_provaonline">
                    <a
                      class="btn btn-link text-left no-padding"
                      target="_blank"
                      ng-href="https://google.com/maps?q=Unyleya - {{avaliacao.st_endereco}}, {{avaliacao.nu_numero}} {{avaliacao.st_complemento}} - {{avaliacao.st_cidade}} - {{avaliacao.sg_uf}}"
                    >
                      <i class="glyphicon glyphicon-map-marker"></i>
                      <b>Local da prova</b>
                      {{ vm.getLocalProva(avaliacao) }}
                    </a>
                  </div>

                </div>
              </div>
            </div>

          </article>
        </div>
      </section>
    </perfect-scrollbar>
    <perfect-scrollbar class="col-xs-12 col-md-4">
      <nav class="padding navigation modern-nav scroll-wrapper">
        <a
          class="flex-grid flex-middle"
          ng-class="{'selected': vm.submenu == 'atuais'}"
          ui-sref="app.provas({submenu: 'atuais', idMatriculaAtiva: vm.idMatricula, idsExibidos: null})"
        >
          <i class="icon icon-icon_data"></i>
          <div>Provas do período</div>
        </a>
        <a
          class="flex-grid flex-middle"
          ng-if="vm.isGraduacao"
          ng-class="{'selected': vm.submenu == 'passadas'}"
          ui-sref="app.provas({submenu: 'passadas', idMatriculaAtiva: vm.idMatricula, idsExibidos: null})"
        >
          <i class="icon icon-icon_alarme"></i>
          <div>Provas passadas</div>
        </a>
        <a
          class="flex-grid flex-middle"
          ng-class="{'selected': vm.submenu == 'informacoes'}"
          ng-click="vm.submenu = 'informacoes'; vm.grupos = []"
          ui-sref="app.provas({submenu: 'informacoes', idMatriculaAtiva: vm.idMatricula, idsExibidos: null})"
          ui-sref-opts="{notify: false}"
        >
          <i class="icon icon-icon_arc"></i>
          <div>Informações sobre provas</div>
        </a>
      </nav>
    </perfect-scrollbar>
  </div>

</div>
