@import "../../../scss/common";

#pcProvasMain {

  background-color: $cinza-2;

  section {
    margin: 10px;
  }

  .txt-strong {
    font-weight: 500;
  }

  .txt-small {
    font-size: small;
  }

  .txt-big {
    font-size: large;
  }

  .txt-brand {
    color: $brand-primary !important;
  }

  .txt-green {
    color: $verde-txt !important;
  }

  .txt-blue {
    color: $azul-txt !important;
  }

  .txt-orange {
    color: $laranja-txt !important;
  }

  .txt-red {
    color: $vermelho-txt !important;
  }

  .glyphicon {
    display: inline-block !important;
    vertical-align: -2px;
  }

  .content {
    background: #fff;
    border-radius: 6px;
    padding: $default-padding;
    margin: $default-padding;
  }

  .modern-nav {
    a {
      text-decoration: none !important;

      &:focus,
      &:hover {
        div {
          text-decoration: underline !important;
        }
      }
    }
  }

  .avaliacao-informacoes {
    border: 2px dashed #bbb;
    border-radius: 15px;
    font-size: 90%;
    font-weight: 500;
    padding: 20px 10px;

    li {
      margin: 10px 0;
    }
  }

  .avaliacao-header {
    position: relative;
    color: $cinza-6;
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $brand-primary;
      border: 1px solid $brand-primary;
      border-radius: 50%;
      content: '';
      margin: 3px 4px;
      height: 15px;
      width: 15px;
    }
  }

  .avaliacao-collection {
    position: relative;
    color: $cinza-6;
    font-size: 14px;
    padding: 1px 0;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      background-color: $cinza-2;
      content: '';
      width: 3px;
    }

    *:not(.icon):not(.glyphicon) {
      //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    }

    .avaliacao-item,
    .avaliacao-empty {
      position: relative;
      border: 1px dashed transparent;
      border-radius: 6px;
      display: block;
      margin: 10px 0 10px 30px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $branco;
        content: '◯';
        padding: 2px;
        margin: -2px 0 0 -30px;
      }

      &:not(.avaliacao-empty) {
        background-color: $cinza-2;
        border-color: $brand-primary;
        padding: 15px 45px 15px 15px;
        margin: 15px 0 15px 30px;

        &.avaliacao-expanded {

        }

        &:before {
          top: 25px;
        }
      }

      .avaliacao-arrow {
        position: absolute;
        top: 0;
        right: 0;

        color: $brand-danger;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;

        .icon {
          display: block;
          transform: rotate(-90deg);
        }
      }

      .avaliacao-body {
        hr {
          border-top: 1px solid $cinza-3;
          margin: 15px -45px 15px -15px;
        }

        .avaliacao-buttons {
          i {
            margin-right: 5px;
          }

          a {
            color: inherit;
            font-size: inherit;
            text-align: left;
            white-space: normal;
          }

          .flex-col {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        .avaliacao-alterar {
          background-color: $cinza-3;
          border-radius: 5px;
          font-size: 14px;
          margin-left: 40px;
          padding: 15px !important;
          width: calc(100% - 55px);

          label {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            letter-spacing: inherit;
          }

          @media (min-width: 1320px) {
            #dt_datanova,
            #hr_inicionova {
              width: 100px;
            }
          }

          #btnCancelar {
            color: inherit;
          }

        }
      }
    }

    // Calendário / Datepicker
    #boxDatepicker {
      .uib-datepicker-popup {
        border: 1px solid #333;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .75);
        padding: 0 0 10px;
      }

      .uib-button-bar button {
        background-color: transparent;
        text-transform: uppercase;
        text-decoration: underline;

        &:hover,
        &:focus {
          background-color: $cinza-3;
        }
      }

      th, td {
        padding: 5px 0;
      }

      button {
        border: none;
        color: $cinza-6;
      }

      .datepicker-today button,
      .datepicker-aplicacao button {
        padding: 0;

        span {
          background-color: $azul-bg-light;
          border-radius: 50%;
          box-sizing: border-box;
          color: $azul-txt;
          display: inline-block;
          line-height: 28px;
          width: 28px;
        }

        &.active {
          background-color: transparent !important;
          box-shadow: none !important;

          span {
            border: 2px solid $azul-txt !important;
            line-height: 24px;
          }
        }
      }

      // Mudando a cor do dia atual para LARANJA
      .datepicker-today button {
        span {
          background-color: #ff9800;
          color: #fff;
        }

        &.active span {
          border-color: #c66900 !important;
        }
      }

    }
  }

}
