<div id="pcCursosLivresMain" class="container-fluid scroll-wrapper default-bg">
  <perfect-scrollbar>
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-xl-8">
        <pw-cursos-livres></pw-cursos-livres>
      </div>
    </div>
  </perfect-scrollbar>
</div>
