@import "../../../scss/common";
@import "../../../scss/customize/variables";

.lancamentos-row {
  padding: 10px;
  display: block;
  background: #FFFFFF;
  border: 1px solid rgba(142, 152, 163, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  margin: 8px;
  width: 100%;

  span.data {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
  }

  span.forma-pagamento {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 23px;
    color: #828282;
  }

  #nome-produto {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    color: #4F4F4F;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span.parcelas {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #828282;
    white-space: nowrap;
  }

  .div-button {
    margin-right: 10px;
    padding-right: 15px;
    margin-top: 8px;
  }

  .button-gerar{
    border-radius: 8px;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: white;
    border: 1px solid #A73866;
    color: #682A3C;
    float:right;
    margin-left:5px;
  }
  .button-gerar:hover{
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: #682A3C;
    border: 1px solid #A73866;
    color: white;

  }

  .pagas {
    color: #28C968;
  }

  .vencimento-futuro {
    color: #4097D6;
  }

  .vencimento-mes {
    color: #000000;
  }

  .vencidas {
    color: #FA5A55;
  }

  .valor {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-right: 10px;
    padding-right: 15px;
    text-align: right;
    color: #4F4F4F;
  }

  .status-lancamento {
    font-size: 13px;
    margin-right: 10px;
    padding-right: 15px;
  }

  @media (min-width: 992px) {
    .status-lancamento {
      text-align: right;
    }
  }
}
