<div class="row lancamentos-row">
  <div class="col-xs-12 col-md-6 col-lg-6">
    <span class="parcelas">
      {{ pw.bl_taxa ?
      "Taxa | Parcela Única" :
      "Contrato: " + pw.lancamento.id_venda}}
      {{pw.lancamento.id_acordo === null ?  " | Parcela Original: " + pw.lancamento.nu_parcela + " de " + pw.lancamento.nu_parcelas :
      " | Parcela de Acordo: " + pw.lancamento.nu_parcela + " de " + pw.lancamento.nu_parcelas}}
      </span>
    <div id="nome-produto" class="col-lg-12 col-md-12">
      <span>{{pw.lancamento.st_produto}}</span>
    </div>
    <div class="col-lg-12 col-md-12">
      <span class="forma-pagamento">FORMA DE PAGAMENTO: {{pw.lancamento.st_meiopagamento}}</span>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <div class="col-md-12 status-lancamento">
      <strong
        ng-class="pw.lancamento.st_statuslancamento === 'PAGA' ? 'pagas' :
          (pw.lancamento.st_statuslancamento === 'A VENCER') ? 'vencimento-futuro' :
          (pw.lancamento.st_statuslancamento === 'VENCIDA') ? 'vencidas' : 'vencimento-mes'"
      >
        {{pw.lancamento.st_statuslancamento}}
      </strong>
      <span class="data">{{ pw.lancamento.bl_quitado ?
        "| Data de pagamento: " + (pw.lancamento.dt_quitado.date | asDate: "dd/MM/yyyy")
        :
        "| Data de vencimento: " + (pw.lancamento.dt_vencimento | date: "dd/MM/yyyy")}}
          </span>
    </div>
    <div class="col-md-12 valor">
      <p class="">R$ {{::pw.lancamento.nu_valor}}</p>
    </div>
  </div>
  <div class="col-sm-12 div-button">
    <button type="button" class="button-gerar" popover-trigger="close" ng-if="pw.lancamento.bl_quitado == false &&
      pw.lancamento.id_meiopagamento === pw.MeioPagamentoConstante.BOLETO"
            ng-click="pw.emitirDadosBoleto(pw.lancamento.id_lancamento,'emitirboleto',pw.lancamento.id_venda)">
      {{ pw.bl_taxa ? "Gerar novo boleto" : pw.labelBtGerarBoleto}}

    </button>
    <button type="button" class="button-gerar" popover-trigger="close"
            uib-tooltip="Clique para emitir a NFe"
            ng-if="pw.lancamento.st_nfe"
            ng-click="pw.getNfe(pw.lancamento)">
      Emitir NFe
    </button>
    <button
      ng-if="pw.lancamento.bl_quitado == true && pw.lancamento.id_statuslancamento == pw.StatusLancamentoConstante.PAGO"
      class="button-gerar" uib-tooltip="Clique para emitir o recibo" ng-click="pw.getRecibo(pw.lancamento)">
      Emitir Recibo
    </button>
    <a href="{{pw.lancamento.st_urlloja}}/recebimento?venda={{pw.lancamento.id_venda}}&lancamento={{pw.lancamento.id_lancamento}}"
       target="_blank"
       ng-if="pw.lancamento.bl_quitado == false && pw.lancamento.id_statuslancamento!= pw.StatusLancamentoConstante.PAGO &&
        pw.lancamento.id_meiopagamento === pw.MeioPagamentoConstante.PIX"
       class="button-gerar"  tooltip-placement="top" uib-tooltip="Clique para visualizar o PIX">
      Gerar PIX
    </a>

  </div>
  <div class="col-xs-12">
    <div ng-if="pw.showMsgPopup" class="alert alert-warning" role="alert">
      {{pw.showMsgPopup}}
    </div>
  </div>

</div>
