@import "../../../scss/common";

#pcPraticasJuridicasMain {
  font-size: 14px;

  .col-title-full {
    min-width: 100%;
  }

  .cardSection {
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: $default-padding;
    padding: 0 $default-padding;
  }

  .card-col {
    padding-bottom: 16px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;

    #icon-online {
      font-size: 20px;
      margin-right: 4px;
      vertical-align: -4px;
    }

    #icon-24h {
      font-size: 18px;
      margin-right: 2px;
      vertical-align: -2px;
    }

    li {
      display: block;
      list-style: none;
      margin-right: 20px;

    }
  }

}
