<perfect-scrollbar id="pcPraticasJuridicasMain" class="scroll-wrapper font-default default-bg">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1">
      <ui-container>
        <div class="flex-grid flex-wrap">
          <div class="col-title-full">
            <ui-title
              title="Núcleo de Práticas Jurídicas"
              icon="<i class='icon-icon_hammer'></i>"
              divider="true"
            ></ui-title>
            <div
              ng-if="vm.informacoes"
              ng-bind-html="vm.$sce.trustAsHtml(vm.informacoes)"
            ></div>
            <hr ng-if="vm.informacoes"/>
            <div ng-if="!vm.loading" class="row mt-4 mb-2">
              <div class="col-xs-12 col-md-10">
                <ul class="list">
                  <li>
                    <span id="icon-online" class="material-icons">computer</span>
                    100% online
                  </li>
                  <li>
                    <i id="icon-24h" class="glyphicon glyphicon-hourglass"></i>
                    Disponível 24h
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-grid flex-gutter" ng-if="vm.loading">
          <div class="flex-col">
            <img class="mr-2" alt="Carregando..." width="25" ng-src="{{vm.loadingGif}}"/>
            Buscando Núcleos de Práticas Jurídicas...
          </div>
        </div>
      </ui-container>
      <div ng-if="!vm.loading" class="cardSection">
        <div class="row-bs4">
          <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4 card-col"
               ng-repeat="item in vm.cards">
            <ui-card
              desabilitado=item.desabilitado
              img="item.img"
              text={{item.text}}
              button={{item.button}}
              url={{item.url}}
            >
            </ui-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>
