<div id="pcProvasOnlineMain" class="container-fluid scroll-wrapper">

  <div class="row scroll-wrapper">
    <perfect-scrollbar id="avaliacoes-scroll" class="col-xs-12 col-md-8">

      <div class="content" ng-show="vm.aplicacoes.length">
        <div class="pc-title-class no-padding">
          <div class="pc-title-class-title-container">

            <div class="pc-title-class-icon pull-left pl-0">
              <i class="icon-icon_data"></i>
            </div>

            <p class="pc-title-class-title">
              {{vm.submenu === 'atuais' ? 'Provas Liberadas' : ''}}
              {{vm.submenu === 'passadas' ? 'Provas passadas' : ''}}
              {{vm.submenu === 'informacoes' ? 'Informações sobre provas' : ''}}
            </p>

            <p class="pc-title-class-description" ng-if="vm.submenu === 'atuais'">
              Veja abaixo suas aplicações de prova online disponíveis para você. <br>
              Para provas com datas de aplicações já finalizadas, veja no menu
              <span class="visible-md-inline visible-lg-inline visible-xl-inline">ao lado.</span>
              <span class="visible-xs-inline visible-sm-inline">ao final.</span>
            </p>

            <p class="pc-title-class-description" ng-if="vm.submenu === 'passadas'">
              Veja abaixo as provas de períodos passados.
            </p>

            <p class="pc-title-class-description" ng-if="vm.submenu === 'informacoes'">
              Veja informações sobre suas provas.
            </p>

          </div>
        </div>
      </div>

      <div class="content" ng-if="vm.loading">
        <div class="flex-grid flex-gutter">
          <div class="flex-col">
            <img class="mr-2" alt="Carregando..." width="25" ng-src="{{vm.loadingGif}}"/>
            {{vm.submenu === 'informacoes' ? 'Buscando informações...' : 'Buscando aplicações...'}}
          </div>
        </div>
      </div>

      <div class="content" ng-if="!vm.loading && !vm.grupos.length && vm.submenu !== 'informacoes'">
        <div class="avaliacao-informacoes text-center">
          <span>Nenhuma aplicação de prova online disponível.</span>
        </div>
      </div>

      <div ng-if="vm.submenu === 'informacoes' && !vm.loading" class="content">
        <section class="avaliacao-informacoes">
          <span ng-if="!vm.informacoes.st_textoinformacoes">Nenhuma informação adicional.</span>
          <span ng-if="vm.informacoes.st_textoinformacoes"
                ng-bind-html="vm.$sce.trustAsHtml(vm.informacoes.st_textoinformacoes)"></span>
        </section>
      </div>

      <section ng-if="vm.submenu !== 'informacoes'" class="avaliacao-group content" ng-repeat="grupo in vm.grupos | orderBy : vm.gruposOrdem">
        <div class="avaliacao-header">
          {{grupo.st_grupo}}
        </div>
        <div class="avaliacao-collection">
          <div class="avaliacao-empty" ng-if="!grupo.avaliacoes.length">
            {{vm.submenu === 'atuais' ? 'Não há provas liberadas para realização.' : ''}}
            {{vm.submenu === 'passadas' ? 'Não há provas realizadas.' : ''}}
          </div>

          <article
            id="av{{avaliacao.id_aplicacaoprovaonline}}" class="avaliacao-item avaliacao-expanded"
            ng-init="vm.gotoAnchor(avaliacao);"
            ng-class="{'highlighted': vm.isExibido(avaliacao) && !avaliacao.highlighted}"
            ng-repeat="avaliacao in grupo.avaliacoes | orderBy : ['dt_inicio']"
          >

            <div class="row">
              <div class="col-xs-12 col-lg-5">
                <div class="text-uppercase">
                  {{avaliacao.st_avaliacao}}
                </div>
                <div class="mt-2 txt-strong">
                  <div>
                    <div class="txt-green">
                      {{avaliacao.st_situacaoprova}}
                      <span ng-show="avaliacao.dt_inicioprova"><br> Início: {{avaliacao.dt_inicioprova | asDateHour}}</span>
                      <span ng-show="avaliacao.dt_fimprova"><br> Término: {{avaliacao.dt_fimprova | asDateHour }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-lg-3 text-center">
                Tipo de avaliação
                <div class="mt-2 text-uppercase txt-blue">
                  <i class="glyphicon glyphicon-link"></i>
                  <b>Online</b>
                </div>
              </div>

              <div class="col-xs-12 col-lg-4 text-center">
                <span> {{vm.submenu === 'atuais' ? 'Data para realizar' : 'Prova disponível em'}} </span>
                <div class="mt-2">
                  <strong> {{avaliacao.dt_inicio | date : 'dd/MM/yyyy'}} a {{avaliacao.dt_termino | date : 'dd/MM/yyyy'}} </strong>
                </div>
              </div>
            </div>

            <div class="avaliacao-body">
              <hr/>
              <div class="avaliacao-buttons">
                <div class="flex-grid flex-wrap flex-gutter">

                  <div class="flex-col txt-blue">
                    <a class="btn btn-link no-padding" ng-click="vm.abrirAvaliacaoMaximize(avaliacao)">
                      <i
                        class="glyphicon glyphicon-{{+avaliacao.id_situacao === vm.SituacaoConstante.APLICACAO_PROVA_ONLINE_NOTA_LANCADA ? 'eye-open' : 'link'}}"></i>
                      {{+avaliacao.id_situacao === vm.SituacaoConstante.APLICACAO_PROVA_ONLINE_NOTA_LANCADA ? 'Ver Prova' : 'Link para acessar a prova'}}
                    </a>
                  </div>

                  <div class="flex-col txt-blue flex-col-right"
                       ng-if="
                       (avaliacao.id_situacao === vm.SituacaoConstante.APLICACAO_PROVA_ONLINE_NOTA_LANCADA)  &&
                       (avaliacao.dt_inicioprova && avaliacao.dt_fimprova)">
                    <a class="btn btn-link no-padding" ui-sref="app.documentos.solicitar({idMatriculaAtiva: vm.idMatricula})">
                      <i class="glyphicon glyphicon-icon-icon_aula"></i>
                      Declaração de Realização da Prova Online
                    </a>
                  </div>

                </div>
              </div>
            </div>

          </article>
        </div>
      </section>
    </perfect-scrollbar>

    <perfect-scrollbar class="col-xs-12 col-md-4">
      <nav class="padding navigation modern-nav scroll-wrapper">
        <div ng-show="vm.aplicacoes.length">
          <a
            class="flex-grid flex-middle"
            ng-class="{'selected': vm.submenu == 'atuais'}"
            ui-sref="app.provasOnline({submenu: 'atuais', idMatriculaAtiva: vm.idMatricula, idsExibidos: null})"
          >
            <i class="icon icon-icon_data"></i>
            <div>Provas liberadas</div>
          </a>
          <a
            class="flex-grid flex-middle"
            ng-class="{'selected': vm.submenu == 'passadas'}"
            ui-sref="app.provasOnline({submenu: 'passadas', idMatriculaAtiva: vm.idMatricula, idsExibidos: null})"
          >
            <i class="icon icon-icon_alarme"></i>
            <div>Provas passadas</div>
          </a>
        </div>
        <a
          class="flex-grid flex-middle"
          ng-class="{'selected': vm.submenu == 'informacoes'}"
          ng-click="vm.submenu = 'informacoes'"
          ui-sref="app.provasOnline({submenu: 'informacoes', idMatriculaAtiva: vm.idMatricula, idsExibidos: null})"
          ui-sref-opts="{notify: false}"
        >
          <i class="icon icon-icon_arc"></i>
          <div>Informações sobre provas</div>
        </a>
      </nav>
    </perfect-scrollbar>
  </div>
</div>
