@import "../../../scss/common";

#pcProvasOnlineMain {

  background-color: $cinza-2;

  section {
    margin: 10px;
  }

  .txt-strong {
    font-weight: 500;
  }

  .txt-small {
    font-size: small;
  }

  .txt-big {
    font-size: large;
  }

  .txt-brand {
    color: $brand-primary !important;
  }

  .txt-green {
    color: $verde-txt !important;
  }

  .txt-blue {
    color: $azul-txt !important;
  }

  .txt-orange {
    color: $laranja-txt !important;
  }

  .txt-red {
    color: $vermelho-txt !important;
  }

  .glyphicon {
    display: inline-block !important;
    vertical-align: -2px;
  }

  .content {
    background: #fff;
    border-radius: 6px;
    padding: $default-padding;
    margin: $default-padding;
  }

  .modern-nav {
    a {
      text-decoration: none !important;

      &:focus,
      &:hover {
        div {
          text-decoration: underline !important;
        }
      }
    }
  }

  .avaliacao-informacoes {
    border: 2px dashed #bbb;
    border-radius: 15px;
    font-size: 90%;
    font-weight: 500;
    padding: 20px 10px;

    li {
      margin: 10px 0;
    }
  }

  .avaliacao-header {
    position: relative;
    color: $cinza-6;
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $brand-primary;
      border: 1px solid $brand-primary;
      border-radius: 50%;
      content: '';
      margin: 3px 4px;
      height: 15px;
      width: 15px;
    }
  }

  .avaliacao-collection {
    position: relative;
    color: $cinza-6;
    font-size: 14px;
    padding: 1px 0;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      background-color: $cinza-2;
      content: '';
      width: 3px;
    }

    .avaliacao-item,
    .avaliacao-empty {
      position: relative;
      border: 1px dashed transparent;
      border-radius: 6px;
      display: block;
      margin: 10px 0 10px 30px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $branco;
        content: '◯';
        padding: 2px;
        margin: -2px 0 0 -30px;
      }

      &:not(.avaliacao-empty) {
        background-color: $cinza-2;
        border-color: $brand-primary;
        padding: 15px 45px 15px 15px;
        margin: 15px 0 15px 30px;

        &.avaliacao-expanded {

        }

        &:before {
          top: 25px;
        }
      }

      .avaliacao-arrow {
        position: absolute;
        top: 0;
        right: 0;

        color: $brand-danger;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;

        .icon {
          display: block;
          transform: rotate(-90deg);
        }
      }

      .avaliacao-body {
        hr {
          border-top: 1px solid $cinza-3;
          margin: 15px -45px 15px -15px;
        }

        .avaliacao-buttons {
          i {
            margin-right: 5px;
          }

          a {
            color: inherit;
            font-size: inherit;
            text-align: left;
            white-space: normal;
          }

          .flex-col {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

      }
    }
  }
}