<div id="pcLoginDireto">
  <div class="loading-fill" ng-if="!vm.showErrorLogin">
    <div class="loading-text">
      Carregando...
    </div>
  </div>
  <div class="login-box" ng-show="vm.showErrorLogin">
    <div class="login-box-header"><img ng-src="{{vm.logoUrl}}"/></div>
    <div class="login-box-body">

      <form novalidate ng-submit="vm.doLogin()" name="formLogin" id="formLogin" class="formLogin">
        <div class="login-box-info">Não foi possível efetuar o login automático favor clicar no botão abaixo e informar
          seus dados de acesso
        </div>
        <div class="btn-login-box">
          <button type="button" class="btn btn-primary btn-dark btn-login" ui-sref="login" data-style="expand-left">
            Informar Usuário e Senha
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
