@import "../../../scss/common";

//Cor primaria: #B04B5D;
#pcIndiqueGanhe {
  color: #555;
  margin: 0 auto;
  padding: 16px;

  hr {
    border-color: #B04B5D;
  }

  label {
    font-weight: normal;
  }

  .text-colored {
    color: #B04B5D;
  }

  .bg-light {
    background-color: #eee;
  }

  .info-egresso {
    color: $vermelho-txt;
    margin-top: 8px;
  }

  .btn-indique {
    border-radius: 12px !important;
    background-image: linear-gradient(#ff9144, #cc4b83);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;

    span {
      font-size: 20px;
      margin: 0 0 0 16px;
      transform: rotateZ(-30deg);
      vertical-align: -2px;
    }

    &.btn-enviar {
      margin-top: 20px;
      height: 45px;
      width: 220px;
    }

    &:disabled, &.no-focus {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      opacity: .5;
    }

  }

  .indique-banner {
    position: absolute;
    background-image: url('../../../../assets/img/indique-ganhe-banner.png');
    height: 300px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .indique-banner-titulo {
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
    text-align: right;
    margin-top: 30px;
  }

  .indique-banner-subtitulo {
    color: rgba(0, 0, 0, 0.55);
    margin-left: 30px;
    text-align: justify;
    margin-top: 30px;
  }

  .nav-tabs {
    padding: 0 50px;
    margin: 230px auto 0;
    max-width: 820px;

    & > .active > a {
      position: relative;
      background: #B04B5D;
      border: 1px solid #B04B5D;
      border-radius: 25px;
      padding: 10px;
      width: 200px;
      margin: 10px;
      color: white;
      font-weight: bold;

      &:after {
        position: absolute;
        top: 100%;
        left: 20%;
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 12px solid #B04B5D;
      }
    }

    & > .active > a:focus {
      background: #B04B5D;
      border: 1px solid #B04B5D;
      border-radius: 25px;
      padding: 10px;
      width: 200px;
      margin: 10px;
      color: white;
      font-weight: bold;
    }

    // Manter a aba de resgate dos pontos invisível e será acionada por um botão
    & > li:nth-child(4) {
      display: none;
    }

    & > li > a {
      background: white;
      border: 1px solid #B04B5D;
      border-radius: 25px;
      padding: 10px;
      width: 200px;
      margin: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .disabled-indique-ganhe {
    color: grey;
    font-style: italic;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .tab-content {
    padding: 30px 50px;
  }

  .tab-indicacao {
    margin: 0 auto;
    max-width: 700px;
  }

  .tab-funcionamento {
    margin: 0 auto;
    max-width: 700px;

    .funcionamento-content {
      p {
        margin: 15px 0 0;

        & + hr {
          margin-top: 5px;
        }
      }

      ol {
        padding-left: 0;

        & > li {
          position: relative;

          list-style-position: outside;
          margin-left: -20px;
          padding: 15px 0 15px 20px;

          &:before {
            content: '';
            position: absolute;

            background-color: #eee;
            border: 2px solid #aaa;
            border-radius: 50%;
            color: #666;
            font-weight: 500;
            font-size: 18px;
            margin: -8px 0 0 -52px;
            z-index: -1;

            height: 40px;
            width: 40px;
          }
        }
      }
    }

  }

  .tab-cupons {
    font-size: 14px;
    margin: 0 auto;
    max-width: 900px;

    .indicacoes-counter {
      font-size: 18px;
      margin: 0 auto;
      max-width: 600px;
      text-align: center;

      a {
        text-decoration: underline;
      }
    }
  }

  .tab-resgatar {
    //font-size: 1.2em;
    margin: 0 auto;
    max-width: 500px;

    hr {
      border-color: #ccc;
    }

    .resgatar-saldo {
      margin: 15px 0;
      padding: 15px;
    }

    .resgatar-box {
      position: relative;
      border: 1px solid #B04B5D;
      border-radius: 5px;
      min-width: 100px;
      padding: 5px 35px 5px 15px;

      .resgatar-inc,
      .resgatar-dec {
        position: absolute;
        right: 0;
        align-items: center;
        color: #B04B5D;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        height: 50%;
        padding: 0 8px 0 5px;
        transform: scale(1.5, 1);

        &.resgatar-inc {
          top: 0;
        }

        &.resgatar-dec {
          bottom: 0;
        }
      }
    }

    .indique-parceiros {
      .indique-parceiros-item {
        position: relative;
        flex: 1;
        min-width: 100px;
      }

      .indique-parceiros-content {
        background-color: #fff;
        border: 2px solid $cinza-3;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 5px;
        padding: 10px 5px 40px;
        height: 100%;
      }

      input[type="radio"] {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);

        &:checked ~ .indique-parceiros-content {
          border-color: #B04B5D;
        }
      }
    }
  }

  .cupons-info {
    background-color: #dedede;
    font-size: 13px;
    margin: 5px 0;
    padding: 8px 8px 8px 16px;
  }

  .indicacao-box {
    background-color: #eee;
    margin-bottom: 5px;

    display: flex;
    align-items: stretch;
    justify-content: center;

    .featured {
      font-size: 15px;
    }

    .muted {
      opacity: .7;
    }

    .dividers {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }

    & > div {
      display: flex;
      align-items: center;
      margin: 16px 0;
      padding: 0 16px;

      .content {
        width: 100%;
      }
    }

    .cupom-cheque {
      background-color: #fff;
      border: 2px solid #B04B5D;
      margin: 0 15px;

      &.cupom-cheque-expirado {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity: .5;
      }

      .flex-col {
        padding: 10px;
      }

      .cupom-icon {
        border-left: 2px dashed #B04B5D;
        display: flex;
        align-items: center;
        margin-left: 10px;

        img {
          width: 32px;
        }
      }
    }
  }

  .indique-btn-group {
    .btn {
      width: 200px;
      outline: none !important;
    }

    .btn:first-child {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .btn:last-child {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      margin-left: -4px;
    }
  }
}
