<div class="loading-fill" ng-if="vm.state.loading">
  <img ng-src="{{vm.loadingGif}}"/>
</div>
<div ng-if="!vm.state.loading && !vm.state.hasPermission" class="p-5">
  Esta funcionalidade não está habilitada para o seu curso.
</div>
<div
  id="pcIndiqueGanhe"
  class="container-fluid scroll-wrapper font-default no-padding notranslate"
  ng-if="vm.state.hasPermission"
>
  <perfect-scrollbar>

    <div class="indique-banner p-5">
      <div class="indique-banner-titulo hidden-xs hidden-sm">
        Programa <br>Indique e ganhe!
      </div>
      <div class="hidden-xs hidden-sm">
        <img ng-src="{{vm.iconeBanner}}" style="width: 200px"/>
      </div>
      <div class="indique-banner-subtitulo">
        <div>
          <strong>Sua indicação vale muito, até R$ 300,00 por matrícula!!!!</strong>
          <br>
          Quando a pessoa que você indicou se matricula <strong>com um desconto especial,</strong>
          você ganha um <strong>bônus</strong>
          <span ng-if="vm.state.isGraduacao && vm.state.bl_resgatarRenovacaoIG">na renovação da matrícula ou</span>
          em vale presente para compras online.
        </div>

        <div class="mt-4">
          <small>
            * Confira o <a ng-click="vm.showRegulamento()">regulamento</a>.
          </small>
        </div>
      </div>
    </div>

    <uib-tabset active="0" justified="true">
      <uib-tab index="0" heading="Indicar pessoas">
        <div class="tab-indicacao">
          <form ng-submit="vm.salvarIndicacao()">
            <div>
              <b class="text-colored">
                Indique apenas quem você imagina que queira receber um desconto especial para estudar na Unyleya!
                Assim você ajuda quem realmente precisa de um incentivo!
              </b>
              <p class="mt-4 mb-4">
                <b>Quero indicar essa pessoa para estudar na Unyleya:</b>
              </p>
            </div>

            <div class="row row-gutter">
              <div class="col-md-4 mb-4">
                <ui-input label="Nome da pessoa:">
                  <input
                    id="nome"
                    class="form-control"
                    type="text"
                    name="nome"
                    placeholder="Nome e Sobrenome"
                    maxlength="80"
                    required
                    ng-model="vm.indicacaoModel.nome"
                  />
                </ui-input>
              </div>

              <div class="col-md-4 mb-4">
                <ui-input label="Celular da pessoa:">
                  <input
                    id="telefone"
                    class="form-control"
                    type="text"
                    name="telefone"
                    required
                    placeholder="Celular da Pessoa"
                    ng-model="vm.indicacaoModel.telefone"
                    ng-change="vm.handleChangeTelefone()"
                  />
                </ui-input>
              </div>

              <div class="col-md-8 mb-4">
                <ui-input label="E-mail da pessoa:">
                  <input
                    id="email"
                    class="form-control"
                    type="email"
                    placeholder="indicacao@email.com.br"
                    maxlength="80"
                    required
                    ng-model="vm.indicacaoModel.email"
                  />
                </ui-input>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-4">
                Qual o interesse da pessoa?
              </div>
              <div class="col-md-8">
                <label class="pr-5">
                  <input
                    class="radio-custom"
                    type="radio"
                    name="id_linha_de_negocio"
                    value="0"
                    ng-model="vm.linha_de_negocio"
                    required
                  />
                  Graduação
                </label>
                <label>
                  <input
                    class="radio-custom"
                    type="radio"
                    name="id_linha_de_negocio"
                    value="1"
                    ng-model="vm.linha_de_negocio"
                    required
                  />
                  Pós-Graduação
                </label>
              </div>
            </div>

            <div class="row">
              <hr class="col-md-8"/>
            </div>

            <div class="form-check">
              <label class="form-check-label" ng-if="!vm.state.termoAceito.dt_cadastro">
                <input class="check-custom form-check-input" type="checkbox" value="" required/>
                Aceito os termos e concordo com o <a ng-click="vm.showRegulamento()">regulamento</a>.
              </label>
              <label class="form-check-label disabled-indique-ganhe" ng-if="vm.state.termoAceito.dt_cadastro">
                <input class="check-custom form-check-input" type="checkbox" value="" checked disabled/>
                Termo aceito em {{vm.state.termoAceito.dt_cadastro.date | asDate : 'dd/MM/yyyy'}} de acordo com o
                <a ng-click="vm.showRegulamento()">regulamento</a>.
              </label>
            </div>

            <div ng-if="vm.state.isAlunoEgresso === undefined" class="loading-text mt-4">
              Validando informações...
            </div>

            <div ng-if="vm.state.isAlunoEgresso === true || vm.state.isAlunoEgresso === false">
              <button
                type="submit"
                class="btn btn-indique btn-enviar"
                ng-disabled="vm.state.isAlunoEgresso"
              >
                Enviar Indicação
                <span class="material-icons">send</span>
              </button>
              <div class="info-egresso" ng-if="vm.state.isAlunoEgresso">
                Para realizar uma nova indicação, acesse o Portal do Egresso.
              </div>
            </div>

          </form>
        </div>
      </uib-tab>

      <uib-tab index="1" heading="Como funciona?">
        <div class="tab-funcionamento">
          <div ng-if="!vm.state.textoComoFunciona" class="loading-text">
            Buscando informações...
          </div>
          <div
            class="funcionamento-content"
            ng-if="vm.state.textoComoFunciona"
            ng-bind-html="vm.$sce.trustAsHtml(vm.state.textoComoFunciona.st_textosistemabody)"
          ></div>
        </div>
      </uib-tab>

      <uib-tab index="2" heading="Meus bônus $">
        <div class="tab-cupons">

          <div ng-if="vm.state.loading" class="loading-text">
            Buscando indicações...
          </div>

          <div ng-if="!vm.state.loading" class="indicacoes-counter mb-4">
            <div ng-if="vm.state.indicacoes.length">
              <p>
                Você enviou {{vm.state.indicacoes.length}} indicaç{{vm.state.indicacoes.length > 1 ? 'ões' : 'ão'}}.
                Quando a pessoa se matricula, você ganha um bônus!
              </p>
            </div>
            <div ng-if="!vm.state.indicacoes.length">
              <p>
                <b>Você ainda não indicou ninguém :(</b>
              </p>
              <p>
                Acesse <a ng-click="vm.showTab(0, $event)">Indicar pessoas</a> e informe uma pessoa que teria interesse
                em estudar na Unyleya, na Graduação ou na Pós-Graduação, com um desconto especial!
              </p>
              <p>
                Quando ela se matricula, você ganha um bônus!
              </p>
            </div>
          </div>

          <div ng-if="!vm.state.loading && vm.state.indicacoes.length">
            <div class="row mb-3">
              <div class="indique-btn-group">
                <button
                  type="submit"
                  class="btn btn-indique"
                  ng-click="vm.state.idSituacao = vm.SituacaoConstante.AFILIADO_INDICACAO_PENDENTE"
                  ng-class="{'no-focus' : vm.state.idSituacao != vm.SituacaoConstante.AFILIADO_INDICACAO_PENDENTE}"
                >
                  Indicações pendentes
                </button>
                <button
                  type="submit"
                  class="btn btn-indique"
                  ng-click="vm.state.idSituacao = vm.SituacaoConstante.AFILIADO_INDICACAO_CONFIRMADO"
                  ng-class="{'no-focus' : vm.state.idSituacao != vm.SituacaoConstante.AFILIADO_INDICACAO_CONFIRMADO}"
                >
                  Bônus recebidos
                </button>
              </div>
            </div>

            <div
              class="cupons-info flex-grid flex-wrap flex-middle"
              ng-if="vm.state.idSituacao == vm.SituacaoConstante.AFILIADO_INDICACAO_CONFIRMADO"
            >
              <div class="flex-col">
                Total recebido: {{vm.state.somatorias.nu_recebido | currency : 'R$ '}}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Total resgatado: {{vm.state.somatorias.nu_resgatado | currency : 'R$ '}}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Total expirado: {{vm.state.somatorias.nu_expirado | currency : 'R$ '}}
              </div>
              <div class="flex-col flex-col-right pl-4 pr-4">
                <b class="text-colored">
                  Total disponível:
                  {{vm.state.somatorias.nu_disponivel | currency : 'R$ '}}
                </b>
              </div>
              <div class="flex-col">
                <button
                  type="submit"
                  class="btn btn-indique btn-resgatar"
                  ng-click="vm.showTab(3, $event)"
                  ng-disabled="vm.state.somatorias.nu_disponivel <= 0"
                >
                  Resgatar $
                </button>
              </div>
            </div>

            <div
              class="row indicacao-box"
              ng-repeat="indicacao in indicacoesFiltradas = (vm.state.indicacoes | filter: {id_situacao: vm.state.idSituacao})"
            >
              <div class="col-xs-12 col-md-4">
                <div class="content">
                  <b>{{indicacao.st_nomeindicado}}</b>
                  <div>
                    <small>
                      {{vm.maskTelefone(indicacao.st_dddindicado + '' + indicacao.st_telefoneindicado)}}
                      | {{indicacao.st_emailindicado}}
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 text-center dividers">
                <div class="content">

                  <div ng-if="indicacao.id_situacao == vm.SituacaoConstante.AFILIADO_INDICACAO_PENDENTE">
                    <div>
                      Indicação em {{indicacao.dt_cadastro | asDate : 'dd/MM/yyyy'}}
                    </div>
                    <small class="muted">
                      Válida até {{indicacao.dt_vencimento | asDate : 'dd/MM/yyyy'}}
                    </small>
                  </div>

                  <div ng-if="indicacao.id_situacao == vm.SituacaoConstante.AFILIADO_INDICACAO_CONFIRMADO">
                    <div class="cupom-cheque" ng-class="{'cupom-cheque-expirado' : indicacao.bl_expirado}">
                      <div class="flex-grid">
                        <div class="flex-col flex-col-fill">
                          <div class="text-colored">
                            BÔNUS DE
                            <b>{{indicacao.nu_somacupons | currency : 'R$ '}}</b>
                          </div>
                          <small class="muted">
                            <b>Válido até {{indicacao.dt_vencimento | asDate : 'dd/MM/yyyy'}}</b>
                          </small>
                        </div>
                        <div class="flex-col cupom-icon">
                          <img ng-src="{{vm.iconeCupom}}"/>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="content">
                  <div ng-if="indicacao.id_situacao == vm.SituacaoConstante.AFILIADO_INDICACAO_PENDENTE">
                    <b ng-if="indicacao.bl_expirado" class="text-danger">Expirado</b>
                    <span ng-if="!indicacao.bl_expirado">Aguardando matrícula do indicado</span>
                  </div>

                  <div ng-if="indicacao.id_situacao == vm.SituacaoConstante.AFILIADO_INDICACAO_CONFIRMADO">
                    <div ng-repeat="cupom in indicacao.cupons">
                      <div ng-if="cupom.id_situacao == vm.SituacaoConstante.AFILIADO_INDICACAO_CUPOM_DISPONIVEL">
                        <small>
                          <b ng-class="{'text-colored': !indicacao.bl_expirado}">
                            {{cupom.nu_valor | currency : 'R$ '}}
                            &nbsp;&nbsp;
                            <span ng-if="indicacao.bl_expirado">Expirado em {{indicacao.dt_vencimento | asDate : 'dd/MM/yyyy'}}</span>
                            <span ng-if="!indicacao.bl_expirado">Disponível para resgate</span>
                          </b>
                        </small>
                      </div>
                      <div ng-if="cupom.id_situacao != vm.SituacaoConstante.AFILIADO_INDICACAO_CUPOM_DISPONIVEL">
                        <small>
                          <b class="muted">
                            {{cupom.nu_valor | currency : 'R$ '}}
                            &nbsp;&nbsp;&nbsp;Resgatado em {{cupom.dt_resgate | asDate : 'dd/MM/yyyy'}}
                          </b>
                        </small>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div ng-if="!indicacoesFiltradas.length">
              Nenhum registro.
            </div>

          </div>
        </div>
      </uib-tab>

      <uib-tab index="3" heading="Resgatar">
        <div class="tab-resgatar text-center">
          <b>Resgatar Bônus</b>

          <div class="resgatar-saldo text-colored bg-light">
            SALDO DE BÔNUS:
            <b>{{vm.state.somatorias.nu_disponivel | currency : 'R$ '}}</b>
          </div>

          <div>
            Qual valor gostaria de resgatar?
            <div class="flex-grid flex-center flex-middle mt-3">
              <div class="flex-col">
                <small><b>R$</b>&nbsp;&nbsp;</small>
              </div>
              <div class="flex-col">
                <div class="resgatar-box">
                  <div>
                    {{vm.state.resgatar.nu_valor | currency : ''}}
                  </div>
                  <div class="resgatar-inc no-select" role="button" ng-click="vm.handleChangeValorResgatar(1)">▲</div>
                  <div class="resgatar-dec no-select" role="button" ng-click="vm.handleChangeValorResgatar(-1)">▼</div>
                </div>
              </div>
            </div>
          </div>

          <hr/>

          <div ng-if="vm.state.isGraduacao && vm.state.bl_resgatarRenovacaoIG">
            <p>Escolha a forma de resgate:</p>
            <div>
              <label class="pr-5">
                <input
                  class="radio-custom"
                  type="radio"
                  name="resgatarSituacao"
                  ng-model="vm.state.resgatar.id_situacao"
                  ng-value="vm.SituacaoConstante.AFILIADO_INDICACAO_CUPOM_RESGATADO_RENOVACAO"
                />
                Renovação de matrícula
              </label>
              <label>
                <input
                  class="radio-custom"
                  type="radio"
                  name="resgatarSituacao"
                  ng-model="vm.state.resgatar.id_situacao"
                  ng-value="vm.SituacaoConstante.AFILIADO_INDICACAO_CUPOM_RESGATADO_VALE"
                />
                Vale presente
              </label>
            </div>
          </div>

          <div
            ng-if="vm.state.resgatar.id_situacao"
            class="bg-light mt-5 mb-5 p-4 text-center"
          >
            <!-- Info de resgate para renovação de matrícula -->
            <div
              ng-if="vm.state.resgatar.id_situacao == vm.SituacaoConstante.AFILIADO_INDICACAO_CUPOM_RESGATADO_RENOVACAO">
              <small>
                <b>Renovação de Matrícula</b>
              </small>
              <p>
                <small>
                  O valor será convertido em desconto na sua renovação de matrícula.
                  <br/>
                  Esta operação não pode ser desfeita.
                </small>
              </p>
            </div>

            <!-- Info de resgate para vale presente -->
            <div ng-if="vm.state.resgatar.id_situacao == vm.SituacaoConstante.AFILIADO_INDICACAO_CUPOM_RESGATADO_VALE">
              <small>
                <b>Vale Presente para compras online</b>
              </small>
              <p>
                <small>
                  <span ng-if='vm.state.isGraduacao'>Optando pelo Vale Presente, há uma taxa de 25% no valor do resgate.<br/></span>
                  Você receberá as informações do vale presente por e-mail em até
                  {{vm.state.prazoValePresenteDisponivel}} dias. Verifique também a sua caixa de spam.
                  <br/>
                  Esta operação não pode ser desfeita.
                </small>
              </p>

              <div class="indique-parceiros">
                <div ng-if="!vm.state.parceiros" class="loading-text">
                  Buscando parceiros...
                </div>
                <div ng-if="vm.state.parceiros">
                  <b>Escolha o parceiro:</b>
                  <div class="flex-grid flex-center flex-wrap mt-4 mb-5">
                    <label
                      ng-repeat="parceiro in vm.state.parceiros"
                      class="flex-col indique-parceiros-item"
                    >
                      <input
                        class="radio-custom"
                        type="radio"
                        name="resgatarParceiro"
                        ng-model="vm.state.resgatar.id_afiliadoindicacaoparceiro"
                        ng-value="parceiro.id_afiliadoindicacaoparceiro"
                      />
                      <div class="indique-parceiros-content">
                        <img
                          ng-src="{{parceiro.st_urlicone}}"
                          class="img-responsive"
                          alt="parceiro.st_afiliadoindicacaoparceiro"
                        />
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <b class="text-colored">
                Valor: {{vm.state.resgatar.nu_valor * (vm.state.isGraduacao && vm.state.resgatar.id_situacao == vm.SituacaoConstante.AFILIADO_INDICACAO_CUPOM_RESGATADO_VALE ? 0.75 : 1) | currency : 'R$ '}}
              </b>
            </div>
          </div>

          <div ng-if="vm.state.resgatar.id_situacao">
            <button
              type="submit"
              class="btn btn-indique btn-confirmar-resgate"
              ng-click="vm.confirmarResgate()"
              ng-disabled="vm.getValidacaoErro()"
            >
              Confirmar Resgate
            </button>
            <div>
              <small>{{vm.getValidacaoErro()}}</small>
            </div>
          </div>

        </div>
      </uib-tab>
    </uib-tabset>
  </perfect-scrollbar>

</div>
