@import "../../../scss/common";

.containerDisciplinas {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1 100%;
  margin: 15px 0 0 0;
  padding: 15px;
}

.containerDisciplinas > * {
  flex: 1 100%;
  color: #4d4d4d;
}

.periodo {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 15px 3px 4px;
}

.periodo p {
  font-weight: bold;
  color: gray;
  margin: 0;
}

.p1 {
  flex: 3;
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.p2, .p3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.p2 {
  flex: 1;
}

.p3 {
  flex: 2;
  margin-right: 45px;
}

.estilo > .circulo,
.periodo > .circulo {
  margin: 0 15px 0 0;
  background-color: #a13664;
  border: 1px solid #a13664;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  position: relative;
}

.estilo > .traco:nth-child(1) {
  flex: 0 10px;
}

.estilo > .traco {
  flex: 1;
  padding: 1.5px;
  margin: 0 10px 0 10px;
  background-color: #f2f1f3;
}

.estilo > .circulo {
  margin: 6px 5px 6px 4px;
  border: 1px solid #616161;
  background-color: white;
}

.estilo > .icon-icon_seg {
  border-radius: 0;
  border: 0;
  margin: 4px 8px 12px 1px;
  color: #a13664;
  font-size: 22px;
}

.disciplina {
  display: flex;
  flex-flow: row nowrap;
}

.disciplina > .estilo {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100px;
  margin: 0 0 0 0;
}

.disciplina > .conteudoWrapper {
  margin: 0;
  padding: 5px;
  width: 100%;
}

.conteudoWrapper > .conteudo {
  position: relative;
  border: 1px dashed #a13664;
  border-radius: 6px;
  padding: 5px;

  .btn-arrow {
    position: absolute;
    top: 0;
    right: 0;

    color: $brand-danger;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;

    i {
      display: block;
      transform: rotate(-90deg);
    }
  }
}

.conteudoWrapper > .conteudo, .conteudoInfo, .conteudoEmenta {
  background-color: #f2f1f3;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.conteudoInfo, .conteudoEmenta {
  padding: 5px;
  flex: 1 100%;
  margin: 1px;
}

.conteudoInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.conteudoEmenta {
  border-top: 1px solid #e3e3e3;
  font-size: 12px;
  padding: 15px;
  text-align: justify;
}

.p1 > div, .p3 > div {
  flex: 1 1000%;
  display: flex;
  flex-flow: row wrap;
}

.p1 > input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

.p1 > input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #cf99b1;
  border-radius: 3px;
  background-color: white;
}

.p1 > input[type=checkbox]:checked:before {
  background-color: #a13664;
  border: 0;
}

.p1 > input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

status, titulo {
  flex: 1 100%;
  margin: 5px 10px 5px 23px;
}

.tipoDisciplina {
  background-color: white;
  border: 1px dashed #cecece;
  border-radius: 70px;
  color: #cecece;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: 6px 12px;
}

.bloqueada .p1 > input[type=checkbox]:checked:before {
  background-color: #cf99b1;
  border: 0;
}

.bloqueada {
  color: #c2c2c2;
}

.esconder {
  display: none;
}

.verde {
  color: limegreen;
}

.vermelho {
  color: lightcoral;
}

.azul {
  color: lightskyblue;
}

.amarelo {
  color: goldenrod;
}

@media all and (max-width: 890px) {
  .p1, .p2, .p3 {
    flex: 1 100%;
    text-align: center;
    margin: 2px;
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .conteudoWrapper > .conteudo, .conteudoInfo, .conteudoEmenta {
    flex-flow: row wrap;
  }

  .p1, .p2, .p3 {
    margin: 5px;
    flex: 1 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row nowrap;
  }
}
