<div class="containerDisciplinas" ng-repeat="(label, disciplinas) in vm.periodos">
  <div class="periodo">
    <div class="circulo"></div>
    <p>{{label}}</p>
  </div>
  <div ng-class="{disciplina : true, bloqueada : disciplina.disabled}" ng-repeat="disciplina in disciplinas" ng-init="i = true;">
    <div class="estilo">
      <div class="traco"></div>
      <div ng-class="{circulo : true, icon : disciplina.disabled, 'icon-icon_seg' : disciplina.disabled}"></div>
      <div class="traco"></div>
    </div>
    <div class="conteudoWrapper">
      <div class="conteudo">

        <a class="btn btn-arrow" ng-click="i = !i">
          <i class="icon icon-icon_setaE" ng-style="!i && {transform : 'rotate(90deg)'}"></i>
        </a>

        <div class="conteudoInfo">
          <div class="p1">
            <input
              type="checkbox"
              ng-model="disciplina.checked"
              ng-checked="disciplina.checked"
              ng-disabled="disciplina.disabled"
              ng-change="vm.toggleSala(disciplina)"
            />
            <div>
              <titulo>{{disciplina.st_disciplina}}</titulo>
              <status ng-init="cor = (disciplina.st_status | getCorStatus)" class="{{cor}}">{{disciplina.st_status}}</status>
            </div>
          </div>
          <div class="p2">
            <div class="tipoDisciplina">{{disciplina.id_tipooferta | getNomeOferta}}</div>
          </div>
          <div class="p3">
            <div>
              <titulo ng-if="disciplina.id_tipooferta !== vm.TipoOfertaConstante.PERENE" >
                {{disciplina.dt_abertura | asDate : 'dd/MM/yy'}} a {{disciplina.dt_encerramento | asDate : 'dd/MM/yy'}}
              </titulo>
              <titulo ng-if="disciplina.id_tipooferta === vm.TipoOfertaConstante.PERENE" >
                {{vm.info.primeiraOfertaPadrao.dt_abertura | asDate : 'dd/MM/yy'}} a {{vm.info.ultimaOfertaPadrao.dt_encerramento | asDate : 'dd/MM/yy'}}
              </titulo>
              <status>
                <i class="icon icon-icon_time"></i>
                {{disciplina.nu_cargahoraria}}h
              </status>
            </div>
          </div>
        </div>

        <div ng-class="{conteudoEmenta:true, esconder:i}">
          <span ng-if="!disciplina.st_ementacertificado">Ementa não disponível.</span>
          <div ng-if="disciplina.st_ementacertificado" ng-bind-html="disciplina.st_ementacertificado"></div>
        </div>

      </div>
    </div>
  </div>
</div>
