@import "../../../scss/common";

#pcDocumentosSolicitar {

  .solicitacao-item {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $cinza-2;
    padding: 15px;

    &.solicitacao-checked {
      border-color: $brand-primary;
    }

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  .navigation {
    background-color: #fff;
  }

}
