<div id="pcDocumentosSolicitar" class="scroll-wrapper">
  <div class="row scroll-wrapper">
    <perfect-scrollbar class="col-xs-12 col-md-8">
      <div class="padding content">

        <div class="pc-title-class no-padding">
          <div class="pc-title-class-title-container">
            <div class="pc-title-class-icon pull-left pl-0">
              <i class="icon-icon_aulas"></i>
            </div>
            <p class="pc-title-class-title">
              Solicitar documentos e declarações
            </p>
            <p class="pc-title-class-description">
              Escolha abaixo os documentos, os valores e os prazos para entrega e continue a solicitação
              <span class="visible-md-inline visible-lg-inline visible-xl-inline">ao lado.</span>
              <span class="visible-xs-inline visible-sm-inline">ao final.</span>
            </p>
          </div>
        </div>

        <hr/>

        <div class="row row-gutter mb-5">
          <div class="col-xs-5">
            <select
              class="form-control"
              ng-model="vm.filter.id_documentodigitaltipo"
              ng-options="item.id_documentodigitaltipo as item.st_documentodigitaltipo for item in vm.tipos"
            >
              <option value="">Todos os tipos</option>
            </select>
          </div>
          <div class="col-xs-7">
            <input class="form-control" type="text" placeholder="Digite o nome do documento" ng-model="vm.filter.st_produto"/>
          </div>
        </div>

        <div class="flex-grid flex-gutter" ng-if="vm.loading && !vm.produtos.length">
          <div class="flex-col">
            <img class="mr-2" alt="Carregando..." width="25" ng-src="{{vm.loadingGif}}"/>
            Buscando documentos e declarações...
          </div>
        </div>

        <div class="px-2" ng-if="!vm.loading && !vm.produtos.length">
          Nenhum documento ou declaração disponível.
        </div>

        <div ng-if="!vm.loading || vm.produtos.length">
          <div
            class="solicitacao-item flex-grid"
            ng-class="{'solicitacao-checked': produto.checked}"
            ng-repeat="produto in vm.produtos"
            ng-if="vm.getFiltroDocumento(produto)"
          >
            <div class="mr-4" ng-class="{'ml-4' : produto.bl_ocorrencia}">
              <input type="checkbox" ng-if="!produto.bl_ocorrencia" ng-model="produto.checked"/>
            </div>
            <div class="flex-col-fill">
              <div class="row mt-1">
                <div class="col-xs-12 col-md-6">
                  <b>{{produto.st_produto}}</b>

                  <div>
                    <small class="label label-warning" ng-if="produto.bl_ocorrencia">
                      Solicitar através do serviço de atenção
                    </small>
                  </div>

                  <a class="text-warning" ng-click="vm.abrirModelo(produto)" ng-if="produto.id_textosistema">
                    <small>ver modelo →</small>
                  </a>
                </div>
                <div class="col-xs-12 col-md-3 text-center">
                  <div class="flex-grid">
                    <div>
                      {{produto.nu_valor <= 0 ? 'Gratuito' : (produto.nu_valor | currency : 'R$ ')}}
                    </div>
                    <!--
                    <div class="pl-3 text-warning">
                      <i class="glyphicon glyphicon-question-sign"></i>
                    </div>
                    -->
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div class="flex-grid">
                    <div class="pr-3">
                      <i class="glyphicon glyphicon-time"></i>
                    </div>
                    <div>
                      Prazo até {{produto.nu_diasprocessamento}} dia(s)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </perfect-scrollbar>

    <perfect-scrollbar class="col-xs-12 col-md-4 navigation">
      <div class="content">
        <div class="txt-big qtd-selecionados">
          Documentos selecionados:
          <b>{{vm.getSelecionados().length}}</b>
        </div>

        <div>
          <div class="box-light" ng-repeat="produto in vm.produtos" ng-if="produto.checked">
            {{produto.st_produto}}
          </div>
        </div>

        <div class="txt-big vlr-total">
          <b>Valor Total</b>
          <b>{{vm.getValorTotal() | currency : 'R$ '}}</b>
        </div>

        <div>
          <a class="btn btn-block btn-brand" ng-click="vm.continuar()">
            Continuar
          </a>
          <a class="btn btn-block btn-brand btn-outline" ng-click="vm.voltar()">
            Cancelar solicitação
          </a>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
