@import "../../../scss/common";

.financeiro-list {

  .aviso-quero-pago {
    text-align: center;
    padding: 15px;

    img {
      width: 300px;
      margin: 25px auto;
      cursor: pointer;
    }
  }

  .select-vendas {
    background: #FFFFFF;
    border: 1px solid #A73866;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 32px;
  }

  .text {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    text-align: right;
    color: #8E98A3;
  }
  .button-recorrente{
    border-radius: 8px;
    background-color: white;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    border: 1px solid #A73866;
    color: #682A3C;
    float:right;
    margin-right:20px;
    margin-top: 32px;
  }
  .button-recorrente:hover{
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: #682A3C;
    border: 1px solid #A73866;
    color: white;

  }

}
