<div class="container-fluid nopadding financeiro-list">
  <div class="row row-gutter mb-0 ">
    <div class="col-xs-5">
      <select
        class="form-control select-vendas"
        ng-model="vm.filter.id_venda"
        ng-options="lancamento for lancamento in vm.lancamentos.vendas | orderBy: 'vm.lancamentos.vendas':'desc'"
        ng-if="vm.lancamentos.vendas.length > 1"
      >
        <option value="">Todos os contratos</option>
      </select>
    </div>
    <a ng-if="vm.idsituacao !== 4 && !vm.filter.id_venda === false && vm.validaRecorrente(vm.bl_recorrente) === true||
       vm.idsituacao !== 4 && vm.lancamentos.vendas.length == 1 && vm.validaRecorrente(vm.bl_recorrente) === true"
       ng-click="vm.alterarRecorrente()"
       target="_blank"
       class="button-recorrente" tooltip-placement="top" uib-tooltip="Clique para fazer a troca do cartão utilizado no seu pagamento">
      Alterar cartão recorrente
    </a>
  </div>
  <p class="text">Valores até a data de vencimento.</p>
  <div>
    <div
      ng-repeat="lancamento in vm.lancamentos.cursos | orderBy: vm.orderby"
      ng-if="vm.getFiltroVenda(lancamento)">
      <pw-lancamento lancamento="lancamento" bltaxa="0"></pw-lancamento>
    </div>
    <div class="lancamentos-taxa" ng-if="vm.lancamentos.outrosProdutos.length > 0">
      Taxas
      <div
        ng-repeat="lancamento in vm.lancamentos.outrosProdutos | orderBy:'+dt_vencimento'"
        ng-click="vm.visualizarLancamento($event, lancamento)">
        <pw-lancamento lancamento="lancamento" bltaxa="1"></pw-lancamento>
      </div>
    </div>
  </div>
</div>
