<div id="pcCertificacaoConferir">
  <pc-certificacao-cabecalho
    show-btn="true"
    title="Confirmação de dados"
    subtitle="Analise o arquivo abaixo e informe se necessitam de algum ajuste (nome, endereço, etc), para que seu
    certificado seja elaborado com os dados corretos.">

  </pc-certificacao-cabecalho>
  <hr class="mb-4 mt-4"/>
  <pw-certificacao-conferir></pw-certificacao-conferir>
</div>
