<div class="login-box well">
  <div class="login-box-header"><img ng-src="{{vm.logoUrl}}"/></div>
  <div class="login-box-body">

    <form novalidate ng-submit="vm.doLogin()" name="formLogin" id="formLogin" ng-if="vm.acessar" class="formLogin">
      <h5 class="subtitulo ng-binding">Portal do Aluno</h5>
      <div class="login-box-info">Preencha as informações abaixo:</div>
      <div class="form-group form-group-login">
        <input type="text" ng-model="vm.user.login" class="form-control form-control-login" id="login" name="login"
               placeholder="E-mail"
               ng-pattern="vm.validLogin" ng-maxlength="70" maxlength="70" char-filter required/>
      </div>
      <div class="form-group form-group-login">
        <input required type="password" ng-model="vm.user.senha" class="form-control form-control-login" id="senha"
               placeholder="Senha">
      </div>
      <div class="login-box-error-message" ng-show="formLogin.login.$invalid">
        <span ng-show="formLogin.login.$error.pattern">
         {{vm.textValidate}}
        </span><br>
        <span ng-show="formLogin.login.$error.maxlength">O limite máximo de caracteres permitidos é 70.</span>
      </div>
      <div class="login-box-esqueci-senha center-block" ng-click="vm.acessar = false">
        <div class="text-center text-icon">
          <i class="icon icon-icon_seg"></i>
          <span>Esqueci minha senha</span>
        </div>
      </div>
      <div class="btn-login-box">
        <button type="submit" class="btn btn-login" ng-disabled="formLogin.$invalid" ladda="vm.loginLoading"
                data-style="expand-left">
          ENTRAR
        </button>
      </div>
    </form>

    <form novalidate ng-submit="vm.doRecuperarSenha()" name="formRecuperarSenha" id="formRecuperarSenha"
          ng-if="!vm.acessar">
      <div class="login-box-info">Informe seu e-mail para recuperar sua senha</div>
      <div class="form-group form-group-login">
        <input required type="email" ng-model="vm.user.login" class="form-control form-control-login" id="st_email"
               placeholder="seuemail@seudominio.com.br">
      </div>
      <div class="login-box-esqueci-senha text-icon" ng-click="vm.acessar = true">
        <i class=" icon icon-icon_video"></i>
        <span>
            Voltar
          </span>
      </div>
      <div class="btn-login-box">
        <button type="submit" class="btn btn-primary btn-inverse btn-login" ng-disabled="formRecuperarSenha.$invalid"
                ladda="vm.loginLoading" data-style="expand-left">
          RECUPERAR
        </button>
      </div>
    </form>

  </div>
</div>
