@import "../../../scss/common";
.login-overlay {
    background-image: url("../../../../assets/img/bg-leya-portal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $cor-marca-7;
    color: $cinza-6;
    padding-top: 5%;
}
.login-view {
    .subtitulo{
        color: $default;
    }
    .login-box {
        max-width: 400pt;
        max-height: 300pt;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: rgba($geloRgb, 0.8);
        position: relative;
        border-radius: 5pt;
        -moz-border-radius: 5pt;
        display: table;
    }

    .login-box-header {
        text-align: center;
        height: 60pt;
        img {
            margin-top: 8pt;
            max-height: 40pt;
        }
    }
    .login-box-body {
        margin-top: 38pt;
        margin-right: 40pt;
        margin-left: 40pt;
        text-align: center;

    }
    .login-box-info {
        font-size: 11pt;
        color: $default5;
        margin-bottom: 5pt;
    }
    .login-box-esqueci-senha {
        color: $cinza-6;
        text-align: left;
        margin-top: 20pt;
        margin-bottom: 30pt;
        font-size: 11pt;
        cursor: pointer;
        i{
            font-size: 11pt;
            color: $default;
        }
    }
    .form-control-login {
        color:$cinza-6;
        border: 1px solid rgba(254, 63, 81, 0.3);
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .btn-login-box {
        position: relative;
        left: 50%;
        margin-bottom: 30pt;
        .btn-login {
            position: relative;
            left: -50%;
        }
        .btn.btn-primary.btn-inverse:hover, .btn.btn-primary.btn-login:hover {
            color: #FFFFFF;
        }
    }
    .btn-login {
        padding: 6pt 25pt;
        color: $branco;
        border-color: $cor-marca-7;
        background: $cor-marca-7;
    }
    .form-group-login {
        margin-bottom: 5pt;
    }
    input {
        @include placeholder {
            color: $cor-marca-10;
            font-family: 'Ubuntu';
            font-size: 12pt;
        }
    }
}
.login-box-error-message {
    font-size: 10px; color: $brand-danger;
    text-align: left;
}
@media (max-width: $grid-float-breakpoint) {
    .login-overlay{
        padding: 0;

    }
    .login-view {
        .login-box-header{
            padding: 0;
            text-align: center;
        }
        .login-box {
            max-height: 100%;
            .login-box-body{
                padding-top: 30px;
                margin: auto;
            }
        }
    }
}
