@import "../../scss/common";

.ui-input {

  .ui-input-label {
    display: block;
  }

  .ui-input-label-text {
    margin: 4px 0;
  }

  input,
  select,
  textarea {
    border-color: $brand-primary;
    border-radius: 4px;
  }

}
