<perfect-scrollbar id="pcAtividadeComplementarList" class="scroll-wrapper font-default default-bg">
  <div class="loading-fill" ng-if="vm.loading && vm.loadingGif">
    <img ng-src="{{vm.loadingGif}}" />
  </div>

  <ui-container>
    <ui-title
      title="Atividades Complementares"
      subtitle="Aqui estão suas atividades complementares."
      icon="<i class='icon-icon_disc'></i>"
      divider="true"
    ></ui-title>
    <div>
      <div>
        <div class="pull-right">
          <a class="btn btn-primary" type="button"
            ng-click="vm.abrirForm()">
            Cadastrar Atividade Complementar
          </a>
        </div>
        <div>
          <p>
            Quantidade de horas para aprovação: {{ vm.nu_horasprojeto }}
          </p>
          <p>
            Somatório de horas deferidas: {{ vm.nu_horasaluno }}
          </p>
        </div>
      </div>

      <div class="table-responsive" ng-if="vm.atividades.length">
        <table class="table table-hover table-striped table-bordered nomargin">
          <thead>
          <tr>
            <th>Título da Atividade Complementar</th>
            <th>Tipo da Atividade Complementar</th>
            <th>Quantidade de horas deferidas</th>
            <th>Informações Adicionais</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="atividade in vm.atividades">
            <td>
              {{ atividade.st_tituloatividade }}
            </td>
            <td class="text-center">
              {{ atividade.st_tipoatividade }}
            </td>
            <td class="text-center">
              {{ atividade.nu_horasconvalidada || '-' }}
            </td>
            <td class="text-center">
              <span ng-if="!atividade.st_resumo && !atividade.st_observacaoavaliador">-</span>
              <a data-toggle="modal" data-target="#atividadeObservacaoModal" ng-if="atividade.st_resumo || atividade.st_observacaoavaliador"
                 ng-click="vm.clickAtividadeObservacao(atividade)">
                <i class="glyphicon glyphicon-eye-open"></i>
              </a>
            </td>
            <td class="text-center">
              <b
                class="text-{{ atividade.id_situacao == 200 ? 'success' : (atividade.id_situacao == 201 ? 'danger' : 'info') }}">
                <h7> {{ atividade.st_situacao }} </h7>
              </b>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ui-container>
</perfect-scrollbar>

<div id="atividadeObservacaoModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Informações Adicionais</h4>
      </div>
      <div class="modal-body pc-border-box-user">
        <h5 class="pc-text">Você:</h5>
        <p style="word-wrap: break-word" class="pc-text">{{ vm.st_resumo }}</p>
      </div>
      <div ng-if="vm.st_observacaoavaliador" class="modal-body pc-border-box">
        <h5 class="pc-text-avaliador">{{ vm.st_nomecompletoanalise }}</h5>
        <p style="word-wrap: break-word" class="pc-text-avaliador">{{ vm.st_observacaoavaliador }}</p>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
