@import "../../../scss/common";

#pcAtividadeComplementarList {
}

#atividadeObservacaoModal {

  .pc-border-box-user {
    background: #FFFFFF;
    border: 1px solid #8E98A3;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .pc-border-box {
    color: #682A3C;
    background: #F2F2F2;
    border: 1px solid #8E98A3;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .pc-text {
    margin-left: 10px;

  }
  .pc-text-avaliador {
    color: #A73866;
    margin-left: 10px;
  }
}
