@import "../../../scss/common"; // Talvez você precise alterar este destino

.pc-modulo-main {
  .modulo-conteudo {
    iframe {
      min-height: calc(100vh - 280px);
    }
  }

  .list {
    border-right: $cinza-4 1px solid;
  }

  .btn-full-screen {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background-color: transparent;
  }
}
