<perfect-scrollbar class="scroll-wrapper">
    <div class="container-fluid">
        <div class="margin170">
            <div class="row pc-title-class">
                <div class="col-xs-12 col-sm-8 pc-title-class-title-container  nopadding">
                  <div class="col-xs-6">
                    <div class="pull-left pc-title-class-icon"><div class="icone-calendario-preto"></div></div>
                    <p class="pc-title-class-title">Cronograma</p>
                    <p class="pc-title-class-description">Acompanhe o cronograma. </p>
                    <p class="pc-title-class-description"> </p>
                  </div>
                  <div class="col-xs-6 text-center">
                    <button type="button" class="button-calendario" popover-trigger="close"
                            ng-if="vm.calendarioAcademico && vm.calendarioAcademico.length"
                            ng-click="vm.redirecionaCalendarioAcademico()">
                      Veja o calendário acadêmico</button>
                  </div>
                </div>
            </div>
            <div class="row" ng-if="vm.loading">
                <div class="col-lg-12">
                    <img ng-src="{{vm.loadingGif}}" class="loading" />
                </div>
            </div>
            <div class="row col-lg-12 text-center padding">
                <div ng-if="vm.cronograma === false" class="row col-lg-12 text-center padding"><h1>Cronograma indisponível no momento.</h1></div>
                <div class="" ng-repeat="cronograma in vm.cronograma">
                    <div class="tabelaCronograma">
                        <span class="tituloCronograma no-margin-b ng-binding">{{cronograma.titulo}}</span>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered no-margin-all">
                        <thead>
                            <tr>
                                <th class="text-center">Disciplina</th>
                                <th class="text-center">Início</th>
                                <th class="text-center">Término</th>
                                <th class="text-center">Carga Horária</th>
                                <th class="text-center">Professor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cronograma.dados">
                                <td class="col-md-4 text-center">
                                    {{item.st_disciplina}}
                                </td>
                                <td class="col-md-1 text-center">
                                    {{item.dt_abertura}}
                                </td>
                                <td class="col-md-1 text-center">
                                    {{item.dt_encerramento}}
                                </td>
                                <td class="col-md-2 text-center">
                                    {{item.nu_cargahoraria}}
                                </td>
                                <td class="col-md-4 text-center">
                                    {{item.st_professortitular}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</perfect-scrollbar>
