.tituloCronograma {
    font-size: 22px;
    color:white;
}

.tabelaCronograma {
    background-color: #A73866;
}

.tabelaCronograma+table{
    font-size: 14px;
}

.button-calendario {
    margin-top: 5px;
    padding: 7px 15px 7px 15px;
    background: #FFFFFF;
    border: 1px solid #A73866;
    box-sizing: border-box;
    border-radius: 8px;
    color: #A73866;
    font-weight: bold;
}
