<div class="" id="pwCertificacaoConferir">
  <!--Gif de carregando-->
  <div class="loading-text mt-4" ng-if="vm.loading && vm.loadingGif">
    Buscando informações...
  </div>

  <div ng-if="!vm.loading">
    <div class="dados-certificacao-box">
      <div class="informacoes-box">
        <div>
          <label>Dados pessoais</label>
          <p>Nome: {{vm.dadosAluno.st_nomecompleto}}</p>
          <p>CPF: {{vm.dadosAluno.st_cpf | asCPF}}</p>
          <p>Documento de identificação: {{vm.dadosAluno.st_rg}} {{vm.dadosAluno.st_orgaoexpeditor}}</p>
        </div>
      </div>
    </div>
    <div class="dados-certificacao-box" style="margin-top:10px">
      <div class="informacoes-box">
        <div>
          <label>Dados do curso </label>
          <p>Nome do curso: {{vm.MatriculaAtiva.st_curso}}</p>
          <p ng-if="vm.informacoesCertificacao.st_areaconhecimento">Área do curso:
            {{vm.informacoesCertificacao.st_areaconhecimento}}</p>
          <p>Carga horária do curso: {{vm.informacoesCertificacao.nu_cargahorario}} horas</p>
          <p>Período de realização: {{vm.informacoesCertificacao.dt_inicio.substr(0, 10) | date: 'dd/MM/yyyy'}} a
            {{vm.informacoesCertificacao.dt_fim | asDate: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>

    <div class="container-interacoes" ng-if="!vm.loadingInteracoes">
      <div class="container-buttons flex" ng-if="!vm.exibirCampoAjustes && !vm.dadosConfirmados">
        <button type="button" class="btn-estilo-padrao btn-ajustes" ng-click="vm.exibirCampoAjustes = true"
                ng-if="!vm.atendimentoOcorrencia">
          Precisa de ajustes
        </button>

        <button type="button" class="btn-estilo-padrao btn-preenchido" ng-click="vm.confirmarDados()">
          Confirmo os dados
        </button>
      </div>

      <div class="container-mensagem-ajustes" ng-if="vm.exibirCampoAjustes">
        <div class="flex">

          <label for="textoAjustes">
            <p class="label-text-area titulo-textarea">Precisa de ajustes</p>
            <p class="label-text-area descricao-textarea">Descreva os ajustes necessários:</p>
          </label>

          <button class="btn-fechar flex-col-right" ng-click="vm.exibirCampoAjustes = false">
            Fechar
            <img class="button-close" ng-src="{{vm.iconClose}}" alt="Botão para fechar o campo de texto sobre ajustes"/>
          </button>

        </div>
        <textarea id="textoAjustes" rows="5" placeholder="Escreva aqui sua mensagem" ng-model="vm.textoAjuste"
                  class="input-style input-area pc-info-style text-area" required>
    </textarea>
        <div class="container-buttons flex text-right">
          <button type="button" class="btn-estilo-padrao btn-ajustes" ng-click="vm.exibirCampoAjustes = false">
            Cancelar
          </button>

          <button type="button" class="btn-estilo-padrao btn-preenchido" ng-click="vm.enviarMensagemAjuste()">
            Enviar mensagem
          </button>
        </div>

      </div>

      <div class="mensagem__box interessado" ng-if="vm.dadosConfirmados">
        <div class="flex-grid justify-between ">
          <div class="title_mensagem__box interessado">
            Confirmo os dados:
          </div>
          <span class="data__ultima_msg">{{historico.dt_cadastro.substr(0, 10) | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="text_mensagem__box interessado">
          Os dados acima estão corretos.
        </div>
      </div>

      <div class="mensagem__box interessado" ng-if="vm.atendimentoOcorrencia">
        <div class="flex-grid justify-between ">
          <div class="title_mensagem__box interessado">
            Precisa de ajustes:
          </div>
          <span class="data__ultima_msg">{{historico.dt_cadastro.substr(0, 10) | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="text_mensagem__box interessado">
          <p>Foi aberta ocorrência de ajuste dos dados no Serviço de Atenção.</p>
          <p>O número da ocorrência é {{vm.atendimentoOcorrencia.id_ocorrencia}}.</p>
          <p class="encerrada" ng-if="vm.dadosConfirmados">A ocorrência foi encerrada.</p>
        </div>
        <div class="container-buttons">
          <button type="button" class="btn-estilo-padrao btn-ajustes"
                  ng-click="vm.visualizarChamado(vm.atendimentoOcorrencia.id_ocorrencia)">
            Acompanhar ocorrência
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="loading-text mt-4" ng-if="vm.loadingInteracoes && vm.loadingGif">
    Buscando ocorrências...
  </div>
</div>
