@import "../../../scss/common";
@import "../../../scss/customize/variables";

//Utils
@mixin text-style-base($fontWeight, $fontSize, $lineHeight, $color) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

#pwCertificacaoConferir {

  padding-bottom: 150px;
  margin-right: 10px;

  .justify-between {
    justify-content: space-between;
  }

  .dados-certificacao-box {
    background: #FFFFFF;
    border: 1px solid rgba(142, 152, 163, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 16px;

    .informacoes-box {
      p {
        @include text-style-base(400, 16px, 23px, #828282);
      }
    }
  }

  .container-buttons {
    //.right
    .btn-estilo-padrao {
      background: #FFFFFF;
      box-sizing: border-box;
      padding: 5px 15px;
      border: 1px solid $brand-primary;
      border-radius: 6px;
      margin-bottom: 12px;
      @include text-style-base(400, 14px, 23px, $default5);
      margin-top: 17px;

      &.btn-preenchido {
        background: $brand-primary;
        color: #FFF;
      }

      &:hover,
      &:focus {
        background-color: lighten($brand-primary, 50);
        color: $brand-primary !important;
      }
    }
  }

  //componente de envio mensagem de ajuste
  .container-mensagem-ajustes {
    margin-top: 25px;
    margin-bottom: 25px;

    .btn-fechar {
      @include text-style-base(500, 16px, 23px, #8E98A3);
      text-align: right;
      float: right;
      border: none;
      background: none;
      //margin-left: 720px;
    }

    .label-text-area {
      margin: 0;
      padding: 0;

      &.titulo-textarea {
        @include text-style-base(500, 16px, 23px, #4F4F4F);

      }

      &.descricao-textarea {
        @include text-style-base(300, 16px, 23px, #4F4F4F);
      }
    }

    textarea {
      background: #FFFFFF;
      border: 1px solid #A73866;
      box-sizing: border-box;
      border-radius: 6px;
      width: 100%;
      padding-top: 10px;
      padding-left: 10px;

      &::placeholder {
        @include text-style-base(normal, 14px, 23px, #A4A9AE);
      }

    }
  }

  .data__ultima_msg {
    @include text-style-base(300, 13px, 23.3px, #515151);
  }

  .mensagem__box {
    background: #F2F2F2;
    border: 1px solid rgba(142, 152, 163, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-top: 10px;

    .title_mensagem__box {
      @include text-style-base(bold, 14px, 23px, $cor-marca-7);
      margin-bottom: 5px;

      &.interessado {
        color: #333333;
      }
    }

    .text_mensagem__box {
      @include text-style-base(500, 14px, 23px, $cor-marca-7);

      &.interessado, &.interessado p {
        @include text-style-base(300, 14px, 23px, #333333);
        margin-bottom: 0;
        padding-bottom: 0;

        &.encerrada {
          font-weight: 700;
          color: #616161;
        }
      }

    }

    &.interessado {
      background: #FFFFFF;
      border: 1px solid #616161;
      color: #333333;
    }
  }


}
