#pcRenovacaoTabela {
  .tdTabela > div {
    background-color: #5CD11E;
    margin: 1px;
    padding: 0.8px;
    flex: 1 100%;
  }

  .tabela {
    border: 1px solid #f3f3f3;
    background-color: white;
    overflow: scroll;
    max-width: 80vw;
  }

  tr > .titulo-semestre, th:nth-child(2), th:nth-child(1) {
    border: 0;
    padding: 5px;
  }

  tr > th {
    padding: 5px;
  }

  th, td {
    border-left: 1px solid #f3f3f3;
  }

  tbody {
    border-bottom: 1px solid #f3f3f3;
  }

  table {
    margin: 5px;
    color: #616161;
    border-collapse: collapse;
  }

  .disciplina-renovacao {
    padding: 2px;
  }

  .disciplina-renovacao + .toolTip {
    display: none;
    margin: 5px;
    width: auto;
    background-color: #616161;
    color: #EEEEEE;
  }

  .disciplina-renovacao:hover + .toolTip {
    display: inherit;
    opacity: 1;
  }

  /* Controle do comportamento das regiões quando a tela esta pequena*/
  @media all and (max-width: 768px) {
    .tabela {
      overflow: scroll;
      max-width: 80vw;
    }

    .divisorG {
      text-align: center;
    }

    .caixaTexto {
      justify-content: center;
    }
  }
}
