<div id="pcRenovacaoTabela" class="tabela">
  <table>
    <tr>
      <th></th>
      <th ng-repeat="oferta in vm.ofertas">{{oferta | asDate: 'dd/MM'}}</th>
    </tr>
    <tbody ng-repeat="semestre in vm.semestres">
      <tr>
        <td class="titulo-semestre" rowspan="2">{{semestre.replace('Semestre', '')}}</td>
        <td class="tdTabela" ng-repeat="oferta in vm.ofertas">
          <div
            ng-repeat="sala in vm.salasSelecionadas"
            ng-if="sala.st_modulo === semestre && sala.dt_abertura === oferta && sala.id_tipooferta !== vm.TipoOfertaConstante.PERENE"
          >
            <div class="disciplina-renovacao" id="disciplina"></div>
            <label class="toolTip">{{sala.st_disciplina}}</label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="tdTabela" colspan="{{vm.ofertas.length}}">
          <div
            ng-repeat="sala in vm.salasSelecionadas"
            ng-if="sala.st_modulo === semestre && sala.id_tipooferta === vm.TipoOfertaConstante.PERENE"
          >
            <div class="disciplina-renovacao" id="disciplina2"></div>
            <label class="toolTip">{{sala.st_disciplina}}</label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
