// Cores Padrão
$verde-txt: #4caf50;
$verde-bg: #81c784;
$verde-bg-light: #c8e6c9;

$amarelo-txt: #999900;
$amarelo-bg: #ffffb2;
$amarelo-bg-light: #ffffe5;

$branco-txt: #615f5f;
$branco-bg: white;
$branco-bg-light: white;

$azul-txt: #2196f3;
$azul-bg: #64b5f6;
$azul-bg-light: #bbdefb;

$cinza-txt: #9e9e9e;
$cinza-bg: #e0e0e0;
$cinza-bg-light: #f5f5f5;

$vermelho-txt: #f44336;
$vermelho-bg: #e57373;
$vermelho-bg-light: #ffcdd2;

$laranja-txt: #ff9800;
$laranja-bg: #ffb74d;
$laranja-bg-light: #ffe0b2;

$rosa-txt: #e91e63;
$rosa-bg: #f06292;
$rosa-bg-light: #f8bbd0;

$roxo-txt: #9c27b0;
$roxo-bg: #ba68c8;
$roxo-bg-light: #e1bee7;
