/**
 * Arqivo de mixins
 */

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin border-radius($raio) {
  -webkit-border-radius: $raio !important;
  -moz-border-radius: $raio !important;
  border-radius: $raio !important;
}

@mixin text-lines($fontsize, $numberlines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $numberlines;
  word-wrap: break-word;
  line-height: $fontsize + 2;
  max-height: ($fontsize * $numberlines) + 4;
  white-space: normal !important;
}

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction)==false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

// @mixin text-lines($fontsize,$numberlines) {
//   position: relative;
//  height: ($fontsize * $numberlines) + 2;
//   overflow: hidden;
//   text-overflow: ellipsis;
// &:after {
//   content: "";
//   text-align: right;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 70%;
//   height: $fontsize;
//   background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
// } }
@mixin transition-custom {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin marked-left($color, $top) {
   ::after,
  ::before {
    right: 0;
    top: $top;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  ::after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: $color;
    border-width: 15px;
    margin-top: -12px;
  }
  ::before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: $color;
    border-width: 17px;
    margin-top: -14px;
  }
}

@mixin background-overlay-alerts($imgUrl) {
  background-image: url($imgUrl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: $cor-marca-7;
}

@mixin text-style-base($fontWeight, $fontSize, $lineHeight, $color) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}
