body {
    overflow: hidden;
}

object[type*='application/gas-events'] {
    display: none;
}
.dt-BOTfloater{
    display: none !important;
}
.app {
    width: 100%;
    height: 100%;

    a {
        cursor: pointer;
    }

    .content-wrapper {
        z-index: 0;
        bottom: 0;
        top: 0;
        position: relative;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        @include transition-custom;
    }
}

.loading {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading-text {
    &:before {
        content: '';
        background-image: url('../../../../assets/img/loading.gif');
        background-size: 1em 1em;
        display: inline-block;
        margin: -.2em .4em 0 0;
        vertical-align: middle;
        height: 1em;
        width: 1em;
    }
}

.default-bg {
    background-color: $cinza-2;
}

.message-show {
    padding: 0 $default-padding 0 75px;
    font-size: $font-size-small;
    background-color: $branco;

    .titulo-mensagem {
        width: 100%;
        height: 95px !important;
        position: relative;
        padding: 16px 0;
        border-bottom: 2px solid $cor-marca-3;
        color: $cinza-6;

        .glyphicon {
            font-size: $font-size-h1;
            position: absolute;
            left: -75px;
            top: 30px;
            color: $cor-marca-11;
        }

        .title {
            margin-bottom: 10px;
            font-size: $font-size-h3;
        }

        .desc {
            font-size: $font-size-default;
        }
    }

    .corpo-mensagem {
        // color: #A3A5A7;
        font-size: $font-size-small;
        padding: $default-padding 0;
    }
}

.col-content,
.col-sidebar {
    @include transition-custom;
}
//------------------------------------------------
//** Media querys
@media (max-width: $screen-md-min) {
    .identificacao-aluno {
        display: none;
    }
}
@media (min-width: $grid-float-breakpoint) {
    .topbar {}

    .content-wrapper {
        height: calc(100% - 60px);
    }

    .toggled {
        // Define tamanho da coluna da barra
        .col-sidebar {
            width: 45px;

            .navbar {
                a {
                    padding: 10px 0;
                }

                .navbar-collapse {
                    padding: 0;
                    //Esconde o texto do menus
                    span {
                        // display: none;
                    }
                }
                // Ajusta a logo e o toogle
                .navbar-brand {
                    padding: 0 0 0 3px;

                    .toogle {
                        left: 0;
                        width: 60px;
                        position: relative;
                        height: 60px;
                        @include transition-custom;
                    }

                    .img-logo-topo {
                        height: 100%;
                        margin-left: 0;
                        position: absolute;
                        width: 38px;
                        height: auto;
                    }
                }
                .navbar-toggle {
                    padding-left: 10px;
                    }
            }
        }
        // Define tamanho da coluna do conteudo
        .col-content {
            @include transition-custom;
            width: calc(100% - 45px);
            position: absolute;
            right: 0;
        }

        .topbar {}
    }
}
@media (max-width: $grid-float-breakpoint) {
    padding: 0 $default-padding;

    .identificacao-aluno {
        display: none;
    }

    .glyphicon {
        display: none;
    }
    .background-graphic-h {
        display: none;
    }


}
/**
 * Css dos titulos de funcionalidades
 */
.pc-title-class {
    padding-top: $default-padding;
    padding-bottom: 10px;

    .pc-title-class-icon {
        padding: 5px $default-padding 0;

        i {
            color: $cinza-6;
            font-size: 42px;
        }
    }

    .pc-avatar-class-container{
        .pc-avatar-class-title{
            margin-bottom: 0;
            font-size: 12px;
            color: $cinza-5;
            cursor: default;
        }
    }

    .pc-title-class-title-container {
        .pc-title-class-title {
            font-size: 22px;
            font-weight: normal;
            margin-bottom: 0;
        }

        .pc-title-class-description {
            margin-bottom: 0;
            font-size: 12px;
            color: $cinza-5;
        }
    }
}
/**
 * Marcacao de listas com triangulo
 */
.marked:after,
.marked:before {
    left: 0;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.marked:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: $cinza-2;
    border-width: 12px;
    margin-top: -12px;
}

.marked:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $cinza-8;
    border-width: 14px;
    margin-top: -14px;
}

/**
 * Marcacao de listas com triangulo
 */
.marked-left:after,
.marked-left:before {
    right: 0;
    top: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.marked-left:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: $preto;
    border-width: 15px;
    margin-top: -12px;
}

.marked-left:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: $preto;
    border-width: 17px;
    margin-top: -14px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.border-top-large {
    border-top: solid 5px $cor-marca-4;
}
//Classes para alinhamento utilizando CSS3 flexbox.
.flex-container-vertical-align {
    display: flex;
    align-items: center;
}
// Classe do componente de upload
.form-group-upload {
    min-height: 100px;

    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 100%;
        height: 100px;
        line-height: 90px;
        text-align: center;
        vertical-align: middle;
        span {
            margin: 0 auto;
            vertical-align: middle;
        }
    }

    .dragover {
        border: 5px dashed blue;
    }
}

.alertify-notifier.ajs-top {
  top: 60px !important;
}

// Bootstrap Gutter
.row.row-gutter {
  margin-left: -15px;
  margin-right: -15px;
}

.row.row-gutter > * {
  padding-left: 15px;
  padding-right: 15px;
}

.no-wrap {
    white-space: nowrap;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

/** FLEXBOX GRID */
.flex-grid {
  display: flex !important;
  flex-flow: row nowrap;
}

.flex-vertical {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.flex-wrap {
    flex-flow: row wrap;
}

.flex-gutter {
  margin-left: -15px;
  margin-right: -15px;
}

.flex-grid.flex-gutter > * {
  padding-left: 15px;
  padding-right: 15px;
}

.flex-top {
  align-items: flex-start;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-middle {
  align-items: center;
}

.flex-col {
    display: block;
}

.flex-col-fill {
  flex: 1;
}

.flex-col-left {
  margin-right: auto;
}

.flex-col-right {
  margin-left: auto;
}


.img-circle{
    object-fit: cover;
    object-position: 50% 0%;
    height: 50px;
    width: 50px;
}

perfect-scrollbar{
    display: block;
    overflow: auto;
    height: 100%;
}

// Dar destaque num elemento por alguns segundos
@keyframes unhighlight {
    0% {background-color: $laranja-bg-light}
    10% {background-color: $laranja-bg-light}
    100% {background-color: #fff}
}

@-webkit-keyframes unhighlight {
    0% {background-color: $laranja-bg-light}
    10% {background-color: $laranja-bg-light}
    100% {background-color: #fff}
}

.highlighted {
  animation: unhighlight 3s;
  -webkit-animation: unhighlight 3s;
  -moz-animation: unhighlight 3s;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg)}
  to {-webkit-transform: rotate(360deg)}
}

@keyframes rotate {
  from {transform: scale(1) rotate(0deg)}
  to {transform: scale(1) rotate(360deg)}
}

.glyphicon-animate-circle {
  animation: rotate .6s infinite linear;
  -webkit-animation: rotate .6s infinite linear;
  -moz-animation: rotate .6s infinite linear;
}

// CARDS
.card {
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card > hr {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
    border-top: 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

//WIZARD STEPS
.wizard {
    position: relative;
    counter-reset: wiz;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;

    &:before {
        position: absolute;
        top: 30px;
        left: 0;
        border: 3px solid #ddd;
        content: '';
        width: 100%;
    }

    .wizard-step {
        position: relative;
        color: #666;
        counter-increment: wiz;
        display: inline-block;
        flex: 1;
        font-size: 1.4rem;
        padding: 15px;
        text-align: center;
        text-decoration: none !important;

        &[disabled] {
            pointer-events: none;
            cursor: not-allowed;
        }

        &:before {
            position: relative;
            background-color: #ddd;
            border-radius: 50%;
            color: #666;
            content: counter(wiz);
            display: block;
            font-size: 1.2em;
            font-weight: bold;
            line-height: 35px;
            margin: 0 auto 5px;
            text-align: center;
            width: 35px;
            z-index: 2;
        }

        &:after {
            position: absolute;
            top: 30px;
            left: 0;
            border: 3px solid #ddd;
            content: '';
            width: 100%;
        }

        &.active {
            &:before {
                background-color: $brand-primary;
                color: #fff;
            }

            &:after {
                border-color: $brand-primary;
            }
        }

        &.complete {
            &:before {
                background-color: $brand-success;
                color: #fff;
                content: '✓';
            }

            &:after {
                border-color: $brand-success;
            }
        }
    }
}


// Ícones personalizados
.icone-calendario-preto{
    padding: 10px;
    width: 40px;
    height: 36px;
    margin: 3px 0 0 1px;
    background: none;
    background-image: url('../../../../assets/img/icone_calendario_preto.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.icone-calendario-branco{
    background: url("../../../../assets/img/icone_calendario_branco.svg") center center/90% no-repeat;
}

.icone-avisos-branco {
    background: url("../../../../assets/img/icons/icon-aviso-branco.svg") center center/90% no-repeat;
}

.icone-certificacao-menu {
    background: url("../../../../assets/img/icons/icon-certificacao-branco.svg") center center/100% no-repeat;
}

.icone-certificacao-conteudo {
    background: url("../../../../assets/img/icons/icon-certificacao-cinza.svg") center center/100% no-repeat;
}

.icone-avisos-preto{
    padding: 10px;
    width: 40px;
    height: 36px;
    margin: 0px 13px 0px 3px;
    background: none;
    background-image: url('../../../../assets/img/icons/icon-aviso-preto.svg');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: left center;
}

.arrowU {
    padding: 10px;
    background: none;
    background-image: url('../../../../assets/img/arrowU.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left center;
}

.arrowD {
    padding: 10px;
    background: none;
    background-image: url('../../../../assets/img/arrowD.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left center;
}

.arrowDBlack {
    padding: 10px;
    background: none;
    background-image: url('../../../../assets/img/arrowDblack.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left center;
}

.arrowUBlack {
    padding: 10px;
    background: none;
    background-image: url('../../../../assets/img/arrowUblack.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left center;
}

.margin170{
    margin-right:170px;
}

h7{
    font-size: 12px;
}

.nomargin{
    margin:0 !important;
}

.table{
    font-size: 14px;
}

.table > thead > tr >th,  tbody > tr > td{
    font-size: 14px;
    text-align: center;
}


@media all and (max-width: 992px) {
    .margin170{
        margin-right: unset;
    }
}

// Botão padrão para a marca
.btn-brand {
    border-color: $brand-primary;
    border-radius: 4px !important;

    &:not(.btn-xs, .btn-sm, .btn-md, .btn-lg, .btn-xl) {
        padding: 20px 40px;
    }

    &:not(.btn-outline) {
        background-color: $brand-primary;
        color: white;

        &:hover {
            background-color: lighten($brand-primary, 15);
        }
    }

    &.btn-outline {
        color: $brand-primary !important;

        &:hover {
            background-color: lighten($brand-primary, 45);
        }
    }
}

// Modern Nav
.modern-nav {
    background-color: #fff;

    a {
        border-radius: 4px !important;
        display: flex;
        align-items: center;
        background-color: $cinza-2;
        color: $cinza-6;
        font-weight: bold;
        margin-bottom: 15px;
        padding: 15px;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline !important;
        }

        &.selected {
            color: $brand-primary !important;
        }

        .icon {
            font-size: 2.2em;
            margin: 5px 15px 5px 5px;
        }

        small {
            display: block;
            font-weight: normal;
        }
    }
}

// Boder dividers
.left-divider {
    border-left: 1px solid $cinza-3 !important;
}

.right-divider {
    border-left: 1px solid $cinza-3 !important;
}

// Custom Radio/Check Button
input.check-custom,
input.radio-custom {
    -webkit-appearance: none;
    appearance: none;

    position: relative;

    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    margin: -1px 0 1px !important;
    height: 20px;
    width: 20px;

    border-radius: 3px;

    &.radio-custom {
        border-radius: 50%;
    }

    &:before,
    &:checked:after {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: inherit;
        content: '';
        transform: translate(-50%, -50%);
    }

    &:before {
        border: 1px solid #B04B5D;
        height: 20px;
        width: 20px;
    }

    &:checked:after {
        background-color: #B04B5D;
        height: 12px;
        width: 12px;
    }

    &.disabled,
    &:disabled {
        &:before {
            border-color: $cinza-4;
        }

        &:after {
            background-color: $cinza-4;
        }
    }
}


// Fonte padrão do sistema operacional
.font-default:not(.glyphicon):not(.material-icons),
.font-default *:not(.glyphicon):not(.material-icons) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
