@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https:////fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https:////fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

*, html, body,p {
  font-family: 'Raleway',
  sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
}

.numeros_grafico {
  font-size: $font-size-h1;
  font-weight: normal;
  font-family: 'Ubuntu';
}

.titulo {
  font-size: $font-size-h1;
  font-weight: lighter;
  font-family: 'Ubuntu';
}

.subtitulo {
  font-size: $font-size-h3;
  font-weight: normal;
  font-family: 'Ubuntu';
}
.texto-maior{
  font-size: font-size-large;
  font-weight: normal;
}

.texto {
  font-size: floor(($font-size-base * 0.75));
  font-weight: normal;

}

.link {
  font-size: $font-size-default;
  font-weight: lighter;
}

.label_formulario {
  font-size: $font-size-small;
  font-weight: normal;
}

.botao {
  font-size: $font-size-default;
  font-weight: normal;
}

.menu {
  font-size: $font-size-default;
  font-weight: normal;
}

.nome_hora {
  font-size: floor(($font-size-base * 0.75));
  font-weight: bold;
}

.campo {
  font-size: $font-size-default;
  font-weight: normal;;
}
.light{
  font-weight: 300;
}
