@import "../../../scss/common"; // Talvez você precise alterar este destino
@media screen {
  .popoverAtendimento {
      min-width: 450px !important;
  }
}

@media (max-width: 480px) {
  .popoverAtendimento {
      min-width: 150px !important;
  }
}
