@import "../../scss/common";
// Talvez você precise alterar este destino
@import "../../scss/customize/variables"; // Talvez você precise alterar este destino

.chart-small {
  font-size: 14px !important;
  height: 60px !important;
  width: 60px !important;
}

.chart-big {
  font-size: 18px !important;
  height: 85px !important;
  width: 85px !important;
}

//Propriedadess gerais
.chart {
  $c-red: #f44336;
  $c-green: #4caf50;
  $c-blue: #7fa2d5;
  $c-yellow: #fbc02d;
  $c-orange: #ef6f0e;

  position: relative;
  height: 70px;
  width: 70px;

  font-size: $font-size-base;
  //font-family: 'Ubuntu', sans-serif !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  .absolute-center {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }

  .chart-portal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
  }

  .circulo {
    position: absolute;
    color: $cinza-9;
    font-size: 70px;
  }

  .valor-porcentagem {
    @extend .absolute-center;
    font-size: 1.1em;
    white-space: nowrap;
    z-index: 15;
  }

  .icon-center {
    @extend .absolute-center;
    font-size: 1.6em;

    .glyphicon {
      display: inline-block !important;
    }
  }

}

.circulo-branco {
  padding: 0;
}

.circulo-cinza {
  padding: 0;
}

.small {
  @extend .chart-small;

  .chart {
    @extend .chart-small;
  }

  .circulo {
    font-size: 60px;
  }
}

.big {
  @extend .chart-big;

  .chart {
    @extend .chart-big;
  }

  .circulo {
    font-size: 85px;
  }
}
