<div class="chart {{vm.mysize}}">
  <span class="icon-circulo_grafico circulo"></span>
  <!-- Se o status não for completo, exibe a porcentagem dentro do chart. -->
  <div ng-if="!vm.isEncerrado() && vm.percent != 100" class="valor-porcentagem numeros_grafico">

    <b>{{vm.completed}}</b>/{{vm.total}}

    <!--
    <span class="" ng-if="vm.hideNumber != true">{{vm.percent}}
      <span class="corpo-3">
        %
      </span>
    </span>
    -->

  </div>

  <div class="icon-center" ng-style="{color: vm.strokeColor}">
    <!-- Completou 100% mas a sala não foi encerrada -->
    <i class="glyphicon glyphicon-ok" ng-if="!vm.isNaoIntegrado() && !vm.isEncerrado() && vm.percent == 100"></i>

    <!-- Sala encerrada -->
    <i class="glyphicon glyphicon-ok" ng-if="!vm.isNaoIntegrado() && vm.isEncerrado()"></i>
    <i class="glyphicon glyphicon-remove" ng-if="vm.isNaoIntegrado()"></i>
  </div>

  <div ng-if="vm.size">
    <canvas
      id="doughnut"
      class="chart chart-doughnut chart-portal"
      height="{{vm.size}}"
      width="{{vm.size}}"
      chart-options="vm.options"
      chart-colors="vm.colors"
      chart-data="vm.data"
      chart-labels="vm.labels"
    ></canvas>
  </div>
</div>
