<div id="pwBoasVindasCurso" class="container-fluid scroll-wrapper border-top-bov ">
  <perfect-scrollbar>

    <img ng-if="bvC.loading && bvC.loadingGif" ng-src="{{bvC.loadingGif}}" class="loading"/>

    <!-- Demais entidade -->
    <div ng-if="!bvC.isGraduacao">
      <div ng-if="bvC.resumoBoasVindasObj.embedVideoApresentacao" class="row">
        <div class="embed-responsive embed-responsive-16by9"
             allowFullScreen="true"
             ng-bind-html="bvC.resumoBoasVindasObj.embedVideoApresentacao"></div>
      </div>
      <div class="" ng-if="!bvC.loading && !bvC.resumoBoasVindasObj.embedVideoApresentacao">
        <div ng-if="bvC.boasVindasCursoFetched && bvC.detalhesCoordenadorFetched" class="col-xs-12 pc-title-class boas-vindas-container">
          <div class="row wrapper-avatar-desc" ng-class="{'no-video' : !bvC.resumoBoasVindasObj.embedVideoApresentacao}">
            <div class="flex-container-vertical-align">
              <div ng-if="bvC.avatarExists" class="col-xs-4">
                <img ng-if="bvC.resumoBoasVindasObj.urlAvatar" ng-src="{{bvC.resumoBoasVindasObj.urlAvatar}}"
                     class="img-responsive img-circle center-block coordenador-avatar">
                <span class="glyphicon icon-icon_pessoa2 avatar-fake img-responsive img-circle center-block coordenador-avatar"
                      ng-if="! bvC.resumoBoasVindasObj.urlAvatar"></span>
              </div>
              <div ng-class="bvC.avatarExists ? 'col-xs-8 text-left' : 'col-xs-12 text-center' ">
                <div class="detalhes-coord">
                  <p class="width100">Prof. <span class="nome-coord">{{bvC.resumoBoasVindasObj.nomeCoordenador}}</span></p>
                  <p class="width100 texto">Coordenador de Curso</p>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="bvC.resumoBoasVindasObj.descricaoCoordenador && !bvC.resumoBoasVindasObj.embedVideoApresentacao" class="row">
            <div class="col-xs-12">
              <div class="pc-title-class-title-container text-center">
                <p class="pc-title-class-description bv-item">{{bvC.resumoBoasVindasObj.descricaoCoordenador}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Para as entidade de Graduação -->
    <div ng-if="bvC.isGraduacao">

      <!-- Video ou Coordenador -->
      <div class="col-xs-12 col-md-6 item-graduacao">
        <div class="container-graduacao">

          <!-- Conheça o Curso -->
          <div ng-if="bvC.resumoBoasVindasObj.embedVideoApresentacao">
            <a ng-click="bvC.openModalVideo()">
              <div class="titulo-boas-vindas">
                <b>
                  Conheça o Curso
                </b>
              </div>
              <div class="container-boas-vindas">
                <img class="img-boas-vindas-graduacao" ng-src="{{bvC.imgConhecaCurso}}"/>
              </div>
            </a>
          </div>

          <!-- Coordenador de Curso-->
          <div class="" ng-if="!bvC.resumoBoasVindasObj.embedVideoApresentacao">
            <div ng-if="bvC.boasVindasCursoFetched && bvC.detalhesCoordenadorFetched" class="col-xs-12 boas-vindas-container-gra">
              <div class="titulo-boas-vindas">
                <b>
                  Coordenador de Curso
                </b>
              </div>
              <div class="container-boas-vindas">
                <div class="row wrapper-avatar-desc" ng-class="{'no-video' : !bvC.resumoBoasVindasObj.embedVideoApresentacao}">
                  <div class="flex-container-vertical-align">
                    <div ng-if="bvC.avatarExists" class="col-xs-4">
                      <img ng-if="bvC.resumoBoasVindasObj.urlAvatar" ng-src="{{bvC.resumoBoasVindasObj.urlAvatar}}"
                           class="img-responsive img-circle center-block coordenador-avatar">
                      <span class="glyphicon icon-icon_pessoa2 avatar-fake img-responsive img-circle center-block coordenador-avatar"
                            ng-if="!bvC.resumoBoasVindasObj.urlAvatar"></span>
                    </div>
                    <div ng-class="bvC.avatarExists ? 'col-xs-8 text-left' : 'col-xs-12 text-center' ">
                      <div class="detalhes-coord">
                        <p class="width100">Prof. <span class="nome-coord">{{bvC.resumoBoasVindasObj.nomeCoordenador}}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="bvC.resumoBoasVindasObj.descricaoCoordenador && !bvC.resumoBoasVindasObj.embedVideoApresentacao" class="row">
                  <div class="col-xs-12">
                    <div class="pc-title-class-title-container text-center">
                      <p class="pc-title-class-description bv-item">{{bvC.resumoBoasVindasObj.descricaoCoordenador}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Ambientação -->
      <div class="col-xs-12 col-md-6 item-graduacao" ng-if="bvC.isMostraAmbientacao">
        <div class="container-graduacao">
          <a ng-click="bvC.redirecionaAmbientacao()">
            <div class="titulo-boas-vindas">
              <b>
                Ambientação
              </b>
            </div>
            <div class="container-boas-vindas">
              <img class="img-boas-vindas-graduacao" ng-src="{{bvC.imgAmbientacao}}"/>
            </div>
          </a>
        </div>
      </div>

      <!-- Manual do Aluno -->
      <div class="col-xs-12 col-md-6 item-graduacao" ng-if="bvC.manualDoAluno.id_upload && bvC.isManualAluno">
        <div class="container-graduacao">
          <a ng-href="{{bvC.manualDoAluno.st_upload}}"
             download="{{bvC.manualDoAluno.st_upload}}" target="_blank">
            <div class="titulo-boas-vindas">
              <b>
                Manual do Aluno
              </b>
            </div>
            <div class="container-boas-vindas">
              <img class="img-boas-vindas-graduacao" ng-src="{{bvC.imgManualAluno}}"/>
            </div>
          </a>
        </div>
      </div>

      <!-- Calendário Acadêmico -->
      <div class="col-xs-12 col-md-6 item-graduacao" ng-if="bvC.calendarioAcademico && bvC.calendarioAcademico.length">
        <div class="container-graduacao">
          <a ng-click="bvC.redirecionaCalendarioAcademico()">
            <div class="titulo-boas-vindas">
              <b>
                Calendário Acadêmico
              </b>
            </div>
            <div class="container-boas-vindas">
              <img class="img-boas-vindas-graduacao" ng-src="{{bvC.imgCalendario}}"/>
            </div>
          </a>
        </div>
      </div>

    </div>

  </perfect-scrollbar>
</div>
