@import "../../../scss/common"; // Talvez você precise alterar este destino

#pwBoasVindasCurso {
  .boas-vindas-container {
    padding: 0px 20px 0px 20px;
    vertical-align: middle;
  }

  .boas-vindas-container,
  .boas-vindas-container-gra {
    .bv-item {
      margin: 10px 0;
    }

    .wrapper-avatar-desc {
      margin: 5px 0;
    }

    .no-video {
      margin-top: 20px !important;
    }

    .border-top-bov {
      border-top: solid 5px $cor-marca-6;
    }

    .coordenador-avatar {
      max-width: 100px;
    }

    .detalhes-coord {
      margin-left: 7px;
      font-weight: bold;
      font-size: 10px;

      .nome-coord {
        font-size: 16px;
      }

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-content: center;
    }
  }

  .container-boas-vindas {
    position: relative;
    display: block;
  }

  .titulo-boas-vindas {
    color: #B04B5D;
    text-align: center;
    margin-bottom: 3px;
    white-space: nowrap;
    font-size: 14px;
  }

  .embed-responsive-6 {
    padding-top: 139px;
    border-radius: 4px !important;
  }

  .embed-responsive-6-gradu {
    padding-top: calc(100% / 1.52);
    border-radius: 4px !important;
  }

  .container-graduacao {
    display: block;
    padding: 15px 15px 5px 15px;
    line-height: normal;
  }

  .img-boas-vindas-graduacao {
    width: 100%;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .titulo-boas-vindas {
      font-size: 10px;
    }
  }

  @media (min-width: 400px) and (max-width: 861px) {
    .item-graduacao {
      width: 50%;
    }
  }
}
