<div id="pcChamadosCabecalho" class="font-default">
  <div class="flex-grid flex-wrap">
    <div class="col-title">
      <ui-title
        title="Serviço de atenção{{ vm.isGraduacao ? ' ao aluno' : '' }}"
        subtitle="Aqui você pode abrir e acompanhar suas ocorrências"
        icon="<i class='icon-icon_atend'></i>"
      ></ui-title>
    </div>
    <div class="col-button">
      <button
        class="btn-new"
        ui-sref="app.chamados.abrir"
      >
        Abrir nova ocorrência
      </button>
    </div>
  </div>
</div>
