@import "../../../scss/common";
@import "../../../scss/customize/variables";

#pcChamadosCabecalho {

  .col-title {
    min-width: 340px;
  }

  .col-button {
    margin: 4px 0 0 auto;
    min-width: 220px;
  }

  .btn-new {
    background-color: #A73866;
    border: none!important;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 5px 5px;
    padding: 8px 4px;
    width: 210px;
  }

  @media (max-width: 400px) {
    .col-title {
      min-width: 0;
      width: 100%;
    }

    .col-button {
      min-width: 0;
      text-align: center;
      width: 100%;
    }
  }

}
