<perfect-scrollbar class="container-unylab-padding">
  <div class="header-unylab" ng-if="!uyl.showTermoOffice365 && !uyl.showTermoUnylab && uyl.etapaIntegracao != uyl.EtapasIntegracaoUnylab.RECUPERAR_DADOS_USUARIO">
    <a ng-if="!uyl.showTermoOffice365 && !uyl.showTermoUnylab" class="row" ui-sref="app.ferramentas-virtuais({idMatriculaAtiva:uyl.params.idMatriculaAtiva})">Voltar</a>
    <div class="title-unylab">UnyLab - Laboratório Virtual</div>
    <div class="separator"></div>
  </div>
  <div class="unylab-container-wrapper">
    <div class="container-conteudo">
      <div id="pcUnylabMain" ng-init="uyl.etapaUsuarioUnylab()">
        <div class="loading-office" ng-if="vm.loading">
          <img alt="Preparando seu ambiente Office 365..." class="mr-2 loading-office-inside" ng-src="{{vm.loadingGif}}" width="50"/>
        </div>
        <!-- Termo de Uso Office365-->
        <div ng-if="uyl.showTermoOffice365" class="termos-uso-office">
          <div ng-click="uyl.abrirTermoOffice365()" class="voltar-termo">Voltar</div>
          <div class="title-aceite">Quero meu acesso gratuito</div>
          <div class="subtitle-aceite">Para obter seu acesso, leia e aceite os termos de uso:</div>
          <div class="title-termo">Termos de uso do Microsoft 365</div>
          <perfect-scrollbar>
            <div class="termos-uso-office">
              <div ng-bind-html="uyl.politicas365" class="li termos-office-text"></div>
            </div>
          </perfect-scrollbar>
          <div class="footer-aceite" ng-if="uyl.etapaIntegracao === uyl.EtapasIntegracaoUnylab.CRIAR_USUARIO">
            <label>
              <input type="checkbox" class="li checkbox-termos" ng-model="checked"/>
            </label>Li e aceito os termos de uso.<br>
            <input type="button" class="botao-acesso-office li" ng-disabled="!checked" ng-click="uyl.verificarUsuarioOffice365()" value="Confirmar"/>
          </div>
        </div>

        <!-- Termo de Uso Unylab-->
        <div ng-if="uyl.showTermoUnylab" class="termos-uso-office">
          <div ng-click="uyl.abrirTermoUnylab()" class="voltar-termo">Voltar</div>
          <div class="title-aceite">Quero meu acesso gratuito</div>
          <div class="subtitle-aceite">Para obter seu acesso, leia e aceite os termos de uso:</div>
          <div class="title-termo">Termos de uso do Unylab</div>
          <perfect-scrollbar>
            <div class="termos-uso-office">
              <div ng-bind-html="uyl.politicasUnylab" class="li termos-office-text"></div>
            </div>
          </perfect-scrollbar>
          <div class="footer-aceite" ng-if="uyl.etapaIntegracao === uyl.EtapasIntegracaoUnylab.CRIAR_USUARIO_UNYLAB">
            <label>
              <input type="checkbox" class="li checkbox-termos" ng-model="checked"/>
            </label>Li e aceito os termos de uso.<br>
            <input type="button" class="botao-acesso-office li" ng-disabled="!checked" ng-click="uyl.verificarUsuarioUnylab()" value="Confirmar"/>
          </div>
        </div>

        <!-- Body -->
        <div class="body-unylab" ng-if="!uyl.showTermoOffice365 && !uyl.showTermoUnylab">
          <div class="subtitle-unylab">
            A Unyleya Educacional libera para seus alunos, sem custo adicional, o acesso ao UnyLab, uma máquinas virtuais
            <strong>com ferramentas específicas instaladas.</strong> Para melhorar sua produtividade nas aulas e nas atividades, você
            poderá usar, de forma gratuita, as versões mais recentes de softwares necessários em certas disciplinas.
          </div>
          <div class="obs-subtitle-unylab">* As ferramentas podem variar de acordo com o curso.</div>

          <!-- Body / Box criar conta -->
          <div class="box-criar-usuario" ng-if="uyl.etapaIntegracao === uyl.EtapasIntegracaoUnylab.CRIAR_USUARIO">
            <div class="text-center text-box-criar-usuario">Você ainda não tem uma conta Unyleya?</div>
            <div class="text-center text-box-criar-usuario">Para acessar ambientes e ferramentas é necessário criar sua conta.</div>
            <button class="btn-acesso" ng-click="uyl.abrirTermoOffice365()">Crie sua conta Unyleya</button>
          </div>

          <!-- Body / Primeiro Acesso -->
          <div ng-if="uyl.etapaIntegracao === uyl.EtapasIntegracaoUnylab.PRIMEIRO_ACESSO_UNYLAB">
            <div class="div-botao-primeiro-acesso-unylab">
              <button class="btn-primeiro-acesso-unylab" ng-click="uyl.abrirTermoUnylab()">Primeiro acesso ao Unylab</button>
            </div>
            <div class="box-minha-conta-uyl">
              <div class="title-minha-conta">Minha Conta Unyleya</div>
              <div class="subtitle-minha-conta">Você tem uma conta Unyleya, ela é necessária para acessar as ferramentas virtuais.</div>
              <div class="caixa-login-office">
                <a ng-click="uyl.mostrarLogin()">Esqueceu seu login?</a>
                <p ng-show="uyl.mostraLogin">{{uyl.stLoginAzure}}
                  <button ng-click="uyl.copyToClipboard(0)" class="botao-copiar-office">
                    <img class="icon-copiar" ng-src="{{uyl.logoCopiar}}" alt="Copiar login do usuário" />
                  </button>
                </p>
                <a ng-if="uyl.stPassword" class="title-login-office" data-toggle="tooltip">Esqueceu sua senha?</a>
                <p ng-if="uyl.stPassword">{{uyl.stPassword}}
                  <button ng-click="uyl.copyToClipboard(1)" class="botao-copiar-office">
                    <img class="icon-copiar" ng-src="{{uyl.logoCopiar}}" alt="Copiar senha do usuário" />
                  </button>
                </p>
                <a ng-if="!uyl.stPassword" class="title-login-office" data-toggle="tooltip" ng-click="uyl.confirmarRedefinirSenha()">Esqueceu sua senha?</a>
              </div>
            </div>
            <div class="termos-aceito">
              <label>
                <input type="checkbox" checked disabled/>
              </label>
              <div class="termos-button-aceito" ng-click="uyl.abrirTermoOffice365()">Termo de uso da conta Office 365</div>
              <!--          lido e aceito em xx/xx/xxx-->
            </div>
          </div>

          <!-- Acesso normal -->
          <div ng-if="uyl.etapaIntegracao === uyl.EtapasIntegracaoUnylab.EXIBIR_DADOS_USUARIO">
            <div class="caixa-login-unylab">
              <div>
                <div class="title-login-unylab">
                  O Unylab está com <strong>{{uyl.nuConexoesDisponiveis}} máquinas disponíveis</strong> no momento.
                  <br/>Cada acesso tem duração de 1 hora.
                  <br/><span  ng-if="uyl.nuConexoesDisponiveis == 0" class="title-proxima-maquina">Próxima máquina disponível em 60 minutos. <strong>Aguarde...</strong></span>
                </div>
                <div>
                  <button class="btn-acessa-maquina-unylab" ng-if="uyl.nuConexoesDisponiveis > 0" ng-click="uyl.abrirConexaoTunnel()">Acessar uma máquina</button>
                </div>
              </div>
            </div>
            <div class="termos-aceito">
              <label>
                <input type="checkbox" checked disabled/>
              </label>
              <div class="termos-button-aceito" ng-click="uyl.abrirTermoUnylab()">Termo de uso do Unylab</div>
              <!-- lido e aceito em xx/xx/xxxx -->
            </div>
          </div>

          <!-- Body / Box minha conta -->
          <div class="box-minha-conta-uyl" ng-if="uyl.etapaIntegracao == uyl.EtapasIntegracaoUnylab.EXIBIR_DADOS_USUARIO">
            <div class="title-minha-conta">Minha Conta Unyleya</div>
            <div class="subtitle-minha-conta">Você tem uma conta Unyleya, ela é necessária para acessar as ferramentas virtuais.</div>
            <div class="caixa-login-office">
              <a ng-click="uyl.mostrarLogin()">Esqueceu seu login?</a>
              <p ng-show="uyl.mostraLogin">{{uyl.stLoginAzure}}
                <button ng-click="uyl.copyToClipboard(0)" class="botao-copiar-office">
                  <img class="icon-copiar" ng-src="{{uyl.logoCopiar}}" alt="Copiar login do usuário" />
                </button>
              </p>
              <a ng-if="uyl.stPassword">Esqueceu sua senha?</a>
              <p ng-if="uyl.stPassword">{{uyl.stPassword}}
                <button ng-click="uyl.copyToClipboard(1)" class="botao-copiar-office">
                  <img class="icon-copiar" ng-src="{{uyl.logoCopiar}}" alt="Copiar senha do usuário" />
                </button>
              </p>
              <a ng-if="!uyl.stPassword" ng-click="uyl.confirmarRedefinirSenha()">Esqueceu sua senha?</a>
            </div>
          </div>
        </div>
        <div class="termos-aceito" ng-if="uyl.etapaIntegracao === uyl.EtapasIntegracaoUnylab.EXIBIR_DADOS_USUARIO">
          <div class="termos-button-aceito" ng-click="uyl.abrirTermoOffice365()">
            <label>
              <input type="checkbox" checked disabled/>
            </label>
            Termo de uso da conta Office 365</div>
            <!-- lido e aceito em xx/xx/xxx -->
        </div>

        <!-- Ferramentas -->
        <div class="ferramentas-disponiveis" ng-if="!uyl.showTermoOffice365 && !uyl.showTermoUnylab">
          <div class="title-ferramentas">Ferramentas Disponíveis</div>
          <div class="box-ferramentas">
            <div class="ferramenta">
              <img ng-src="{{uyl.logoConttabil}}" alt="Conttabil" />
              <p>Conttabil</p>
            </div>
            <div class="ferramenta">
              <img ng-src="{{uyl.logoAutoCad}}" alt="AutoCad" />
              <p>AutoCad</p>
            </div>
            <div class="ferramenta">
              <img ng-src="{{uyl.logoMaya3d}}" alt="Maya 3D" />
              <p>Maya 3D</p>
            </div>
            <div class="ferramenta">
              <img ng-src="{{uyl.logoAxureRp}}" alt="Axure Rp" />
              <p>Axure RP</p>
            </div>
          </div>
        </div>

        <!-- Como Funciona -->
        <div class="como-funciona" ng-if="!uyl.showTermoOffice365 && !uyl.showTermoUnylab">
          <div class="title-como-funciona">Como Funciona?</div>
          <ol>
            <li class="text-li">Clique em "Quero acessar ao Unylab" e aceite os termos de uso do laboratório virtual.</li>
            <li class="text-li">O sistema verifica se há máquina para sua utilização. Caso haja máquina disponível, basta clicar em
              "Acessar uma máquina" para efetuar login na máquina do UnyLab. Caso não haja máquina disponível, você
              poderá acompanhar quanto tempo falta para que uma máquina esteja disponível.
            </li>
            <li class="text-li">O <strong>acesso ao UnyLab</strong> deve ser feito sempre nesta página do portal do aluno, via desktop ou notebook.
              Não é recomendado o uso do laboratório via dispositivos móveis (smartphones ou tablets).
            </li>
            <li class="text-li">Utilize a ferramenta desejada na máquina virtual do UniLab por até 1 hora.</li>
            <li class="text-li">Ao finalizar seu trabalho, salve seu arquivo na pasta sua One Drive no Windows Explorer.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="container-tutoriais">
      <p>Tutoriais</p>
      <tutoriais-funcionalidades tutoriais="uyl.tutoriais"></tutoriais-funcionalidades>
    </div>
  </div>
</perfect-scrollbar>
