@import "../../../scss/common"; // Talvez você precise alterar este destino

.container-unylab-padding {
  font-family: Ubuntu, serif;
  color: #999999;
}
.container-conteudo {
  flex:4;
}
.container-tutoriais {
  flex:1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container-tutoriais > p {
  color: #A73866;
  font-weight: bold;
  font-family: Ubuntu, serif;
  padding: 0 0 0 20px;
  margin: 0;
}
tutoriais-funcionalidades > div > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 20px 5px 20px;
  font-size: 14px;
  color: #999999;
}
tutoriais-funcionalidades {
  flex:1;
}

.separator {
  height: 2px;
  background-color: #999999;
  margin: 0;
}

.unylab-container-wrapper {
  margin: 0 80px 0 100px;
  display: flex;
  flex-direction: row;
}
.title-unylab {
  font-family: Ubuntu, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 23px;
  margin: 20px 0 5px 0;
}
.header-unylab{
  margin: 28px 100px 0 100px;
  color: #333333;
}

#pcUnylabMain {
  display: flex;
  padding: 28px 0 1% 0%;
  color: #333333;
  flex-direction: column;
  font-style: normal;
  font-size: 14px;
  font-family: Ubuntu, serif;
  .li {
    margin-top: 15px;
  }
  .loading-unylab{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.48);
    z-index: 2;
  }
  .loading-unylab-inside{
    margin: 20% 50% 50% 46%;
    display: block;
    height: 7rem;
    width: 7rem;
  }

  .termos-uso-office {
    color: #333;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 20%;
  }
  .voltar-termo {
    color:#A73866;
    cursor:pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  .title-aceite {
    color: #333333;
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    border-bottom: 2px #a73866 solid;
    margin-bottom: 1rem;
  }
  .subtitle-aceite {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 2rem;
  }
  .title-termo {
    font-size:2.2rem;
    font-weight: 500;
    color: #a73866;
    margin-bottom: 2rem;
  }
  .termos-uso-office {
    color: #333;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 20%;
  }
  .footer-aceite {
    margin-top: 2rem;
    border-top: 0.5px #a73866 solid;
    text-align: center;
  }
  .checkbox-termos {
    margin-right: 0.25rem;
  }
  .div-botao-primeiro-acesso-unylab{
    text-align: center;
    padding: 5px 0px 5px 0px;
  }
  .btn-primeiro-acesso-unylab, .btn-acessa-maquina-unylab{
    margin-top: 10px;
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: white;
    border: 1px solid #a73866;
    color: #b42855;
  }
  .btn-primeiro-acesso-unylab:hover, .btn-acessa-maquina-unylab:hover{
    margin-top: 10px;
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: #b42855;
    border: 1px solid #a73866;
    color: white;
  }

  .body-unylab {
    font-size: 15px;
    margin-top: 20px;

    .subtitle-unylab {
      font-size: 14px;
      color: #999999;
      text-align: justify;
      font-family: Ubuntu, serif;
    }

    .obs-subtitle-unylab {
      font-style: italic;
      font-size: 12px;
      color: #999999;
      margin-top: 5px;
    }
  }

  .box-minha-conta-uyl {
    border: 1px solid #D9D6E8;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 25px 2rem 25px 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    max-width: 400px;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 550;
    color: #999999;

    .title-minha-conta {
      text-align: left;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .subtitle-minha-conta{
      text-align: left;
      font-weight: normal;
    }
    .caixa-login-office {
      flex-direction: column;
      display: flex;
      text-align: center;
      margin: 5px 2rem 5px 0;
      padding: 1.5rem 1rem 0.5rem 1rem;
      max-width: 400px;
      border-radius: 1rem;
      font-size: 1.3rem;
      font-weight: 550;
    }
    .botao-copiar-office {
      background-color: transparent;
      border: 0;
      margin-left: 5px;
    }
  }
  .box-minha-conta-uyl div{
    word-wrap: break-word;
  }
  .box-minha-contauyl p{
    margin: 0;
    word-wrap: break-word;
  }

  .termos-aceito{
    font-family: Ubuntu, serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
  }
  .termos-button-aceito{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    color: #999999;
  }

  .caixa-login-unylab{
    border: 1px dashed #A73866;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 25px 0 5px 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
  }
  .caixa-login-unylab div{
    word-wrap: break-word;
  }
  .caixa-login-unylab p{
    margin: 0;
    word-wrap: break-word;
  }
  .title-login-unylab{
    text-align: center;
    color: #682A3C;
    margin-bottom: 0.5rem;
  }
  .title-login-office {
    float: left;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #a73866;
  }
  .caixa-acesso-office{
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    border: 1px solid lightgray;
    width: 50%;
    border-radius: 0.5rem;
    text-align: center;
    background-color: lightgray;
    min-width: 365px;
  }
  .botao-acesso-office{
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: white;
    border: 1px solid #a73866;
    color: #682A3C;
  }
  .botao-acesso-office:hover{
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: #b42855;
    border: 1px solid #a73866;
    color: white;
  }
  .botao-copiar-office{
    background-color: transparent;
    border: 0;
    margin-left: 2rem;
  }
  .botao-senha-office{
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: white;
    border: 1px solid #a73866;
    color: #b42855;
    margin: 0 auto;
  }
  .caixa-senha-office{
    margin-top: 1rem;
    text-align: center;
  }

  .box-criar-usuario {
    border-radius: 1rem;
    background-color: #ededed;
    padding: 20px;
    margin: 30px 0 20px 0;

    .text-box-criar-usuario {
      font-family: Ubuntu, serif;
      font-size: 14px;
      color: #616161;
    }
    .btn-acesso {
      background-color: #A73866;
      color: white;
      font-size: 14px;
      font-weight: 600;
      border-radius: 2rem;
      height: 4rem;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 2rem;
      border: 0;
      display: block;
      transition: 0.15s;
      &:hover {
        background-color: white;
        color: #B04B5D;
        box-shadow: 0 0 0 1px #B04B5D,
        inset 0 0 0 1px #fff;
      }
      &:active {
        border: 0
      }
    }
  }

  .termos-aceito{
    display: flex;
    flex-direction: row;
  }
  .termos-button-aceito{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: underline;
    cursor: pointer;
  }

  .ferramentas-disponiveis {
    margin: 10px 0 30px 0;

    .title-ferramentas {
      font-size: 16px;
      font-family: Ubuntu, serif;
      font-weight: bold;
      color: #A73866;
      margin-bottom: 15px;
    }
    .box-ferramentas {
      width: 100%;
      display: inline-flex;
      color: #000000
    }
    .ferramenta {
      border: 1px solid #D9D6E8;
      flex-direction: column;
      display: flex;
      text-align: center;
      margin: 0 2rem 0 0;
      padding: 2.5rem 1rem 0.5rem 1rem;
      border-radius: 1rem;
      font-size: 1.3rem;
      font-weight: 550;
      width: 25%;
    }
    .ferramenta img {
      margin: 0 auto;
    }
    .ferramenta p {
      margin-top: auto;
      vertical-align: middle
    }
  }

  .como-funciona {
    .title-como-funciona  {
      margin-bottom: 2rem;
      font-size: 16px;
      font-family: Ubuntu, serif;
      font-weight: bold;
      color: #A73866;
    }
    .text-li {
      font-size: 14px !important;
      font-family: Ubuntu, serif !important;
      color: #999999;
      padding: 5px;
      text-align: justify;
    }
    .como-funciona ol {
      list-style: none;
      counter-reset: li
    }
    .como-funciona li {
      counter-increment: li;
    }
    .como-funciona li::before {
      content: counter(li);
      display: inline-block;
      padding: 5px;
      text-align: right;
      direction: rtl;
    }
  }
}
@media (max-width: 760px) {
  .containerOffice-padding{
    margin-left: 15px;
  }
  .office-container-wrapper {
    flex-direction: column;
  }
  tutoriais-funcionalidades {
    //margin-left: -6vw;
    justify-content: center;
    display: flex;
  }
  .container-tutoriais {
    align-items: center;
  }
  tutoriais-funcionalidades > p {
  }
  .videoTutorial{
    width: 85vw;
  }
}
@media (max-width: 600px) {
  .container-unylab-padding {
    margin-left: 10vw;
  }
  #pcUnylabMain {
    padding-left: 4%;
    padding-right: 4%;
  }
  .termos-uso-office {
    padding-right: 0 !important;
  }
  .title-aceite {
    font-size: 2.5rem !important;
  }
  .body-unylab {
    padding-right: 0 !important;
  }
  .botao-copiar-office {
    margin-left: 0 !important;
  }
  .icon-copiar {
    height: 2rem !important;
  }
  .box-ferramentas {
    display: block !important;
  }
  .ferramenta {
    width: 90% !important;
    margin-bottom: 3% !important;
  }


}
