@import "../../../scss/common";
// Talvez você precise alterar este destino
@import "../../../scss/customize/variables";

#container-professor-sala {
  height: $topbar-height;
  background-color: $cinza-3;
  padding: 0 10px;
  .text-container {
    height: inherit;
    padding: 10px 0;
  .nome {
    color: $cor-marca-3;
    margin: 10px 0 0;
    // font-size: $font-size-default;
    @include text-lines($font-size-default, 1);
  }
    h5 {
      height: floor(($font-size-h4 * 1.15));
      overflow: hidden;
    }
    h6{
      // font-weight: normal;
      text-transform: uppercase;
    }
    h5, h6 {
      margin: 0 !important;
    }
  }

  .avatar-container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border: 2px solid $branco;
    }
    i {
      font-size: 50px;
    }
  }
}
