<div class="loading-fill" ng-if="vm.processando">
  <img id="loading" ng-src="{{vm.loading}}"/>
</div>
<div
  id="pcRenovacaoMain"
  class="containerGeral"
  ng-if="!vm.processando && !vm.confirmacao && vm.info.dados.bl_aptorenovacao && +vm.info.dados.id_evolucaovenda === 9 && vm.info.renovacao.id_usuario"
>
  <div class="containerEsquerda">
    <perfect-scrollbar>
      <div class="wrapperRenovacao">
        <div>
          <div class="containerRenovacao">
            <p class="titulo">
              <img ng-src="{{vm.estrela}}" width="30" height="30"/>
              Renovação de matrícula disponível até
              {{vm.info.dados.dt_limiterenovacao | asDateMinus : 'dd/MM/yy': 0}}
            </p>
            <p class="detalhe" ng-show="vm.detalhes.tipo">
              As disciplinas selecionadas abaixo são as disciplinas padrão do semestre.
              Você pode alterá-las, mas lembre do mínimo de {{vm.info.renovacao.nu_mindisciplinas}}
              (disciplinas obrigatórias não podem ser desmarcadas).
            </p>
            <p class="detalhe" ng-show="vm.detalhes.tipo">
              Caso não haja confirmação, sua matrícula serã renovada automaticamente com as disciplinas padrão.
            </p>
            <p class="detalhe" ng-show="vm.detalhes.tipo">
              Não é possível escolher disciplinas optativas (complementares ao curso) que ocorram no mesmo período.
            </p>
            <button id="btnDetalhes" class="{{vm.detalhes.classe}}" ng-click="vm.mostrarDetalhes()">
              {{vm.detalhes.texto}}
            </button>
          </div>
          <img id="loading" ng-if="!vm.info.renovacao.id_usuario" ng-src="{{vm.loading}}"/>

          <pc-renovacao-disciplinas
            ng-if="vm.info.renovacao.id_usuario"
            dados="{{vm.info}}"
          ></pc-renovacao-disciplinas>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="containerDireita" ng-if="vm.info.renovacao.id_usuario">
    <perfect-scrollbar>
      <div class="wrapperTabela">
        <div class="caixaTexto">
          <div class="divisorG">
            <texto>
              Disciplinas selecionadas:
            </texto>
          </div>
          <div class="divisorG selecionadaLabel">
            Padrões: <b>{{vm.contarSelecionadas(1)}}</b>
          </div>
          <div class="divisorG selecionadaLabel">
            Estendidas: <b>{{vm.contarSelecionadas(2)+vm.contarSelecionadas(3)}}</b>
          </div>
          <hr/>
          <div class="info">
            <pc-renovacao-tabela></pc-renovacao-tabela>
          </div>
        </div>
        <hr/>
        <div class="caixaTexto transparent">
          <div class="containerTexto">
            <div class="divisorG">
              <texto>
                <small>
                  Mensalidade
                  <span ng-if="vm.info.renovacao.nu_desconto || vm.info.renovacao.nu_descontopontualidade">
                    com desconto:
                  </span>
                </small>
              </texto>
            </div>
            <div class="divisorP">
              <texto>{{vm.info.contrato.nu_valormensalidadepontualidade - vm.info.contrato.nu_descontoindiqueganhemensalidadepontualidade | currency : 'R$ '}}</texto>
            </div>
          </div>
          <button class="botaoRenovacao vinho" ng-click="vm.continuar()" ng-disabled="vm.loadingContrato">
            {{vm.loadingContrato ? 'Carregando...' : 'Continuar'}}
          </button>
          <button class="botaoRenovacao branco" ng-if="!vm.loadingContrato" ng-click="vm.redefinirDisciplinas()">
            Redefinir disciplinas
          </button>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<div class="containerConfirmado" ng-if="!vm.processando" ng-show="!vm.confirmacao && (vm.mensagemProximaRenovacao || !vm.info.dados.bl_aptorenovacao || +vm.info.dados.id_evolucaovenda !== 9)">
  <div ng-if="vm.info.dados.dt_renovacao" class="containerConfirmadoWrapper">
    <div class="containerRenovacao renovado">
      <p class="titulo">
        <img ng-src="{{vm.estrela}}" width="30" height="30"/>
        Sua próxima renovação de matrícula estará disponível a partir do
        {{ 'dia ' + (vm.info.dados.dt_renovacao | asDateMinus : 'dd/MM/yy': 0 )}}.
      </p>
      <p class="textoRenovado">
        Durante a data informada, você poderá alterar as disciplinas padrão marcadas automaticamente.
      </p>
      <p class="textoRenovado">
        Caso não haja confirmação na data informada, sua matrícula será renovada automaticamente com as disciplinas padrão.
      </p>
    </div>
  </div>

  <div ng-if="!vm.info.dados.dt_renovacao" class="containerConfirmadoWrapper">
    <div class="containerRenovacao renovado">
      <p class="titulo">
        <img ng-src="{{vm.estrela}}" width="30" height="30"/>
        Por favor, entre em contato com a instituição para saber a data da sua renovação.
      </p>
    </div>
  </div>
</div>

<pc-renovacao-confirmacao
  ng-if="vm.confirmacao"
  dados="vm.info"
  confirmacao="vm.confirmacao"
></pc-renovacao-confirmacao>
