// Parte do css referente ao controle das regiões da tela
/* Controle do comportamento das regiões quando a tela esta grande*/
// Região principal
.containerGeral {
  display: flex;
  background-color: #f2f1f3;
  flex-flow: row nowrap;
  width: 100%;
  height: 100vh;
}

.containerConfirmado {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  background-color: #f2f1f3;
  flex: 1;
  width: 100%;
  padding: 25px;
  min-height: 100vh;
}

// Região esquerda
.containerEsquerda {
  flex: 1 100%;
  width: 100%;
}

.wrapperTabela {
  width: 98%;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 55px;
  min-width: 320px;
}

.wrapperRenovacao > div:nth-child(1) {
  flex: 1;
  text-align: center;
  width: 100%;
}

// Elementos Região esquerda
.wrapperRenovacao {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  background-color: #f2f1f3;
  flex: 1;
  width: 100%;
  padding: 25px;
  margin-bottom: 50px;
}

.wrapperRenovacao div:nth-child(1) > img {
  margin: 35px;
}

.containerRenovacao {
  // margin:15px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1 100%;
  position: relative;
  padding: 25px;
}

.containerRenovacao > button {
  font-weight: bold;
  outline: none;
  background-color: #a13664;
  padding: 5px 40px 5px 20px;
  border: 0;
  font-size: 14px;
  border-radius: 50px;
  position: absolute;
  color: white;
  bottom: -15px;
}

.containerConfirmadoWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.containerRenovacao.renovado {
  margin-right: 170px;
  justify-content: flex-start;
}

.containerRenovacao.renovado > .titulo {
  justify-content: flex-start;
  flex-flow: row nowrap;
}

.containerRenovacao.renovado > .textoRenovado {
  flex: 0 100%;
  margin: 10px 0 10px 0;
  padding-left: 50px;
}

.mensagem {
  margin: 5px 5px 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddac33;
  color: #ddac33;
}

.titulo {
  font-weight: bold;
  color: #616161;
  flex: 1 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 5px 5px 20px;
  font-size: 22px;
}

.titulo > img {
  margin: 10px;
}

.detalhe {
  text-align: justify;
  font-size: 14px;
  margin: 5px;
  padding: 10px;
  color: #616161;
  flex: 1 100%;
  border-radius: 5px;
  background-color: #f2f1f3;
}

// Região direita
.containerDireita {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  background-color: #f8f8f8;
  flex: 1;
}

// Elementos da região direita
.caixaTexto {
  flex: 1 100%;
  padding: 20px 20px 0px 20px;
  color: #616161;
  display: flex;
  flex-flow: row wrap;

}

.caixaTexto p {
  flex: 1 100%;
}

.wrapperTabela hr {
  margin: 15px 0 0;
  flex: 1 100%;
  border-color: #e2e2e2;
}

.transparent {
  background-color: transparent;
}

.botaoRenovacao {
  outline: none;
  border: 0;
  margin: 0 0 10px 0;
  padding: 25px;
  flex: 1 100%;
  border-radius: 5px;
  font-weight: bold;
}

.vinho {
  color: white;
  background-color: #a13664;
}

.branco {
  border: 1px solid #a13664;
  background-color: white;
  color: #a13664;
}

.containerTexto {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 100%;
  padding: 0 0 20px 0;
}

.divisorG {
  flex: 1 100%;
  font-size: 18px;
  font-weight: 500;
}

.selecionadaLabel{
  font-size: 15px;
}

.containerTexto .divisorG {
  flex: 1;
  justify-content: center;
  align-content: center;
}

.containerTexto .divisorP {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: flex-end;
}

.containerTexto texto {
  font-weight: bold;
  color: #616161;
  font-size: 18px;
}

.arrowUp {
  padding: 10px;
  background: none;
  background-image: url('../../../../assets/img/arrowUP.svg');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: right 15px center;
}

.arrowDown {
  padding: 10px;
  background: none;
  background-image: url('../../../../assets/img/arrowDown.svg');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: right 15px center;
}

/* Controle do comportamento das regiões quando a tela esta pequena*/
@media all and (max-width: 768px) {
  .containerGeral {
    flex-flow: row wrap;
  }

  .wrapperRenovacao {
    position: unset;
    margin-bottom: 0;
  }

  .wrapperTabela {
    margin-bottom: 0;
  }
}

@media all and (max-width: 992px) {
  .containerRenovacao.renovado {
    margin-right: 0;
  }
}
