.marginleft5 {
    margin-left:5px;
}

.icone-avisos-preto-mensagens{
    padding: 10px;
    width: 40px;
    height: 36px;
    margin: 0px 13px 0px 3px;
    background: none;
    background-image: url('../../../../assets/img/icons/icon-aviso-preto.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left center;
}

.icone-avisos-branco-mensagens {
    padding: 10px;
    width: 40px;
    height: 36px;
    margin: 0px 13px 0px 3px;
    background: none;
    background-image: url('../../../../assets/img/icons/icon-aviso-branco.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left center;
}
