@import "../../../scss/common";
// Talvez você precise alterar este destino
@import "../../../scss/customize/variables";

.list-disciplinas {
  $c-red: #f44336;
  $c-green: #4caf50;
  $c-blue: #7fa2d5;
  $c-yellow: #fbc02d;

  display: flex;
  flex-flow: column;
  width: 100%;

  .head-list-disciplinas {
    height: 60px;
    display: flex;
    align-items: center;

    h2 {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  .scroll-wrapper {
    flex: 1;
  }

  #perfect-div {
    padding-bottom: 60px; // Espaço para aperecer o unybot
  }

  .list-group {
    .list-group-item {
      position: relative;
      cursor: pointer;
      height: auto;

      min-height: 100px;
      padding: 15px;

      &:first-child {
        border-top: 0;
      }

      .mg-top {
        margin-top: 10px;
      }

      .list-group-item-heading,
      .list-group-item-text {
        padding-right: 80px;
      }

      .list-group-item-text {
        font-size: 13px;
        color: $cinza-6;
      }

      .list-group-item-heading {
        font-size: 16px;
        font-weight: 400;
        @include text-lines(16px, 2);
        height: auto;
        margin-bottom: 10px
      }

      .atrasado {
        background-color: #f5f5f5;
        border: 1px solid $c-red;
        border-radius: 2px;
        color: $c-red;
        display: inline-block;
        padding: 5px 10px;
      }
    }

    .status-percent {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 13px;

      img {
        width: 60px;
      }
    }
  }

  .box-disciplina {
    border-bottom: 1px solid #ddd;
  }

  .box-ambientacao,
  .box-disciplina,
  .bg-banner {
    line-height: 1;
    font-size: 20px;

    small {
      font-size: .6em;
    }

    img,
    .icon {
      line-height: .8;
    }
  }

  .bg-banner {
    position: relative;
    color: #fff !important;
    display: block;
    text-decoration: none !important;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("../../../../assets/img/grafismo-h.png");
      background-size: cover;
      content: '';
      z-index: -1;
    }

    &:hover,
    &:focus {
      span {
        text-decoration: underline;
      }
    }

    &.overlay {
      color: $brand-primary !important;

      &:before {
        opacity: .5;
      }
    }
  }

  .btn-datas-atividades {
    border: 1px solid;
    border-radius: 3px !important;
    padding: 1px 4px;
    background-color: transparent;
    color: #606060;
  }

  .btn-datas-atividades:hover {
    color: $brand-primary;
  }

  .btn-datas-atividades:focus {
    outline-style: none;
  }

  #datasAtividadeDisciplina {
    margin: auto;

    .modal-content {
      width: 70%;
      margin: auto;

      button.close {
        display: none;
      }

      .modal-header {
        padding: 10px 0 0 0;
        text-align: center;
        font-size: 16px;
        color: #5f5f5f;

        h4 {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .modal-body {
      padding-left: 15%;

      .ng-scope {
        width: 85%;
      }

      .titulo-atividade {
        margin-bottom: 0;
        font-size: 16px;
      }

      .data-atividade {
        margin-bottom: 15px;
        font-size: 15px;
        color: #6d6d6d;
      }

      .atividade-dias-finais {
        text-decoration: line-through;
        color: #c1c1c1;
      }

    }

    .modal-footer {
      padding: 0 0 25px 0;
      text-align: center;
      border-top: none;

      button {
        width: 50%;
        border-radius: 6px !important;
        color: white;
        background-color: $brand-primary;
      }
    }
  }
}
