<div class="container-fluid scroll-wrapper font-default left-divider">
  <!--Mostra o gif no intervalo de carregamento das disciplinas. -->
  <img ng-if="pwDc.loading && pwDc.loadingGif" ng-src="{{pwDc.loadingGif}}" class="loading"/>
  <div class="row scroll-wrapper">
    <div class="col-md-12 scroll-wrapper no-padding list-disciplinas" ng-if="!pwDc.loading">

      <!--Caso evolução da matricula seja bloqueada. -->
      <div ng-if="pwDc.evolucaoEhBloqueada()">
        <p class="alert alert-warning">{{pwDc.MensagensInfoEvolucaoConstante.BLOQUEADO}}</p>
      </div>

      <!--Caso trancado, exibe mensagem antes da listagem das disciplinas.-->
      <div ng-if="pwDc.evolucaoEhTrancada()">
        <p class="alert alert-warning">{{pwDc.MensagensInfoEvolucaoConstante.TRANCADO}}</p>
      </div>

      <div class="row mb-2 box-ambientacao" ng-if="pwDc.matriculaAtiva.bl_mostrarbrinquedoteca">
        <a class="bg-banner p-3" ng-click="pwDc.redirecionaBrinquedoteca()">
          <i class="icon icon-lg icon-rocket mpx-10"></i>
          <span>Brinquedoteca</span>
        </a>
      </div>

      <div class="row mb-2 box-ambientacao" ng-if="pwDc.matriculaAtiva.bl_clubelivro">
        <a class="bg-banner p-3" ng-click="pwDc.redirecionaClubeLivro()">
          <i class="icon icon-lg icon-books mpx-10"></i>
          <span>Clube do Livro</span>
        </a>
      </div>

      <div class="flex-grid p-3 box-disciplina" ng-if="!pwDc.evolucaoEhBloqueada()" ng-class="{'bg-banner overlay' : pwDc.isGraduacao}">
        <div class="flex-col mr-4">
          <i class="icon icon-xxl icon-icon_aulas"></i>
        </div>
        <div class="flex-col">
          <div>Disciplinas</div>
          <small ng-if="pwDc.disciplinas.length">Clique em uma disciplina para acessá-la</small>
          <small ng-if="!pwDc.disciplinas.length">Você não tem nenhuma disciplina para exibição.</small>
        </div>
      </div>

      <perfect-scrollbar class="scroll-wrapper">
        <!--Gif de carregando-->
        <img class="loading" alt="Carregando..." ng-if="pwDc.loading && pwDc.loadingGif" ng-src="{{pwDc.loadingGif}}"/>

        <!--Caso evolução da matricula não seja bloqueada. -->
        <div class="list-group" ng-if="!pwDc.matriculaAtiva.bl_primeiroacesso && !pwDc.evolucaoEhBloqueada()">
          <!--Bloco para exibir aviso de sem registro-->
          <div class="list-group-item animated"
               ng-if="!pwDc.disciplinas.length">
            <i class="icon-icon_chat icon-left"></i>
            <h5 class="list-group-item-heading">Sem Registros</h5>
            <p class="list-group-item-text">Você não tem nenhuma disciplina para exibição.</p>
          </div>

          <!--Bloco para listar os registro quando o state for o 2 (completo)-->
          <div
            class="list-group-item"
            ng-if="pwDc.disciplinas.length"
            ng-repeat="disciplina in pwDc.disciplinas | orderBy: ['nu_order','dt_abertura']">
            <div ng-click="pwDc.redirecionaDisciplina(disciplina)">
              <h6 class="list-group-item-heading">
                <span ng-if="disciplina.id_categoriasala == 2">PRR - </span>
                {{::disciplina.st_disciplina}}
              </h6>
              <p class="list-group-item-text" ng-if="disciplina.st_professor && !pwDc.isGraduacao">
                Tutor: {{::disciplina.st_professor}}
              </p>
              <p class="list-group-item-text" ng-if="disciplina.st_professor && pwDc.isGraduacao">
                Professor: {{::disciplina.st_professor}}
              </p>
              <p class="list-group-item-text mg-top" ng-if="!pwDc.isConcurso && (!pwDc.isGraduacao || disciplina.ar_cronograma.length == 0)">
                {{disciplina.dt_abertura | date : 'dd/MM/yy'}}
                até {{disciplina.dt_encerramento | date : 'dd/MM/yy'}}
              </p>
              <p
                class="list-group-item-text mg-top"
                ng-if="(disciplina.diasRestantes > 0 && [1, 4].includes(+disciplina.id_status)) &&  (!pwDc.isGraduacao && !pwDc.isConcurso)"
                ng-class="{atrasado: disciplina.diasRestantes <= 10}"
              >
                Encerra em: <b>{{disciplina.diasRestantes}} dia(s)</b>
              </p>

              <p class="list-group-item-text mg-top" ng-if="pwDc.isGraduacao && disciplina.ar_cronograma.length > 0">
                Verifique as datas das atividades da disciplina para cumprir os prazos:
              </p>
            </div>

            <button
              data-toggle="modal"
              data-target="#datasAtividadeDisciplina"
              class="btn btn-datas-atividades btn-sm mg-top"
              ng-if="pwDc.isGraduacao && disciplina.ar_cronograma.length > 0"
              ng-click="pwDc.ar_datasatividades = disciplina.ar_cronograma; pwDc.st_disciplina = disciplina.st_disciplina">
              <i class="glyphicon glyphicon-calendar no-margin"></i>
              Ver datas de atividades
              <i class="glyphicon glyphicon-menu-right no-margin"></i>
            </button>

            <p class="list-group-item-text mg-top" ng-if="disciplina.id_status == 2">
              <b>Disciplina encerrada</b>
            </p>

            <p class="list-group-item-text mg-top" ng-if="disciplina.id_status == 4">
              <b>Disciplina indisponível</b>
            </p>

            <!-- Gŕafico: ng-if somente se tivar ar_atividades no moodle-->
            <div class="status-percent">
              <img
                ng-if="disciplina.showLoading && pwDc.loadingGif"
                ng-src="{{pwDc.loadingGif}}"
              />
              <pw-chart
                ng-if="disciplina.showChart"
                mysize="small"
                total="disciplina.ar_moodle.nu_concluidas + disciplina.ar_moodle.nu_naoconcluidas"
                completed="disciplina.ar_moodle.nu_concluidas"
                statuscomplete="disciplina.st_statuscomplete"
                statussala="disciplina.id_status"
              ></pw-chart>
            </div>

          </div>
        </div>

        <div class="ml-4 mr-4" ng-if="pwDc.matriculaAtiva.bl_primeiroacesso">
          <h6 class="pc-title-class">
            {{pwDc.dadosUsuario. stNomeCurto + pwDc.MensagemPadrao.ACEITE_CONTRATO_DISCIPLINAS}}
          </h6>
          <button type="button" ng-click="pwDc.abrirPrimeiroAcesso()" class="btn btn-link pull-right ng-scope">
            Clique aqui para abrir o primeiro acesso
          </button>
        </div>

      </perfect-scrollbar>

      <div id="datasAtividadeDisciplina" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Datas de atividades</h4>
              <p>{{pwDc.st_disciplina}}</p>
            </div>
            <div class="modal-body">
              <div
                ng-repeat="atividades in pwDc.ar_datasatividades">
                <p class="titulo-atividade"><b>{{atividades.st_titulo}}</b></p>
                <p
                  class="data-atividade"
                  ng-class="{'atividade-dias-finais': atividades.nu_diasencerramento < 0}">
                  <b>&#9679</b>
                  {{atividades.dt_inicio | date : 'dd/MM/yyyy'}}
                  <span ng-if="atividades.dt_inicio && atividades.dt_fim">até</span>
                  {{atividades.dt_fim | date : 'dd/MM/yyyy'}}
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">
                Ok, fechar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
