@import "../../../scss/common"; // Talvez você precise alterar este destino

.containerOffice-padding {
  font-family: Ubuntu, serif;
  color: #999999;
}
.container-conteudo {
  flex:4;
}
.container-tutoriais {
  flex:1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container-tutoriais > p {
  color: #A73866;
  font-weight: bold;
  font-family: Ubuntu, serif;
  //align-self: center;
  padding: 0 0 0 20px;
  margin: 0;
}
tutoriais-funcionalidades > div > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 20px 5px 20px;
  font-size: 14px;
  color: #999999;
}
tutoriais-funcionalidades {
  flex:1;
}

.separator {
  height: 2px;
  background-color: #999999;
  margin: 0;
}

.office-container-wrapper {
  margin: 0 80px 0 100px;
  display: flex;
  flex-direction: row;
}
.title-office{
  font-family: Ubuntu, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 23px;
  margin: 20px 0 5px 0;
}
.header-office{
  margin: 28px 100px 0 100px;
  color: #333333;
}

#pcOffice365Main {
  display: flex;
  padding: 28px 0 1% 0%;
  flex-direction: column;
  height: 100%;
  .li {
    margin-top: 15px;
  }
  .btn-acesso{
    background-color: #A73866;
    color: white;
    font-weight: 600;
    border-radius: 2rem;
    height: 5rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    border: 0;
    display: block;
    transition: 0.15s;
    &:hover{
      background-color: white;
      color: #B04B5D;
      box-shadow: 0 0 0 1px #B04B5D,
      inset 0 0 0 1px #fff;
    }
    &:active{
      border:0
    }
  }
  .icons-ferramentas{
    width: 5rem;
    margin: 0 auto;
  }
  .ferramenta{
    border: 1px solid #D9D6E8;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 0 2rem 0 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 550;
  }
  .title-aceite{
    color: #333333;
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    border-bottom: 2px #a73866 solid;
    margin-bottom: 1rem;
  }
  .subtitle-aceite{
    margin-bottom: 2rem;
  }
  .title-termo{
    font-size:2.2rem;
    font-weight: 500;
    color: #a73866;
  }
  .termos-uso-office{
    color: #333;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 20%;
  }
  .footer-aceite{
    margin-top: 2rem;
    border-top: 0.5px #a73866 solid;
    text-align: center;
  }
  .body-office{
    color:#999999;
    flex-direction: column;
    overflow: auto;
    display: flex;
    //padding-right: 20%;
  }

  .body-office p, div {
    font-size: 14px;
    font-family: Ubuntu, serif;
  }
  .beneficios-office{
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
    color: #A73866;
  }
  .caixa-login-office{
    border: 1px solid #D9D6E8;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 25px 2rem 25px 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    max-width: 400px;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 550;
  }
  .caixa-login-office div{
    word-wrap: break-word;
  }
  .caixa-login-office p{
    margin: 0;
    word-wrap: break-word;
  }
  .title-login-office{
    text-align: left;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .subtitle-login-office{
    text-align: left;
    font-weight: normal;
    margin-bottom: 2rem;
  }
  .caixa-acesso-office{
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    border: 1px solid lightgray;
    width: 50%;
    border-radius: 0.5rem;
    text-align: center;
    background-color: lightgray;
    min-width: 365px;
  }
  .botao-acesso-office{
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: white;
    border: 1px solid #a73866;
    color: #b42855;
  }
  .botao-acesso-office:hover{
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: #b42855;
    border: 1px solid #a73866;
    color: white;
  }
  .botao-copiar-office{
    background-color: transparent;
    border: 0;
    margin-left: 2rem;
  }
  .botao-senha-office{
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: white;
    border: 1px solid #a73866;
    color: #b42855;
    margin: 0 auto;
  }
  .caixa-senha-office{
    margin-top: 1rem;
    text-align: center;
  }
  .loading-office{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.48);
    z-index: 2;
  }
  .loading-office-inside{
    margin: 20% 50% 50% 46%;
    display: block;
    height: 7rem;
    width: 7rem;
  }
  .sucesso-criar-conta{
    margin-bottom:2rem;font-weight: 600;
  }
  .senha-office{
    margin-top: 1.5rem;
  }
  .termos-aceito{
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
  }
  .termos-button-aceito{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: underline;
    cursor: pointer;
  }
  .box-beneficio{
    flex-direction:row;
    display: flex;
    margin-bottom: 2rem;
    color: #A73866;
  }
  .box-beneficio-icon{
    display: flex;
    width: 3rem;
    margin-right:2rem;
  }
  .box-beneficio-info{
    display: flex;flex-direction: column;
  }
  .box-ferramentas{
    display: inline-flex;
    color: #000000
  }
  .voltar-termo{
    cursor:pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  .checkbox-termos{
    margin-right: 0.25rem;
  }
  .content{
    margin: 0;
  }
}
@media (max-width: 760px) {
  .containerOffice-padding{
    margin-left: 15px;
  }
  .office-container-wrapper {
    flex-direction: column;
  }

  tutoriais-funcionalidades {
    //margin-left: -6vw;
    justify-content: center;
    display: flex;
  }

  .container-tutoriais {
    align-items: center;
  }

  tutoriais-funcionalidades > p {

  }

  .videoTutorial{
    width: 85vw;
  }
}
@media (max-width: 600px) {
  #pcOffice365Main{
    padding-left: 4%;
    padding-right: 4%;
  }
  .caixa-login-office{
  }
  .caixa-acesso-office{
    min-width: 330px !important;
  }
  .body-office{
    padding-right:0 !important;
  }
  .box-ferramentas{
    display: block !important;
  }
  .ferramenta{
    width: 90% !important;
    margin-bottom: 3% !important;
  }
  .title-aceite{
    font-size: 2.5rem !important;
  }
  .content{
    padding: 10px !important;
  }
  .icon-copiar{
    height: 2rem !important;
  }
  .botao-copiar-office{
    margin-left: 0 !important;
  }
  .termos-uso-office{
    padding-right: 0 !important;
  }
}
