<perfect-scrollbar class="containerOffice-padding">
  <div class="header-office" ng-if="!vm.showTermo && vm.etapaIntegracao != vm.EtapasIntegracaoOffice365.RECUPERAR_DADOS_USUARIO">
    <a ng-if="!vm.showTermoOffice365 && !vm.showTermoUnylab" class="row" ui-sref="app.ferramentas-virtuais({idMatriculaAtiva:vm.params.idMatriculaAtiva})">Voltar</a>
    <div class="title-office">Microsoft Office</div>
    <div class="separator"></div>
  </div>
  <div class="office-container-wrapper">
    <div class="container-conteudo">
      <div id="pcOffice365Main" ng-init="vm.integrarOffice365(vm.EtapasIntegracaoOffice365.RECUPERAR_DADOS_USUARIO)">
        <div class="loading-office" ng-if="vm.loading">
          <img alt="Preparando seu ambiente Office 365..." class="mr-2 loading-office-inside" ng-src="{{vm.loadingGif}}" width="50"/>
        </div>

        <div ng-if="vm.showTermo" class="termos-uso-office">
          <div ng-click="vm.abrirTermo()"class="voltar-termo">Voltar</div>
          <div class="title-aceite">Quero meu acesso gratuito</div>
          <div class="subtitle-aceite">Para obter seu acesso, leia e aceite os termos de uso:</div>
          <div class="title-termo">Termos de uso do Microsoft 365</div>
          <perfect-scrollbar>
            <div class="termos-uso-office">
              <div ng-bind-html="vm.politicas365" class="li termos-office-text"></div>
            </div>
          </perfect-scrollbar>
          <div class="footer-aceite" ng-if="vm.etapaIntegracao === vm.EtapasIntegracaoOffice365.CRIAR_USUARIO">
            <input type="checkbox" class="li checkbox-termos" ng-model="checked"/>Li e aceito os termos de uso.<br>
            <input type="button" class="botao-acesso-office li" ng-disabled="!checked" ng-click="vm.verificarUsuario()" value="Confirmar"/>
          </div>
        </div>

        <div>

        </div>



        <div class="body-office" ng-if="!vm.showTermo">
          <!--    Primeiro Acesso-->
          <div>
            <div ng-if="vm.etapaIntegracao === vm.EtapasIntegracaoOffice365.PRIMEIRO_ACESSO">
              <div class="sucesso-criar-conta">Sua conta foi criada com sucesso!</div>
              <div>
                Para o <strong>primeiro acesso</strong>, copie os dados do quadro abaixo e acione o botão. Utilize a senha temporária.O sistema solicitará a criação de
                uma nova senha.<br>
                Os <strong>acessos seguintes</strong> devem ser feitos sempre nesta página do portal do aluno.
              </div>
              <div class="caixa-login-office">
                <div>
                  <div class="title-login-office">Seu login:</div>
                  <div>{{vm.st_loginazure}}
                    <button ng-click="vm.copyToClipboard(0)" class="botao-copiar-office"><img class="icon-copiar" ng-src="{{vm.logoCopiar}}"/>
                    </button>
                  </div>
                </div>
                <div class="senha-office">
                  <div class="title-login-office">Senha temporária:</div>
                  <div>{{vm.password}}
                    <button ng-click="vm.copyToClipboard(1)" class="botao-copiar-office"><img class="icon-copiar" ng-src="{{vm.logoCopiar}}"/>
                    </button>
                  </div>
                </div>
                <button class="botao-acesso-office li" ng-click="vm.abrirLoginOffice365()">Acessar o Microsoft 365</button>
              </div>
              <div class="termos-aceito"><input type="checkbox" checked="true" disabled/>
                <div class="termos-button-aceito" ng-click="vm.abrirTermo()">Termo de uso</div>
                lido e aceito
              </div>
            </div>
          </div>


          <!--    Acesso normal-->
          <div ng-if="vm.etapaIntegracao === vm.EtapasIntegracaoOffice365.EXIBIR_DADOS_USUARIO">
            Os <strong>acessos ao Microsoft Office</strong> devem ser feitos sempre nesta página do portal do aluno, no botão abaixo:
            <div class="caixa-login-office">
              <div>
                <div class="title-login-office">Acessar o Microsoft 365</div>
                <div class="subtitle-login-office">Clique no botão a baixo e informe o login e a senha geradas na janela a seguir:</div>
                <div>
                  <button class="botao-acesso-office" ng-click="vm.abrirLoginOffice365()">Acessar o Microsoft 365</button>
                </div>
                <div class="caixa-senha-office">
                  <div>
                    <p>
                      <a ng-click="vm.mostrarLogin()">Esqueceu seu Login?</a>
                    <p ng-show="vm.mostraLogin">{{vm.st_loginazure}}
                      <button ng-click="vm.copyToClipboard(0)" class="botao-copiar-office"><img class="icon-copiar" ng-src="{{vm.logoCopiar}}"/>
                      </button>
                    </p>
                    </p>
                    <p>
                      <a data-toggle="tooltip" ng-click="vm.confirmarRedefinirSenha()">Esqueceu sua Senha?</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="termos-aceito"><input type="checkbox" checked="true" disabled/>
              <div class="termos-button-aceito" ng-click="vm.abrirTermo()">Termo de uso</div>
              lido e aceito
            </div>
          </div>

          <div ng-if="vm.etapaIntegracao != vm.EtapasIntegracaoOffice365.RECUPERAR_DADOS_USUARIO">
            <div>A Unyleya Educacional libera para seus alunos, sem custo adicional, o acesso ao Microsoft Office 365, uma
              <b>versão online com os melhores aplicativos do Office da Microsoft.</b> Para melhorar sua produtividade nas aulas
              e nas atividades,
              você poderá usar as versões mais recentes dos aplicativos Word, Excel, PowerPoint e muito mais! Obtenha seu acesso
              gratuito agora mesmo:
            </div>
            <button class="btn-acesso" ng-click="vm.abrirTermo()" ng-if="vm.etapaIntegracao === vm.EtapasIntegracaoOffice365.CRIAR_USUARIO">Quero meu acesso gratuito
            </button>

            <div class="beneficios-office">
              <div><b>Benefícios do acesso às ferramentas</b></div>
              <div class="box-ferramentas">
                <div class="ferramenta">
                  <img class="icons-ferramentas" ng-src="{{vm.logoPowerpoint}}">
                  Crie apresentações atrativas no PowerPoint
                </div>
                <div class="ferramenta">
                  <img class="icons-ferramentas" ng-src="{{vm.logoWord}}">
                  Escreva seus artigos com segurança no Word
                </div>
                <div class="ferramenta">
                  <img class="icons-ferramentas" ng-src="{{vm.logoExcel}}">
                  Monte planilhas com rapidez no Excel
                </div>
                <div class="ferramenta">
                  <img class="icons-ferramentas" ng-src="{{vm.logoTeams}}">
                  Reúna-se com colegas e professores no Teams
                </div>
              </div>
            </div>
            <div class="box-beneficio">
              <div class="box-beneficio-icon">
                <img class="icons-ferramentas" ng-src="{{vm.logoOneDrive}}" alt="Logo Onedrive">
              </div>
              <div class="box-beneficio-info">
                <b>Arquivos em qualquer lugar</b>
                Salve seus trabalhos no One Drive e acesse de qualquer dispositivo (telefone, tablet ou computador)
              </div>
            </div>
            <div class="box-beneficio">
              <div class="box-beneficio-icon">
                <img class="icons-ferramentas" ng-src="{{vm.logoFace}}" alt="Carinha Sorridente">
              </div>
              <div class="box-beneficio-info">
                <b>Arquivos com segurança</b>
                Se algo acontecer ao dispositivo, seus arquivos estarão salvos
              </div>
            </div>
            <div class="box-beneficio">
              <div class="box-beneficio-icon">
                <img class="icons-ferramentas" ng-src="{{vm.logoCollab}}" alt="Icone Colaboração">
              </div>
              <div class="box-beneficio-info">
                <b>Colaboração</b>
                Compartilhe seus trabalhos com professores e colegas apenas enviando um link
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-tutoriais">
      <p>Tutoriais</p>
      <tutoriais-funcionalidades tutoriais="vm.tutoriais"></tutoriais-funcionalidades>
    </div>
  </div>
</perfect-scrollbar>
