<div class="container-fluid scroll-wrapper">
  <div class="row promocoe scroll-wrapper">
    <div class="col-md-8 col-sm-8 col-lg-8 no-padding visualizacao default-bg scroll-wrapper">
      <perfect-scrollbar class="scroll-wrapper">
        <div ui-view="promocoes-show"></div>
        <!--<div ui-view="publicidades-show"></div>-->
      </perfect-scrollbar>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 no-padding scroll-wrapper promocoe-list">
      <pc-promocoes-list class="scroll-wrapper "></pc-promocoes-list>
    </div>
  </div>
</div>
