@import "../../../scss/common";
@import "../../../scss/customize/variables";

//Utils
@mixin text-style-base($fontWeight, $fontSize, $lineHeight, $color) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

#pwDocumentosPessoaisShow {
  .justify-between {
    justify-content: space-between;
  }

  .pc-title-class-title {
    @include text-style-base(300, 28px, 23px, #000);
    margin-top: 22px;
  }

  .separador_descricao hr{
    border-top: 2px solid #8E98A3;
  }
  .descricao-container {
    .titulo-documento {
      @include text-style-base(bold, 16px, 23px, #444E57);
    }

    .descricao-documento {
      @include text-style-base(300, 16px, 18px, #828282);
    }

    margin-bottom: 26px;
  }

  .historico-mensagens-container {
    .lista_vazia {
      @include text-style-base(500, 14px, 23px, $cor-marca-7);
    }

    .data__ultima_msg {
      @include text-style-base(300, 13px, 23.3px, #515151);
    }

    .mensagem__box {
      background: #F2F2F2;
      border: 1px solid rgba(142, 152, 163, 0.4);
      box-sizing: border-box;
      border-radius: 6px;
      padding: 10px 15px;
      margin-bottom: 10px;

      .title_mensagem__box {
        @include text-style-base(bold, 14px, 23px, $cor-marca-7);
        margin-bottom: 5px;

        &.interessado {
          color: #333333;
        }
      }

      .text_mensagem__box {
        @include text-style-base(500, 14px, 23px, $cor-marca-7);

        &.interessado {
          @include text-style-base(300, 14px, 23px, #9C9C9C);

        }
      }

      &.interessado {
        background: #FFFFFF;
        border: 1px solid #616161;
        color: #333333;
      }
    }
  }

}
