<div id="pwDocumentosPessoaisShow">
  <div class="pc-title-class no-padding">
    <div class="pc-title-class-title-container">
      <p class="pc-title-class-title">
        Histórico de envio de documento
      </p>
      <p class="pc-title-class-description">
      </p>
    </div>
  </div>

  <span class="separador_descricao">
    <hr/>
  </span>

  <div class="descricao-container">
    <p class="titulo-documento">
      Documento obrigatório: {{vm.documentoPessoal.st_documentos}}
    </p>
    <p class="descricao-documento">
      {{vm.documentoPessoal.st_descricao}}
    </p>
  </div>

  <div class="historico-mensagens-container fill-height">
    <!--Gif de carregando-->
    <img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading" alt="Carregando..."/>
    <div class="mensagem__box" ng-repeat="historico in vm.historicoDocumento"
         ng-class="{'interessado':historico.bl_interessado}">
      <div class="flex-grid justify-between">
        <div class="title_mensagem__box" ng-class="{'interessado':historico.bl_interessado}">
          {{historico.bl_interessado ?
          (historico.id_situacao === vm.SituacaoDocumentoCertificacao.DEFERIDO ? 'DEFERIDO' : 'Arquivo enviado')
          : 'INDEFERIDO'}}
        </div>
        <span class="data__ultima_msg">{{historico.dt_cadastro | asDateHour}}</span>
      </div>
      <div ng-if="!historico.bl_interessado" class="text_mensagem__box">
        Prezado(a) aluno(a), {{historico.st_tramite.substr(11).toLowerCase()}}.
      </div>
      <div ng-if="historico.bl_interessado && !vm.isGraduacao" class="text_mensagem__box interessado">
        {{historico.st_tramite}}
      </div>
    </div>
    <div class="lista_vazia" ng-if="!vm.historicoDocumento.length && !vm.loading">
      Sem histórico no momento.
    </div>
  </div>
</div>
