/**
 * Arquivo que deve conter TODAS as cores usadas no sistema
 *
 */
$branco: #FFFFFF;
$preto: #000;
$gelo: #FAFBFC;
$geloRgb: rgb(250, 251, 252);

//Cores da paleta

$cinza-1: #FAFBFC;
$cinza-2: #F5F5F6;
$cinza-3: #E2E2E2;
$cinza-4: #BDBDBD;
$cinza-5: #999999;
$cinza-6: #626060;
$cinza-7: #F0F0F0;
$cinza-8: #EEEEEE;
$cinza-9: #DAD9D8;

// $cor-marca-1: #182036;
// $cor-marca-2: #323F63;
// $cor-marca-3: #27355B;
// $cor-marca-4: #3C5A99;
// $cor-marca-5: #5981a5;
// $cor-marca-6: #BCE1F9;
// $cor-marca-7: #1F2D43; // Cor usada no background do box login
// $cor-marca-8: #294769;
// $cor-marca-9: #8293a5;
// $cor-marca-10: #6d8ca6;
// $cor-marca-11: #3972A1;
// $cor-marca-12: #aebcce;
// $cor-marca-13: #E5F2FC;
// $cor-marca-14: #3191C8;
// $color-marca-15: #A9A9A9;
//$roxo:682A3C
//$bordo: #A73866
//$vermelho: #E84242

$default: #A73866 !default;
$default2: #A73866;
$default3: #A73866;
$default4: #E84242;
$default5: #682A3C;

$cor-marca-1: $default4;
$cor-marca-2: $default;
// $cor-marca-2: lighten($default4,5%);
// $cor-marca-2: $default;
$cor-marca-3: $default2;
$cor-marca-4: $default3;
$cor-marca-5: $default2;
$cor-marca-6: $default2;
$cor-marca-9: $default;

// Cor do input do login
// $cor-marca-7: desaturate($default2,10%); // Cor usada no background do box login
// $cor-marca-7: desaturate($default2,0%); // Cor usada no background do box login
$cor-marca-7: $default5;
$cor-marca-8:  $default;
$cor-marca-10: $default;
$cor-marca-11: $default4;
$cor-marca-12: $gelo;
$cor-marca-13: yellow;

//cor da linha de divisão
$cor-marca-14: $default2;
$color-marca-15: yellow;

$brand-primary: $default2; //darken($default, 6.5%) !default; // #337ab7
$brand-success: #50BCBD;
$brand-info: #7FA2D5;
$brand-warning: #F5A04C;
$brand-danger: #E84242;
$brand-black: #000000;
$brand-disabled: #999999;

//Formulario Labels
$form-control-color: $default2;
$label-font-color: $cinza-4;

/* Cores para criação das classes para o template dos charts.
Não adicionar # ao acrescentar cores, já que serão geradas classes
no formato .chart-79B652. E .chart-#79B652 quebraria o CSS.
*/
$chartColors: '50BCBD', '7FA2D5', 'E84242', '50BCBD';


// Cores utilizadas no Widget pwGradeNotas e pwAgendamentoForm.
$verde-txt: #50BCBD;
$verde-bg: #d7e9cb;
$verde-bg-light: #f7fbf5;

$amarelo-txt: #999900;
$amarelo-bg: #ffffb2;
$amarelo-bg-light: #ffffe5;

$azul-txt: #7FA2D5;
$azul-bg: lighten($azul-txt, 55%);
$azul-bg-light: lighten($azul-txt, 60%);

$cinza-txt: #555555;
$cinza-bg: lighten($cinza-txt, 55%);
$cinza-bg-light: lighten($cinza-txt, 60%);

$vermelho-txt: #E84242;
$vermelho-bg: lighten($vermelho-txt, 50%);
$vermelho-bg-light: lighten($vermelho-txt, 55%);

$icone-desc-disciplina: #A1A1A1;
$texto-tabela: #615f5f;
$tabela-background: #f8f8f8;
