<div id="pcCertificacaoMain" class="container-fluid scroll-wrapper">
  <perfect-scrollbar class="default-bg">
    <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1">
      <div class="ui-container" ui-view="certificacao-view"></div>
    </div>
  </perfect-scrollbar>
</div>
