@import "../../scss/common";

.ui-card {
  font-size: 14px;
  margin-bottom: 16px;
  height: 100%;
  border-radius: 5px;
  min-height: 200px;
  box-shadow: 0 3px 3px 0 #cecece;
  background-color: $branco;
  border: 1px solid rgba(0,0,0,.125);

  .card-content {
    min-width: 100%;

    .card-img {
      position: relative;
      padding-bottom: 40%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
        padding: 5px;
      }
    }
  }

  .card-text {
    min-height: 65px;
    padding: 4% 7% 0 7%;
    text-align: center;
    font-size: 14px;
  }

  .card-button {
    padding-top: 5%;
    text-align: center;
  }

  .card-disabled {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5;
  }

}
