<div class="ui-card">
  <div
    ng-class="ui.desabilitado?'card-disabled':''">
    <div class="card-content">
      <div class="card-img" >
        <img ng-if="ui.img" src="{{ui.img}}" style="{{ui.imgStyle}}">
      </div>
      <div class="card-text">
        <p ng-if="ui.text">{{ui.text}}</p>
      </div>
    </div>
    <div class="card-button">
      <div
        ng-if="ui.button"
        ng-bind-html="ui.$sce.trustAsHtml(ui.button)"
      ></div>
      <button ng-if="ui.botaoVisivel"
              class="btn btn-brand btn-md"
              ng-click="ui.acessarUrl()"
              ng-disabled={{ui.desabilitado}}>
        Acesse agora
      </button>
    </div>
  </div>
</div>

