<div class="container-fluid scroll-wrapper no-padding curso-descricao-container">
  <div class="row scroll-wrapper">

    <div class="col-md-12 scroll-wrapper no-margin-all no-padding">
      <div
        ng-if="(pwcur.matriculaAluno.st_imagem || pwcur.matriculaAluno.st_imagem_padrao) && !pwcur.statusState"
        class="curso-imagem width100"
      >
        <div class="banner_holderImage" ng-style="{'background-image':'url('+ pwcur.imgCover +')'}">
          <div
            ng-if="pwcur.destaque"
            class="banner-destaque font-default"
          >
            <div class="banner-destaque-toggle">
              <button
                class="btn btn-brand btn-xs"
                ng-click="pwcur.storage.hideBannerDestaque = !pwcur.storage.hideBannerDestaque"
                title="{{pwcur.storage.hideBannerDestaque ? 'Ver informações' : 'Fechar'}}"
              >
                <span class="material-icons">{{pwcur.storage.hideBannerDestaque ? 'info_outline' : 'close'}}</span>
              </button>
            </div>
            <div
              ng-if="!pwcur.storage.hideBannerDestaque"
              class="banner-destaque-content"
              ng-class="{'text-center' : pwcur.destaque.center }"
            >
              <div class="banner-destaque-text">
                <h1 ng-if="pwcur.destaque.title" ng-bind="pwcur.destaque.title"></h1>
                <p ng-if="pwcur.destaque.body" ng-bind-html="pwcur.destaque.body"></p>
              </div>
              <div
                ng-if="pwcur.destaque.buttons.length"
                class="banner-destaque-links"
              >
                <a
                  ng-href="{{button.href || null}}"
                  class="btn btn-brand btn-md btn-outline"
                  ng-repeat="button in pwcur.destaque.buttons"
                  ng-class="button.className || null"
                  ng-click="button.onClick ? button.onClick() : null"
                  ng-bind-html="button.title"
                ></a>
              </div>
            </div>
          </div>
          <div class="container-out curso-info-container" ng-class="{'curso-livre-container': pwcur.isCursoLivre}">
            <div class="text-container">
              <div ng-if="pwcur.isCursoLivre">
                Curso Livre
              </div>
              <h2 class="title-curso">
                {{pwcur.matriculaAluno.st_curso}}
              </h2>
              <div class="mt-5" ng-if="pwcur.isCursoLivre">

                <div class="loading-text" ng-if="!pwcur.cursoLivre">
                  Buscando informações...
                </div>

                <div class="flex-grid flex-wrap flex-middle flex-gutter" ng-if="pwcur.cursoLivre">
                  <div class="flex-col">
                    <h4 class="title">
                      <i class="icon icon-icon_alarme"></i>
                      {{pwcur.cursoLivre.nu_cargahoraria}}h
                    </h4>
                  </div>
                  <div class="flex-col text-brand py-4 text-uppercase" ng-if="pwcur.cursoLivre.bl_cursando">
                    {{pwcur.cursoLivre.matricula.nu_diasrestantes > 0 ? pwcur.cursoLivre.matricula.st_evolucao : 'Encerrado'}}
                  </div>
                  <div class="flex-col text-brand py-4"
                       ng-if="pwcur.cursoLivre.bl_cursando && pwcur.cursoLivre.matricula.nu_diasrestantes > 0">
                    Encerra em {{pwcur.cursoLivre.matricula.nu_diasrestantes}} dias
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
