@import "../../../scss/common";
@import "../../../scss/customize/variables";

.curso-descricao-container {
  .curso-descricao {
    background-color: $preto;
    width: 50%;
    float: right;

    .title-curso {
      font-weight: 200;
      color: $branco;
    }

    .inicio-turma {
      color: $cinza-7;
      font-weight: 200;
    }

    .container-out {
      padding: 0 50px;
      position: absolute;
      width: 100%;
      height: 100%;
      display: table;

      .text-container {
        p {
          font-weight: 300;
          text-align: justify;
          // color: #fff;
        }

        vertical-align: middle;
        display: table-cell;
      }
    }

    //redimensiona caso o tamanho da tela para nao quebrar o layout
    @media screen and (max-width: 1300px) {
      h2 {
        font-size: floor(($font-size-base * 1.4)) !important;
        font-weight: normal;
      }
    }

    h2,
    h5,
    p {
      margin-top: 10px;
      color: $branco;
    }
  }

  .full-width {
    width: 100% !important;
  }

  .curso-imagem {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
    outline: 1px dotted red;

    .banner_holderImage {
      height: 100%;
      position: relative;
      background: url("../../../../assets/img/Logo-Y.png") no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
  }

  @media only screen and (max-width: 992px) {
    .curso-descricao {
      width: 100%;
    }
  }

  @media only screen and (max-width: 867px) {
    .curso-imagem .curso-info-container {
      display: none;
    }
  }

  .banner-destaque {
    position: relative;
    margin: 16px;

    // Manter altura minima para os botões absolutes (responsivo)
    min-height: 40px;

    .banner-destaque-toggle {
      position: absolute;
      top: 4px;
      right: 4px;

      .btn {
        border-radius: 50% !important;
        padding: 0;
        text-align: center;
        height: 32px;
        width: 32px;

        .material-icons {
          vertical-align: middle;
        }
      }
    }

    .banner-destaque-content {
      background-color: rgba($brand-primary, .9);
      border-radius: 8px;
      box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.6);
      color: #f5f5f5;
      padding: 16px 16px;

      .banner-destaque-text {
        font-size: 14px;

        h1 {
          font-size: 1.2em;
          font-weight: 600;
          margin: 0 0 12px 0;
        }
      }

      .banner-destaque-links {
        margin-top: 16px;

        .btn {
          font-weight: 500;
          &:not(:hover,:focus) {
            background-color: #efefef;
            white-space: normal;
          }
        }
      }
    }
  }

  .curso-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px;
    width: 100%;

    .title-curso {
      color: aliceblue;
      margin: 0;
      text-shadow: black 0.1em 0.1em 0.3em
    }

    &.curso-livre-container {
      color: #fff;
      background-color: $brand-primary;
      font-size: 12px;

      .title-curso {
        font-size: 30px;
        margin: 10px 0;
        text-shadow: none;
      }

      .curso-assunto {
        background-color: rgba(255, 255, 255, .6);
        border-radius: 15px;
        color: #000;
        font-size: 11px;
        margin: 4px 8px;
        padding: 6px 18px;
      }
    }
  }

}
