<img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
<div class="container-fluid moodle-course-contents font-default">
  <div class="row">
    <div class="col-lg-12" ng-if="vm.errormessage">

      <div class="row pc-title-class padding">
        <div class="col-md-12">
          <div class="pc-title-class-title-container">
            <p class="pc-title-class-description">{{ vm.errormessage }}</p>
          </div>
        </div>
      </div>

    </div>

    <uib-accordion close-others="true" class="" ng-if="!vm.errormessage && !vm.loading">
      <div
        class="panel-default"
        uib-accordion-group
        is-open="content.selected"
        ng-class="[content.moduleStatusCompletionClass]"
        ng-if="vm.isGraduacao ? content.visible : true"
        ng-repeat="content in vm.contents"
      >
        <uib-accordion-heading>
          <div class="flex-grid flex-middle">
            <div class="flex-col status"></div>
            <div class="flex-col flex-col-fill">
              {{ content.name }}
            </div>
            <div class="flex-col acompanhamento" ng-if="content.contabilizado">
              <b>{{content.totalCompleted}}</b>/{{content.totalProgress}}
            </div>
          </div>
        </uib-accordion-heading>

        <ul class="list-group">
          <!-- Cada atividade que retona, mostra somente se tiver nome -->
          <li
            class="list-group-item animated atividade"
            ng-repeat="module in content.modules"
            ng-if="module.name.length > 1"
            ng-class="[{'titulo-uni' : !module.url, 'module-selected' : module.selected}, module.activityStatusCompletionClass]"
          >
            <div class="flex-grid flex-middle">
              <div class="flex-col" ng-if="module.url">
                <i class="glyphicon icon" ng-class="vm.getModuleIcon(module)"></i>
              </div>
              <div class="flex-col flex-col-fill" ng-class="{'no-wrap ellipsis': !module.url}">
                <!-- Se não tiver url é somente um titulo -->
                <strong ng-if="!module.url">
                  {{module.name}}
                </strong>

                <!-- Se tiver url é um link de uma atividade  -->
                <a
                  ng-if="module.url && !module.visible"
                  ng-click="vm.toaster.notify('warning', '', module.warningMessage, module.waitNotify)" style="color: #aaa;"
                >
                  {{module.name}}
                </a>
                <a
                  ng-if="module.url && module.visible"
                  ui-sref="app.modulo({
                    idMatriculaAtiva: vm.idMatricula,
                    idSaladeaula: vm.idSaladeaula,
                    idCurso: vm.idCurso,
                    idModulo: module.id,
                    sala: vm.sala
                  })"
                >
                  {{module.name}}
                </a>
              </div>
              <div class="flex-col acompanhamento" ng-if="module.url">
                <div class="check" ng-if="module.progress" ng-checked="module.completed"></div>
                <div ng-if="!module.progress">―&nbsp;</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </uib-accordion>
  </div>
  <div ng-if="vm.showVoltar" class="row">
    <a class="padding" ng-click="vm.redirecionaDisciplina()">
      <i class="glyphicon icon glyphicon-chevron-left"></i>
      Voltar para disciplina
    </a>
  </div>
</div>
