@import "../../../scss/common";
@import "../../../scss/customize/variables";

.moodle-course-contents {

  padding-bottom: 60px; // Espaço para aperecer o unybot

  $c-red: #f44336;
  $c-green: #4caf50;
  $c-blue: #7fa2d5;
  $c-yellow: #fbc02d;

  .panel-heading {
    position: relative;
    border: 1px solid $cinza-3;
    height: auto;
    padding: 15px 15px 15px 35px;
    background-color: $branco;

    .status {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $cinza-3;
      height: 100%;
      width: 20px;
    }

    .acompanhamento {
      font-size: 16px;
      margin-right: 18px;
    }
  }


  .curso-completo .panel-heading .status {
    background-color: $c-green;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 45px;

    &:after{
      content: '✓';
    }
  }

  .panel.panel-default {
    border: 0;

    .panel-collapse {
      .panel-body {
        padding: 0;
        border: 0;
        margin: 0;
      }

      color: $cinza-6;

      .list-group {
        margin: 0;

        .atividade-completa:before {
          border-left: 10px $brand-success solid;
          left: 0;
        }

        .atividade-incompleta:before {
          border-left: 10px $brand-warning solid;
          left: 0;
        }

        .atividade-sem-acompanhamento:before {
          border-left: 10px $cinza-6 solid;
          left: 0;
        }

        .module-selected {
          font-weight: bold;

          &:after {
            position: absolute;
            top: 50%;
            right: 0;
            content: '';
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid $cinza-6;
            margin-top: -15px;
          }
        }

        .titulo-uni {
          background-color: $cinza-2 !important;
          color: $cinza-5 !important;
          font-weight: bold;
        }

        .list-group-item {
          background-color: $cinza-1;
          border: 1px solid $cinza-3;
          font-size: 14px;
          height: auto;
          padding: 0;

          .icon {
            font-size: 24px;
            padding-left: 15px;
          }

          &.titulo-uni,
          a {
            color: inherit;
            display: block;
            padding: 12px 15px;
          }

          .acompanhamento {
            margin-right: 36px;
            color: $cinza-5;
          }

          .check {
            background-color: $cinza-3;
            border: 1px solid $cinza-4;
            border-radius: 50%;
            height: 20px;
            width: 20px;

            &.checked, &[checked] {
              background-color: $c-green;
              border-color: $c-green;
              text-align: center;

              &:after {
                content: '✓';
                color: #fff;
              }
            }
          }
        }
      }
    }

  }

}
