<div class="container-fluid scroll-wrapper">
  <div class="row scroll-wrapper">
    <div class="col-md-12 scroll-wrapper no-padding" id="content-list-avisos">

      <perfect-scrollbar ng-class="{'scroll-wrapper' : avisoCtrl.statusState }">
        <img ng-if="avisoCtrl.loading && avisoCtrl.loadingGif" ng-src="{{avisoCtrl.loadingGif}}" class="loading"/>

        <div class="containerRenovacaoHome" ng-if="avisoCtrl.isFaculdadeUnyleya && avisoCtrl.alunoConcluinte"
             ui-sref="app.certificacao.list({idMatriculaAtiva: avisoCtrl.idMatriculaAtiva})">
          <div class="containerRenovacaoMensagemHome avisoCertificacao">
            <div class="containerRenovacaoDireita">
              <p><strong>Certificação do curso</strong></p>
              <p>Conheça aqui os passos para a emissão do seu certificado!</p>
            </div>
          </div>
        </div>

        <!--Mensagem de Renovação-->
        <div class="containerRenovacaoHome" ng-show="avisoCtrl.mostrarMensagemRenovacao" ng-click="avisoCtrl.renovarMatricula()">
          <div class="containerRenovacaoMensagemHome">
            <div class="containerRenovacaoEsquerda">
                <span>
                  <img ng-src="{{avisoCtrl.estrela}}" width="30" height="30"/>
                </span>
            </div>
            <div class="containerRenovacaoDireita">
              <p>
                <b>A sua renovação de matrícula do {{avisoCtrl.dadosRenovacao.nu_semestre}}
                   semestre estará disponível até o dia {{avisoCtrl.dadosRenovacao.dt_limiterenovacao | asDateMinus : 'dd/MM/yy'}}</b>
              </p>
              <p>
                Confirme sua grade de disciplinas e meio de pagamento para o próximo semestre letivo
              </p>
            </div>
          </div>
          <div class="containerRenovacaoBottom">Caso não haja confirmação, sua matrícula será renovada automaticamente com as disciplinas padrão.</div>
        </div>

        <!--Mensagem de Prova Online Aberta-->
        <a class="container-aviso-prova-online"
           ng-if="avisoCtrl.aplicacao"
           ui-sref="app.provasOnline({submenu: 'atuais', idMatriculaAtiva: avisoCtrl.idMatriculaAtiva, idsExibidos: avisoCtrl.aplicacao.id_aplicacaoprovaonline})">
          <div class="container-info">
            <div class="container-left">
              <i class="icon_aula_amarela icon-left"></i>
            </div>
            <div class="container-right">
                <h5>Prova Final Online Disponível</h5>
              <p class="list-group-item-text">
                Período para realização: {{avisoCtrl.aplicacao.dt_inicio  | asDateMinus : 'dd/MM/yy'}} a {{avisoCtrl.aplicacao.dt_termino  | asDateMinus : 'dd/MM/yy'}}
              </p>
            </div>
          </div>
        </a>

        <!--Mensagem de Carteirinha-->
        <div class="container-aviso-fixo"
           ng-if="avisoCtrl.mostrarMensagemCarteirinha"
        >
          <div class="flex-grid">
            <div class="flex-col">
              <span>
                  <img ng-src="{{avisoCtrl.idCard}}" width="30" height="30"/>
                </span>
            </div>
            <div class="flex-col">
              <b>
                {{avisoCtrl.dadosCarteirinha.st_titulo}}
              </b>
            </div>
          </div>
          <div class="flex-grid">
            <em class="flex-col">
              <i><span ng-bind-html="avisoCtrl.$sce.trustAsHtml(avisoCtrl.dadosCarteirinha.st_texto)"></span></i>
            </em>
          </div>
        </div>

        <div class="list-group list-avisos maxheight animated slideInUp" ng-if="!avisoCtrl.loading">
          <!--Gif de carregando-->

          <!--Bloco para exibir aviso de sem registro-->
          <div class="list-group-item" ng-if="!avisoCtrl.mensagens.length && !avisoCtrl.agendamento && !avisoCtrl.loading && !avisoCtrl.campanhas.length">
            <i class="icon-icon_chat icon-left"></i>
            <h5 class="list-group-item-heading">Sem Avisos Recentes</h5>
            <p class="list-group-item-text">Você não tem nenhum aviso importante no momento.</p>
          </div>
          <a id="containerAgendamentoHome"
             class="container-aviso-fixo"
             ng-if="avisoCtrl.agendamento"
             ui-sref="app.provas({submenu: 'atuais', idMatriculaAtiva: avisoCtrl.idMatriculaAtiva, idsExibidos: avisoCtrl.agendamento.id_avaliacaoagendamento})"
          >
            <div class="flex-grid">
              <div class="flex-col">
                <i class="glyphicon glyphicon-list-alt"></i>
              </div>
              <div class="flex-col">
                <b>
                  Reagendamento de prova disponível até
                  {{avisoCtrl.agendamento.dt_alteracaolimite.substr(0, 10) | date : 'dd/MM/yyyy'}}
                </b>
              </div>
            </div>
            <div class="flex-grid">
              <em class="flex-col">
                <p>
                  Confirme o agendamento de sua prova.
                </p>
                <i>
                  Caso não haja alteração até
                  {{avisoCtrl.agendamento.dt_alteracaolimite.substr(0, 10) | date : 'dd/MM/yyyy'}}
                  as datas das provas serão confirmadas automaticamente com as datas agendadas.
                </i>
              </em>
            </div>
          </a>

          <!--Bloco para listar os registro quando o state for o 2 (completo)-->
          <a ng-click="avisoCtrl.redirecionarMensagem(mensagem)" class="list-group-item"
             ng-if="avisoCtrl.mensagens.length"
             ng-repeat="mensagem in avisoCtrl.mensagens">
            <i class="{{mensagem.icon}} icon-left"></i>
            <h5 class="list-group-item-heading">{{::mensagem.title}}</h5>
            <span class="list-group-item-infos pull-right">{{::mensagem.send_date | asDate : 'dd'}} de {{::mensagem.send_date | asDate : 'MMMM'}}</span>
            <p class="list-group-item-text" ng-bind-html="::mensagem.text | removeHtmlTags"></p>
          </a>

        </div>
      </perfect-scrollbar>
      <!--Bloco com o botão de mostrar todos ou menos-->
      <div class="content-btn-show-all"
           ng-if="avisoCtrl.mensagens.length && !avisoCtrl.loading">
        <button type="button" ng-if="!avisoCtrl.statusState" ng-click="avisoCtrl.changeState()"
                class="btn btn-link pull-right">
          Visualizar Mais
        </button>
        <button type="button" ng-if="avisoCtrl.statusState" ng-click="avisoCtrl.changeState()"
                class="btn btn-link pull-right">
          Visualizar Menos
        </button>
      </div>
    </div>
  </div>
</div>
