// Talvez você precise alterar este destino
@import "../../../scss/common";
@import "../../../scss/customize/variables";

#content-list-avisos {
  position: relative;
  border-top: solid 5px $cor-marca-4;

  .list-avisos {

    a.list-group-item {
      height: 75px;

      .list-group-item-heading {
        font-size: 19px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      &:hover {
        background-color: $cor-marca-3;
        border-color: $cor-marca-3;
        color: $branco;
        cursor: pointer;

        h3 {
          color: $branco;
        }

        .list-group-item-heading, .list-group-item-text {
          color: $branco;
        }
      }
    }

  }

  .content-btn-show-all {
    padding-right: $default-padding;
    padding-left: $default-padding;
    background-color: $branco;
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 30px !important;

    .btn-link {
      font-size: $font-size-default;
    }
  }

  .container-aviso-fixo {
    border-bottom: 1px solid #ff9800;
    background-color: $laranja-bg-light;
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;

    .glyphicon {
      color: $laranja-txt;
      font-size: 30px;
    }

    b {
      display: block;
      margin-bottom: 5px;
      margin-left: 10px;
    }
    img{
      margin-top: -5px;
    }

    em {
      display: block;
      opacity: .90;
      margin-top: 15px;
      font-style: normal;
    }
  }
}

.container-aviso-prova-online{
  background-color: #a13664;
  color:white;
  cursor:pointer;
  padding: 10px 15px;
  display: flex;

  &:hover{
    text-decoration: none !important;
    color:white;
  }

  .container-info {
    display:flex;
    flex:2;

    .container-left {
      text-align: justify;

      .icon-left {
        font-size: 31px;
        margin-top: 4px;
        margin-right: 15px;
      }
    }

    .container-right {
      h5 {
        font-size: 19px;
        font-weight: 300;
        margin-top: 0;
      }

      p{
        font-size: 12px;
      }
    }

  }

}

.containerRenovacaoHome{
  background-color: #a13664;
  color:white;
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  cursor:pointer;
}

.containerRenovacaoMensagemHome {
  padding: 10px;
  display: flex;
  flex: 2;

  &.avisoCertificacao {
    padding: 26px 79px 26px 49px;

    p {
      margin-bottom: 5px;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.containerRenovacaoDireita{

}

.containerRenovacaoBottom{
  text-align: justify;
  padding:10px 25px 10px 25px;
  background-color: #682A3C;
}



.containerRenovacaoEsquerda{
  padding:10px;
  text-align: justify;
}

.renovacaoModal{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
  padding:50px;
}

.renovacaoModalHeader, .renovacaoModalBody{
  flex: 1 100%;
  text-align: center;
  color:#616161;
}

.renovacaoModalHeader h4{
  font-weight: bold;
}

.renovacaoModalFooter{
  border:0px;
}

.renovacaoModalFooter .botao{
  font-weight: bold;
  border-radius: 5px;
  padding:10px 40px 10px 40px;
  background-color: #A13767;
  border: 1px solid #A13767;
  color:white
}
