@import "../../../scss/common";

#pcLoginSelecionaCursoForm {
  .loading-fill {
    color: #ccc;
  }
}

.seleciona-curso-overlay {
  background-image: url("../../../../assets/img/bg-leya-portal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: $cinza-6;
  padding: 80px;
}

.user-name {
  color: $default;
}

.user-avatar {
  vertical-align: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70pt;
  width: 70pt;
  overflow: hidden;
}

.user-email {
  font-size: 10px;
  color: $cinza-6;
}

// GRID
.seleciona-curso {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  padding: 40pt;
}

.seleciona-curso-box {
  position: relative;
  display: flex;
  flex-flow: column;
  max-height: 100%;
  max-width: 400pt;
  overflow: hidden;
  width: 100%;
}

.seleciona-curso-box-header {
  background: rgba($geloRgb, 0.8);
  border-radius: 5pt 5pt 0 0;
  padding: 15pt;
  text-align: center;
  img {
    max-height: 40pt;
    margin-top: 8pt;
  }
}

.seleciona-curso-box-scroll {
  background: rgba($geloRgb, 0.8);
  border-radius: 0 0 5pt 5pt;
}

.seleciona-curso-box-body {
  padding: 10pt;
  text-align: center;
  p {
    margin-top: 32px;
    font-size: 10pt;
    text-align: left;
    color: $cinza-6;
  }
  div {
    text-align: left;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding-top: 32px;
        padding-bottom: 10px;
        border-bottom: 0.5pt solid $default;
        display: table;
        padding-left: 10pt;
        width: 100%;
        height: 40pt;
        position: relative;
        a, p {
          font-size: 16pt;
          color: $default;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: normal !important;
          p {
            width: calc(100% - 30pt)
          }
          i {
            margin-left: 5px;
            font-size: 24pt;
            position: absolute;
            top: 30px;
            right: 10pt;
          }
        }
        span.glyphicon-info-sign {
          margin-right: 10px;
        }
      }
      li.course-disabled {
        border-bottom: 0.5pt solid $cinza-6;
        a {
          color: $cinza-5;
          text-decoration: none;
          .descricao-curso {
            pointer-events: none;
          }
        }
      }
    }
  }
  .cursos {
    padding-left: 20pt;
  }
}

.avatar-fake {
  font-size: 70px;
}

.seleciona-curso-box-footer {
  padding: 5pt;
}

@media (max-width: 400pt) {
  .login-overlay {
    padding: 0;
    .seleciona-curso-box-header {
      text-align: center;
    }
  }
}
