<div id="pcLoginSelecionaCursoForm">

<div class="loading-fill" ng-if="vm.loginLoading">
  <div class="loading-text">
    Carregando...
  </div>
</div>

<div class="login-overlay" ng-show="!vm.loginLoading">

  <div class="scroll-wrapper default-bg" ng-if="vm.somenteCursoLivre">
    <perfect-scrollbar>
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-xl-8 col-lg-offset-1 col-xl-offset-2">
          <pw-cursos-livres></pw-cursos-livres>
        </div>
      </div>
    </perfect-scrollbar>
  </div>


  <div class="scroll-wrapper seleciona-curso" ng-if="!vm.somenteCursoLivre">
    <div ng-if="!vm.possuiUmcurso" class="seleciona-curso-box">
      <div class="seleciona-curso-box-header">
        <img ng-src="{{vm.logoUrl}}"/>
      </div>
      <perfect-scrollbar class="seleciona-curso-box-scroll scroll-wrapper">
        <div class="seleciona-curso-box-body">
          <img ng-src="{{vm.user_avatar}}" class="user-avatar img-circle" align="top" ng-if="vm.user_avatar"/>
          <span class="glyphicon icon-icon_pessoa3 avatar-fake" ng-if="!vm.user_avatar"></span>
          <h5 class="subtitulo user-name">{{vm.user_name}}</h5>
          <span class="user-email">{{vm.user_email}}</span>
          <div class="cursos">
            <p>Selecione o curso:</p>

            <ul>
              <li ng-repeat="curso in vm.cursos track by curso.id_matricula"
                  ng-class="{'course-disabled' : !curso.loginPermitido, hidden: vm.CursoService.isCursoLivre(curso)}">
                <a target="_parent" title="{{curso.st_curso}}">
                  <p class="descricao-curso" ng-click="vm.selecionarCurso(curso)">
                    {{curso.st_curso | capitalize:true | sliceString:true:40}}
                  </p>
                  <span ng-if="curso.st_mensagem && !curso.loginPermitido"
                        class="glyphicon glyphicon-info-sign"
                        uib-popover="{{curso.st_mensagem}}"
                        popover-placement="right"
                        popover-append-to-body="true"
                        popover-trigger="mouseenter"
                        popover-is-open="popoverIsOpen"
                        ng-mouseenter="popoverIsOpen = !popoverIsOpen" ,
                        ng-mouseleave="popoverIsOpen = !popoverIsOpen"
                  >
                </span>
                  <i class="icon-menu icon icon-icon_disc"></i>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </perfect-scrollbar>
      <div class="seleciona-curso-box-footer text-right">
        <button class="btn btn-primary"
                ng-click="vm.redirecionaTelaLogin()">Sair
        </button>
      </div>
    </div>
  </div>

</div>

</div>
