@import "../../../scss/common";

#pcLoginAvisoOcorrencias {

@mixin text-style-base($fontWeight, $fontSize, $lineHeight, $color) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

&.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}


.container-message-box {
  width: 630px;
  background-color: #FFF;
  padding: 54px 57px;

  .content-box {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .title-box {
    @include text-style-base(bold, 28px, 23px, #616161);
    margin-bottom: 20px;
    text-align: center;
  }

  .text-box {
    p {
      @include text-style-base(normal, 24px, 36px, #616161);
      text-align: center;
    }
  }

  .option-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 41px 0;

    input[type=checkbox] {
      position: relative;
      cursor: pointer;
    }

    input[type=checkbox]:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      border: 1px solid #A73866;
      border-radius: 3px;
      background-color: white;
    }

    input[type=checkbox]:checked:before {
      background-color: #a13664;
      border: 0;
    }

    input[type=checkbox]:checked:after {
      content: "";
      display: block;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 2px;
      left: 6px;
    }

    label {
      @include text-style-base(300, 16px, 23px, #4F4F4F);
      margin-left: 12px;
      cursor: pointer;
    }
  }

  .buttons-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    button:disabled{
      opacity: 0.8;
      transition: opacity 0.3s, visibility 0.3s;
    }

    button{
      transition: opacity 0.3s, visibility 0.3s;
    }

    .btn-ver-depois {
      background: #FFFFFF;
      box-sizing: border-box;
      padding: 10px 33px;
      border: 2px solid #A73866;
      border-radius: 8px;
      margin-bottom: 15px;
      @include text-style-base(500, 18px, 23px, #A73866);
    }

    .btn-ver-agora {
      background: #A73866;
      border: 2px solid #A73866;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 10px 30px;
      margin-bottom: 15px;
      @include text-style-base(500, 18px, 23px, #FFFFFF);
    }
  }

}

@media (max-width: 768px) {
  .container-message-box {
    padding: 30px;
  }
}

}
