<div id="pcLoginAvisoOcorrencias" class="overlay">
  <div class="container-message-box">
    <div class="content-box">
      <div class="title-box">
        Serviço de Atenção
      </div>
      <div class="text-box">
        <p>Você tem {{vm.numOcorrencias}} {{(vm.numOcorrencias === 1) ? 'resposta' : 'respostas'}} de atendentes.</p>
        <p>O que deseja fazer?</p>
      </div>
      <div class="option-box">
        <input id="checkbox_ciente" ng-model="vm.checkboxCiente" type="checkbox"
               ng-disabled="vm.checkboxCiente" ng-change="vm.registraCiencia()">
        <label for="checkbox_ciente">Estou ciente de que recebi as respostas.</label>
      </div>
      <div class="buttons-box">
        <button type="button" class="btn-ver-depois" ng-disabled="!vm.checkboxCiente"
                ui-sref="app.curso({idMatriculaAtiva: vm.idMatriculaAtiva})">
          Ver depois
        </button>
        <button type="button" class="btn-ver-agora" ng-disabled="!vm.checkboxCiente"
                ui-sref="app.chamados.list({idMatriculaAtiva: vm.idMatriculaAtiva})">
          Ver respostas agora
        </button>
      </div>
    </div>
  </div>
</div>
