/**
 * Arquivo de customizacao do sidebar
 * original: http://www.samrayner.com/bootstrap-side-navbar/
 */

 $navbar-default-bg: $cor-marca-7;
 $navbar-default-border: $cor-marca-7;
 .navbar-custom {
   background-color: $navbar-default-bg !important;
   scrollbar-width: none;
 
   margin: 0 !important;
   overflow: hidden !important;
   white-space: nowrap;
   .navbar-nav {
     overflow-x: hidden !important;
     >li:first-child {
       height: 50px;
       //padding-top: 10px;
     }
     >li {
       text-indent: 10px;
       line-height: 40px;
       background-color: $cor-marca-2;
       border-bottom: 1px solid $cor-marca-7;
       float: none;
       overflow: hidden !important;
       white-space: nowrap;
       a:hover {
         text-decoration: none;
         color: $branco;
         background: rgba($cinza-5, 0.2);
       }
       a:focus{
         background-color: transparent;
       }
       >a {
         display: block;
         text-decoration: none;
         padding-top: 10px;
         padding-bottom: 10px;
         >i {
           font-size: 24px;
           color: $branco;
           vertical-align: middle;
           width: 24px;
         }
         >span {
           margin-left: 10px;
           color: $cor-marca-12;
           font-size: 12px;
         }
         >&:focus,
         >&:active {
           text-decoration: none;
         }
       }
       &.item-logoff {
         background-color: transparent;
         position: absolute;
         bottom: 0;
         max-width: 40%;
         a {
           padding: 5px;
         }
         >a:hover {
           background-color: transparent;
         }
       }
       &.item-logoff-toggled {
         background-color: transparent;
         bottom: 0;
         width: 100%;
         max-width: 100%;
         a {
           padding: 10px 0;
         }
         >a:hover {
           background-color: transparent;
         }
       }
       &.item-trocar-curso {
         position: absolute;
         bottom: 0;
         right: 0;
         max-width: 60%;
         i {
           
         }
         a {
           padding: 4px 0px 4px 0px;
         }
         span{
           margin-left: 15px;
         }
         >a:hover {
           background-color: transparent;
         }
       }
       &.item-trocar-curso-toggled {
         // position: relative;
         bottom: 47px;
         width: 100%;
         max-width: 100%;
         left: 0;
         a {
           padding: 8px 0px 8px 0px;
         }
         >a:hover {
           background-color: transparent;
         }
       }
     }
   }
   .navbar-brand {
     margin: 0;
     width: 100%;
     font-size: 18px;
     line-height: 20px;
     padding: 0 0 0 16px;
     height: 60px;
     .toogle {
       color: $cor-marca-12;
       position: absolute;
       right: -3px;
       top: 20px;
       font-size: 20px;
     }
     .img-logo-topo {
       height: 100%;
       // margin-left: 34px;
       // position: relative;
       display: block;
       margin: auto;
       max-height: 40px;
       max-width: 200px;
       margin-top: 12px;
     }
   }
 }
 .navbar-toggle {
   display: inline-block;
   background-color: $cor-marca-2;
   margin: 0px;
   width: 100%;
   text-align: left;
   padding-left: 25px;
   color: $cor-marca-1;
   span, .icon-bar {
     background-color: white;
   }
 }
 
 .navbar-fixed-side {
   //Quando a barra esta minizada com
   @media (max-height: $screen-heightless) and (min-width: $grid-float-breakpoint) {
     .navbar-nav {
       li {
         &.item-logoff {
           position: relative;
           float: left;
         }
         &.item-logoff-toggled {
           width: 100%;
           max-width: 100%;
           float: none;
         }
         &.item-trocar-curso {
           position: relative;
           bottom: 0;
           float: right;
         }
         &.item-trocar-curso-toggled {
           width: 100%;
           max-width: 100%;
           float: none;
         }
       }
     }
   }
 
   //Quando a barra esta minizada
   @media (max-width: $grid-float-breakpoint) {
     margin-left: -15px;
     margin-right: -15px;
     .toogle {
       display: none;
     }
     .navbar-nav {
       margin: 7px 0 -7px 0;
             li.item-logoff {
               padding: 0 0 0 5px;
               position: relative;
               background-color: $cor-marca-2;
               width: 100%;
               max-width: 100%;
               a {
                 padding: 10px;
               }
               >a:hover {
                 background-color: transparent;
               }
             }
 
             li.item-logoff span {
               margin-left: 15px;
             }
 
             li.item-trocar-curso {
               margin: 0 0 0 0;
               padding: 0 0 0 5px;
               position: relative;
               width: 100%;
               max-width: 100%;
               a {
                 padding: 10px !important;
               }
               >a:hover {
                 background-color: transparent;
               }
             }
             
             li.item-trocar-curso span {
               margin-left: 15px;
             }
     }
   }
   // Quando a barra está aberta
   @media (min-width: $grid-float-breakpoint) {
     $navbar-default-link-hover-bg: rgba($cinza-5, 0.2);
     $navbar-inverse-link-hover-bg: lighten($navbar-inverse-bg, 5%);
     $navbar-inverse-border: lighten($navbar-inverse-bg, 8%);
     position: fixed !important;
     height: 100vh !important;
     width: inherit !important;
     overflow-y: auto !important;
     overflow-x: hidden !important;
     border-top-width: 0;
     border-bottom-width: 0;
     border-radius: 0 !important;
     .container,
     .container-fluid {
       width: auto;
       padding-left: 0;
       padding-right: 0;
     }
     .navbar-header {
       float: none;
 
     }
     .navbar-collapse {
       width: 100%;
       border-top: 1px solid $navbar-default-border;
     }
     .navbar-nav {
       float: none;
       margin: 0 (-$navbar-padding-horizontal);
       >li {
         float: none;
         >a {
           padding-top: 10px;
         }
       }
     }
     .navbar-form {
       margin: 0 -$navbar-padding-horizontal;
       padding: 10px $navbar-padding-horizontal;
       border-bottom: 1px solid $navbar-default-border;
     }
     .navbar-text {
       float: none;
       margin-left: 0;
       margin-right: 0;
     }
     .navbar-left,
     .navbar-right {
       float: none !important;
     }
     .navbar-nav {
       .dropdown-menu {
         position: static;
         float: none;
         width: auto;
         margin-top: 0;
         background-color: transparent;
         border: 0;
         box-shadow: none;
         border-bottom: 1px solid $navbar-default-border;
         .dropdown-header,
         >li>a {
           padding: 5px 15px 5px 25px;
         }
         >li {
           >a {
             line-height: $line-height-computed;
             color: $navbar-default-link-color;
             &:focus,
             &:hover {
               background-image: none;
             }
           }
         }
         >.active>a {
           background-color: $navbar-default-link-active-bg;
           color: $navbar-default-link-active-color;
         }
       }
       .dropdown-menu>li>a,
       >li>a {
         &:focus,
         &:hover {
           background-color: $navbar-default-link-hover-bg;
           color: $navbar-default-link-hover-color;
         }
       }
     }
     .dropdown>.dropdown-toggle,
     .dropdown-menu>.dropdown-header {
       background-color: transparent !important;
       color: lighten($navbar-default-color, 15%) !important;
       cursor: default;
       font-size: 0.8em;
       text-transform: uppercase;
       border-bottom: none;
       padding-bottom: 0;
     }
     .dropdown-toggle .caret {
       display: none;
     }
     .dropdown-menu {
       display: block;
     }
     &.navbar-inverse {
       .navbar-collapse,
       .navbar-form,
       .navbar-nav .dropdown-menu,
       .navbar-nav>li>a {
         border-color: $navbar-inverse-border;
       }
       .divider {
         background-color: $navbar-inverse-border;
       }
       .navbar-nav {
         .dropdown-menu>li>a {
           color: $navbar-inverse-link-color;
         }
         .dropdown-menu>.active>a {
           background-color: $navbar-inverse-link-active-bg;
           color: $navbar-inverse-link-active-color;
         }
         .dropdown-menu>li:not(.active)>a,
         >li:not(.active)>a {
           &:focus,
           &:hover {
             background-color: $navbar-inverse-link-hover-bg;
             color: $navbar-inverse-link-hover-color;
           }
         }
       }
       .dropdown>.dropdown-toggle {
         color: darken($navbar-inverse-color, 15%) !important;
       }
     }
   }
 }
 
 ::-webkit-scrollbar {
   width: 0;
   background: transparent;
 }