<div id="pcFinanceiroResumo" class="container-fluid scroll-wrapper financeiro-resumo">
  <perfect-scrollbar class="scroll-wrapper">
    <div>
      <a class="button-voltar" ng-click="vm.close()">Voltar</a>
    </div>
    <div class="div-style">
      <ui-title
        title="Meu resumo financeiro"
        divider="true"
      ></ui-title>
    </div>
    <div class="loading-text" ng-if="vm.loading">
      Buscando informações...
    </div>

    <div ng-if="!vm.loading">
      <div ng-repeat="item in vm.contratos | orderBy : 'item.id_venda':'desc'  " ng-init="$key = $index">
        <ui-box
          key="{{$key}}"
          border="true"
          show-more-position="bottom"
        >
          <div class="flex-grid flex-middle">
            <div class="flex-col">
              <div class="flex-wrap">
                <span class="span-contrato">
                {{ "Número do contrato: " + item.id_venda}}
                </span>
              </div>
              <div class="flex-wrap">
                <span class="nome-produto">{{item.st_produto}}</span>
              </div>
            </div>
            <div class="flex-col flex-col-right expandir" ng-class="{'expandido': item.expanded}">
              <a data-toggle="collapse" data-target=".collapse-{{$key}}" ng-click="item.expanded = !item.expanded" ng-if="vm.contratos.length > 1">
                <i class="glyphicon icon-icon_setaD"></i>
              </a>
            </div>
          </div>
          <div class="collapse info-contrato collapse-{{$key}}" ng-class="vm.contratos.length > 1 ? '' : 'show'">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <p>Valor total do contrato: {{item.valorContrato | currency: ' R$ '}}</p>
                <p>Pagamento em: {{item.lancamentos.length + (item.lancamentos.length <= 1 ? ' parcela' : ' parcelas')}}</p>
                <p>Forma de pagamento: {{item.formaPagamento.join(", ")}}</p>
                <a href="{{item.st_loja}}/pagamento/mudar-cartao-recorrente/id_venda/{{item.id_venda}}"
                   ng-if=" item.id_meiopagamento.indexOf(11) == 0 && item.situacoes[vm.StatusLancamento.LANCAMENTOSPAGOS].quantidade !== item.lancamentos.length"
                   target="_blank"
                   class="button-recorrente" tooltip-placement="top" uib-tooltip="Clique para fazer a troca do cartão utilizado no seu pagamento">
                  Alterar cartão recorrente
                </a>
              </div>
              <div class="row col-xs-12 col-md-8 linha-vertical">
                <div class="col-xs-12 div_grafico">
                  <canvas id="doughnut" class="chart chart-doughnut  grafico-financeiro"
                          chart-data="item.grafico.data"
                          chart-labels="item.grafico.labels"
                          chart-colors="item.grafico.cores"
                          chart-options="item.grafico.options"
                          height="230px"
                          width="230px"
                  >
                  </canvas>
                </div>
                <div class="col-xs-12 legenda-grafico align-self-end">
                  <li class="vencimento-mes">Venc. do mês:
                    {{(item.situacoes[vm.StatusLancamento.LANCAMENTOSMES].valor | currency: ' R$ ')}}
                    ({{item.situacoes[vm.StatusLancamento.LANCAMENTOSMES].quantidade +
                    (item.situacoes[vm.StatusLancamento.LANCAMENTOSMES].quantidade <= 1 ? ' parcela' : ' parcelas')}})
                  </li>
                  <li class="vencidas">Vencidas :{{(item.situacoes[vm.StatusLancamento.LANCAMENTOSVENCIDAS].valor | currency: ' R$ ')}}
                    ({{item.situacoes[vm.StatusLancamento.LANCAMENTOSVENCIDAS].quantidade +
                    (item.situacoes[vm.StatusLancamento.LANCAMENTOSVENCIDAS].quantidade <= 1 ? ' parcela' : ' parcelas')}})
                  </li>
                  <li class="vencimento-futuro">Venc. futuros:{{(item.situacoes[vm.StatusLancamento.LANCAMENTOSFUTUROS].valor | currency: ' R$ ')}}
                    ({{item.situacoes[vm.StatusLancamento.LANCAMENTOSFUTUROS].quantidade +
                    (item.situacoes[vm.StatusLancamento.LANCAMENTOSFUTUROS].quantidade <= 1 ? ' parcela' : ' parcelas')}})
                  </li>
                  <li class="pagas">Pagas:{{(item.situacoes[vm.StatusLancamento.LANCAMENTOSPAGOS].valor | currency: ' R$ ')}}
                    ({{item.situacoes[vm.StatusLancamento.LANCAMENTOSPAGOS].quantidade +
                    (item.situacoes[vm.StatusLancamento.LANCAMENTOSPAGOS].quantidade <= 1 ? ' parcela' : ' parcelas')}})
                  </li>
                </div>
              </div>
            <h5>Extrato de Parcelas </h5>
            <div class="linha-style"></div>
            <div ng-repeat="lancamento in item.lancamentos | orderBy:['id_situacao','nu_parcela'] ">
              <pw-lancamento lancamento="lancamento"></pw-lancamento>
            </div>
          </div>
        </ui-box>
      </div>
    </div>
  </perfect-scrollbar>
</div>
