@import "../../../scss/common";

.financeiro-resumo {
  span.nome-produto {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    color: #A73866;
  }

  span.span-contrato {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #828282;
  }

  span.parcelas {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #828282;
  }

  .button-voltar {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    color: #A73866;
  }

  .expandir {
    .glyphicon {
      font-size: 20px;
      font-weight: bold;
      margin-left: 5px;
      transform: rotate(90deg);
      transition: transform .2s ease;
      vertical-align: bottom;
      display: inline-block;
      position: relative;
    }

    &.expandido .glyphicon {
      transform: rotate(-90deg);
    }
  }

  .div-style {
    margin-top: 15px;
  }

  .info-contrato {
    background-color: #fff;
    margin: -$default-padding;
    margin-top: $default-padding;
    padding: $default-padding;
  }

  .linha-style {
    margin: 24px 0;
    border-bottom: 1px solid #8E98A3;
  }

  .linha-vertical {
    border-left: 3px solid #8E98A3;
    padding-left: 5px;
  }

  .button-recorrente {
    border-radius: 8px;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: white;
    border: 1px solid #A73866;
    color: #682A3C;
    float: left;

  }

  .button-recorrente:hover {
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: #682A3C;
    border: 1px solid #A73866;
    color: white;

  }

  .grafico-financeiro {
    margin-right: auto;
    margin-left: auto;
    height: 100% !important;
    width: 100% !important;
    max-width: 230px;
    max-height: 230px;
  }

  .legenda-grafico {
    padding-left: 5px;
    align-self: end;
    width: 50%;
  }

  .div_grafico{
    width: 50%;
  }

  .pagas {
    color: #28C968;
  }

  .vencimento-futuro {
    color: #4097D6;
  }

  .vencimento-mes {
    color: #000000;
  }

  .vencidas {
    color: #FA5A55;
  }

  @media only screen and (max-width: 1460px) and (min-width: 1340px) {
    .div_grafico{
      width: 45%;
    }
    .legenda-grafico{
      width: 55%;
    }
  }

  @media only screen and (min-width: 1248px) {
    .div_grafico{
      width: 40%;
    }
    .legenda-grafico{
      width: 60%;
    }
  }

  @media only screen and (max-width: 1250px) {
    .div_grafico{
      width: 100%;
    }
    .legenda-grafico{
      width: 100%;
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 991px) {
    .linha-vertical {
      border: 0;
    }
  }

}
