<div id="pwModal" class="modal-content notranslate">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 ng-if="$ctrl.state.title" class="modal-title" ng-bind-html="$ctrl.$sce.trustAsHtml($ctrl.state.title)"></h4>
  </div>
  <div ng-if="$ctrl.state.body" class="modal-body">
    <div ng-bind-html="$ctrl.$sce.trustAsHtml($ctrl.state.body)"></div>
  </div>
  <div ng-if="$ctrl.state.cancelButton || $ctrl.state.confirmButton" class="modal-footer">
    <button ng-if="$ctrl.state.cancelButton" type="button" class="btn btn-default" ng-click="$ctrl.cancel()">
      {{$ctrl.state.cancelButton}}
    </button>
    <button ng-if="$ctrl.state.confirmButton" type="button" class="btn btn-brand" ng-click="$ctrl.confirm()">
      {{$ctrl.state.confirmButton}}
    </button>
  </div>
</div>
