@import "../../../scss/common"; // Talvez você precise alterar este destino

.default-modal-brand {
  .modal-content {
    border: none;
    border-radius: 8px;
  }
}

#pwModal {

  color: #666;
  text-align: center;

  .modal-header {
    border-width: 0;
    padding-top: 48px;
  }

  .close {
    margin-top: -48px;
    font-size: 40px;
  }

  .modal-title {
    font-weight: bold;
  }

  .modal-footer {
    border-width: 0;
    padding-bottom: 48px;
    text-align: inherit;
  }

  .btn {
    border-radius: 4px !important;
    padding: 8px 24px;
  }

}
