@import "../../../scss/common";
@import "../../../scss/customize/variables";

#brinquedoteca-container {
  height: 90vh;

  .brinquedoteca {
    height: 100%;
    width: 100%;
    position: absolute;
    //retirar a altura do pc-title-class
    border-bottom-width: 76px;
  }
}
