<div class="container-fluid scroll-wrapper no-padding" id="brinquedoteca-container">
  <div class="row pc-title-class">
    <div class="col-xs-12 col-sm-8 pc-title-class-title-container  nopadding">
      <div class="pull-left pc-title-class-icon"><i class="icon icon-rocket"></i></div>
      <p class="pc-title-class-title">Brinquedoteca</p>
      <p class="pc-title-class-description">Acesso à brinquedoteca.</p>
    </div>
  </div>

  <div class="row col-lg-12 padding"
       ng-if="!vm.matriculaAtiva.bl_mostrarbrinquedoteca">
    <div>
      Seu curso não possui este módulo
    </div>
  </div>

  <img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>

  <iframe ng-if="vm.matriculaAtiva.bl_mostrarbrinquedoteca && vm.urlBrinquedoteca"
          class="brinquedoteca"
          frameborder="0"
          allowtransparency="true"
          src="{{vm.urlBrinquedoteca}}">
  </iframe>
</div>
