<div class="scroll-wrapper">
  <perfect-scrollbar id="pcDocumentosAcompanhar">
    <div class="padding content" ng-switch="vm.documentos.length">

      <div class="pc-title-class no-padding">
        <div class="pc-title-class-title-container">
          <div class="pc-title-class-icon pull-left pl-0">
            <i class="icon-icon_aulas"></i>
          </div>
          <p class="pc-title-class-title">
            Acompanhar solicitações
          </p>
          <p class="pc-title-class-description">
            Veja abaixo a sua lista de documentos e declarações solicitadas. Para solicitar um novo documento ou declaração, utilize o menu
            <span class="visible-md-inline visible-lg-inline visible-xl-inline">ao lado.</span>
            <span class="visible-xs-inline visible-sm-inline">ao final.</span>
          </p>
        </div>
      </div>

      <hr/>

      <div class="flex-grid flex-gutter" ng-if="vm.loading">
        <div class="flex-col">
          <img class="mr-2" alt="Carregando..." width="25" ng-src="{{vm.loadingGif}}"/>
          Buscando documentos e declarações...
        </div>
      </div>

      <div class="text-center" ng-switch-when="0" ng-if="!vm.loading">
        <div class="p-4 rounded bg-warning my-4">
          <b>Você ainda não possui solicitações de documentos para acompanhar.</b>
        </div>

        <div ng-if="vm.permiteSolicitar">
          <a class="btn btn-brand btn-outline my-5" ui-sref="app.documentos.solicitar">
            Solicitar novo documento
          </a>
        </div>

        <div class="p-4 rounded bg-warning my-4" ng-if="vm.permiteSolicitar">
          <b>As solicitações são somente para documentos acadêmicos e declarações.</b>
        </div>

        <div class="rounded bg-light p-5">
          Para documentos como imposto de renda, contratos e aditivos:<br/>
          <a class="btn btn-brand btn-outline mt-5" ui-sref="app.documentos.meus">
            Ir para Meus Documentos
          </a>
        </div>
      </div>

      <div ng-switch-default ng-if="!vm.loading">

        <div class="row row-gutter mb-5">
          <div class="col-xs-5">
            <select
              class="form-control"
              ng-model="vm.filter.id_documentodigitaltipo"
              ng-options="item.id_documentodigitaltipo as item.st_documentodigitaltipo for item in vm.tipos"
            >
              <option value="">Todos os tipos</option>
            </select>
          </div>
          <div class="col-xs-7">
            <input class="form-control" type="text" placeholder="Digite o nome do documento" ng-model="vm.filter.st_produto"/>
          </div>
        </div>

        <section class="section-group" ng-repeat="(grupo, documentos) in vm.grupos" ng-if="vm.getFiltroGrupo(documentos)">
          <div class="section-title">
            <span class="section-circle bg-{{vm.strings[grupo].color}}"></span>
            {{vm.strings[grupo].title}}
          </div>
          <div class="section-item" ng-repeat="documento in documentos" ng-if="vm.getFiltroDocumento(documento)">
            <div class="row">
              <div class="col-xs-12 col-md-5">
                <b>{{documento.st_produto}}</b>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="flex-grid">
                  <div class="pr-3">
                    <i class="glyphicon glyphicon-time"></i>
                  </div>
                  <div ng-switch="documento.st_status">
                    <span ng-switch-when="Pendente">
                      Solicitado em {{documento.dt_cadastro | asDate : 'dd/MM/yyyy'}}
                      <br/>Prazo até {{documento.nu_diasprocessamento}} dia(s)
                    </span>
                    <span ng-switch-when="Expirado">Expirado em {{documento.dt_validade | asDate : 'dd/MM/yyyy'}}</span>
                    <div ng-switch-default>
                      <span ng-if="documento.dt_validade">Válido até {{documento.dt_validade | asDate : 'dd/MM/yyyy'}}</span>
                      <span ng-if="!documento.dt_validade">Documento permanente</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-3 text-center actions" ng-switch="documento.st_status">
                <div ng-switch-when="Pendente">
                  <b class="text-secondary" ng-if="documento.nu_valorliquido <= 0">
                    Processando documento
                  </b>
                  <a ng-if="documento.nu_valorliquido > 0" ng-href="{{documento.st_linkpagamento}}" target="_blank">
                    Aguardando pagamento
                  </a>
                </div>
                <a class="text-warning" ng-switch-when="Expirado" ui-sref="app.documentos.solicitar({documentos: vm.documentos, selecionados: [documento]})">
                  Solicitar novamente
                </a>
                <a class="text-warning" ng-switch-default ng-click="vm.baixarDocumento(documento)">
                  Baixar PDF
                </a>
              </div>
            </div>
          </div>
        </section>

      </div>

    </div>
  </perfect-scrollbar>
</div>
