@import "../../../scss/common";

#pcDocumentosAcompanhar {

  font-size: 14px;

  .actions {
    font-size: .9em;

    a {
      font-weight: bold;

      &:hover,
      &:focus {
        color: $brand-primary !important;
      }
    }
  }

  .section-group .bg-warning {
    background-color: $laranja-bg !important;
  }

  .section-group {
    position: relative;
    //background-color: #ddd;
    padding-left: 2em;
    padding-bottom: 1em;

    .section-circle {
      position: absolute;
      top: .2em;
      left: 0;
      //background-color: #616161;
      border-radius: 50%;
      //display: inline-block;
      //vertical-align: middle;
      height: 1em;
      width: 1em;
    }

    .section-title {
      font-weight: bold;
    }

    .section-item {
      position: relative;
      background-color: #f5f5f5;
      border-radius: 5px;
      margin: 1em 0;
      padding: 2em 1em;
    }

    .section-item:before {
      position: absolute;
      top: -.5em;
      bottom: -1.5em;
      left: -1.6em;
      background-color: #eee;
      content: '';
      display: block;
      width: 3px;
    }

    &:last-child {
      .section-item:before {
        display: none;
      }
    }
  }

}
