<div class="container-fluid scroll-wrapper no-padding disciplina-descricao-container">
  <div class="row row-imagem col-md-6 animated slideInDown">
    <div ng-if="vm.imagem" class="disciplina-imagem">
      <div class="banner_holderImage" ng-style="{'background-image':'url(' + vm.imagem + ')'}">
      </div>
    </div>
  </div>
  <div class="row row-texto col-md-6 animated slideInUp">
    <div class="col-md-12 scroll-wrapper no-margin-all no-padding">
      <perfect-scrollbar class="scroll-wrapper">
        <div class="maxheight disciplina-descricao">
          <div class="container-out">
            <div class="text-container">
              <h4>
                <span ng-if="vm.disciplina.id_categoriasala == 2">PRR - </span>
                {{vm.disciplina.st_disciplina}}
              </h4>
              <p class="texto" ng-bind-html="vm.disciplina.st_descricaodisciplina"></p>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
