<div class="container-fluid scroll-wrapper no-padding" id="ambientacao-container">
  <div class="row pc-title-class">
    <div class="col-xs-12 col-sm-8 pc-title-class-title-container  nopadding">
      <div class="pull-left pc-title-class-icon"><i class="icon icon-groups"></i></div>
      <p class="pc-title-class-title">Ambientação</p>
      <p class="pc-title-class-description">Boas Vindas!</p>
    </div>
  </div>

  <iframe
    class="ambientacao"
    frameborder="0"
    allowtransparency="true"
    src="{{vm.urlAmbientacao}}">
  </iframe>
</div>
