@import "../../../scss/common"; // Talvez você precise alterar este destino
#ambientacao-container {
  height: 90vh;

  .ambientacao {
    height: 100%;
    width: 100%;
    position: absolute;
    //retirar a altura do pc-title-class
    border-bottom-width: 76px;
  }
}
