<div class="container-fluid scroll-wrapper no-padding" id="provas-online-escola-saude-container">
  <div class="row pc-title-class">
    <div class="col-xs-12 col-sm-8 pc-title-class-title-container  nopadding">
      <img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
      <div class="pull-left pc-title-class-icon"><i class="icon-icon_data"></i></div>
      <p class="pc-title-class-title">Provas Online</p>
      <p class="pc-title-class-description">Acesso as provas online.</p>
    </div>
  </div>
  <div ng-if="vm.permissao" class="center-provas-online-escola-saude">
    <div>
      <a href="{{vm.link}}" target="_blank">
        <img class="banner-provas-online-escola-saude" ng-src="{{vm.banner}}" alt="Provas Online"/>
      </a>
    </div>
  </div>
  <div ng-if="!vm.permissao" class="center-provas-online-escola-saude">
    <h5>
      Você não tem permissão para esta funcionalidade.
    </h5>
  </div>
</div>
