@import "../../../scss/common";
@import "../../../scss/customize/variables";

#provas-online-escola-saude-container {
  height: 90vh;
  overflow: auto;

  .banner-provas-online-escola-saude {
    width: 500px;
    margin: 20px;
    box-shadow: 7px 7px 22px -16px rgba(0, 0, 0, 0.75);
  }

  .center-provas-online-escola-saude {
    text-align: center;
  }
}
