<div class="padding-left padding-right">
  <h1>Biblioteca do Polo</h1>

  <form action="{{vm.st_caminho}}" method="post" target="_blank" ng-if="vm.status == 1">
    Você será redirecionado automaticamente, caso isso não aconteça, clique

    <button class="btn btn-primary btn-inverse btn-xs" type="submit">
      aqui
    </button>
  </form>
</div>
