<div class="padding-left padding-right">
  <h1>Banco de Questões</h1>

    <form action="{{vm.urlMaximize}}" method="post" target="_blank" ng-if="vm.urlMaximize">
    Você será redirecionado automaticamente, caso isso não aconteça, clique

    <button class="btn btn-primary btn-inverse btn-xs" type="submit">
      aqui
    </button>

    <div>
      <b>Verifique as permissões de popup do seu browser.</b>
    </div>
  </form>
</div>

