<div uib-collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed">

  <div class="calendario-agendamentos">
    <table class="table table-bordered table-condensed">
      <thead>
      <tr ng-if="vm.events[0].nu_presenca === null || vm.events[0].nu_presenca === undefined">
        <th></th>
        <th>Data</th>
        <th>Local</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr
        drop-data="{event: event}"
        mwl-draggable="event.draggable === true"
        ng-repeat="event in vm.events | orderBy:'startsAt' track by event.calendarEventId"
      >
        <td>
          <div ng-if="event.data.id_disciplina">
            {{ event.data.st_disciplina }}
          </div>
        </td>
        <td class="no-wrap">
          <div ng-bind-html="vm.templateScope.getAgendamentoData(event.data, event.data.bl_provaonline)"></div>
        </td>
        <td class="text-left">
          <div ng-bind-html="vm.templateScope.getAgendamentoLocal(event.data, event.data.bl_provaonline)"></div>
        </td>
        <td>
          <button class="btn btn-sm btn-primary" type="button"
                  ng-if="event.data.nu_presenca === null && event.data.id_avaliacaoagendamento && event.data.id_avaliacaoaplicacao"
                  ng-click="vm.templateScope.abrirComprovanteAgendamento(event.data.id_avaliacaoagendamento)"
          >
            Comprovante
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
