<perfect-scrollbar id="pwAgendamentoForm" class="scroll-wrapper">
  <!-- Aviso sobre COVID-19 -->
  <div class="container-fluid padding" ng-if="vm.avisoCovid" ng-bind-html="vm.mensagemAvisoCovid">

  </div>

  <div class="container-fluid padding" ng-if="!vm.avisoCovid">

    <div class="loading-fill" ng-if="vm.loading && vm.loadingGif">
      <img ng-src="{{vm.loadingGif}}"/>
    </div>

    <div class="row row-gutter">
      <div class="col-xs-12 col-md-7 col-lg-8">
        <div class="row pc-title-class no-padding">
          <div class="col-xs-12 col-sm-8 pc-title-class-title-container">
            <div class="pc-title-class-icon pull-left pl-0"><i class="icon-icon_data"></i></div>
            <p class="pc-title-class-title">Agendamento</p>
            <p class="pc-title-class-description">Agende suas avaliações.</p>
          </div>
        </div>

        <div class="wizard">
          <a class="wizard-step"
             ng-class="vm.getClassEtapa('avaliacao')"
             ng-click="vm.alterarEtapa('avaliacao')"
             ng-disabled="!vm.etapas.avaliacao"
          >
            <b>Avaliações</b>
            <br/>
            <small>Selecionar avaliação para agendamento</small>
          </a>
          <a class="wizard-step"
             ng-class="vm.getClassEtapa('endereco')"
             ng-click="vm.alterarEtapa('endereco')"
             ng-disabled="!vm.etapas.endereco"
          >
            <b>Endereço</b>
            <br/>
            <small>Atualizar endereço de correspondência</small>
          </a>
          <a class="wizard-step"
             ng-class="vm.getClassEtapa('agendamento')"
             ng-click="vm.alterarEtapa('agendamento')"
             ng-disabled="!vm.etapas.agendamento"
          >
            <b>Agendamento</b>
            <br/>
            <small>Agendar avaliação nas datas disponíveis</small>
          </a>
        </div>

        <hr class="divider"/>

        <div class="row" ng-if="vm.etapaAtual == 'avaliacao'">
          <div class="col-xs-12">
            <h4>
              <span ng-if="vm.disciplina">Disciplina:</span>
              <span ng-if="!vm.disciplina">
                {{ vm.disciplinas.length ? 'Disciplinas' : 'Avaliações' }}
              </span>
            </h4>
            <p ng-if="vm.disciplinas.length && !vm.disciplina">
              Selecione uma disciplina para visualizar ou realizar os agendamentos:
            </p>
            <p ng-if="!vm.disciplinas.length">
              Selecione uma avaliação para realizar o agendamento.
            </p>
          </div>

          <div class="row" ng-if="vm.disciplina">
            <div class="box-disciplina">
              <i class="glyphicon glyphicon-chevron-right"></i>
              {{ vm.disciplina.st_disciplina }}
            </div>
            <a class="btn btn-link btn-sm" ng-click="vm.etapas.agendamento = false; vm.disciplina = null; vm.avaliacoes = []">
              Alterar Disciplina
            </a>
            <hr class="divider"/>
          </div>

          <div class="col-xs-12" ng-if="vm.disciplinas.length && !vm.disciplina">
            <div ng-repeat="disciplina in vm.disciplinas">
              <button class="btn btn-link btn-sm" ng-click="vm.disciplina = disciplina; vm.buscarAvaliacoes()">
                <i class="glyphicon glyphicon-chevron-right"></i>
                {{ disciplina.st_disciplina }}
              </button>
            </div>
          </div>

          <!-- Info de nenhum registro encontrado (somente após carregar) -->
          <div class="col-xs-12" ng-if="!vm.loading && !vm.avaliacoes.length && (!vm.isProvaPorDisciplina || (vm.isProvaPorDisciplina && vm.disciplina))">
            <div class="alert alert-warning">
              Nenhuma avaliação disponível para agendamento.
            </div>
          </div>

          <div class="col-xs-12" ng-if="vm.avaliacoes.length">
            <div class="table-responsive">
              <table class="table table-bordered nomargin">
                <thead>
                <tr>
                  <th>Avaliação</th>
                  <th>Disciplinas</th>
                  <th>Data</th>
                  <th>Local</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <!--
                A avaliação não deverá ficar visível se
                se POSSUIR AGENDAMENTO com PRESENÇA lançada e não for GRADUAÇÃO
                OU a prova NÃO TEM um agendamento E NÃO TEM Aplicador disponível
                OU se for prova de RECUPERAÇÃO mas ainda não está liberado (recuperação não fica apto automaticamente)
                -->
                <tr ng-repeat="avaliacao in vm.avaliacoes"
                    ng-class="{'info': vm.agendamento.id_avaliacao == avaliacao.id_avaliacao}"
                    ng-hide="
                      (avaliacao.agendamento_ativo.id_avaliacaoagendamento && avaliacao.agendamento_ativo.nu_presenca === 0 && avaliacao.id_linhadenegocio != 2)
                      || (!avaliacao.agendamento_ativo.id_avaliacaoagendamento && !avaliacao.bl_aplicacaodisponivel)
                      || (avaliacao.id_tipodeavaliacao && !avaliacao.agendamento_ativo.id_avaliacaoagendamento)"
                >
                  <td>
                    {{ avaliacao.st_avaliacao }}
                    <div ng-if="avaliacao.ultimo_agendamento.nu_presenca !== null">
                      Prova realizada:
                      <b>{{ avaliacao.ultimo_agendamento.nu_presenca ? 'Presente' : 'Ausente' }}</b>
                    </div>
                  </td>
                  <td>
                    <div ng-bind-html="vm.getAgendamentoDisciplinas(avaliacao, avaliacao.ultimo_agendamento.bl_provaglobal)"></div>
                  </td>
                  <td class="no-wrap text-center">
                    <div ng-bind-html="vm.getAgendamentoData(avaliacao.ultimo_agendamento, avaliacao.bl_provaonline)"></div>
                  </td>
                  <td>
                    <div ng-bind-html="vm.getAgendamentoLocal(avaliacao.ultimo_agendamento, avaliacao.bl_provaonline)"></div>
                  </td>
                  <td class="no-wrap" width="50">
                    <span ng-if="avaliacao.bl_agendamentoativo">
                      <button
                        class="btn btn-sm btn-primary" type="button"
                        ng-if="vm.toggleBotaoImprimirComprovante(avaliacao)"
                        ng-click="vm.abrirComprovanteAgendamento(avaliacao.ultimo_agendamento.id_avaliacaoagendamento)"
                      >
                        Comprovante
                      </button>
                    </span>
                    <button
                      class="btn btn-sm btn-primary btn-inverse" type="button"
                      ng-if="vm.toggleBotaoRealizarProva(avaliacao)"
                      ng-click="vm.abrirAvaliacaoMaximize(avaliacao.st_linkexternoavaliacao)"
                    >
                      {{vm.getStringAvaliacaoMaximize(avaliacao.ultimo_agendamento.dt_aplicacao)}}
                    </button>
                    <button class="btn btn-sm btn-primary" type="button"
                            ng-if="vm.toggleBotaoReagendamento(avaliacao)"
                            ng-click="vm.abrirAgendamento(avaliacao)"
                    >
                      Reagendar
                    </button>
                    <button class="btn btn-sm btn-primary" type="button"
                            ng-if="vm.toggleBotaoAgendamento(avaliacao)"
                            ng-click="vm.abrirAgendamento(avaliacao)"
                    >
                      Agendar
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <form name="agendamentoForm" ng-if="vm.etapaAtual == 'endereco'" ng-submit="vm.salvarEnderecoCorrespondencia($event)">
          <div class="row row-gutter">

            <div class="col-xs-12">
              <h4>
                Endereço de Correspondência
              </h4>
              <p>
                É necessário confirmar seu endereço para que possa realizar o agendamento de suas provas.
                Preencha corretamente o formulário abaixo para liberar o agendamento.
              </p>
            </div>

            <hr class="divider"/>

            <div class="col-md-3 form-group">
              <label for="st_cep">CEP</label>
              <input id="st_cep" class="form-control" type="text" required="required" pattern="\d{5}-\d{3}"
                     ng-change="vm.buscarEnderecoCep()"
                     ng-model="vm.endereco.st_cep"
                     ui-br-cep-mask
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="st_endereco">Endereço</label>
              <input id="st_endereco" class="form-control" type="text" required="required" ng-model="vm.endereco.st_endereco"/>
            </div>

            <div class="col-xs-6 col-md-3 form-group">
              <label for="nu_numero">Número</label>
              <input id="nu_numero" class="form-control" type="text" required="required" maxlength="10" ng-model="vm.endereco.nu_numero"/>
            </div>

            <div class="col-xs-6 col-md-3 form-group">
              <label for="st_complemento">Complemento</label>
              <input id="st_complemento" class="form-control" type="text" ng-model="vm.endereco.st_complemento"/>
            </div>

            <div class="col-md-6 form-group">
              <label for="st_bairro">Bairro</label>
              <input id="st_bairro" class="form-control" type="text" required="required" ng-model="vm.endereco.st_bairro"/>
            </div>

            <div class="col-md-3 form-group">
              <label for="sg_uf">UF</label>
              <select id="sg_uf" class="form-control" required="required"
                      ng-change="vm.buscarMunicipios(vm.endereco.sg_uf)"
                      ng-model="vm.endereco.sg_uf"
                      ng-options="item.sg_uf as item.st_uf for item in vm.ufs"
              ></select>
            </div>

            <div class="col-md-6 form-group">
              <label for="id_municipio">Cidade</label>
              <select id="id_municipio" class="form-control" required="required"
                      ng-model="vm.endereco.id_municipio"
                      ng-options="item.id_municipio as item.st_nomemunicipio for item in vm.municipios"
              ></select>
            </div>

            <div class="col-md-6 form-group">
              <label for="id_pais">País</label>
              <select id="id_pais" class="form-control" required="required"
                      ng-model="vm.endereco.id_pais"
                      ng-options="item.id_pais as item.st_nomepais for item in vm.paises"
              ></select>
            </div>

            <div class="col-xs-12 text-right">
              <hr class="divider"/>
              <button class="btn btn-primary" type="submit">
                Confirmar Endereço
              </button>
            </div>

          </div>

        </form>

        <div class="row row-gutter" ng-if="vm.etapaAtual == 'agendamento'">
          <div class="col-xs-12">
            <h4>
              Aplicações Disponíveis
            </h4>
            <p>
              Selecione <span ng-if="!vm.agendamento.bl_provaonline">o local e </span>a data em que deseja realizar a avaliação.
            </p>
          </div>

          <hr class="divider"/>

          <div class="col-md-4 form-group" ng-if="!vm.agendamento.bl_provaonline">
            <label for="sg_uf_agendamento">UF</label>
            <select id="sg_uf_agendamento" class="form-control" required="required"
                    ng-change="vm.buscarMunicipiosAgendamento(vm.endereco.sg_uf)" ng-model="vm.endereco.sg_uf">
              <option value="" selected> Selecione...</option>
              <option ng-repeat="item in vm.ufsAgendamento" value="{{item.sg_uf}}">
                {{item.st_uf}}
              </option>
            </select>
          </div>

          <div class="col-md-8 form-group" ng-if="!vm.agendamento.bl_provaonline">
            <label for="id_municipio_agendamento">Cidade</label>
            <select id="id_municipio_agendamento" class="form-control" required="required"
                    ng-change="vm.buscarAvaliacaoAplicacoes(vm.agendamento.id_avaliacao)"
                    ng-model="vm.endereco.id_municipio">
              <option value="" selected> Selecione...</option>
              <option ng-repeat="item in vm.municipios" value="{{item.id_municipio}}">
                {{item.st_nomemunicipio}}
              </option>
            </select>
          </div>

          <!-- Info de nenhum registro encontrado (somente após carregar) -->
          <div class="col-xs-12" ng-if="!vm.loading && !vm.aplicacoes.length && vm.endereco.id_municipio">
            <div class="alert alert-warning">
              Nenhuma aplicação disponível para agendamento.
            </div>
          </div>

          <div class="col-xs-12" ng-if="vm.aplicacoes.length">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Aplicador</th>
                  <th>Data</th>
                  <th>Local</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="aplicacao in vm.aplicacoes"
                    ng-class="{'info': vm.agendamento.id_avaliacaoaplicacao == aplicacao.id_avaliacaoaplicacao}"
                >
                  <td>
                    {{ aplicacao.st_aplicadorprova }}
                  </td>
                  <td class="no-wrap text-center">
                    <div ng-bind-html="vm.getAgendamentoData(aplicacao, vm.agendamento.bl_provaonline)"></div>
                  </td>
                  <td>
                    <div ng-bind-html="vm.getAgendamentoLocal(aplicacao, vm.agendamento.bl_provaonline)"></div>
                  </td>
                  <td width="50">
                    <button class="btn btn-sm btn-primary" type="button"
                            ng-click="vm.agendamento.id_avaliacaoaplicacao = aplicacao.id_avaliacaoaplicacao; vm.confirmarSalvarAgendamento(aplicacao)"
                    >
                      Selecionar
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <hr class="divider"/>
      </div>

      <div class="col-xs-12 col-md-5 col-lg-4">
        <div class="row row-gutter">

          <div class="col-md-12">

            <div class="flex-grid text-center no-select">
              <div class="flex-col flex-col-right">
                <a title="Mês anterior" ng-click="vm.alterarDataCalendario(-1, 0)">
                  <i class="glyphicon glyphicon-chevron-up"></i>
                </a>
                <label class="agendamento-subheader agendamento-link agendamento-month" ng-model="vm.calendario.calendarView" uib-btn-radio="'year'">
                  {{ vm.calendario.date.toLocaleDateString('pt-br', {month: 'long'}) }}
                </label>
                <a title="Próximo mês" ng-click="vm.alterarDataCalendario(1, 0)">
                  <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
              </div>
              <div class="flex-col padding-left">
                <a title="Ano anterior" ng-click="vm.alterarDataCalendario(0, -1)">
                  <i class="glyphicon glyphicon-chevron-up"></i>
                </a>
                <label class="agendamento-subheader agendamento-link agendamento-year" ng-model="vm.calendario.calendarView" uib-btn-radio="'year'">
                  {{ vm.calendario.date.getFullYear() }}
                </label>
                <a title="Próximo ano" ng-click="vm.alterarDataCalendario(0, 1)">
                  <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
              </div>
            </div>

            <hr class="divider divider-bordered"/>

            <div>
              <mwl-calendar
                template-scope="vm"
                view="vm.calendario.calendarView"
                view-title="vm.calendario.calendarTitle"
                view-date="vm.calendario.date"
                events="vm.calendario.events"
                on-view-change-click="vm.calendario.viewChangeClicked(calendarNextView)"
                cell-is-open="vm.calendario.isOpen"
              >
              </mwl-calendar>
            </div>
          </div>

        </div>
      </div>

    </div>

    <hr class="divider"/>

  </div>
</perfect-scrollbar>
