@import "../../../scss/common"; // Talvez você precise alterar este destino

#pwAgendamentoForm {

  position: relative;

  .no-wrap {
    white-space: nowrap;
  }

  .titulo-mensagem {
    border: 0;
    height: auto !important;
    padding-top: 0;

    h1 {
      margin: 0;
    }
  }

  .agendamento-subheader {
    display: block;
    font-size: 1.6rem;
  }

  .agendamento-link {
    cursor: pointer;
    text-decoration: underline;
    text-transform: capitalize;
  }

  .agendamento-month {
    width: 80px;
  }

  .agendamento-year {
    width: 40px;
  }

  .agendamento-card {
    .card-title {
      margin: 5px 0;
    }
  }

  .box-disciplina{
    background-color: $brand-primary;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 5px 10px;
  }

  // CALENDARIO CSS
  mwl-calendar {
    #cal-week-box {
      display: none;
    }

    .cal-row-head > * {
      color: transparent;
      line-height: 0;
      font-size: 0;
    }

    .cal-row-head > *:first-letter {
      color: $preto !important;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
    }

    .cal-cell {
      span {
        color: $preto !important;
        display: block;
        float: none !important;
        font-size: 16px;
        margin: 0;
        opacity: .8;
        padding: 15px;
        white-space: nowrap;
        z-index: 2;
      }
    }

    .cal-year-box .cal-cell,
    .cal-month-box .cal-cell,
    .cal-month-day {
      min-height: 0;
      height: auto;
    }

    .cal-day-today {
      background-color: transparent;
    }

    .cal-day-tick {
      border: 1px solid $cinza-3;
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      margin-top: -2px;
      transform: translateY(-100%);
    }

    .cal-year-box {
      .calendario-agendamentos,
      .cal-day-tick {
        display: none !important;
      }
    }

    .cal-month-day {
      position: relative;
      padding-bottom: 100%;

      &.cal-day-inmonth {
        background-color: $cinza-2;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    .cal-events-num {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px 5px 0 0;
    }

    // Configuracoes status dia

    .events-list {
      position: static;
    }

    .event {
      &.agendamento-status-agendado:after {
        position: absolute;
        top: 0;
        left: 0;
        color: $branco;
        content: '';
        height: 100%;
        width: 100%;
      }

      &.agendamento-status-agendado:after {
        background-color: $azul-txt;
      }
    }

    .calendario-agendamentos {
      table {
        background-color: $cinza-3;
        margin: 0;
      }

      th, td {
        font-size: 12px;

        &:not(.text-left) {
          text-align: center;
        }
      }
      th:empty, td:empty {
        padding: 0;
        width: 0;
      }
    }

    .agendamento-actions {
      background-color: $cinza-2;
      padding: 15px 0;
    }

  }

}
