@import "../../../scss/common";

#pcDocumentosMenu {

  $bg: $cinza-2;
  $txt: $cinza-6;

  a {
    text-decoration: none !important;

    .icon {
      font-size: 3em;
      margin: 0;
    }

    .icon-group {
      position: relative;
      margin-right: 10px;

      .icon-float {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $bg;
        border: 1px solid $txt;
        border-radius: 50%;
        display: inline-block;
        margin: 5px 7px;
        text-align: center;

        font-size: 9px;
        font-weight: bold;
        line-height: 1;

        padding: 2px;
        height: 15px;
        width: 15px;
      }
    }

    &.selected {
      .icon-float {
        border-color: $brand-primary !important;
      }
    }

    &:hover, &:focus {
      div:not(.icon-group,.lista_items) {
        text-decoration: underline;
      }
    }
  }

  .icon-info {
    display: block;
    margin: 5px 8px 5px 5px;
    font-size: 2.2em;
  }

  .lista_items {
    &.icon-float {
      border-color: $brand-primary !important;
    }

    .selected {
      color: #A73866;

      div:not(.icon-group) {
        text-decoration: underline;
      }

      .icon-float {
        border-color: $brand-primary !important;
      }
    }

    li {
      margin-bottom: 15px;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

}
