<div class="scroll-wrapper">
  <perfect-scrollbar id="pcDocumentosMenu" class="modern-nav">
    <nav class="content">
      <a
        class="flex-grid flex-middle"
        ng-class="{'selected' : vm.$state.current.name === 'app.documentos' || vm.$state.current.name === 'app.documentos.acompanhar'}"
        ui-sref="app.documentos.acompanhar"
        ng-if="vm.permiteAcompanhar || !vm.isGraduacao"
      >
        <div class="icon-group">
          <i class="icon icon-icon_aula"></i>
        </div>
        <div>Acompanhar solicitações</div>
      </a>
      <a
        class="flex-grid flex-middle"
        ng-class="{'selected' : vm.$state.current.name === 'app.documentos.solicitar'}"
        ui-sref="app.documentos.solicitar"
        ng-if="vm.permiteSolicitar || !vm.isGraduacao"
      >
        <div class="icon-group">
          <i class="icon icon-icon_aula"></i>
          <span class="icon-float">＋</span>
        </div>
        <div>
          Solicitar documentos e declarações
          <small>Somente documentos acadêmicos e declarações</small>
        </div>
      </a>

      <a class="loading-text mt-4" ng-if="vm.loading && vm.loadingGif">
        Carregando menu...
      </a>

      <a ng-if="vm.exibirMenuDocumentosPessoais && !vm.loading" class="flex-grid flex-middle" href="#">
        <div class="icon-group"
             ui-sref="app.documentos.meus"
             ng-class="{'selected' : vm.$state.current.name === 'app.documentos.meus' || vm.$state.current.name === 'app.documentos.pessoais'}">
          <i class="icon icon-icon_aula"></i>
          <i class="icon-float icon-icon_pessoa2"></i>
        </div>
        <div class="lista_items">
            <span
              ng-class="{'selected' : vm.$state.current.name === 'app.documentos.meus' || vm.$state.current.name === 'app.documentos.pessoais'}"
              ui-sref="app.documentos.meus">
              Meus documentos
            </span>
          <ul>
            <li ui-sref-active="active" ng-class="{'selected' : vm.$state.current.name === 'app.documentos.meus'}"
                ui-sref="app.documentos.meus">
              <small><strong>Documentos para baixar</strong></small>
              <small>Documentos que não necessitam de solicitação (IR, contratos, aditivos, etc.)</small>
            </li>
            <li ng-class="{'selected' : vm.$state.current.name === 'app.documentos.pessoais'}"
                ui-sref="app.documentos.pessoais">
              <small><strong>Documentos pessoais</strong></small>
              <small ng-if="vm.isGraduacao">
                Documentos de envio obrigatório pelo aluno para a conclusão do processo de matrícula acadêmica.
              </small>
              <small ng-if="!vm.isGraduacao">
                Documentos de envio obrigatório pelo aluno para a conclusão do curso e emissão do certificado.
              </small>
            </li>
          </ul>
        </div>
      </a>
      <a ng-if="!vm.exibirMenuDocumentosPessoais && !vm.loading"
        class="flex-grid flex-middle"
        ng-class="{'selected' : vm.$state.current.name === 'app.documentos.meus'}"
        ui-sref="app.documentos.meus"
      >
        <div class="icon-group">
          <i class="icon icon-icon_aula"></i>
          <i class="icon-float icon-icon_pessoa2"></i>
        </div>
        <div>
          Meus documentos
          <small>Documentos que não necessitam de solicitação (IR, contratos, aditivos, etc.)</small>
        </div>
      </a>

      <a
        class="flex-grid flex-middle"
        ng-class="{'selected' : vm.$state.current.name === 'app.documentos.info'}"
        ui-sref="app.documentos.info"
        ng-if="vm.isGraduacao"
      >
        <div class="icon-group">
          <i class="icon-info icon-icon_arc"></i>
        </div>
        <div>
          Informações sobre documentos e declarações
        </div>
      </a>

    </nav>
  </perfect-scrollbar>
</div>
