@import "../../../scss/common";

#pcDocumentosMain {

  $bg: $cinza-2;
  $txt: $cinza-6;

  background-color: $bg;
  color: $txt;

  //.glyphicon {
  //  display: inline-block !important;
  //  vertical-align: -2px;
  //}

  .content {
    border-radius: 6px;
    margin: 15px;

    &:not([class*="bg-"]) {
      background-color: #fff;
    }
  }

  .rounded {
    border-radius: 4px !important;
  }

  .txt-big {
    font-size: 18px;
  }

  .bg-light {
    background-color: $bg;
  }

  .text-secondary {
    color: $cinza-4 !important;
  }

  .text-warning {
    color: $laranja-txt !important;
  }

  .bg-success {
    background-color: $verde-bg !important;
  }

  //.bg-warning {
  //  background-color: $laranja-bg !important;
  //}

  .bg-danger {
    background-color: $vermelho-bg !important;
  }

  .font-weight-normal {
    font-weight: normal;
  }

  .form-control {
    border-color: $brand-primary;
    border-radius: 4px;
    color: $brand-primary;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
  }

  input[type=checkbox] {
    position: relative;
    cursor: pointer;
  }

  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid $brand-primary;
    border-radius: 3px;
    background-color: white;
  }

  input[type=checkbox]:checked:before {
    background-color: $brand-primary;
    border: 0;
  }

  input[type=checkbox]:checked:after {
    position: absolute;
    top: 2px;
    left: 6px;

    content: "";
    display: block;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

    height: 10px;
    width: 5px;
  }

  .qtd-selecionados {
    b {
      font-size: 1.5em;
      vertical-align: -2px;
    }
  }

  .box-light {
    background-color: $cinza-2;
    border-radius: 4px;
    margin-top: 15px;
    padding: 15px;
  }

  .vlr-total {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  }

}
