<div id="pcDocumentosMain" class="scroll-wrapper">

  <div class="row scroll-wrapper" >
    <pc-documentos-solicitar class="scroll-wrapper"
                             ng-if="vm.$state.current.name === 'app.documentos.solicitar'">
    </pc-documentos-solicitar>
    <pc-documentos-confirmar class="scroll-wrapper"
                             ng-if="vm.$state.current.name === 'app.documentos.confirmar'">
    </pc-documentos-confirmar>
    <pc-documentos-meus class="scroll-wrapper col-xs-12 col-md-8"
                        ng-if="vm.$state.current.name === 'app.documentos.meus'">
    </pc-documentos-meus>
    <pc-documentos-pessoais class="scroll-wrapper col-xs-12 col-md-8"
                        ng-if="vm.$state.current.name === 'app.documentos.pessoais'">
    </pc-documentos-pessoais>
    <pc-documentos-info class="scroll-wrapper col-xs-12 col-md-8"
                        ng-if="vm.$state.current.name === 'app.documentos.info'">
    </pc-documentos-info>
    <pc-documentos-acompanhar class="scroll-wrapper col-xs-12 col-md-8"
                              ng-if="vm.$state.current.name === 'app.documentos.acompanhar' || vm.$state.current.name === 'app.documentos'">
    </pc-documentos-acompanhar>
    <pc-documentos-menu class="scroll-wrapper col-xs-12 col-md-4" ng-if="vm.showMenu()"></pc-documentos-menu>
  </div>


</div>
