@import "../../../scss/common";
@import "../../../scss/customize/variables";

#pcChamadosList {

  .chamado-list {
    .lista-ocorrencia {
      cursor: pointer;

      .col-info, .col-status {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }

    .list-group {
      margin: 0;
    }

    .button-style {
      margin-top: 15px;
      width: 100%;

      text-align: right;

      .imagem-button {
        margin-left: 10px;
        height: 10px;
      }

      .imagem-atention {
        margin-right: 5px;
        height: 15px;
      }
    }

    .button-style-encerramento {
      background: #FFFFFF;
      border: 1px solid #8E98A3;
      box-sizing: border-box;
      border-radius: 6px;

      color: #8E98A3;
    }

    .button-style-interagir {
      background: #F2F2F2;
      box-sizing: border-box;
      border-radius: 6px;

      color: #C71010;
    }

    .button-style-aguardando {
      background: #FFFFFF;
      border: 1px solid #8E98A3;
      box-sizing: border-box;
      border-radius: 6px;
    }

    .button-style-atendido {
      background: #F2F2F2;
      box-sizing: border-box;
      border-radius: 6px;
      border: none !important;
    }

    .button-style-nao-lido {
      background: #F2F2F2;
      box-sizing: border-box;
      border-radius: 6px;
      border: none !important;

      color: #A73866;
    }

    .pc-text-nenhuma-ocorrencia {
      font-size: 17px;
      line-height: 1.6;
      text-align: center;
      color: #828282;
    }

    .flex-container {
      display: flex
    }

    .item-flex {
      flex: 1;
    }

    .item-flex-informacoes {
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 23px;
    }

    .item-flex-assunto {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
    }

    .overflow-informacoes {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .box-cancelamento {
      margin: 16px 0 0 0;
      color: #8E98A3;
      background: #FFFFFF;
      border: 1px solid #8E98A3;
      box-sizing: border-box;
      border-radius: 6px;
    }

    .box-normal {
      margin: 16px 0 0 0;
      color: #333333;
      background: #FFFFFF;
      border: 1px solid #8E98A3;
      box-sizing: border-box;
      border-radius: 6px;
    }

    .box-atencao {
      margin: 16px 0 0 0;
      background: #FFFFFF;
      border: 3px solid #C71010;
      box-sizing: border-box;
      border-radius: 6px;
    }

    .box-naolido {
      margin: 16px 0 0 0;
      background: #FFFFFF;
      border: 3px solid #A73866;;
      box-sizing: border-box;
      border-radius: 6px;
    }

    .button-interagir {
      background: #F2F2F2;
      border: 1px solid #C71010;
      box-sizing: border-box;
      border-radius: 8px;

      width: 100px;
      margin-left: 10px;
      color: #C71010;
    }

    .button-nao-lido {
      background: #F2F2F2;
      border: 1px solid #A73866;
      box-sizing: border-box;
      border-radius: 8px;

      width: 100px;
      margin-left: 10px;
      color: #A73866;
    }
  }

}
