<div id="pcChamadosList">
  <pc-chamados-cabecalho></pc-chamados-cabecalho>

  <hr class="mb-0 mt-4"/>

  <div class="loading-text mt-4" ng-if="vm.loading">
    Buscando ocorrências...
  </div>

  <div class="row-list row chamado-list" ng-if="!vm.loading">
    <div ng-show="vm.chamados.length == 0" class="flex-grid flex-center flex-middle my-5">
      <div class="pc-text-nenhuma-ocorrencia">
        Você não tem ocorrências abertas.<br/>
        Utilize o botão acima para abrir uma ocorrência.
      </div>
      <div class="imagem">
        <img class="ml-5" ng-src="{{vm.topArrow}}" alt="/\"/>
      </div>
    </div>

    <div class="list-group">
      <div class="lista-ocorrencia list-group-box"
           ng-repeat="ocorrencia in vm.chamados | orderBy: {'dt_ultimotramite': 'desc','dt_cadastro':'desc'}">
        <div class="row-bs4"
             ng-class="ocorrencia.condicaoEvolucao === 'ENCERRADO' ? 'box-cancelamento' :
                 (ocorrencia.condicaoEvolucao === 'AGUARDANDO_INTERESSADO' ? 'box-atencao' :
                 (ocorrencia.condicaoEvolucao === 'AGUARDANDO_ATENDENTE' && ocorrencia.tramite.bl_lido === false ? 'box-naolido' :
                 (ocorrencia.condicaoEvolucao === 'AGUARDANDO_ATENDIMENTO' && ocorrencia.tramite.bl_lido === false ? 'box-naolido' : 'box-normal')))"
             ui-sref="app.chamados.show({id_ocorrencia: ocorrencia.id_ocorrencia})"
             ng-click="vm.visualizarOcorrencia($event, ocorrencia)"
        >
          <div class="col-xs-12 col-sm-6 col-md-7 col-info">
            <div class="item-flex-informacoes">
                        <span>Número da ocorrência: <span
                          style="font-size: 14px;"><b>{{ocorrencia.id_ocorrencia}}</b></span></span>
            </div>
            <div class="item-flex-assunto overflow-informacoes" ng-if="ocorrencia.dt_ultimotramite">
              {{ocorrencia.st_titulo}}
            </div>
            <div class="item-flex-informacoes overflow-informacoes" ng-if="ocorrencia.dt_ultimotramite">
              <span class="">{{ocorrencia.st_categoriaocorrencia}} | {{ocorrencia.st_assuntoco}}</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5 col-status">
            <div class="item-flex-informacoes pull-right">
              <span><b>{{ocorrencia.st_situacao.toUpperCase()}}</b> | Data de abertura: {{ocorrencia.dt_cadastro | asDate: 'dd/MM/yyyy'}}</span>
            </div>
            <div ng-show="ocorrencia.condicaoEvolucao === 'ENCERRADO'">
              <button class="button-style item-flex-informacoes button-style-encerramento pull-right">
                <b>Ocorrência encerrada em {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                <img class="imagem-button" ng-src="{{vm.rigthArrow}}"></button>
            </div>
            <div ng-show="ocorrencia.condicaoEvolucao === 'AGUARDANDO_INTERESSADO'">
                  <span class="button-style item-flex-informacoes button-style-interagir pull-right">
                    <img class="imagem-atention" ng-src="{{vm.atention}}">
                    <b>Aguardando sua resposta - {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                    <button class="button-interagir"><b>Responder</b></button>
                  </span>
            </div>
            <div ng-show="ocorrencia.condicaoEvolucao === 'AGUARDANDO_ATENDENTE'">
              <button
                ng-show="(ocorrencia.tramite.bl_lido === true) && (ocorrencia.tramite.id_usuario == ocorrencia.id_usuariointeressado)"
                class="button-style item-flex-informacoes button-style-aguardando pull-right">
                <b>Você interagiu em {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                <img class="imagem-button" ng-src="{{vm.rigthArrow}}"></button>
              <button
                ng-show="(ocorrencia.tramite.bl_lido === true) && (ocorrencia.tramite.id_usuario != ocorrencia.id_usuariointeressado)"
                class="button-style item-flex-informacoes button-style-atendido pull-right">
                <b>O atendente respondeu em {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                <img class="imagem-button" ng-src="{{vm.rigthArrow}}"></button>
              <span ng-show="ocorrencia.tramite.bl_lido === false"
                    class="button-style item-flex-informacoes button-style-nao-lido pull-right">
                    <b>O atendente respondeu em {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                    <button class="button-nao-lido"> <b>Ver resposta</b></button>
                  </span>
            </div>
            <div ng-show="ocorrencia.condicaoEvolucao === 'AGUARDANDO_ATENDIMENTO'">
              <button
                ng-show="(ocorrencia.tramite.bl_lido === true) && (ocorrencia.tramite.id_usuario == ocorrencia.id_usuariointeressado)"
                class="button-style item-flex-informacoes button-style-aguardando pull-right">
                <b>{{ocorrencia.st_evolucao}} - {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                <img class="imagem-button" ng-src="{{vm.rigthArrow}}"></button>
              <button
                ng-show="(ocorrencia.tramite.bl_lido === true) && (ocorrencia.tramite.id_usuario != ocorrencia.id_usuariointeressado)"
                class="button-style item-flex-informacoes button-style-atendido pull-right">
                <b>O atendente respondeu em {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                <img class="imagem-button" ng-src="{{vm.rigthArrow}}"></button>
              <span ng-show="ocorrencia.tramite.bl_lido === false"
                    class="button-style item-flex-informacoes button-style-nao-lido pull-right">
                    <b>O atendente respondeu em {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                    <button class="button-nao-lido"> <b>Ver resposta</b></button>
                  </span>
            </div>
            <div ng-show="ocorrencia.condicaoEvolucao === 'DEFAULT'">
              <button ng-show="ocorrencia.tramite.bl_lido === true"
                      class="button-style item-flex-informacoes button-style-atendido pull-right">
                <b>O atendente respondeu em {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                <img class="imagem-button" ng-src="{{vm.rigthArrow}}"></button>
              <span ng-show="ocorrencia.tramite.bl_lido === false"
                    class="button-style item-flex-informacoes button-style-nao-lido pull-right">
                    <b>O atendente respondeu em {{ocorrencia.dt_ultimainteracao | asDate: 'dd/MM/yyyy'}}</b>
                    <button class="button-nao-lido"><b>Ver resposta</b></button>
                  </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
