<div>
  <div ng-repeat="item in vm.videosRecuperados track by $index">
    <img class="tutorial_thumb" ng-src="{{item.imagem}}" ng-click="vm.abrirModal(item)"/>
    <div>{{item.duracao}}</div>
    <div>{{item.titulo}}</div>
    <div class="tutorial_separator" ng-if="$index !== vm.videosRecuperados.length-1"></div>
  </div>
</div>
