<perfect-scrollbar id="pcAtividadeComplementarForm" class="scroll-wrapper font-default default-bg">
  <div class="loading-fill" ng-if="vm.loading && vm.loadingGif">
    <img ng-src="{{vm.loadingGif}}"/>
  </div>

  <ui-container>
    <ui-title
      title="Cadastrar Atividade Complementar"
      subtitle="Cadastre uma nova atividade complementar sempre quando quiser."
      icon="<i class='icon-icon_disc'></i>"
      divider="true"
    ></ui-title>

    <form class="row row-gutter" ng-submit="vm.salvarAtividadeComplementar(vm.editModel, $event)">
      <label class="form-group col-xs-12 col-md-6">
        Título da Atividade Complementar *:
        <input class="form-control" type="text" maxlength="100" ng-model="vm.editModel.st_tituloatividade" ng-required="required"/>
      </label>
      <label class="form-group col-xs-12 col-md-6">
        Tipo da Atividade Complementar *:
        <select class="form-control"
                ng-model="vm.editModel.id_tipoatividade"
                ng-required="required"
                ng-options="item as item.st_tipoatividadecomplementar for item in vm.tiposAtividades track by item.id_tipoatividadecomplementar"
        ></select>
      </label>
      <label class="form-group col-xs-12">
        Informações Adicionais:
        <textarea class="form-control" rows="6" maxlength="300" ng-model="vm.editModel.st_resumoatividade"></textarea>
        <small class="pull-right">
          <span>{{ vm.editModel.st_resumoatividade.length || 0 }}</span>/300
        </small>
      </label>
      <label class="form-group col-xs-12">
        Anexar *:
        <!--<input class="form-control" type="file" required ng-model="vm.editModel.anexo"/>-->
        <div class="drop-box" name="anexo"
             ng-model="vm.editModel.anexo"
             ng-required="required"
             ngf-drop ngf-select
             ngf-drag-over-class="'dragover'"
             ngf-multiple="false"
             ngf-allow-dir="false"
             ngf-accept="'image/png,image/jpg,image/jpeg,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
             ngf-pattern="'.png,.jpg,.jpeg,.docx,.doc,.pdf'"
             ngf-change="vm.validarArquivos($invalidFiles)"
             ngf-max-size="10MB"
        >
          <div class="form-control">
            <div ng-if="!vm.editModel.anexo.name">
              Arraste seu arquivo ou clique aqui para selecionar.
            </div>
            <div ng-if="vm.editModel.anexo.name">
              {{ vm.editModel.anexo.name }}
            </div>
          </div>
        </div>
      </label>
      <div class="form-group text-right">
        <a class="btn btn-secondary" ng-click="vm.voltarParaLista()">
          Cancelar
        </a>
        <button class="btn btn-primary btn-inverse" type="submit">
          Salvar
        </button>
      </div>
    </form>
  </ui-container>
</perfect-scrollbar>
