<iframe style='position:fixed;display:none;top:-1px;left:-1px;' ng-src="{{detailFrame}}"></iframe>
<div class="scroll-wrapper">
  <perfect-scrollbar id="pcDocumentosMenu" class="modern-nav">
    <nav class="content">
      <a
        ng-click="vm.gerarRelacaoDisciplinas()"
        class="flex-grid flex-middle"
      >
        <div class="icon-group">
          <i class="icon-info icon-icon_arc"></i>
        </div>
        <div>
          Fazer Download em PDF
        </div>
      </a>
    </nav>
  </perfect-scrollbar>
</div>
