<style>
.dt-BOTfloater {
        font-size: 0px !important;
        background-color: transparent !important;
        box-shadow: rgb(208, 208, 208) 0px 0px 0px !important;
        width: 295px !important;
        height: 458px !important;
        border-radius: 0px !important;
        right: 15px !important;
        transform: rotate(0deg) !important;
        background-image: url("{{vm.imagem_bot}}"); /* ALTERAR PARA O CAMINHO DA NOVA IMAGEM */
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: none !important;
}
.dtbotfull {
    position:absolute !important;
    bottom:0 !important;
    right:25px;
    text-align: center;
    width: 140px;
    font-size: 14px;
}

.dt-closebutton {
    background-color: #682a3c !important;
    color:transparent !important;
    font-size: 0 !important;
    line-height: 0 !important;
    width:70px !important;
    border-radius: 15px!important;
}

.dt-closebutton:after {
    content:'Fechar';
    color:white !important;
    font-size: 12px !important;
    line-height: 1.2 !important;
}

.dtbotminimizado{
    position:absolute !important;
    bottom:0 !important;
    right:0;
}

.hidden{
    display: none;
}

.showBot{
    display: inline;
}

.botaoEsconderBot{
    position:absolute ;
    background-color: #682a3c ;
    color:white ;
    font-size: 12px ;
    line-height: 1.2 ;
    width:30px ;
    border-radius: 15px;
    border:0;
    right:-40px;
    margin:30px;
}

.atendimentoVirtual{
    background-color: #682a3c ;
    color:white ;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    width: 140px;
    display: block;
}

.toolTip{
    position:absolute ;
    background-color: #EEEEEE;
    text-align: center;
    color:#A73866 ;
    font-size: 12px ;
    width:60px ;
    border-radius: 15px;
    border:0;
    padding:5px;
    -webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
    opacity: 0;
}

#fecharBot .toolTip{
    right: -22px;;
}

#fecharBot:hover .toolTip{
    opacity: 1;
}

#dtbot-iframe {
    display: block;
    border: 0px !important;
    box-shadow: rgb(208, 208, 208) 0px 0px 3px;
    z-index: 900;
    max-height: 100%;
    max-width: 100%;
    will-change: left, top;
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    height: 523px;
    width: 708px;
    left: 648px;
}

.img-bot {
    height: 175px;
}

</style>

<div class='dtbotfull'>
    <div id='fecharBot'>
        <label class='toolTip'>Fechar</label>
        <button ng-click="vm.minimizar()" class='botaoEsconderBot {{vm.mostrarBot}}'> - </button>        
    </div>
    <img ng-click="vm.minimizar()" class='dtbotminimizado {{vm.mostrarAvatar}}' ng-src="{{vm.avatar_bot}}" />
    <div  ng-click="vm.abrir()">
        <img class='img-bot {{vm.mostrarBot}}' ng-src="{{vm.imagem_bot}}" />
        <label class='atendimentoVirtual {{vm.mostrarBot}}'>Assistente de secretaria</label>
    </div>
</div>
