<div class="container-fluid">
  <div class="row pc-title-class">
    <div class="col-xs-12 col-sm-8">
      <div class="pull-left pc-title-class-icon"><i class="icon-icon_discs"></i></div>
      <div class="pc-title-class-title-container">
        <p class="pc-title-class-title">Meus Documentos</p>
        <p class="pc-title-class-description">Faça download dos seus documentos a qualquer momento.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 meusdocumentos">
      <pw-meus-documentos exibir-titulo="false"></pw-meus-documentos>
    </div>
  </div>
</div>
