<div id="pcFinanceiroCabecalho" class="font-default">
  <div class="flex-grid flex-wrap">
    <div class="col-title-full">
      <ui-title
        title="Financeiro"
        subtitle="Aqui você pode acompanhar e fazer as atividades relacionadas ao seu histórico financeiro."
        icon="<i class='icon-icon_financa'></i>"
        divider="true"
      ></ui-title>
    </div>
  </div>
</div>
