@import "../../../scss/common";
@import "../../../scss/customize/variables";

#clubelivro-container {
  height: 90vh;

  .clubelivro {
    height: 100%;
    width: 100%;
    position: absolute;
    //retirar a altura do pc-title-class
    border-bottom-width: 76px;
  }

}
