<div class="container-fluid scroll-wrapper no-padding" id="clubelivro-container">
  <div class="row pc-title-class">
    <div class="col-xs-12 col-sm-8 pc-title-class-title-container  nopadding">
      <div class="pull-left pc-title-class-icon"><i class="icon icon-books"></i></div>
      <p class="pc-title-class-title">Clube do Livro</p>
      <p class="pc-title-class-description">Acesso ao Clube do Livro.</p>
    </div>
  </div>

  <img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>

  <iframe ng-if="vm.urlClubeLivro"
          class="clubelivro"
          frameborder="0"
          allowtransparency="true"
          src="{{vm.urlClubeLivro}}">
  </iframe>
</div>
