@import "../../../scss/common";
// Talvez você precise alterar este destino
@import "../../../scss/customize/variables";

#pwDisciplinaAndamento {
  $c-red: #f44336;
  $c-green: #4caf50;
  $c-blue: #7fa2d5;
  $c-yellow: #fbc02d;
  $c-orange: #ef6f0e;

  font-size: 13px;

  .container-grafico {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      position: absolute;
      top: 75px;
      left: 50%;
      background-color: $cinza-4;
      height: 50px;
      width: 2px;
    }
  }

  .disciplina-info {
    padding-right: 0;

    & > div {
      margin-bottom: 5px;

      &:first-child {
        margin-bottom: 10px;
      }
    }

    &.disciplina-encerrada {
      .status {
        background-color: $c-blue !important;
      }
    }

    &.disciplina-indisponivel {
      .status {
        background-color: $c-orange !important;
      }
    }

    .status {
      background-color: $c-green;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      padding: 4px 12px 3px;
      text-transform: uppercase;
    }

    .info {
      cursor: default;
      margin-left: 15px;
      text-align: center;

      * {
        vertical-align: -4px;
      }
    }

    .prazo {
      &.atrasado {
        background-color: #f5f5f5;
        border: 1px solid $c-red;
        border-radius: 2px;
        color: $c-red;
        display: inline-block;
        padding: 5px 10px;
      }
    }

    .cronograma {
      color: black;
      &.diasFinais {
        color: red;
      }
    }

    .carga-horaria {
      color: $brand-primary;
      font-size: 22px;
      font-weight: bold;
      vertical-align: middle;
    }

    p {
      span {
        display: inline-flex;
        align-items: center;

        &:first-child {
          margin-right: 10px;
        }

        i {
          font-size: ceil(($font-size-base * 1.3));
        }
      }
    }

  }

  .divisorCronogramas {
    margin: 3px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
  }

  .btn-datas-atividades {
    border: 1px solid;
    border-radius: 3px !important;
    padding: 1px 4px;
    background-color: transparent;
    color: #606060;
  }

  .btn-datas-atividades:hover {
    color: $brand-primary;
  }

  .btn-datas-atividades:focus {
    outline-style: none;
  }

  #datasAtividadeDisciplina {
    margin: auto;

    .modal-content {
      width: 70%;
      margin: auto;

      button.close {
        display: none;
      }

      .modal-header {
        padding: 10px 0 0 0;
        text-align: center;
        font-size: 16px;
        color: #5f5f5f;

        h4 {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .modal-body {
      padding-left: 15%;

      .ng-scope {
        width: 85%;
      }

      .titulo-atividade {
        margin-bottom: 0;
        font-size: 16px;
      }

      .data-atividade {
        margin-bottom: 15px;
        font-size: 15px;
        color: #6d6d6d;
      }

      .atividade-dias-finais {
        text-decoration: line-through;
        color: #c1c1c1;
      }

    }

    .modal-footer {
      padding: 0 0 25px 0;
      text-align: center;
      border-top: none;

      button {
        width: 50%;
        border-radius: 6px !important;
        color: white;
        background-color: $brand-primary;
      }
    }
  }
}


