<div id="pwDisciplinaAndamento" class="container-fluid scroll-wrapper font-default">
  <div class="scroll-wrapper">
    <img ng-if="pwCtrl.loading && pwCtrl.loadingGif" ng-src="{{pwCtrl.loadingGif}}" class="loading" alt="Carregando..."/>

    <div class="scroll-wrapper flex-grid flex-middle">
      <div class="disciplina-info flex-col-fill padding" ng-class="{'disciplina-encerrada' : pwCtrl.isEncerrado(),'disciplina-indisponivel' : pwCtrl.isNaoIntegrado()}">
        <div class="flex-grid flex-middle">
          <div class="flex-col status">
            {{pwCtrl.disciplinaStatus}}
          </div>
          <div class="flex-col" ng-if="!pwCtrl.isConcurso">
            <div
              class="info"
              tooltip-placement="bottom"
              uib-tooltip="Carga horária da disciplina"
            >
              <i class="icon-icon_alarme carga-horaria"></i>
              {{pwCtrl.disciplina.nu_cargahoraria ? pwCtrl.disciplina.nu_cargahoraria + 'h' : '-'}}
            </div>
          </div>
          <div class="flex-col" ng-if="pwCtrl.isEncerrado()">
            <div
              class="info"
              tooltip-placement="bottom"
              uib-tooltip="Nota na disciplina"
            >
              <i class="icon-icon_nota"></i>
              {{pwCtrl.disciplina.nu_notafinal || '-'}}
            </div>
          </div>
          <div class="flex-col-fill"></div>
        </div>

        <div ng-if="(!pwCtrl.isGraduacao || pwCtrl.disciplina.ar_cronograma.length === 0) && !pwCtrl.isConcurso">
          {{pwCtrl.disciplina.dt_abertura | date : 'dd/MM/yy'}}
          até {{pwCtrl.disciplina.dt_encerramento | date : 'dd/MM/yy'}}
        </div>

        <div ng-if="pwCtrl.isGraduacao && pwCtrl.disciplina.ar_cronograma.length > 0">
          <p>
            Verifique as datas das atividades da disciplina para cumprir os prazos:
          </p>

          <button
            data-toggle="modal"
            data-target="#datasAtividadeDisciplina"
            class="btn btn-datas-atividades btn-sm mg-top"
            >
            <i class="glyphicon glyphicon-calendar no-margin"></i>
            Ver datas de atividades
            <i class="glyphicon glyphicon-menu-right no-margin"></i>
          </button>
        </div>
        <div ng-if="pwCtrl.isEncerrado() && !pwCtrl.isNaoIntegrado()">
          <b>Disciplina encerrada</b>
        </div>

        <div ng-if="pwCtrl.isNaoIntegrado()">
          <b>Disciplina indisponível</b>
        </div>

        <div
          class="prazo"
          ng-if="(+pwCtrl.disciplina.id_status === 1 && pwCtrl.diasRestantes > 0) && (!pwCtrl.isGraduacao &&p !pwCtrl.isConcurso)"
          ng-class="{atrasado: pwCtrl.isAtrasado}"
        >
          Encerra em: <b>{{pwCtrl.diasRestantes}} dia{{pwCtrl.diasRestantes > 1 ? 's' : ''}}</b>
        </div>
      </div>
      <div class="container-grafico padding flex-col">
        <pw-chart
          ng-if="pwCtrl.showChart"
          mysize="small"
          total="pwCtrl.disciplina.ar_moodle.nu_concluidas + pwCtrl.disciplina.ar_moodle.nu_naoconcluidas"
          completed="pwCtrl.disciplina.ar_moodle.nu_concluidas"
          statuscomplete="pwCtrl.disciplina.st_statuscomplete"
          statussala="pwCtrl.disciplina.id_status"
        ></pw-chart>
        <div class="line"></div>
      </div>
    </div>

    <div id="datasAtividadeDisciplina" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Datas de atividades</h4>
            <p>{{pwCtrl.disciplina.st_disciplina}}</p>
          </div>
          <div class="modal-body">
            <div
              ng-repeat="atividades in pwCtrl.disciplina.ar_cronograma">
              <p class="titulo-atividade"><b>{{atividades.st_titulo}}</b></p>
              <p
                class="data-atividade"
                ng-class="{'atividade-dias-finais': atividades.nu_diasencerramento < 0}">
                <b>&#9679</b>
                {{atividades.dt_inicio | date : 'dd/MM/yyyy'}}
                <span ng-if="atividades.dt_inicio && atividades.dt_fim">até</span>
                {{atividades.dt_fim | date : 'dd/MM/yyyy'}}
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">
              Ok, fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




