<div class="ui-title font-default">
  <div class="pc-title-class no-padding">
    <div class="pc-title-class-title-container">
      <div ng-if="ui.icon" class="pc-title-class-icon pull-left pl-0" ng-bind-html="ui.icon"></div>
      <p ng-if="ui.title" class="pc-title-class-title" ng-bind-html="ui.title"></p>
      <p ng-if="ui.subtitle" class="pc-title-class-description" ng-bind-html="ui.subtitle"></p>
    </div>
    <hr ng-if="ui.divider"/>
  </div>
</div>
