<div class="scroll-wrapper">
  <perfect-scrollbar id="pcDocumentosMeus">
    <div class="padding content">

      <div class="pc-title-class no-padding">
        <div class="pc-title-class-title-container">
          <div class="pc-title-class-icon pull-left pl-0">
            <i class="icon-icon_aulas"></i>
          </div>
          <p class="pc-title-class-title">
            Meus documentos
          </p>
        </div>
      </div>

      <hr/>

      <div>
        <div class="pc-descricao-pagina__container">
          <p>
            <strong>Documentos para baixar</strong>
          </p>
          <p>Documentos que não necessitam de solicitação (IR, contratos, aditivos, etc.)</p>
        </div>
        <pw-meus-documentos exibir-titulo="false"></pw-meus-documentos>
      </div>

    </div>
  </perfect-scrollbar>
</div>
