@import "../../../scss/common";

#pcDocumentosMeus {
  .pc-descricao-pagina__container {
    margin-bottom: 26px;

    p {
      font-family: Ubuntu;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 18px;
      text-align: left;
      color: #828282;
      margin: 0;

      strong {
        font-weight: 700;
      }
    }
  }
}
