@import "../../../scss/common";
@import "../../../scss/customize/variables";

#pcCertificacaoCabecalho {

  .pc-title-class-title-container i {
    display: inline-flex;
    height: 42px;
    width: 42px;
  }

  .col-button {
    margin: 4px 0 0 auto;
    min-width: 10px;
  }

  .col-title {
    width: 80%;
  }

  .col-title-full {
    min-width: 100%;
  }

  .btn-new {
    background-color: $default;
    border: none !important;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 5px 5px;
    padding: 8px 4px;
    width: 110px;
  }

  @media (max-width: 400px) {
    .col-title {
      min-width: 0;
      width: 100%;
    }

  }

}
