<div id="pcCertificacaoCabecalho" class="font-default">
  <div class="flex-grid flex-wrap">
    <div class="col-title" ng-class="{'col-title-full':!vm.showBtn}">
      <ui-title
        title="{{vm.title ? vm.title: 'Certificação do curso'}}"
        subtitle="{{(vm.subtitle ? vm.subtitle: 'Conheça aqui os passos para a emissão do seu certificado.')}}"
        icon="<i class='icone-certificacao-conteudo'></i>"
      ></ui-title>
    </div>
    <div class="col-button pull-right" ng-if="vm.showBtn">
      <button
        class="btn-new"
        ui-sref="app.certificacao.list">
        Voltar
      </button>
    </div>
  </div>
</div>
