<perfect-scrollbar class="scroll-wrapper" id="pcOffice365Main">
  <div class="content text-justify">
    <p>O objetivo dessa política de uso é regular e informar aos professores e alunos quanto ao uso dos recursos do Microsoft 365 disponibilizados pela Unyleya
      Educacional.
    </p>
    <p>Será disponibilizado aos alunos enquanto houver pelo menos um contrato ativo e com a evolução de matrícula com status de cursando.
    </p>
    <p>A Unyleya Educacional não se responsabilizará pela guarda dos arquivos, históricos de uso, e dados após o encerramento do contrato.
    </p>
    <p>A Unyleya Educacional não se responsabilizará por suporte técnico para instalação e configuração em dispositivos pessoais sendo de responsabilidade do
      aluno utilizar a documentação disponibilizada pela própria Microsoft na internet aberta.
    </p>
    <p>A disponibilização do Microsoft 365 pela Unyleya Educacional é para fins restritamente institucional e educacional, não podendo ser utilizado para outros
      fins.
    </p>
    <p>A Unyleya Educacional poderá a qualquer momento bloquear o acesso se for verificado uso indevido dos serviços disponibilizados.
    </p>
    <p>Outras recomendações:</p>
    <ul>
      <li>A senha é pessoal e intransferível!</li>
      <li>Respeitar as opiniões e não violar direitos;</li>
      <li>Não promover disseminação de SPAM;</li>
      <li>Não armazenar arquivos de conteúdo ilegal ou considerado abusivos.</li>
    </ul>
    <p>Primeiros Passos</p>
    <ol>
      <li>Ler e concordar com a política de uso do Microsoft 365 da Unyleya Educacional;</li>
      <li>Será gerado um usuário e senha temporária;</li>
      <li>Antes do primeiro acesso será necessário alterar a senha, guarde essa senha com você;</li>
      <li>Acesse o Microsoft 365 sempre pelo portal do Aluno.</li>
    </ol>
  </div>
</perfect-scrollbar>








