<perfect-scrollbar class="scroll-wrapper">
  <div class="content text-justify">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue vulputate venenatis. Cras dapibus tortor eu hendrerit placerat.
      Phasellus eleifend enim vel ultricies vehicula. Aenean auctor velit nunc, quis vehicula libero pellentesque ut.
      Vivamus tincidunt vestibulum neque, quis tempor odio fermentum in. Aenean mattis sem in augue vulputate commodo.
      Curabitur rutrum imperdiet ultricies. Morbi fringilla efficitur dignissim.
    </p>
    <p>
      Aenean cursus arcu id pretium convallis. Sed tempor elit velit, quis posuere ligula pellentesque at. Nullam mollis lacus et velit varius semper.
      Sed quis diam neque. Nunc quis commodo nisl, eu tincidunt mauris. Integer condimentum dictum feugiat. Vestibulum vel vehicula quam.
      Nulla auctor sodales imperdiet. Nam dignissim purus eget aliquam semper. Mauris rutrum tincidunt libero non mattis. Donec sit amet vestibulum leo.
    </p>
    <p>
      Nulla sagittis quam non consequat maximus. Quisque id leo et eros venenatis ornare id a nisi. Integer nec ultrices orci.
      Aenean non rhoncus justo. Phasellus aliquam nunc vitae felis cursus commodo. Cras faucibus felis eu purus vehicula vestibulum.
      Vestibulum sapien ipsum, vestibulum quis venenatis eget, dictum ac magna. Cras vitae lectus et elit venenatis commodo.
      Maecenas et leo gravida, consequat dolor eu, convallis augue. In nec ante eu orci pulvinar gravida eget vel ligula.
      Mauris ac odio sed lacus egestas vulputate molestie id magna.
    </p>
  </div>
</perfect-scrollbar>



