<perfect-scrollbar class="scroll-wrapper" id="pcDocumentosConfirmar">
  <div class="padding">
    <h4>Confirmação da solicitação de documentos</h4>
    Confirme as informações de documentos, valores e meios de pagamentos:
  </div>

  <div class="padding content">
    <div class="txt-big qtd-selecionados">
      Documentos selecionados:
      <b>{{vm.selecionados.length}}</b>
    </div>

    <div>
      <div class="row box-light" ng-repeat="produto in vm.selecionados">
        <div class="col-xs-12 col-md-8">
          <b class="txt-big">{{produto.st_produto}}</b>
        </div>
        <div class="col-xs-6 col-md-2">
          <div class="flex-grid">
            <div>
              {{produto.nu_valor <= 0 ? 'Gratuito' : (produto.nu_valor | currency : 'R$ ')}}
            </div>
            <!--
            <div class="pl-3 text-warning">
              <i class="glyphicon glyphicon-question-sign"></i>
            </div>
            -->
          </div>
        </div>
        <div class="col-xs-6 col-md-2">
          <div class="flex-grid">
            <div class="pr-3">
              <i class="glyphicon glyphicon-time"></i>
            </div>
            <div>
              Prazo até {{produto.nu_diasprocessamento}} dia(s)
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div ng-switch="vm.isGratuito()">
    <div class="padding content bg-warning" ng-switch-when="true">
      <b>Essa solicitação não necessita de pagamento. Para prosseguir, confirme a solicitação.</b>
    </div>
    <div class="padding content" ng-switch-default>
      <div class="txt-big vlr-total no-margin">
        <b>Valor Total</b>
        <b>{{vm.valorTotal | currency : 'R$ '}}</b>
      </div>
    </div>
    <div class="padding content" ng-switch-default ng-if="!vm.venda">
      <label class="txt-big font-weight-normal" for="id_meiopagamento">
        Escolha a forma de pagamento:
      </label>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <select id="id_meiopagamento" class="form-control"
                  ng-options="item.value as item.text for item in vm.meiosPagamento"
                  ng-model="vm.data.id_meiopagamento"
          ></select>
        </div>
      </div>
    </div>
  </div>

  <div class="padding text-right">
    <a class="btn btn-brand btn-outline" ng-click="vm.voltar()" ng-if="!vm.loadingConfirmar">
      Voltar
    </a>
    <a class="btn btn-brand" ng-click="vm.confirmar()" ng-if="!vm.loadingConfirmar && !vm.venda">
      Confirmar solicitação
    </a>
    <a class="btn btn-brand" ng-if="vm.loadingConfirmar && !vm.venda">
      Confirmando, aguarde...
    </a>
    <a class="btn btn-brand" ng-href="{{vm.venda.st_linkpagamento}}" target="_blank" ng-if="vm.venda && !vm.isGratuito()">
      Link para pagamento
    </a>
  </div>
</perfect-scrollbar>
