<perfect-scrollbar class="container-fv-padding">
  <div id="pcFerramentasVirtuaisMain" ng-init="fv.etapaUsuario()">

    <!-- Termo de Uso -->
    <div ng-if="fv.showTermo" class="termos-uso-office">
      <div ng-click="fv.abrirTermo()" class="voltar-termo">Voltar</div>
      <div class="title-aceite">Crie sua conta Unyleya</div>
      <div class="subtitle-aceite">Para obter seu acesso, leia e aceite os termos de uso:</div>
      <div class="title-termo">Termos de uso do Microsoft 365</div>
      <perfect-scrollbar>
        <div class="termos-uso-office">
          <div ng-bind-html="fv.politicas365" class="li"></div>
        </div>
      </perfect-scrollbar>
      <div class="footer-aceite" ng-if="fv.etapaIntegracao === fv.EtapasIntegracaoOffice365.CRIAR_USUARIO">
        <label>
          <input type="checkbox" class="li checkbox-termos" ng-model="checked"/>
        </label>Li e aceito os termos de uso.<br>
        <input type="button" class="botao-acesso-office li" ng-disabled="!checked" ng-click="fv.verificarUsuario()" value="Confirmar"/>
      </div>
    </div>

    <!-- Body -->
    <div class="body-fv" ng-if="!fv.showTermo">

      <!-- Cabeçalho -->
      <div class="title-fv">Ferramentas Virtuais</div>
      <div class="separator"></div>
      <div class="subtitle-fv">
        A Unyleya Educacional libera para seus alunos, sem custo adicional, o acesso a ferramentas e máquinas virtuais para facilitar os
        estudos e a elaboração dos trabalhos e exercícios. Você pode acessar os melhores aplicativos do Office da Microsoft e também
        máquina virtuais com ferramentas específicas de disciplinas*. Para acessar os ambientes e as ferramentas, basta criar sua conta de
        acesso unyleya e escolher quais ferramentas você deseja utilizar.
      </div>
      <div class="obs-subtitle-fv">* As ferramentas podem variar de acordo com o curso.</div>

      <!-- Body / Box minha conta -->
      <div class="box-minha-conta-fv" ng-if="fv.etapaIntegracao === fv.EtapasIntegracaoOffice365.EXIBIR_DADOS_USUARIO">
        <div class="title-minha-conta">Minha Conta Unyleya</div>
        <div class="subtitle-minha-conta">Você tem uma conta Unyleya, ela é necessária para acessar as ferramentas virtuais.</div>
        <div class="caixa-login-office">
          <a ng-click="fv.mostrarLogin()">Esqueceu seu login?</a>
          <P ng-show="fv.mostraLogin">{{fv.stLoginAzure}}
            <button ng-click="fv.copyToClipboard(0)" class="botao-copiar-office">
              <img class="icon-copiar" ng-src="{{fv.logoCopiar}}" alt="Copiar login do usuário" />
            </button>
          </P>
          <a ng-if="fv.stPassword">Esqueceu sua senha?</a>
          <div ng-if="fv.stPassword">{{fv.stPassword}}
            <button ng-click="fv.copyToClipboard(1)" class="botao-copiar-office">
              <img class="icon-copiar" ng-src="{{fv.logoCopiar}}" alt="Copiar senha do usuário" />
            </button>
          </div>
          <a ng-if="!fv.stPassword" ng-click="fv.confirmarRedefinirSenha()">Esqueceu sua senha?</a>
        </div>
      </div>
      <div class="termos-aceito" ng-if="fv.etapaIntegracao === fv.EtapasIntegracaoOffice365.EXIBIR_DADOS_USUARIO">
        <div class="termos-button-aceito" ng-click="fv.abrirTermo()"><label>
          <input type="checkbox" checked disabled/>
        </label> Termo de uso da conta Office 365</div>
        <!--          lido e aceito em xx/xx/xxx-->
      </div>

      <!-- Body / Box criar conta -->
      <div class="box-criar-usuario" ng-if="fv.etapaIntegracao === fv.EtapasIntegracaoOffice365.CRIAR_USUARIO">
        <div class="text-center text-box-criar-usuario">Você ainda não tem uma conta Unyleya?</div>
        <div class="text-center text-box-criar-usuario">Para acessar ambientes e ferramentas é necessário criar sua conta.</div>
        <button class="btn-acesso" ng-click="fv.abrirTermo()">
          Crie sua conta Unyleya
        </button>
      </div>

    </div>

    <!-- Ferramentas -->
    <div class="box-ferramentas" ng-if="!fv.showTermo">
      <div class="box-fv ">
        <div class="box-description">
          <div class="title-tools-fv"><strong>Microsoft Office</strong></div>
          <div class="description-fv">
            <strong>Versão Online dos melhores aplicativos do Office da Microsoft:</strong> Word, Excel, Power Point e muito mais!
          </div>
        </div>
        <a ui-sref="app.office365({idMatriculaAtiva:fv.params.idMatriculaAtiva})">
          <hr class="box-hr"/>
          <div class="title-saibamais">SAIBA MAIS</div>
        </a>
      </div>
      <div class="box-fv ">
        <div class="box-description">
          <div class="title-tools-fv"><strong>Laboratório Unylab</strong></div>
          <div class="description-fv">
            Máquinas virtuais com as <strong>versões mais recentes de software</strong> necessários em certas disciplinas!
          </div>
        </div>
        <a ui-sref="app.unylab({idMatriculaAtiva:fv.params.idMatriculaAtiva})">
          <hr class="box-hr"/>
          <div class="title-saibamais">SAIBA MAIS</div>
        </a>
      </div>
      <div class="box-fv ">
        <div class="box-description">
          <div class="title-tools-fv"><strong>Biblioteca virtual</strong></div>
          <div class="description-fv">
            Acesso ao acervo da bibioteca virtual.
          </div>
        </div>
        <a ui-sref="app.biblioteca-virtual({idMatriculaAtiva:fv.params.idMatriculaAtiva})">
          <hr class="box-hr"/>
          <div class="title-saibamais">SAIBA MAIS</div>
        </a>
      </div>
    </div>

  </div>
</perfect-scrollbar>
