@import "../../../scss/common"; // Talvez você precise alterar este destino

.container-fv-padding {
  font-family: Ubuntu, serif;
  color: #999999;
}

.title-fv {
  font-family: Ubuntu, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 23px;
  margin-bottom: 5px;
  color: #333333;
}

#pcFerramentasVirtuaisMain {
  display: flex;
  margin: 68px 260px 0 100px;
  color: #333333;
  flex-direction: column;
  font-style: normal;
  font-size: 14px;
  font-family: Ubuntu, serif;

  .termos-uso-office {
    color: #333;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 20%;
  }
  .voltar-termo {
    color:#A73866;
    cursor:pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  .title-aceite {
    color: #333333;
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    border-bottom: 2px #a73866 solid;
    margin-bottom: 1rem;
  }
  .subtitle-aceite {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 2rem;
  }
  .title-termo {
    font-size:2.2rem;
    font-weight: 500;
    color: #a73866;
    margin-bottom: 2rem;
  }
  .footer-aceite {
    margin-top: 2rem;
    border-top: 0.5px #a73866 solid;
    text-align: center;
  }
  .checkbox-termos {
    margin-right: 0.25rem;
  }
  .botao-acesso-office {
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: white;
    border: 1px solid #a73866;
    color: #b42855;
  }
  .botao-acesso-office:hover {
    border-radius: 0.75rem;
    padding: 0.75rem 2.2rem 0.75rem 2.2rem;
    background-color: $brand-primary;
    border: 1px solid #a73866;
    color: white;
  }

  .body-fv {
    color: #333333;
    flex-direction: column;
    overflow: auto;
    display: flex;

    .separator {
      height: 2px;
      background-color: #999999;
      margin: 0;
    }
    .subtitle-fv {
      margin-top: 40px;
      font-size: 14px;
      color: #999999;
      text-align: justify;
      font-family: Ubuntu, serif;
    }
    .obs-subtitle-fv {
      font-style: italic;
      font-size: 12px;
      color: #999999;
      margin-top: 5px;
    }
  }

  .box-minha-conta-fv {
    border: 1px solid #D9D6E8;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 25px 2rem 25px 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    max-width: 400px;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 550;
    color: #999999;

    .title-minha-conta {
      text-align: left;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .subtitle-minha-conta{
      text-align: left;
      font-weight: normal;
    }
    .caixa-login-office {
      flex-direction: column;
      display: flex;
      text-align: center;
      margin: 5px 2rem 5px 0;
      padding: 1.5rem 1rem 0.5rem 1rem;
      max-width: 400px;
      border-radius: 1rem;
      font-size: 1.3rem;
      font-weight: 550;
    }
    .botao-copiar-office {
      background-color: transparent;
      border: 0;
      margin-left: 5px;
    }
  }
  .box-minha-conta-fv div{
    word-wrap: break-word;
  }
  .box-minha-conta-fv p{
    margin: 0;
    word-wrap: break-word;
  }

  .termos-aceito{
    font-family: Ubuntu, serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
  }
  .termos-button-aceito{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    color: #999999;
  }

  .box-criar-usuario {
    border-radius: 1rem;
    background-color: #ededed;
    padding: 20px;
    margin: 20px 0 20px 0;

    .text-box-criar-usuario {
      font-family: Ubuntu, serif;
      font-size: 14px;
      color: #616161;
    }
    .btn-acesso {
      background-color: #A73866;
      color: white;
      font-size: 14px;
      font-weight: 600;
      border-radius: 2rem;
      height: 4rem;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 2rem;
      border: 0;
      display: block;
      transition: 0.15s;
      &:hover {
        background-color: white;
        color: #B04B5D;
        box-shadow: 0 0 0 1px #B04B5D,
        inset 0 0 0 1px #fff;
      }
      &:active {
        border:0
      }
    }
  }

  .box-ferramentas {
    margin-bottom: 30px;
    flex-direction:row;
    display: flex;

    .title-tools-fv{
      font-family: Ubuntu, serif;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 5px;
      color: #333333;
    }
    .box-fv {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 1rem;
      margin: 10px;
      border: #A73866 solid 1px;

      a {
        margin-top: auto;
      }
      .box-description {
        padding: 30px;
        display: flex;
        flex-direction: column;
      }
      .box-hr {
        margin: 0;
        border: #A73866 dashed 1px;
      }
      .description-fv {
        margin-top: 20px;
        font-size: 13px;
        color: #000;
        text-align: justify;
        font-family: Ubuntu, serif;
      }
      .title-saibamais {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px !important;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #A73866
      }
    }
    .content{
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .container-fv-padding {
    margin-left: 10vw;
  }
  #pcFerramentasVirtuaisMain{
    padding-left: 4%;
    padding-right: 4%;
  }
  .termos-uso-office{
    padding-right: 0 !important;
  }
  .title-aceite{
    font-size: 2.5rem !important;
  }
  .body-fv {
    padding-right: 0 !important;
  }
  .botao-copiar-office {
    margin-left: 0 !important;
  }
  .icon-copiar{
    height: 2rem !important;
  }
  .box-ferramentas{
    flex-direction: column !important;
  }
}
