@import "../../scss/common";

.ui-chip {
  background-color: $cinza-7;
  border: 1px dashed $cinza-6;
  border-radius: 20px;
  color: $cinza-6;
  display: inline-block;
  font-size: 0.86em;
  font-weight: bold;
  margin: 0 auto;
  padding: 3px 25px;
  text-align: center;
  white-space: nowrap;

  &.ui-chip-block {
    display: block;
  }

  &.ui-chip-dashed {
    border-style: dashed;
  }

  &.ui-chip-dotted {
    border-style: dotted;
  }

  &.ui-chip-solid {
    border-style: solid;
  }

}
