<div class="ui-chip font-default" ng-class="{'ui-chip-block': ui.block, 'ui-chip-{{ui.borderStyle}}': ui.borderStyle}">
  <div ng-if="ui.icon" ng-bind-html="ui.icon"></div>
  <div ng-if="ui.title" ng-bind-html="ui.title"></div>
</div>
