<div id="pwCertificacaoStatus">

  <div class="certificacao-container">
    <div class="loading-text mt-4" ng-if="vm.loading && vm.loadingGif">
      Buscando certificação...
    </div>

    <div class="status-item" ng-repeat="situacao in vm.situacoes">

      <div class="status-badge pendente" ng-class="{concluido:situacao.bl_concluido}">
        <p>{{(situacao.bl_concluido) ? 'CONCLUÍDO' : 'PENDENTE'}}</p>
      </div>
      <div class="linha-vertical"></div>
      <div class="informacao-container">
        <div class="informacao-titulo">{{situacao.st_titulo}}</div>
        <div
          ng-if="situacao.tipo != 'certificado-digital' || (situacao.tipo == 'certificado-digital'
          && !vm.statusConclusao.curso) || !!(!situacao.bl_concluido && (situacao.dt_cadastroimpressa || situacao.dt_cadastrodigital))"
          class="informacao-descricao">
          {{situacao.st_descricao}}
        </div>

        <button ng-if="situacao.tipo == 'envio-documentos'" type="button" class="btn-estilo-padrao"
                ui-sref="app.documentos.pessoais({idMatriculaAtiva: vm.idMatriculaAtiva})">
          Ver lista de documentos
        </button>

        <!-- Exclusivo da parte de Certificado -->
        <div ng-if="situacao.tipo == 'certificado-digital' && vm.statusConclusao.curso"
             class="container-certificado-digital-concluido">

          <div class="informacao-descricao"
               ng-if="(!situacao.bl_concluido && !situacao.bl_confirmadadoscertificado)
               && (!situacao.dt_cadastroimpressa && !situacao.dt_cadastrodigital)">
            <p class="certificado-confirme">Confirme os dados do seu certificado</p>
            {{situacao.st_descricaoconfirme}}
          </div>

          <div ng-if="situacao.bl_confirmadadoscertificado">
            <p class="texto-certificado-concluido">
              Você confirmou os dados abaixo, aguarde a emissão do seu certificado pela Secretaria Acadêmica. Logo você poderá baixá-lo por aqui.
            </p>
            <button type="button" class="btn-estilo-padrao btn-certificado-concluido"
                    ui-sref="app.certificacao.conferir({idMatriculaAtiva: vm.idMatriculaAtiva})">
              Ver dados conferidos
            </button>
          </div>
          <div
            ng-if="!situacao.bl_confirmadadoscertificado && (!situacao.dt_cadastroimpressa && !situacao.dt_cadastrodigital)">
            <button type="button" class="btn-estilo-padrao btn-certificado-concluido"
                    ui-sref="app.certificacao.conferir({idMatriculaAtiva: vm.idMatriculaAtiva})">
              Conferir meus dados
            </button>
          </div>

          <div ng-if="situacao.bl_concluido">
            <div ng-if="situacao.id_documentodigitalmatricula && situacao.dt_envioalunodigital">
              <p class="texto-certificado-concluido">A versão digital do seu certificado está disponível.</p>

              <div class="container-certificado-download">
                <button type="button" class="btn-estilo-padrao btn-certificado-concluido"
                        ng-click="vm.baixarCertificado(situacao.id_documentodigitalmatricula)">
                  Certificado de conclusão <i class="icone-download"></i>
                </button>
                <div class="texto-arquivo-certificado"><span>PDF</span> | Emitido em:
                  {{situacao.dt_cadastrodigital.substr(0, 10) | date: 'dd/MM/yyyy'}}
                </div>
              </div>
            </div>

            <!-- Caso certificado impresso emitido -->
            <div ng-if="situacao.dt_cadastroimpressa">
              <p class="texto-certificado-concluido">Seu certificado impresso foi gerado em
                {{situacao.dt_cadastroimpressa.substr(0, 10) | date: 'dd/MM/yyyy'}}.</p>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
