@import "../../../scss/common";
// Talvez você precise alterar este destino
@import "../../../scss/customize/variables";

#pwCertificacaoStatus {
  .certificacao-container {
    margin-top: 55px;
    position: relative;
    margin-bottom: 150px;

    .status-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 42px;

      .linha-vertical {
        position: absolute;
        height: 60%;
        border-left: 3px solid #EDEDED;
        margin-left: 95px;
      }

      .status-badge {
        width: 116px;
        height: 34px;
        z-index: 2;

        box-sizing: border-box;
        border-radius: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 15px;
        justify-content: center;

        p {
          @include text-style-base(normal, 14px, 23px, #616161);
          margin: 0;
          padding: 0;
        }

        &.pendente {
          border: 2px dashed #9C9C9C;
          background: #F5F5F5;
        }

        &.concluido {
          border: 2px dashed $brand-primary;
          background: #FFFFFF;

          p {
            color: $brand-primary;
          }
        }
      }

      .informacao-container {
        margin-left: 21px;

        .informacao-titulo {
          @include text-style-base(bold, 18px, 23px, #616161);
        }

        .informacao-descricao {
          @include text-style-base(normal, 14px, 23px, #828282);
          margin-top: 5px;
          margin-right: 10px;

          .certificado-confirme {
            @include text-style-base(500, 14px, 23px, #616161);
          }
        }

        .icone-download {
          padding: 10px;
          background-image: url('../../../../assets/img/icons/icon-download.svg');
          background-repeat: no-repeat;
          background-size: 18px 20px;
          background-position: right center;
          margin-left: 10px
        }

        .btn-estilo-padrao {
          background: #FFFFFF;
          box-sizing: border-box;
          padding: 5px 15px;
          border: 1px solid $brand-primary;
          border-radius: 6px;
          margin-bottom: 12px;
          @include text-style-base(400, 14px, 23px, $default5);
          margin-top: 17px;

          &.btn-certificado-concluido {
            margin-top: 0;
            padding: 5px 20px;

            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            //padding: 15px;
            justify-content: center;
          }

          &:hover,
          &:focus {
            background-color: lighten($brand-primary, 50);
            color: $brand-primary !important;
          }
        }

        //certificado gerado
        .container-certificado-download {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          flex-direction: row;
          align-items: center;
          text-align: center;
        }

        .container-certificado-digital-concluido {
          .texto-certificado-concluido {
            margin-top: 17px;
            @include text-style-base(normal, 14px, 23px, #828282);
          }

          .texto-arquivo-certificado {
            margin-left: 15px;
            @include text-style-base(normal, 13px, 23px, #515151);

            span {
              @include text-style-base(normal, 13px, 23px, #515151);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
