<div class="scroll-wrapper">
  <perfect-scrollbar id="pcDocumentosPessoais">
    <div class="padding content">
      <div class="pc-title-class no-padding" ng-if="vm.exibirDescricaoDocumentos">
        <div class="pc-title-class-title-container">
          <div class="pc-title-class-icon pull-left pl-0">
            <i class="icon-icon_aulas"></i>
          </div>
          <p class="pc-title-class-title">
            Meus documentos
          </p>
          <p class="pc-title-class-description">
          </p>
        </div>
      </div>
      <span ng-if="vm.exibirDescricaoDocumentos">
        <hr/>
      </span>
      <div class="container-fluid documentos-pessoais__container">
        <div class="pc-descricao-pagina__container" ng-if="vm.exibirDescricaoDocumentos">
          <p>
            <strong>Documentos pessoais</strong>
          </p>
          <div ng-if="vm.exibirMenuDocumentosPessoais">
            <div ng-if="vm.isGraduacao">
              <p>Para conclusão do seu processo de matrícula acadêmica é necessária a apresentação dos documentos
                constantes da relação abaixo, exigidos pela legislação educacional.</p>
              <p>Siga as orientações indicadas para realização do upload dos seus documentos digitalizados.</p>
              <p>Atenção! Fotos de documentos não serão aceitas.</p>
              <p>Verifique a boa legibilidade de cada documento anexado, pois documentos ilegíveis não poderão ser
                aceitos.</p>
            </div>
            <div ng-if="!vm.isGraduacao">
              <p>Documentos de envio obrigatório pelo aluno para a conclusão do curso e certificação.</p>
              <p>Verifique abaixo quais documentos você precisa enviar para análise.
                A análise dos documentos é efetuada pela equipe da Unyleya e você poderá acompanhar a evolução através
                dessa ferramenta.</p>
            </div>
          </div>
        </div>
        <pw-documentos-pessoais-list ng-if="vm.exibirMenuDocumentosPessoais"></pw-documentos-pessoais-list>
      </div>
    </div>
  </perfect-scrollbar>
</div>
