@import "../../../scss/common"; // Talvez você precise alterar este destino

#pcDocumentosPessoais {

  .documentos-pessoais__container {

    margin: 0 10px 0 10px;

    .pc-descricao-pagina__container {
      margin-right: 50px;
      margin-bottom: 26px;

      p {
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
        text-align: left;
        color: #828282;

        strong {
          font-weight: 700;
        }
      }
    }
  }

  /** Medias querys para responsividade da lista de documentos **/
  @media (min-width: 960px) {
    .documentos-pessoais__container {
      margin: 0 130px 0 36px;
    }
  }

  @media (max-width: $screen-lg) and (min-width: $screen-md) {
    .documentos-pessoais__container {
      margin: 0 10px 0 10px;
    }
  }
}
