.panel-group {
    .panel.panel-danger,
    .panel.panel-info,
    .panel.panel-success {
        border: 0;
        margin-bottom: 0;
        margin-top: 0;

        .panel-heading {
            @extend .no-border-radius;
            border: 0;

            .panel-title {
                text-align: right;
                padding-right: 30px;

                a {
                    text-decoration: none;
                    display: block;
                }
            }
        }

        .panel-collapse {
            border-left-width: 10px;
            border-left-style: solid;
        }
    }

  

    .panel.panel-info {
        .panel-collapse {
            border-left-color: $panel-info-heading-bg;
        }
    }

    .panel.panel-danger {
        .panel-collapse {
            border-left-color: $panel-danger-heading-bg;
        }
    }

    .panel.panel-success {
        .panel-collapse {
            border-left-color: $panel-success-heading-bg;
        }
    }
}
