.form-group {
  label {
    font-size: $font-size-default;
    color: $label-font-color;
    letter-spacing: $letter-spacing-default;
  }
  .form-control {
    font-size: $font-size-default;
    color: $form-control-color;
    @include border-radius($border-radius-base);
    @include form-control-focus($form-control-color);

    @include placeholder {
      color: $cinza-4;
      font-size: $font-size-default;
    }

    &.input-custom {
      color: $cinza-6;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom-width: 2px;
      @extend .no-border-radius;
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }

    &.input-bg-custom {
      background-color: $cor-marca-2;
    }
  }
  select.form-control {
    @include border-radius($border-radius-base);
  }

}

.has-info {
  @include form-control-validation($btn-info-color, $btn-info-border, $branco);
  .form-control {
    color: $btn-info-color;
  }
}

.has-custom {
  @include form-control-validation($btn-default-color, $btn-default-border, $branco);
  .form-control {
    color: $btn-default-color;
  }
}

.has-success {
  @include form-control-validation($btn-success-color, $btn-success-border, $branco);
  .form-control {
    color: $btn-success-color;
  }
}

.has-warning {
  @include form-control-validation($btn-warning-color, $btn-warning-border, $branco);
  .form-control {
    color: $btn-warning-color;
  }
}

.has-error {
  @include form-control-validation($btn-danger-color, $btn-danger-border, $branco);
  .form-control {
    color: $btn-danger-color;
  }
}
