.list-group {
    width: 100%;

    .list-group-item.active {
        z-index: 0;
    }

    .list-group-item {
        height: 70px;
        border-left-width: 0;
        border-right-width: 0;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;

        .icon-left {
            @extend .pull-left;
            font-size: floor(($font-size-base * 1.95)); //36px
            margin-top: 4px;
            margin-right: 15px;
        }

        .list-group-item-heading {
            font-size: $font-size-default; //16px
            @include text-lines($font-size-default, 1);
            margin-bottom: 4px;
        }

        .list-group-item-infos {
            font-size: floor(($font-size-base * 0.6)); //10px
            @include text-lines(floor(($font-size-base * 0.6)), 1);
        }

        .list-group-item-text {
            font-size: floor(($font-size-base * 0.75)); //12px
            @include text-lines(floor(($font-size-base * 0.7)), 2);
        }
    
    }
}
