<form novalidate ng-submit="vm.enviar()" name="formUploadTcc" id="formUploadTcc">

  <div class="container">

    <h1>Envio da versão final do TCC</h1>

    <div ng-if="!vm.tccEnviado">

      <div class="row" ng-if="vm.dadostcc.id_situacaotcc == vm.SituacaoTCCConstante.DEVOLVIDO_AO_ALUNO">
        <div class="col-sm-12">
          <div class="alert alert-info" role="alert">
            <p>TCC devolvido pelo tutor<span ng-if="!vm.dadostcc.st_justificativa"> sem justificativa</span>.</p>
          </div>
        </div>
      </div>

      <div class="row" ng-if="vm.dadostcc.id_situacaotcc == vm.SituacaoTCCConstante.AVALIADO_PELO_ORIENTADOR">
        <div class="col-sm-12">
          <div class="alert alert-info" role="alert">
            <p>TCC avaliado pelo orientador.</p>
          </div>
        </div>
      </div>

      <!--Template de envio de TCC caso disponível. -->
      <div ng-if="vm.dadostcc.id_matricula">

        <div class="row">
          <div class="col-md-6 col-xs-6 col-sm-6 padding-right">
            <div class="form-group">
              <label>Disciplina</label><br>
              <span class="tcc-data">{{vm.dadostcc.st_disciplina}}</span>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-6 padding-left">
            <div class="form-group">
              <label>Sala</label><br>
              <span class="tcc-data">{{vm.dadostcc.st_saladeaula}}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group" ng-if="vm.dadostcc.st_coordenador">
              <label>Coordenador</label><br>
              <span class="tcc-data">{{vm.dadostcc.st_coordenador}}</span>
            </div>
            <div class="form-group">
              <label>Título</label>
              <input class="form-control text-uppercase" type="text" ng-model="vm.st_tituloavaliacao" required  />
            </div>

            <div class="alert alert-info">
              <p>O título cadastrado será exibido no Certificado de Conclusão e deverá ser o mesmo título do arquivo da versão final do TCC.</p>
            </div>

            <div class="form-group" ng-if="vm.dadostcc.st_justificativa">
              <label>Motivo da devolução do TCC:</label>
              <span class="help-block danger">{{vm.dadostcc.st_justificativa}}</span>
            </div>

            <div class="form-group form-group-upload" ng-show="!vm.enviandoArquivo">
              <label>Enviar Arquivo DOC, DOCX e PDF com tamanho máximo de 200MB</label>
              <div ngf-drop ngf-select ng-model="vm.arquivo_tcc" class="drop-box" ngf-drag-over-class="'dragover'" name="arquivo_tcc"
                   ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword'"
                   ngf-pattern="'.docx,.doc,.pdf,application/pdf'"
                   ngf-max-size="200MB"
              >
                <span ng-if="!vm.arquivo_tcc.name">Arraste seu arquivo ou clique para selecionar.</span>
                <!--<span ng-if="vm.arquivo_tcc.name">Arquivo: {{vm.arquivo_tcc.name}}</span>-->
                <span class="success" ng-if="vm.arquivo_tcc.name">Documento anexado com sucesso!</span>
              </div>
              <div ngf-no-file-drop>Este navegador não suporta arrastar/soltar arquivos</div>
            </div>

            <div class="danger" ng-show="formUploadTcc.arquivo_tcc.$error.maxSize || formUploadTcc.arquivo_tcc.$error.pattern">
              Só é permitido o upload nos formatos DOC, DOCX e PDF e com tamanho inferior a 200MB.
            </div>

            <uib-progressbar ng-show="vm.enviandoArquivo" animate="true" value="vm.progressPercentage" type="success"><b>{{vm.progressPercentage}}%</b></uib-progressbar>

          </div>

        </div>

      </div>

      <!--Mensagem de erro. -->
      <div ng-if="vm.dadostcc.status == 400">
        <div class="alert alert-warning" role="alert">
          <p>Envio de TCC indisponível.</p>
        </div>
      </div>

      <!--Mensagem caso TCC esteja em análise. -->
      <div ng-if="vm.dadostcc.id_situacaotcc == vm.SituacaoTCCConstante.EM_ANALISE ||
                  vm.dadostcc.id_situacaotcc == vm.SituacaoTCCConstante.DEVOLVIDO_AO_TUTOR">
        <div class="alert alert-success" role="alert">
          <p>TCC enviado em análise.</p>
        </div>
      </div>

      <!-- Mensagem de loading. -->
      <div class="row" ng-if="!vm.dadosTccCarregados">
          <p>Por favor, aguarde.</p>
      </div>

      <button ng-if="vm.dadostcc.id_matricula && !vm.dadostcc.status" class="btn btn-success pull-right"
              ng-if="!vw.enviandoArquivo" type="submit" ng-disabled="formUploadTcc.$invalid || !vm.arquivo_tcc">Enviar</button>

    </div>

    <div ng-if="vm.tccEnviado">
      <!-- Mensagem exibida ao enviar com sucesso o TCC. -->
      <div ng-if="vm.tccEnviado">
        <div class="row">
          <div class="alert alert-success" role="alert">
            <p>TCC enviado com <strong>sucesso</strong>!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</form>
