<div class="container-fluid scroll-wrapper">

<div class="row scroll-wrapper">
<div class="col-md-8 col-sm-8 col-lg-8 no-padding visualizacao scroll-wrapper">
<perfect-scrollbar class="scroll-wrapper">
  <div class="" ui-view="mensagens-show"><pc-mensagens-show></pc-mensagens-show></div>
</perfect-scrollbar>
</div>
<div class="col-md-4 col-sm-4 col-lg-4 no-padding scroll-wrapper" >
<perfect-scrollbar class="scroll-wrapper">
    <pc-mensagens-list ></pc-mensagens-list>
</perfect-scrollbar>
</div>
</div>
</div>
<!--  -->
