@import "../../../scss/common"; // Talvez você precise alterar este destino

iframe {
  width: 100%;
  height: 100%;
}


@media (max-width: 700px)   {
  .iframe-player {
    height: 95vh;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .iframe-player {
    height: 95vh;
  }
}
