<iframe ng-if="vm.urlConteudo" src="{{ vm.urlConteudo }}" class="iframe-player" allowfullscreen></iframe>
<div ng-if="vm.urlConteudo === false">
  <h3>Player ainda não configurado. Contate seu administrador.</h3>
</div>
