.wrapperRenovacao.confirmacao{
    margin-bottom: 0px;
    overflow: scroll;
    height: 100%;
}

@media all and (min-width: 769px) {
    .wrapperRenovacao.confirmacao {
        max-width: 75% !important;
    }
}

.textoContrato{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.textoContrato p {
    flex: 1 100%;
    text-align: left;
}

.containerRenovacao.confirmacao{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.containerRenovacao.confirmacao.wrapperMensalidade{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
}

.containerRenovacao.confirmacao.wrapperMensalidade{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.containerRenovacao.confirmacao.wrapperPagamento p{
    text-align: left;
    flex:1 100%;
}

.selectFormaPagamento{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    max-width: 260px;
    min-width: 210px;
    flex:1;
}

.containerRenovacao.confirmacao.wrapperPagamento .selectFormaPagamento select{
    border: 1px solid #a13664;
    background-color: transparent;
    background-image: url('../../../../assets/img/arrowD.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 90% center;
    outline: #a13664;
    padding:15px 0px 15px 15px;
    color: #a13664;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex:1;
}

.containerRenovacao > .detalhe{
    margin:0px 0px 10px 0px;
}

.containerRenovacao.confirmacao{
    margin:0px 0px 20px 0px;
}

.containerBotoes{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-weight: bold;

    .botaoRenovacao {
        flex: 0;
        white-space: nowrap;
    }
}

.btnVoltar{
    color: #a13664;
    outline: none;
    background-color: transparent;
    padding: 0px 20px 0px 20px;
    border: 0px;
}

.btnConfirmar{
    background-color: #a13664;
    color: white;
    outline: none;
    border: 0px;
    padding: 15px 60px 15px 60px;
    border-radius: 5px;
}

.containerRenovacao.confirmacao.wrapperPagamento > button{
    flex:1;
    position: unset;
    margin: 0px 3px 0px 3px;
    border-radius: 5px;
    padding: 19px 60px 16px 60px;
    max-width: 450px;
}

.mensalidade{
    flex: 1 100%;
    display: flex;
    padding: 15px;
}

.containerRenovacao.confirmacao.wrapperMensalidade > .mensalidade ~ .mensalidade {
    border-top: 1px solid #e2e2e2;
}

.mensalidade > texto{
    flex: 1;
    text-align: left;
}

.mensalidade > valor {
    flex: 1;
    text-align: right;
}

.mensalidade {
    .botaoRenovacaoSmall {
        border-radius: 15px;
        font-size: 14px;
        margin: -15px 0;
        padding: 5px 15px;

        &:disabled {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            opacity: .5;
        }
    }
}

/* Controle do comportamento das regiões quando a tela esta pequena*/
@media all and (max-width: 397px){
    .containerBotoes{
      justify-content:center;
    }
    .btnVoltar{
        margin: 0px 0px 15px 0px;
    }
}
@media all and (max-width: 585px){
    .containerRenovacao.confirmacao.containerRenovacao.confirmacao.wrapperPagamento{
        justify-content: center;
    }
    .containerRenovacao.confirmacao.containerRenovacao.confirmacao.wrapperPagamento > .selectFormaPagamento{
        margin: 0px 3px 3px 3px;
    }
    .containerRenovacao.confirmacao.containerRenovacao.confirmacao.wrapperPagamento > p{
        text-align: center;
    }
}

.wrapperRenovacao {
    img.texto-loading {
        margin: 0 5px 0 0 !important;
        width: 1em;
    }

    .indique-ganhe-titulo {
        color: #B04B5D;
        text-align: center !important;
    }

    .indique-ganhe-info {
        flex: 1;
        font-size: 14px;
        text-align: left;
    }

    .indique-ganhe-total {
        background-color: #ddd;
        border-radius: 0 0 5px 5px;
        margin: 0 -15px;
        padding: 15px;
    }

    .indique-ganhe-resgatar {
        position: relative;
        border: 1px solid #B04B5D;
        border-radius: 5px;
        min-width: 100px;
        padding: 5px 35px 5px 15px;

        .resgatar-inc,
        .resgatar-dec {
            position: absolute;
            right: 0;
            align-items: center;
            color: #B04B5D;
            cursor: pointer;
            display: flex;
            font-size: 12px;
            height: 50%;
            padding: 0 8px 0 5px;
            transform: scale(1.5, 1);

            &.resgatar-inc {
                top: 0;
            }

            &.resgatar-dec {
                bottom: 0;
            }
        }
    }

}
