<div class="loading-fill" ng-if='vm.processando'>
  <img id='loading' ng-src="{{vm.loading}}"/>
</div>
<div class='containerGeral'>
  <div class='wrapperRenovacao confirmacao'>
    <div>
      <div class='textoContrato'>
        <p><b>Confirmação de contrato</b></p>
        <p>Confirme as informações de disciplinas e meio de pagamento para o próximo semestre letivo:</p>
      </div>
      <div class='containerRenovacao confirmacao'>
        <p class='disciplinas'>Disciplinas escolhidas:<b></b></p>
        <div class='detalhe' ng-repeat="sala in vm.info.salasSelecionadas | orderBy : ['st_modulo', 'dt_abertura']">
          <div class='conteudoInfo'>
            <div class="p1">
              <div>
                <titulo>{{sala.st_disciplina}}</titulo>
                <status>
                  <texto>{{sala.st_modulo}}</texto>
                  <texto ng-init='cor = (sala.st_status | getCorStatus)' class='{{cor}}'>{{sala.st_status}}</texto>
                </status>
              </div>
            </div>
            <div class="p2">
              <div class="tipoDisciplina">{{sala.st_tipooferta}}</div>
            </div>
            <div class="p3">
              <div>
                <titulo ng-if="sala.id_tipooferta !== vm.TipoOfertaConstante.PERENE">
                  {{sala.dt_abertura | asDate: 'dd/MM/yy'}} a {{sala.dt_encerramento | asDate: 'dd/MM/yy'}}
                </titulo>
                <titulo ng-if="sala.id_tipooferta === vm.TipoOfertaConstante.PERENE">
                  {{vm.info.primeiraOfertaPadrao.dt_abertura | asDate: 'dd/MM/yy'}} a {{vm.info.ultimaOfertaPadrao.dt_encerramento | asDate: 'dd/MM/yy'}}
                </titulo>
                <status>
                  <div class='icon icon-icon_time'>{{sala.nu_cargahoraria}}</div>
                </status>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="vm.showIndiqueGanhe" class='containerRenovacao confirmacao wrapperMensalidade'>
        <div class="mensalidade">
          <texto class="indique-ganhe-titulo">
            <b>Programa Indique e Ganhe</b>
          </texto>
        </div>

        <div class="mensalidade no-border pt-0 pb-0 font-default">
          <div ng-if="!vm.indicacoes" class="pb-4">
            <small class="loading-text">
              Buscando saldo disponível...
            </small>
          </div>
          <div ng-if="vm.indicacoes" class="indique-ganhe-info">
            <p>
              Crédito já adicionado:
              {{vm.info.contrato.nu_indiqueganhetotal | currency : 'R$ '}}
            </p>
            <p>
              Saldo disponível:
              {{vm.saldoIndiqueGanhe | currency : 'R$ '}}
            </p>
            <div class="flex-grid flex-middle mb-3">
              <div class="flex-col">
                Quanto mais gostaria de resgatar? <b>R$</b>&nbsp;&nbsp;
              </div>
              <div class="flex-col">
                <div class="indique-ganhe-resgatar">
                  <div>
                    {{vm.valorResgatar | currency : ''}}
                  </div>
                  <div class="resgatar-inc no-select" role="button" ng-click="vm.handleChangeValorResgatar(1)">▲</div>
                  <div class="resgatar-dec no-select" role="button" ng-click="vm.handleChangeValorResgatar(-1)">▼</div>
                </div>
              </div>
            </div>
            <div class="flex-grid flex-middle indique-ganhe-total">
              <div class="flex-col flex-col-fill">
                <b>
                  Crédito total utilizado:
                  {{(vm.info.contrato.nu_descontoindiqueganhepontualidade + vm.valorResgatar) | currency : 'R$ '}}
                </b>
                <br/>
                <small>
                  Você pode utilizar até {{vm.info.contrato.nu_maxdescontoindiqueganhepontualidade | currency : 'R$ '}}
                  nesta renovação de matrícula.
                </small>
                <br/>
                <small
                  ng-if="vm.info.contrato.nu_indiqueganhetotal > vm.info.contrato.nu_maxdescontoindiqueganhepontualidade"
                >
                  Um total de {{vm.info.contrato.nu_indiqueganherestaurar | currency : 'R$ '}} será restaurado após a
                  confirmação.
                </small>
              </div>
              <div class="flex-col">
                <button
                  class="botaoRenovacao botaoRenovacaoSmall vinho"
                  ng-click="vm.confirmarResgateIndiqueGanhe()"
                  ng-disabled="vm.valorResgatar < 100 || vm.valorResgatar > vm.saldoIndiqueGanhe || vm.valorResgatar % 100 != 0"
                >
                  Confirmar Resgate
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='containerRenovacao confirmacao wrapperMensalidade'>
        <div class='mensalidade' ng-if="vm.info.contrato.id_campanhapontualidade">
          <texto></texto>
          <valor><small><b>Integral</b></small></valor>
          <valor><small><b>Com desconto de pontualidade</b></small></valor>
        </div>
        <div class='mensalidade'>
          <texto>Valor do Contrato</texto>
          <valor>{{vm.info.contrato.nu_valornegociacao | currency : 'R$ ' }}</valor>
          <valor ng-if="vm.info.contrato.id_campanhapontualidade">
            {{vm.info.contrato.nu_valornegociacaopontualidade | currency : 'R$ '}}
          </valor>
        </div>
        <div
          class='mensalidade'
          ng-if="vm.info.contrato.nu_descontoindiqueganhe || vm.info.contrato.nu_descontoindiqueganhepontualidade"
        >
          <texto>Crédito Indique e Ganhe</texto>
          <valor>{{vm.info.contrato.nu_descontoindiqueganhe | currency : 'R$ '}}</valor>
          <valor ng-if="vm.info.contrato.id_campanhapontualidade">
            {{vm.info.contrato.nu_descontoindiqueganhepontualidade | currency : 'R$ '}}
          </valor>
        </div>
        <div
          class="mensalidade"
          ng-if="vm.info.contrato.nu_descontoindiqueganhe || vm.info.contrato.nu_descontoindiqueganhepontualidade"
        >
          <texto>Valor do Semestre</texto>
          <valor>{{vm.info.contrato.nu_valorsemestre | currency : 'R$ '}}</valor>
          <valor ng-if="vm.info.contrato.id_campanhapontualidade">
            {{vm.info.contrato.nu_valorsemestrepontualidade | currency : 'R$ '}}
          </valor>
        </div>
        <div class='mensalidade'>
          <texto>Mensalidade</texto>
          <valor>{{vm.info.contrato.nu_valormensalidade - vm.info.contrato.nu_descontoindiqueganhemensalidade | currency : 'R$ '}}</valor>
          <valor ng-if="vm.info.contrato.id_campanhapontualidade">
            <b>{{vm.info.contrato.nu_valormensalidadepontualidade - vm.info.contrato.nu_descontoindiqueganhemensalidadepontualidade | currency : 'R$ '}}</b>
          </valor>
        </div>
      </div>

      <div class='containerRenovacao confirmacao wrapperPagamento'>
        <p>Escolha a forma de pagamento</p>
        <div class='selectFormaPagamento'>
          <select
            id='select'
            ng-options="item.value as item.text for item in vm.meiosPagamento"
            ng-model='vm.info.contrato.id_meiopagamento'
          ></select>
        </div>
      </div>

      <div class='containerBotoes'>
        <button class='botaoRenovacao btnVoltar' ng-click='vm.voltar()'>Voltar</button>
        <button class='botaoRenovacao btnConfirmar' ng-click='vm.confirmarContrato()'>Confirmar contrato</button>
      </div>
    </div>
  </div>
</div>

<div id="modalRenovacaoIndiqueGanhe" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Crédito Indique e Ganhe</h4>
      </div>
      <div class="modal-body">
        <div ng-if="!vm.indicacoes">
          <img ng-src="{{vm.loading}}" class="texto-loading"/>
          Buscando informações...
        </div>
        <div ng-if="vm.indicacoes">
          Saldo Disponível:
          <b>{{vm.saldoIndiqueGanhe | currency : 'R$ '}}</b>
        </div>
      </div>
    </div>
  </div>
</div>
