<div class="modal-content renovacaoModal">
  <div class="modal-header; renovacaoModalHeader">
  </div>
  <div class="modal-body renovacaoModalBody">
    <iframe class="videoTutorial" allowfullscreen webkitallowfullscreen mozallowfullscreen width="500" height="300" src="{{$ctrl.url}}" scrolling="no" frameborder="0" allow="geolocation; microphone; camera; encrypted-media; midi"></iframe>
    <p>{{$ctrl.titulo}}</p>
  </div>
  <div class="modal-footer renovacaoModalFooter">
    <button type="button" class="botao" ng-click="$ctrl.close()">Fechar</button>
  </div>
</div>
