<perfect-scrollbar id="pcChamadosMain" class="scroll-wrapper font-default default-bg">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1">
      <ui-container>
        <div ui-view="servico-atencao"></div>
      </ui-container>
    </div>
  </div>
</perfect-scrollbar>
