<perfect-scrollbar id="pcHistoricoDisciplinasForm" class="scroll-wrapper font-default default-bg">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-12">
      <ui-container>
        <ui-title
          title="Relação de Disciplinas"
          subtitle="Acompanhe aqui suas notas nas disciplinas."
          icon="<i class='icon icon-icon_nota'/>"
          divider="true"
        ></ui-title>

        <div ng-if="vm.loading" class="loading-text">
          Buscando informações...
        </div>

        <div ng-if="!vm.loading" ng-repeat="modulo in vm.historicodisciplina" ng-init="$indexModulo = $index">
          <h4 class="modulo ml-5">
            {{modulo.titulo || 'Módulo Único'}}
          </h4>
          <div class="timeline" ng-repeat="item in modulo.dados" ng-init="$key = $indexModulo + '' + $index">
            <!--Algumas variaveis-->
            <div ng-init="
              bl_ativa = vm.isDisciplinaAtiva(item);
              bl_disciplinaisenta = vm.isDisciplinaIsenta(item);
              bl_notaconceitual = !!item.id_notaconceitual;
              bl_cursando = vm.EvolucaoDisciplinaConstante.CURSANDO === +item.id_evolucao;
              colorClass = +item.id_evolucao === vm.EvolucaoDisciplinaConstante.INSATISFATORIO ? 'dot-reprovado' : 'dot-aprovado';
              showNotaFinal = !bl_disciplinaisenta && [vm.EvolucaoDisciplinaConstante.APROVADO, vm.EvolucaoDisciplinaConstante.INSATISFATORIO].includes(+item.id_evolucao);
              showNotas = !bl_disciplinaisenta && (showNotaFinal || +item.id_evolucao === vm.EvolucaoDisciplinaConstante.CURSANDO);
            "></div>

            <div class="disciplina-dot {{showNotaFinal && colorClass}}" ng-class="{'dot-cursando': bl_cursando, 'dot-isento': bl_disciplinaisenta}"></div>
            <ui-box
              key="{{$key}}"
              border="true"
              show-more-position="bottom"
              class="disciplina-item"
              ng-class="{'is-ativa': bl_ativa, 'is-cursando': bl_cursando, 'is-isenta': bl_disciplinaisenta}"
            >
              <div class="row row-gutter">
                <div class="col-md-5 title">
                  <b>{{item.st_disciplina}}</b>
                </div>
                <div class="col-md-3 status">
                  <ui-chip title="{{vm.getStatus(item)}}"></ui-chip>
                </div>
                <div class="col-md-4 info">
                  <div ng-if="item.dt_abertura !== '-' && item.dt_encerramento !== '-'">
                    {{item.dt_abertura}} até {{item.dt_encerramento}}
                  </div>
                  <div ng-if="item.nu_cargahoraria" class="carga-horaria">
                    <i class="icon icon-icon_alarme"></i>
                    {{item.nu_cargahoraria}}h
                  </div>
                </div>
              </div>
              <div ng-if="showNotas">
                <hr/>
                <div class="flex-grid flex-middle">
                  <div class="flex-col" ng-if="!showNotaFinal">
                    Ainda não há nota final na disciplina
                  </div>
                  <div class="flex-col" ng-if="showNotaFinal">
                    <div class="label {{colorClass}} nota-final">
                      <span ng-if="bl_notaconceitual">{{item.st_notaconceitual}}</span>
                      <span ng-if="!bl_notaconceitual">{{item.nu_notafinal}}</span>
                    </div>
                  </div>
                  <div class="flex-col px-3" ng-if="showNotaFinal && !bl_notaconceitual">
                    Nota final da disciplina
                  </div>
                  <div class="flex-col flex-col-right expandir" ng-class="{'expandido': item.expanded}">
                    <a data-toggle="collapse" data-target=".collapse-{{$key}}" ng-click="vm.getNotas(item)">
                      Ver detalhamento de notas
                      <i class="glyphicon icon-icon_setaD"></i>
                    </a>
                  </div>
                </div>
                <div class="collapse notas collapse-{{$key}}">
                  <div class="loading-text p-3" ng-if="item.loading">
                    Buscando notas...
                  </div>
                  <div ng-if="!item.loading">
                    <!--Maior que 1 porque o primeiro item deve ser ignorado-->
                    <div class="p-3" ng-if="item.notas.length <= 1">
                      A disciplina ainda não foi avaliada.
                    </div>
                    <table class="table" ng-if="item.notas.length > 1">
                      <tr>
                        <th>Nota na atividade</th>
                        <th class="spacing"></th>
                        <th>Atividade avaliada</th>
                      </tr>
                      <tr ng-repeat="nota in item.notas" ng-if="!$first">
                        <td ng-if="nota.grades[0].grade === null" class="text-muted">Ainda não há nota</td>
                        <td ng-if="nota.grades[0].grade !== null"><b>{{nota.grades[0].str_grade}}</b></td>
                        <td class="spacing"></td>
                        <td>{{nota.name}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </ui-box>
          </div>
        </div>
      </ui-container>
    </div>
  </div>
</perfect-scrollbar>
