@import "../../../scss/common";

#pcHistoricoDisciplinasForm {
  .timeline {
    position: relative;
    display: flex;

    .dot-cursando {
      background-color: $laranja-bg !important;
      border-color: $laranja-bg !important;
    }

    .dot-aprovado {
      background-color: $verde-bg !important;
      border-color: $verde-bg !important;
    }

    .dot-reprovado {
      background-color: $vermelho-bg !important;
      border-color: $vermelho-bg !important;
    }

    .dot-isento {
      background-color: $cinza-3;
    }

    &:last-child {
      .disciplina-dot:before {
        display: none;
      }
    }
  }

  .disciplina-dot {
    border-radius: 100%;
    border: 3px solid $cinza-3;
    background-color: #fff;

    margin: 20px 16px 0 0;
    height: 20px;
    width: 20px;

    &:before {
      position: absolute;
      top: 44px;
      left: 8px;
      bottom: -16px;
      content: '';
      display: block;
      background-color: $cinza-2;
      width: 4px;
    }
  }

  .disciplina-item {
    flex: 1;

    hr {
      margin: $default-padding 0;
    }

    .title {
      font-size: 16px;
    }

    .status {
      padding-top: 8px;
      padding-bottom: 8px;

      .ui-chip {
        min-width: 120px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .carga-horaria {
      margin: 4px 0;

      .icon {
        font-size: 18px;
        font-weight: bold;
        vertical-align: bottom;
      }
    }

    .nota-final {
      color: #fff;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;
      min-width: 48px;
      white-space: nowrap;
    }

    .expandir {
      .glyphicon {
        font-size: 20px;
        font-weight: bold;
        margin-left: 5px;
        transform: rotate(90deg);
        transition: transform .2s ease;
        vertical-align: bottom;
      }

      &.expandido .glyphicon{
        transform: rotate(-90deg);
      }
    }

    .notas {
      background-color: #fff;
      margin: -$default-padding;
      margin-top: $default-padding;
    }

    table {
      margin: 0;

      th {
        color: $brand-primary;
      }

      .spacing {
        width: 100px;
      }

      th, td {
        text-align: left;
      }

      th:first-child, td:first-child {
        text-align: center;
        width: 140px;
      }
    }
  }

  .disciplina-item:not(.is-ativa) {
    .ui-box {
      border-color: $cinza-5;
      opacity: .6;
    }
  }

  .is-isenta {
    .title {
      text-decoration: line-through;
    }

    .title, .info {
      opacity: .4;
    }
  }

}
