<div class="text-center" ng-if="vm.loading && vm.loadingGif">
  <img ng-src="{{vm.loadingGif}}"/>
</div>

<div class="promocao-show scroll-wrapper" ng-if="!vm.loading">
  <div class="row autoheight">
    <div class="col-md-12">
      <div class="titulo-promocao">
        <h1 class="title">{{vm.campanha.st_campanha}}</h1>
        <div class="row desc">
          <div class="col-md-6">
            <span ng-if="vm.campanha.dt_fim">{{vm.campanha.dt_inicio.date | asDate : 'dd.MM.yy'}} a {{vm.campanha.dt_fim.date | asDate : 'dd.MM.yy'}}</span>
            <span ng-if="!vm.campanha.dt_fim">{{vm.campanha.dt_inicio.date | asDate : 'dd.MM.yy'}}</span>
          </div>

          <div class="col-md-6">
            <button class="btn btn btn-link pull-right no-pad-top" ng-show="vm.showNext()" ng-click="vm.navegarPromocao(vm.campanha, 1)">próxima &gt;</button>
            <button class="btn btn btn-link pull-right no-pad-top" ng-show="vm.showPrev()" ng-click="vm.navegarPromocao(vm.campanha, -1)"> &lt; anterior</button>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="row autoheight">
    <div class="col-md-12" ng-if=" vm.campanha.st_imagem">
      <a ng-href="{{ vm.campanha.st_link || null }}"
         target="_blank"
         ng-if="vm.campanha.st_imagem"
      >
        <img class="img-responsive promocao-imagem width100" ng-src="{{vm.campanha.st_imagem}}" />
      </a>
    </div>
    <div class="col-md-12">
      <div class="corpo-promocao" ng-bind-html="vm.campanha.st_descricao | parseHtml"></div>
    </div>
    <div class="col-md-12">
      <p class="list-group-item-text" ng-if="vm.campanha.st_link">
        <a href="{{ vm.campanha.st_link }}"
           target="_blank"
           ng-if="vm.campanha.st_link">
          {{ vm.campanha.st_link }}
        </a>
      </p>
    </div>
  </div>
</div>
