<div class="container-fluid">
  <div class="row pc-title-class">
    <div class="col-xs-12 col-sm-8">
      <div class="pull-left pc-title-class-icon"><i class="icon-icon_discs"></i></div>
      <div class="pc-title-class-title-container">
        <p class="pc-title-class-title">Calendário Acadêmico</p>
        <p class="pc-title-class-description">Faça download do calendário acadêmico a qualquer momento.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 calendarioacademico">
      <div class="container-fluid">
        <img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
        <div class="list-group calendarioacademico-list animated slideInRight">
          <a ng-repeat="arquivo in vm.calendarioAcademico" ng-if="arquivo.st_urlupload" ng-title="{{arquivo.st_upload}}"
             download="{{arquivo.st_urlupload}}"
             ng-href="{{arquivo.st_urlupload}}" target="_blank"
             class="list-group-item animated slideInRight">
            <i class="icon-icone_calendario icon-left"></i>
            <p class="list-group-item-heading">
              {{arquivo.st_upload}}
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
