<div class="container-fluid scroll-wrapper no-padding" id="content-principal-cursos">
  <div class="row scroll-wrapper">
    <div class="col-md-8 col-sm-8 col-lg-8 scroll-wrapper" id="state-1" ng-show="!vm.toggleState">
      <div class="row halfheight">
        <div class="col-md-12 scroll-wrapper">
          <pw-curso matricula-aluno="vm.MatriculaAtiva" status-state="vm.toggleState"></pw-curso>
        </div>
      </div>
      <div class="row halfheight">
        <div class="col-md-6 col-sm-6 col-lg-6 scroll-wrapper">
          <pw-boas-vindas-curso matricula="vm.MatriculaAtiva"></pw-boas-vindas-curso>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 scroll-wrapper no-padding">


          <pw-avisos-list status-state="vm.toggleState"></pw-avisos-list>
        </div>
      </div>
    </div>

    <div class="col-md-8  col-sm-8 col-lg-8 scroll-wrapper" id="state-2" ng-show="vm.toggleState">
      <div class="row scroll-wrapper">
        <div class="col-md-6 scroll-wrapper">
          <div class="row halfheight">
            <div class="col-md-12 col-sm-12 col-lg-12 maxheight">
              <pw-curso matricula-aluno="vm.MatriculaAtiva" status-state="vm.toggleState"></pw-curso>
            </div>
          </div>
          <div class="row halfheight">
            <div class="col-md-12 col-sm-12 col-lg-12 scroll-wrapper ">
              <pw-boas-vindas-curso matricula="vm.MatriculaAtiva"></pw-boas-vindas-curso>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 scroll-wrapper no-padding">
          <pw-avisos-list status-state="vm.toggleState"></pw-avisos-list>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-lg-4 scroll-wrapper">
      <pw-disciplina-list matricula-ativa="vm.MatriculaAtiva"></pw-disciplina-list>
    </div>

  </div>
</div>
