@import "../../../scss/common"; // Talvez você precise alterar este destino

#pwCursosLivres {

  $primary: #A73866;

  color: #616161;
  font-size: 14px;

  .loading-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .4);
    z-index: 999;
  }

  .btn-brand {
    padding: 8px 24px;

    &.btn-outline {
      background-color: #fff;
    }
  }

  .btn-voltar {
    display: inline-block;
  }

  .text-brand {
    color: $primary;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: $brand-primary;
  }

  .icon {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
      display: block;
      list-style: none;
    }
  }

  ul.beneficios {
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;

    #icon-certificado {
      display: inline-block;
      font-size: 22px;
      font-weight: bold;
      vertical-align: -4px;
    }

    #icon-online {
      font-size: 20px;
      margin-right: 4px;
      vertical-align: -4px;
    }

    #icon-24h {
      font-size: 18px;
      margin-right: 2px;
      vertical-align: -2px;
    }

    #icon-atividade {
      font-size: 22px;
      margin-right: 4px;
      vertical-align: -4px;
    }
  }

  ul.assuntos {
    margin: 5px -5px;

    li label {
      border: 1px solid $primary;
      border-radius: 16px;
      color: $primary;
      cursor: pointer;
      font-size: 12px;
      margin: 5px;
      padding: 4px 16px;

      &:hover {
        background-color: lighten($primary, 50%);
      }
    }

    input {
      position: absolute;
      visibility: hidden;
      //height: 0;
      //width: 0;

      &:checked ~ label {
        background-color: $primary;
        color: #fff;

        &:after {
          content: 'x';
          padding-left: 5px;
        }
      }
    }
  }

  .cursos {
    margin-left: -10px;
    margin-right: -10px;

    .cursos-item {
      padding: 10px;

      .card {
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
      }
    }

    .cursos-media {
      position: relative;
      min-height: 120px;
      margin: 0 -12.5px;
      padding: 15px 0;
      text-align: center;

      & > .flex-grid {
        position: relative;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 0;
      }
    }

    .cursos-link-info {
      color: inherit;
      display: block;
      margin: 0 -15px -12px;
      padding: 10px 15px;
      text-decoration: none;
      transition: ease opacity .2s;

      .icon-icon_setaD {
        display: inline-block;
        font-weight: bold;
        margin-top: 4px;
      }

      &:hover,
      &:focus {
        opacity: .6;
      }
    }

    // ALTERACOES QND JA TIVER CUSANDO
    .cursos-item .cursando {
      background-color: $primary;
      color: #fff !important;

      .title {
        color: #fff !important;
      }

      .cursos-media {
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);

        img {
          opacity: .6;
        }
      }
    }

  }

  .text-format {
    ul {
      padding-left: 20px;
    }

    li {
      list-style: none;

      &:before {
        color: $brand-primary;
        content: "\2022";
        display: inline-block;
        font-size: 26px;
        font-weight: bold;
        vertical-align: -2px;
        margin-left: -20px;
        margin-right: 5px;
        //width: 1em;
      }
    }
  }

  .curso-assunto {
    background-color: $cinza-3;
    border-radius: 15px;
    color: #000;
    font-size: 11px;
    margin: 4px 8px;
    padding: 6px 18px;
  }

}
