<div id="pwCursosLivres" class="font-default">

  <div class="loading-box" ng-if="$ctrl.state.loading">
    <div class="loading-fill">
      <img ng-src="{{$ctrl.loadingGif}}" alt="Carregando..."/>
    </div>
  </div>

  <div ng-if="!$ctrl.state.curso">
    <ui-container>

      <ui-title
        title="Cursos Livres"
        divider="true"
      ></ui-title>

      <div class="loading-text my-4" ng-if="!$ctrl.state.textoInformacoes">
        Buscando informações...
      </div>

      <div
        class="my-3"
        ng-bind-html="$ctrl.$sce.trustAsHtml($ctrl.state.textoInformacoes.st_textosistemabody)"
      ></div>

      <hr/>

      <div class="row mt-4 mb-2">
        <div class="col-xs-12 col-md-10">
          <ul class="list beneficios">
            <li>
              <i id="icon-certificado" class="icon-icon_nota"></i>
              Certificado gratuito
            </li>
            <li>
              <span id="icon-online" class="material-icons">computer</span>
              100% online
            </li>
            <li>
              <i id="icon-24h" class="glyphicon glyphicon-hourglass"></i>
              Disponível 24h
            </li>
            <li>
              <span id="icon-atividade" class="material-icons">local_library</span>
              Atividade complementar
            </li>
          </ul>
        </div>
      </div>
    </ui-container>

    <ui-container ng-if="!$ctrl.state.cursos">
      <div class="loading-text">
        Buscando cursos livres...
      </div>
    </ui-container>

    <div class="px-4 my-4" ng-if="$ctrl.state.cursos">
      <p>
        <b>{{$ctrl.state.nuTotal}}</b>
        {{$ctrl.state.nuTotal > 1 ? 'cursos livres disponíveis' : 'curso livre disponível'}}.
        Você está cursando <b>{{$ctrl.state.nuCursando}}</b>
        {{$ctrl.state.nuCursando > 1 ? 'cursos livres' : 'curso livre'}}.
      </p>

      <div class="row-bs4 cursos">
        <div
          class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 cursos-item"
          ng-repeat="curso in $ctrl.state.cursos | orderBy : '-bl_cursando'"
        >
          <div class="card maxheight" ng-class="{cursando: curso.bl_cursando}">
            <div class="card-body maxheight">

              <div class="flex-grid flex-vertical maxheight">
                <div class="flex-col flex-col-fill">
                  <h3 class="title">{{curso.st_tituloexibicao}}</h3>
                </div>
                <div class="flex-col mt-3">
                  <h4 class="title">
                    <i class="icon icon-icon_alarme"></i>
                    {{curso.nu_cargahoraria}}h
                  </h4>
                </div>
                <div class="flex-col mt-3 cursos-media">
                  <img ng-src="{{curso.st_imagem}}" alt=""/>
                  <div class="flex-grid flex-vertical flex-middle flex-center maxheight">
                    <div class="flex-col text-uppercase" ng-if="curso.bl_cursando">
                      {{curso.matricula.nu_diasrestantes > 0 ? curso.matricula.st_evolucao : 'Encerrado'}}
                    </div>
                    <div class="flex-col my-2">
                      <button
                        class="btn btn-brand"
                        ng-class="{'btn-outline': curso.bl_cursando}"
                        ng-click="$ctrl.handleClickCurso(curso)"
                        ng-if="!curso.matricula || +curso.matricula.id_matricula !== +$ctrl.matricula.id_matricula"
                      >
                        {{curso.bl_cursando ? 'Entrar no curso' : 'Matricule-se grátis'}}
                      </button>
                    </div>
                    <div class="flex-col" ng-if="curso.bl_cursando && curso.matricula.nu_diasrestantes > 0">
                      Encerra em {{curso.matricula.nu_diasrestantes}} dias
                    </div>
                  </div>
                </div>
                <div class="flex-col">
                  <a class="cursos-link-info flex-grid flex-middle" ng-click="$ctrl.state.curso = curso">
                    <div class="flex-col flex-col-fill">
                      Ver mais sobre o curso
                    </div>
                    <div class="flex-col">
                      <i class="icon-icon_setaD"></i>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div ng-if="$ctrl.state.curso" ng-init="curso = $ctrl.state.curso">
    <ui-container>
      <a class="btn-voltar mb-4" ng-click="$ctrl.state.curso = null">
        Voltar
      </a>
      <p>
        Curso Livre
      </p>
      <ui-title
        title="{{curso.st_tituloexibicao}}"
        divider="true"
      ></ui-title>

      <div class="row my-4">
        <div class="col-xs-12 col-md-10">
          <ul class="list beneficios">
            <li>
              <i id="icon-certificado" class="icon-icon_nota"></i>
              Certificado gratuito
            </li>
            <li>
              <span id="icon-online" class="material-icons">computer</span>
              100% online
            </li>
            <li>
              <i id="icon-24h" class="glyphicon glyphicon-hourglass"></i>
              Disponível 24h
            </li>
            <li>
              <span id="icon-atividade" class="material-icons">local_library</span>
              Atividade complementar
            </li>
          </ul>
        </div>
      </div>
      <div class="my-5">
        <div class="flex-grid flex-middle flex-wrap flex-gutter">
          <div class="flex-col">
            <button
              class="btn btn-brand"
              ng-class="{'btn-outline': curso.bl_cursando}"
              ng-click="$ctrl.handleClickCurso(curso)"
            >
              {{curso.bl_cursando ? 'Entrar no curso' : 'Matricule-se grátis'}}
            </button>
          </div>
          <div class="flex-col text-brand py-4 text-uppercase" ng-if="curso.bl_cursando">
            {{curso.matricula.nu_diasrestantes > 0 ? curso.matricula.st_evolucao : 'Encerrado'}}
          </div>
          <div class="flex-col text-brand py-4" ng-if="curso.bl_cursando && curso.matricula.nu_diasrestantes > 0">
            Encerra em {{curso.matricula.nu_diasrestantes}} dias
          </div>
        </div>
      </div>

      <div class="text-format">
        <h2 class="title mt-5 mb-2">Objetivo</h2>
        <div ng-bind-html="$ctrl.$sce.trustAsHtml(curso.st_objetivo)"></div>

        <h2 class="title mt-5 mb-2">Público-Alvo</h2>
        <div ng-bind-html="$ctrl.$sce.trustAsHtml(curso.st_publicoalvo)"></div>

        <div ng-if="$ctrl.state.textoDuvidasFrequentes && $ctrl.state.textoDuvidasFrequentes.st_textosistemabody">
          <h2 class="title mt-5 mb-2">Dúvidas frequentes</h2>
          <div
            class="my-3"
            ng-bind-html="$ctrl.$sce.trustAsHtml($ctrl.state.textoDuvidasFrequentes.st_textosistemabody)"
          ></div>
        </div>
      </div>

      <div class="mt-5">
        <div class="flex-grid flex-middle flex-wrap flex-gutter">
          <div class="flex-col">
            <button
              class="btn btn-brand"
              ng-class="{'btn-outline': curso.bl_cursando}"
              ng-click="$ctrl.handleClickCurso(curso)"
            >
              {{curso.bl_cursando ? 'Entrar no curso' : 'Matricule-se grátis'}}
            </button>
          </div>
          <div class="flex-col text-brand py-4 text-uppercase" ng-if="curso.bl_cursando">
            {{curso.matricula.nu_diasrestantes > 0 ? curso.matricula.st_evolucao : 'Encerrado'}}
          </div>
          <div class="flex-col text-brand py-4" ng-if="curso.bl_cursando && curso.matricula.nu_diasrestantes > 0">
            Encerra em {{curso.matricula.nu_diasrestantes}} dias
          </div>
        </div>
      </div>

    </ui-container>
  </div>

</div>
