<div class="container-fluid scroll-wrapper no-padding" id="carteirinha-container">
  <div class="row pc-title-class">
    <div class="col-xs-12 col-sm-8 pc-title-class-title-container  nopadding">
      <img ng-if="vm.loading && vm.loadingGif" ng-src="{{vm.loadingGif}}" class="loading"/>
      <div class="pull-left pc-title-class-icon"><i class="icon icon-credit-card"></i></div>
      <p class="pc-title-class-title"> Carteira Estudantil</p>
      <p class="pc-title-class-description">Acesso ao pedido de carteirinha estudantil.</p>
    </div>
  </div>
  <div ng-if="vm.permissao" class="center-carteirinha">
    <div>
      <a href="{{vm.link}}" target="_blank">
        <button class="btn btn-primary btn-carteirinha">Solicite a sua!</button>
      </a>
    </div>
    <div>
      <a href="{{vm.link}}" target="_blank">
        <img class="banner-carteirinha" ng-src="{{vm.banner}}" alt="Solicite a sua!"/>
      </a>
    </div>
  </div>
  <div ng-if="!vm.permissao" class="center-carteirinha">
    <h5>
      Você não tem permissão para esta funcionalidade.
    </h5>
  </div>
</div>
