@import "../../../scss/common";
@import "../../../scss/customize/variables";

#carteirinha-container {
  height: 90vh;
  overflow: auto;

  .btn-carteirinha {
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    box-shadow: 7px 7px 22px -16px rgba(0, 0, 0, 0.75);
  }

  .banner-carteirinha {
    width: 500px;
    margin: 20px;
    box-shadow: 7px 7px 22px -16px rgba(0, 0, 0, 0.75);
  }

  .center-carteirinha {
    text-align: center;
  }
}
