<div id="pcCertificacaoList">
  <pc-certificacao-cabecalho></pc-certificacao-cabecalho>
  <hr class="mb-0 mt-4"/>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <pw-certificacao-status></pw-certificacao-status>
    </div>
  </div>
</div>
