@import "../../scss/common";
@import "../../scss/customize/variables";

#pageWrapper {
  .curso-origem {
    background-color: $brand-primary;
    color: #fff;
    font-size: 12px;
    padding: $default-padding 25px;

    strong {
      display: block;
      white-space: pre-wrap;
      margin: 5px 0;
    }

    .btn-brand {
      border-color: #fff;
      font-size: inherit;
      font-weight: 500;
      padding: 8px 16px;

      .icon {
        display: inline-block;
        font-size: 20px;
        margin: -4px 4px 0 0;
        vertical-align: middle;
      }
    }

    .btn-voltar {
      color: #fff;
      display: block;
      text-decoration: none;

      .icon {
        font-weight: 700;
        margin: 0 10px 0 -4px;
      }

      &:hover {
        opacity: .6;
      }
    }
  }

  .toggled {
    .curso-origem {
      display: none;
    }
  }
}

.topbar {
  height: $topbar-height;
  box-shadow: 0 2px 1px $gray;
  margin-bottom: 2px;

  .titulo-curso {
    padding: 16px 0 0 16px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;

    .text:hover {
      color: $cor-marca-4;
    }

    .text {
      padding-top: 2px;
      font-size: $font-size-large;
      @include text-lines($font-size-large, 1);
      color: $preto;
    }

    .icon {
      vertical-align: middle;
      margin-right: 6px;
      color: $cor-marca-4;
      font-size: $font-size-h4;
    }
  }

  .container-posso-ajudar {
    padding: 18px 0 0;
    font-size: $font-size-default;
    width: 250px;
    background-color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;

    .titulo-posso-ajudar {
      font-size: $font-size-default;
      margin: 3px 5px 0;
    }


    &:hover,
    &:focus {
      span {
        color: $brand-primary;
        text-decoration: underline;
      }
    }

    i {
      color: $cor-marca-4;
      font-size: $font-size-h4;
      vertical-align: -4px;
    }

    .circulo-numero-ocorrencias {

      background-color: #c71010;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;

      span {
        color: #FFF;
        font-weight: bold;
        text-align: center;
      }
    }

  }
}

#container-identificacao {
  height: $topbar-height;
}

.identificacao-aluno {
  height: $topbar-height;
  //width: 230px;
  padding: 3px 10px;
  background-color: $cinza-8;
  border-left: 1px solid $cinza-3;

  .texts {
    //width: 155px;
  }

  .nome {
    color: $cor-marca-3;
    margin: 10px 0 0;
    font-size: $font-size-default;
    @include text-lines($font-size-default, 1);
  }

  .email {
  }

  .img-avatar-mini {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid $branco;
  }

  .icon-icon_pessoa2 {
    font-size: 50px;
  }
}

.logado-como {
  background-color: $default;

  .texts {
    color: $branco;
  }

  .nome {
    color: $branco;

    span {
      color: $branco;
    }
  }

  .email {
    color: $branco;
  }

  .img-avatar-mini {
    color: $branco;
  }

  .icon-icon_pessoa2 {
    color: $branco;
  }

}

@media (max-width: $screen-xs-max) {
  .mobile-overflow {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

  }
  #container-identificacao {
    display: none;
  }
}
