<div id="pageWrapper" class="container-fluid maxheight mobile-overflow">
  <!-- Row da tela inteira, quando obotao de toggle é clicado, ele recebe a class toggled que
          customiza o tamanho das colunas no arquivo toogle.scss
     -->
  <div class="row maxheight" ng-class="{'toggled' : wrapper.wrappertoggled}">
    <!-- Coluna da barra -->
    <div class="col-sm-3 col-lg-2 col-sidebar">
      <nav class="navbar navbar-custom navbar-fixed-side">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <img ng-cloak class="img-logo-topo" ng-src="{{wrapper.logoUrl}}" ng-if="!wrapper.wrappertoggled"/>
              <img ng-cloak class="img-logo-topo" ng-src="{{wrapper.logoUrlP}}" ng-if="wrapper.wrappertoggled"/>
              <!-- Icone de seta left so exibido quando nao tiver toggled-->
              <span class="glyphicon toogle" ng-class="{'glyphicon-triangle-left' :  wrapper.wrappertoggled == false}"
                    ng-click="wrapper.onToggle()" aria-hidden="true"></span>
            </div>

            <div
              ng-class='{"background-graphic-h" : wrapper.$rootScope.linha_de_negocio == "Graduação" ? false : true}'></div>

            <button class="navbar-toggle" ng-click="wrapper.onToggle()" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="clearfix"></div>

            <div class="curso-origem" ng-if="wrapper.isCursoLivre">
              <div>Você está no curso livre</div>
              <strong>{{wrapper.cursoAtivo.st_curso}}</strong>

              <div class="mt-3">
                <a class="btn btn-brand"
                   ui-sref="app.cursos-livres({idMatriculaAtiva: wrapper.dadosUsuario.id_matricula})">
                  <span class="icon material-icons">local_library</span>
                  Ir para cursos livres
                </a>
              </div>

              <div class="mt-5" ng-if="wrapper.$rootScope.cursoOrigem">
                <a class="flex-grid flex-middle btn-voltar" ng-click="wrapper.handleVoltarGraduacao()">
                  <div class="flex-col">
                    <i class="icon icon-icon_setaE"></i>
                  </div>
                  <div class="flex-col flex-col-fill">
                    Voltar para a {{
                    +wrapper.$rootScope.cursoOrigem.id_esquemaconfiguracao ===
                    +wrapper.EsquemaConfiguracaoConstante.POS_GRADUACAO ? 'Pós' : 'Graduação'
                    }}
                  </div>
                </a>
              </div>
            </div>

          </div>
          <div>

          </div>
          <!-- MenuSideBar -->

          <menu-side-bar wrappertoggled="wrapper.wrappertoggled"></menu-side-bar>
          <!-- MenuSideBar -->
        </div>

      </nav>
    </div>
    <!-- Coluna do conteudo -->
    <div class="col-sm-9 col-lg-10 maxheight no-padding col-content ">
      <!-- Barra superior -->
      <div class="container-fluid topbar">
        <div class="row">
          <div
            class="padding-left"
            ng-class="{'col-xs-7 col-md-7' : !wrapper.idSalaDeAula || !wrapper.hasProfessor ,'col-xs-6 col-md-6' : wrapper.idSalaDeAula && wrapper.hasProfessor}"
          >
            <a
              class="titulo-curso pull-left"
              ng-if="!wrapper.isCursoLivre"
              ui-sref="app.curso({idMatriculaAtiva: wrapper.dadosUsuario.id_matricula})"
            >
              <span class="icon glyphicon glyphicon-home pull-left"></span>
              <span class="text subtitulo">
                Início
              </span>
            </a>
          </div>
          <div class="col-xs-5 col-md-2">
            <div class="container-posso-ajudar pull-right" ng-if="!wrapper.isGraduacao"
                 ui-sref="app.chamados.list({idMatriculaAtiva: wrapper.dadosUsuario.id_matricula})">
              <i class="icon-icon_atend"></i>
              <span class="titulo-posso-ajudar">Serviço de Atenção</span>
              <div class="circulo-numero-ocorrencias" ng-if="wrapper.$rootScope.numeroOcorrenciasInteressado > 0">
                <span>{{ wrapper.$rootScope.numeroOcorrenciasInteressado }}</span>
              </div>

            </div>
          </div>
          <div class="col-xs-0  no-padding" id="container-identificacao"
               ng-class="{'col-md-3' : !wrapper.idSalaDeAula || !wrapper.hasProfessor ,'col-md-4' : wrapper.idSalaDeAula && wrapper.hasProfessor}">
            <div class="col-md-5" ng-if="wrapper.idSalaDeAula">
              <pw-disciplina-professor
                ng-if="wrapper.idSalaDeAula"
                id-matricula="wrapper.cursoAtivo.id_matricula"
                id-entidade="wrapper.cursoAtivo.id_entidade"
                id-saladeaula="wrapper.idSalaDeAula"
                has-professor="wrapper.hasProfessor"
              ></pw-disciplina-professor>
            </div>
            <div class="identificacao-aluno pull-right"
                 ng-class="{'':!wrapper.hasProfessor , 'col-md-7': wrapper.hasProfessor, 'logado-como': wrapper.dadosUsuario.id_usuariooriginal }">
              <div class="pull-left texts col-md-9" ng-click="wrapper.redirecionar('app.meusdados')">
                <p class="texto text-left nome">
                  <a ng-click="wrapper.redirecionar('app.meusdados')">
                    <strong ng-if="wrapper.dadosUsuario.id_usuariooriginal">
                      <span style="font-size: 80%"> {{wrapper.dadosUsuario.st_usuariooriginal | firstAndLast}}</span>
                      <span style="font-size: 70%"> como {{wrapper.dadosUsuario.st_nome | firstAndLast}}</span>
                    </strong>
                    <strong ng-if="!wrapper.dadosUsuario.id_usuariooriginal">
                      {{wrapper.dadosUsuario.st_nome | firstAndLast}}
                    </strong>
                  </a>
                </p>
                <p class="texto no-margin-all text-left email">
                  {{wrapper.dadosUsuario.st_email}}
                </p>
              </div>
              <div class="pull-right col-md-3">
                <img ng-src="{{wrapper.stUrlAvatar}}"
                     class="img-circle img-avatar-mini pull-right"
                     alt=""/>
                <span class="glyphicon icon-icon_pessoa2 avatar-fake img-circle pull-right"
                      ng-if="!wrapper.dadosUsuario.st_urlavatar"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container do conteúdo-->
      <div id="content-wrapper" class="content-wrapper content-wrapper-height" ui-view="content"></div>
    </div>
  </div>
</div>

<!--  Template do Popover-->
<script type="text/ng-template" id="popover-atendimento.html">
  <div>
    <pw-abrir-atendimento></pw-abrir-atendimento>
  </div>
</script>
